[data-cellid="grid_buttons"][data-page="_global_userinfo"][data-cellid="grid_buttons"][data-page="_global_userinfo"][data-cellid="grid_buttons"][data-page="_global_userinfo"] {
  padding: 15px;
}
[data-page="_global_userinfo"][data-itemid="user_fields_title"] {
  font-size: 24px;
}
[data-page="_global_userinfo"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="_global_userinfo"][data-itemid="integrated_edit_field2"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

[data-page="_global_userinfo"][data-itemid="integrated_edit_field1"] {
  pointer-events:none;
}

