[data-page="_global_register"][data-itemid="register_header"] {
  font-size: 18px;
}
[data-page="_global_register"][data-itemid="integrated_edit_field3"][data-page="_global_register"][data-itemid="integrated_edit_field3"][data-page="_global_register"][data-itemid="integrated_edit_field3"][data-page="_global_register"][data-itemid="integrated_edit_field3"] {
  width: 200px;
}
[data-page="_global_register"][data-itemid="integrated_edit_field"][data-page="_global_register"][data-itemid="integrated_edit_field"][data-page="_global_register"][data-itemid="integrated_edit_field"][data-page="_global_register"][data-itemid="integrated_edit_field"] {
  width: 200px;
}
[data-page="_global_register"][data-itemid="integrated_edit_field2"][data-page="_global_register"][data-itemid="integrated_edit_field2"][data-page="_global_register"][data-itemid="integrated_edit_field2"][data-page="_global_register"][data-itemid="integrated_edit_field2"] {
  width: 200px;
}
[data-page="_global_register"][data-itemid="integrated_edit_field1"][data-page="_global_register"][data-itemid="integrated_edit_field1"][data-page="_global_register"][data-itemid="integrated_edit_field1"][data-page="_global_register"][data-itemid="integrated_edit_field1"] {
  width: 200px;
}
[data-page="_global_register"][data-itemid="edit_field_tooltip4"][data-page="_global_register"][data-itemid="edit_field_tooltip4"][data-page="_global_register"][data-itemid="edit_field_tooltip4"][data-page="_global_register"][data-itemid="edit_field_tooltip4"] {
  font-style: italic;
}
[data-page="_global_register"][data-itemid="edit_field_tooltip5"][data-page="_global_register"][data-itemid="edit_field_tooltip5"][data-page="_global_register"][data-itemid="edit_field_tooltip5"][data-page="_global_register"][data-itemid="edit_field_tooltip5"] {
  font-style: italic;
}

/* Put  your custom CSS code here */
/*
[data-page="_global_register"][data-itemid="integrated_edit_field4"] {
  display:none !important;
}
*/
