[data-cellid="grid_headcell_checkbox"][data-page="awards_list"][data-cellid="grid_headcell_checkbox"][data-page="awards_list"][data-cellid="grid_headcell_checkbox"][data-page="awards_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="awards_list"][data-cellid="grid_headcell_icons"][data-page="awards_list"][data-cellid="grid_headcell_icons"][data-page="awards_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="awards_list"][data-cellid="grid_cell_icons"][data-page="awards_list"][data-cellid="grid_cell_icons"][data-page="awards_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="awards_list"][data-cellid="grid_footcell_field5"][data-page="awards_list"][data-cellid="grid_footcell_field5"][data-page="awards_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="awards_list"][data-cellid="grid_footcell_field6"][data-page="awards_list"][data-cellid="grid_footcell_field6"][data-page="awards_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="awards_list"][data-cellid="grid_footcell_field8"][data-page="awards_list"][data-cellid="grid_footcell_field8"][data-page="awards_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="awards_list"][data-cellid="grid_footcell_field"][data-page="awards_list"][data-cellid="grid_footcell_field"][data-page="awards_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field10"][data-page="awards_list"][data-cellid="grid_headcell_field10"][data-page="awards_list"][data-cellid="grid_headcell_field10"][data-page="awards_list"] {
  white-space: nowrap;
}
[data-page="awards_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


