[data-cellid="grid_c"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c38"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c38"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c38"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c39"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c39"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c39"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c40"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c40"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c40"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c41"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c41"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c41"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c42"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c42"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c42"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c43"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c43"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c43"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c44"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c44"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c44"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c45"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c45"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c45"][data-page="cdd_checklist_admin_view"] {
  width: 5%;
}
[data-cellid="grid_c46"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c46"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c46"][data-page="cdd_checklist_admin_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c47"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c47"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c47"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c48"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c48"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c48"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c49"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c49"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c49"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c50"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c50"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c50"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c51"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c51"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c51"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c52"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c52"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c52"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c53"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c53"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c53"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c54"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c54"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c54"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c55"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c55"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c55"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c56"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c56"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c56"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c57"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c57"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c57"][data-page="cdd_checklist_admin_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c58"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c58"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c58"][data-page="cdd_checklist_admin_view"] {
  width: 5%;
}
[data-cellid="grid_c59"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c59"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c59"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c60"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c60"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c60"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c61"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c61"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c61"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c62"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c62"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c62"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c63"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c63"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c63"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c64"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c64"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c64"][data-page="cdd_checklist_admin_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c65"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c65"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c65"][data-page="cdd_checklist_admin_view"] {
  width: 5%;
}
[data-cellid="grid_c66"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c66"][data-page="cdd_checklist_admin_view"][data-cellid="grid_c66"][data-page="cdd_checklist_admin_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field2"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field2"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field2"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field2"] {
  width: 300px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field38"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field38"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field38"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field38"] {
  width: 300px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field1"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field1"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field1"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field1"] {
  width: 300px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field35"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field35"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field35"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field35"] {
  width: 200px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text"] {
  padding-left: 10px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field31"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field31"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field31"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field31"] {
  width: 550px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text1"] {
  padding-left: 10px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field5"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field5"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field5"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field5"] {
  width: 550px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field7"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field7"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field7"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field7"] {
  width: 550px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text2"] {
  padding-left: 10px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text3"] {
  padding-left: 10px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text4"] {
  padding-left: 10px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text5"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text6"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text7"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text14"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text13"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text12"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text11"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text10"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text9"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="text8"] {
  padding-left: 15px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field37"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field37"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field37"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field37"] {
  width: 200px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field3"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field3"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field3"][data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field3"] {
  width: 100px;
}
[data-page="cdd_checklist_admin_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field37"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field39"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field3"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="cdd_checklist_admin_view"][data-itemid="integrated_edit_field"] {
  display:none;
}

