[data-cellid="grid_headcell_field"][data-page="cdd_measures_list"][data-cellid="grid_headcell_field"][data-page="cdd_measures_list"][data-cellid="grid_headcell_field"][data-page="cdd_measures_list"] {
  width: 20%;
}
[data-cellid="grid_cell_field"][data-page="cdd_measures_list"][data-cellid="grid_cell_field"][data-page="cdd_measures_list"][data-cellid="grid_cell_field"][data-page="cdd_measures_list"] {
  width: 20%;
}
[data-cellid="grid_footcell_field"][data-page="cdd_measures_list"][data-cellid="grid_footcell_field"][data-page="cdd_measures_list"][data-cellid="grid_footcell_field"][data-page="cdd_measures_list"] {
  width: 20%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field1"][data-page="cdd_measures_list"][data-cellid="grid_headcell_field1"][data-page="cdd_measures_list"][data-cellid="grid_headcell_field1"][data-page="cdd_measures_list"] {
  width: 40%;
}
[data-cellid="grid_cell_field1"][data-page="cdd_measures_list"][data-cellid="grid_cell_field1"][data-page="cdd_measures_list"][data-cellid="grid_cell_field1"][data-page="cdd_measures_list"] {
  width: 40%;
}
[data-cellid="grid_footcell_field1"][data-page="cdd_measures_list"][data-cellid="grid_footcell_field1"][data-page="cdd_measures_list"][data-cellid="grid_footcell_field1"][data-page="cdd_measures_list"] {
  width: 40%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field2"][data-page="cdd_measures_list"][data-cellid="grid_headcell_field2"][data-page="cdd_measures_list"][data-cellid="grid_headcell_field2"][data-page="cdd_measures_list"] {
  width: 40%;
}
[data-cellid="grid_cell_field2"][data-page="cdd_measures_list"][data-cellid="grid_cell_field2"][data-page="cdd_measures_list"][data-cellid="grid_cell_field2"][data-page="cdd_measures_list"] {
  width: 40%;
}
[data-cellid="grid_footcell_field2"][data-page="cdd_measures_list"][data-cellid="grid_footcell_field2"][data-page="cdd_measures_list"][data-cellid="grid_footcell_field2"][data-page="cdd_measures_list"] {
  width: 40%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="cdd_measures_list"][data-cellid="grid_headcell_checkbox"][data-page="cdd_measures_list"][data-cellid="grid_headcell_checkbox"][data-page="cdd_measures_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="cdd_measures_list"][data-cellid="grid_headcell_icons"][data-page="cdd_measures_list"][data-cellid="grid_headcell_icons"][data-page="cdd_measures_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="cdd_measures_list"][data-cellid="grid_cell_icons"][data-page="cdd_measures_list"][data-cellid="grid_cell_icons"][data-page="cdd_measures_list"] {
  white-space: nowrap;
}
[data-page="cdd_measures_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="cdd_measures_list"][data-itemid="add"] {
  margin-left:10px;
}

