[data-cellid="grid_c1"][data-page="cdd_measures_view"][data-cellid="grid_c1"][data-page="cdd_measures_view"][data-cellid="grid_c1"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
}
[data-cellid="grid_c"][data-page="cdd_measures_view"][data-cellid="grid_c"][data-page="cdd_measures_view"][data-cellid="grid_c"][data-page="cdd_measures_view"] {
  width: 5%;
}
[data-cellid="grid_c32"][data-page="cdd_measures_view"][data-cellid="grid_c32"][data-page="cdd_measures_view"][data-cellid="grid_c32"][data-page="cdd_measures_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c33"][data-page="cdd_measures_view"][data-cellid="grid_c33"][data-page="cdd_measures_view"][data-cellid="grid_c33"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c34"][data-page="cdd_measures_view"][data-cellid="grid_c34"][data-page="cdd_measures_view"][data-cellid="grid_c34"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c35"][data-page="cdd_measures_view"][data-cellid="grid_c35"][data-page="cdd_measures_view"][data-cellid="grid_c35"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c36"][data-page="cdd_measures_view"][data-cellid="grid_c36"][data-page="cdd_measures_view"][data-cellid="grid_c36"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c37"][data-page="cdd_measures_view"][data-cellid="grid_c37"][data-page="cdd_measures_view"][data-cellid="grid_c37"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c38"][data-page="cdd_measures_view"][data-cellid="grid_c38"][data-page="cdd_measures_view"][data-cellid="grid_c38"][data-page="cdd_measures_view"] {
  width: 5%;
}
[data-cellid="grid_c39"][data-page="cdd_measures_view"][data-cellid="grid_c39"][data-page="cdd_measures_view"][data-cellid="grid_c39"][data-page="cdd_measures_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c40"][data-page="cdd_measures_view"][data-cellid="grid_c40"][data-page="cdd_measures_view"][data-cellid="grid_c40"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c41"][data-page="cdd_measures_view"][data-cellid="grid_c41"][data-page="cdd_measures_view"][data-cellid="grid_c41"][data-page="cdd_measures_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c42"][data-page="cdd_measures_view"][data-cellid="grid_c42"][data-page="cdd_measures_view"][data-cellid="grid_c42"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c43"][data-page="cdd_measures_view"][data-cellid="grid_c43"][data-page="cdd_measures_view"][data-cellid="grid_c43"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c44"][data-page="cdd_measures_view"][data-cellid="grid_c44"][data-page="cdd_measures_view"][data-cellid="grid_c44"][data-page="cdd_measures_view"] {
  width: 5%;
}
[data-cellid="grid_c45"][data-page="cdd_measures_view"][data-cellid="grid_c45"][data-page="cdd_measures_view"][data-cellid="grid_c45"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c46"][data-page="cdd_measures_view"][data-cellid="grid_c46"][data-page="cdd_measures_view"][data-cellid="grid_c46"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c47"][data-page="cdd_measures_view"][data-cellid="grid_c47"][data-page="cdd_measures_view"][data-cellid="grid_c47"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c48"][data-page="cdd_measures_view"][data-cellid="grid_c48"][data-page="cdd_measures_view"][data-cellid="grid_c48"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c49"][data-page="cdd_measures_view"][data-cellid="grid_c49"][data-page="cdd_measures_view"][data-cellid="grid_c49"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c50"][data-page="cdd_measures_view"][data-cellid="grid_c50"][data-page="cdd_measures_view"][data-cellid="grid_c50"][data-page="cdd_measures_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c51"][data-page="cdd_measures_view"][data-cellid="grid_c51"][data-page="cdd_measures_view"][data-cellid="grid_c51"][data-page="cdd_measures_view"] {
  width: 5%;
}
[data-cellid="grid_c52"][data-page="cdd_measures_view"][data-cellid="grid_c52"][data-page="cdd_measures_view"][data-cellid="grid_c52"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c53"][data-page="cdd_measures_view"][data-cellid="grid_c53"][data-page="cdd_measures_view"][data-cellid="grid_c53"][data-page="cdd_measures_view"] {
  width: 5%;
}
[data-cellid="grid_c54"][data-page="cdd_measures_view"][data-cellid="grid_c54"][data-page="cdd_measures_view"][data-cellid="grid_c54"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c55"][data-page="cdd_measures_view"][data-cellid="grid_c55"][data-page="cdd_measures_view"][data-cellid="grid_c55"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c56"][data-page="cdd_measures_view"][data-cellid="grid_c56"][data-page="cdd_measures_view"][data-cellid="grid_c56"][data-page="cdd_measures_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c57"][data-page="cdd_measures_view"][data-cellid="grid_c57"][data-page="cdd_measures_view"][data-cellid="grid_c57"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c58"][data-page="cdd_measures_view"][data-cellid="grid_c58"][data-page="cdd_measures_view"][data-cellid="grid_c58"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c59"][data-page="cdd_measures_view"][data-cellid="grid_c59"][data-page="cdd_measures_view"][data-cellid="grid_c59"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c60"][data-page="cdd_measures_view"][data-cellid="grid_c60"][data-page="cdd_measures_view"][data-cellid="grid_c60"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c61"][data-page="cdd_measures_view"][data-cellid="grid_c61"][data-page="cdd_measures_view"][data-cellid="grid_c61"][data-page="cdd_measures_view"] {
  width: 5%;
}
[data-cellid="grid_c62"][data-page="cdd_measures_view"][data-cellid="grid_c62"][data-page="cdd_measures_view"][data-cellid="grid_c62"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c63"][data-page="cdd_measures_view"][data-cellid="grid_c63"][data-page="cdd_measures_view"][data-cellid="grid_c63"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c64"][data-page="cdd_measures_view"][data-cellid="grid_c64"][data-page="cdd_measures_view"][data-cellid="grid_c64"][data-page="cdd_measures_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c65"][data-page="cdd_measures_view"][data-cellid="grid_c65"][data-page="cdd_measures_view"][data-cellid="grid_c65"][data-page="cdd_measures_view"] {
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c66"][data-page="cdd_measures_view"][data-cellid="grid_c66"][data-page="cdd_measures_view"][data-cellid="grid_c66"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 95%;
  padding-top: 8px;
}
[data-cellid="grid_c67"][data-page="cdd_measures_view"][data-cellid="grid_c67"][data-page="cdd_measures_view"][data-cellid="grid_c67"][data-page="cdd_measures_view"] {
  border-bottom: solid #b7b7b7 1px;
  width: 5%;
}
[data-cellid="grid_c68"][data-page="cdd_measures_view"][data-cellid="grid_c68"][data-page="cdd_measures_view"][data-cellid="grid_c68"][data-page="cdd_measures_view"] {
  width: 5%;
}
[data-page="cdd_measures_view"][data-itemid="snippet9"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="snippet8"] {
  color: #ff5555;
}
[data-page="cdd_measures_view"][data-itemid="text3"] {
  padding-left: 10px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text4"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field17"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field17"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field17"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field17"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="snippet5"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field15"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field15"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field15"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field15"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="snippet3"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="snippet2"] {
  color: #ff5555;
}
[data-page="cdd_measures_view"][data-itemid="text1"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text2"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text"] {
  padding-left: 10px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field4"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field4"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field4"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field4"] {
  width: 200px;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field5"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field5"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field5"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field5"] {
  width: 300px;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field2"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field2"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field2"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field2"] {
  width: 300px;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field3"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field3"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field3"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field3"] {
  width: 300px;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field19"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field19"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field19"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field19"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="snippet11"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field21"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field21"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field21"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field21"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="text5"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text6"] {
  padding-left: 10px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text8"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text7"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field23"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field23"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field23"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field23"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="snippet15"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field25"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field25"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field25"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field25"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="snippet18"] {
  color: #ff5555;
}
[data-page="cdd_measures_view"][data-itemid="snippet19"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field27"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field27"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field27"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field27"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="text9"] {
  padding-left: 10px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text10"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text12"] {
  padding-left: 10px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text11"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="snippet21"] {
  color: #ff5555;
}
[data-page="cdd_measures_view"][data-itemid="snippet22"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field29"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field29"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field29"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field29"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="snippet27"] {
  color: #ff5555;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field10"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field10"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field10"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field10"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="snippet25"] {
  color: #ff5555;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field31"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field31"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field31"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field31"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="text13"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text14"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text16"] {
  padding-left: 10px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text15"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="snippet29"] {
  color: #ff5555;
}
[data-page="cdd_measures_view"][data-itemid="snippet30"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="snippet31"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field11"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field11"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field11"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field11"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="snippet36"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field13"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field13"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field13"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field13"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="snippet34"] {
  font-weight: bold;
}
[data-page="cdd_measures_view"][data-itemid="integrated_edit_field12"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field12"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field12"][data-page="cdd_measures_view"][data-itemid="integrated_edit_field12"] {
  width: 550px;
}
[data-page="cdd_measures_view"][data-itemid="text17"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="text18"] {
  padding-left: 15px;
  padding-top: 8px;
}
[data-page="cdd_measures_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


