[data-cellid="grid_footcell_field"][data-page="cdd_checklist_list"][data-cellid="grid_footcell_field"][data-page="cdd_checklist_list"][data-cellid="grid_footcell_field"][data-page="cdd_checklist_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="cdd_checklist_list"][data-cellid="grid_footcell_field1"][data-page="cdd_checklist_list"][data-cellid="grid_footcell_field1"][data-page="cdd_checklist_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="cdd_checklist_list"][data-cellid="grid_footcell_field2"][data-page="cdd_checklist_list"][data-cellid="grid_footcell_field2"][data-page="cdd_checklist_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="cdd_checklist_list"][data-cellid="grid_headcell_checkbox"][data-page="cdd_checklist_list"][data-cellid="grid_headcell_checkbox"][data-page="cdd_checklist_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="cdd_checklist_list"][data-cellid="grid_headcell_icons"][data-page="cdd_checklist_list"][data-cellid="grid_headcell_icons"][data-page="cdd_checklist_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="cdd_checklist_list"][data-cellid="grid_cell_icons"][data-page="cdd_checklist_list"][data-cellid="grid_cell_icons"][data-page="cdd_checklist_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="cdd_checklist_list"][data-cellid="grid_footcell_field3"][data-page="cdd_checklist_list"][data-cellid="grid_footcell_field3"][data-page="cdd_checklist_list"] {
  white-space: nowrap;
}
[data-page="cdd_checklist_list"][data-itemid="delete_cdd_item"] > .btn {
  text-shadow: none;
  color: #ffffff;
}
[data-page="cdd_checklist_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="cdd_checklist_list"][data-itemid="grid_edit"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="cdd_checklist_list"][data-itemid="delete"] {
  display:none !important;
}

/* Put  your custom CSS code here */
/*
[data-page="cdd_checklist_list"][data-itemid="perform_check"] {
  padding-left:20px;
  padding-right:20px;
}
*/
/* Put  your custom CSS code here */


