[data-cellid="grid_footcell_field"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_footcell_field"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_footcell_field"][data-page="cobroke_external_comm_cobroke_ext_comm"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_footcell_field1"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_footcell_field1"][data-page="cobroke_external_comm_cobroke_ext_comm"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_footcell_field7"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_footcell_field7"][data-page="cobroke_external_comm_cobroke_ext_comm"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_headcell_checkbox"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_headcell_checkbox"][data-page="cobroke_external_comm_cobroke_ext_comm"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_headcell_icons"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_headcell_icons"][data-page="cobroke_external_comm_cobroke_ext_comm"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_cell_icons"][data-page="cobroke_external_comm_cobroke_ext_comm"][data-cellid="grid_cell_icons"][data-page="cobroke_external_comm_cobroke_ext_comm"] {
  white-space: nowrap;
}
[data-page="cobroke_external_comm_cobroke_ext_comm"][data-itemid="simple_grid_field"] {
  width: 400px;
}
[data-page="cobroke_external_comm_cobroke_ext_comm"][data-itemid="simple_grid_field8"] {
  width: 150px;
}
[data-page="cobroke_external_comm_cobroke_ext_comm"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="cobroke_external_comm_cobroke_ext_comm"][data-itemid="inline_save_all"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="cobroke_external_comm_cobroke_ext_comm"][data-itemid="inline_cancel_all"] {
  display:none !important;
}

