[data-cellid="grid_footcell_field"][data-page="conflect_descriptions_list"][data-cellid="grid_footcell_field"][data-page="conflect_descriptions_list"][data-cellid="grid_footcell_field"][data-page="conflect_descriptions_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="conflect_descriptions_list"][data-cellid="grid_headcell_checkbox"][data-page="conflect_descriptions_list"][data-cellid="grid_headcell_checkbox"][data-page="conflect_descriptions_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="conflect_descriptions_list"][data-cellid="grid_headcell_icons"][data-page="conflect_descriptions_list"][data-cellid="grid_headcell_icons"][data-page="conflect_descriptions_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="conflect_descriptions_list"][data-cellid="grid_cell_icons"][data-page="conflect_descriptions_list"][data-cellid="grid_cell_icons"][data-page="conflect_descriptions_list"] {
  white-space: nowrap;
}
[data-page="conflect_descriptions_list"][data-itemid="simple_grid_field1"] {
  width: 450px;
}
[data-page="conflect_descriptions_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="conflect_descriptions_list"][data-itemid="add"] {
  display:none !important;
}

