[data-cellid="grid_footcell_field"][data-page="cpd_records_masterlist"][data-cellid="grid_footcell_field"][data-page="cpd_records_masterlist"][data-cellid="grid_footcell_field"][data-page="cpd_records_masterlist"] {
  white-space: nowrap;
}
[data-page="cpd_records_masterlist"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


