[data-cellid="grid_footcell_field1"][data-page="cpd_records_list1"][data-cellid="grid_footcell_field1"][data-page="cpd_records_list1"][data-cellid="grid_footcell_field1"][data-page="cpd_records_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="cpd_records_list1"][data-cellid="grid_headcell_icons"][data-page="cpd_records_list1"][data-cellid="grid_headcell_icons"][data-page="cpd_records_list1"] {
  width: 30px;
}
[data-cellid="grid_footcell_field4"][data-page="cpd_records_list1"][data-cellid="grid_footcell_field4"][data-page="cpd_records_list1"][data-cellid="grid_footcell_field4"][data-page="cpd_records_list1"] {
  white-space: nowrap;
}
[data-page="cpd_records_list1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_headcell_icons"][data-page="cpd_records_list1"][data-cellid="grid_headcell_icons"][data-page="cpd_records_list1"][data-cellid="grid_headcell_icons"][data-page="cpd_records_list1"] {
  display:none !important;
}
/* Put  your custom CSS code here */

[data-page="cpd_records_list1"][data-itemid="simple_search"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="cpd_records_list1"][data-itemid="list_options"] {
  display:none !important;
}

