[data-cellid="grid_footcell_field"][data-page="cpd_records_masterprint"][data-cellid="grid_footcell_field"][data-page="cpd_records_masterprint"][data-cellid="grid_footcell_field"][data-page="cpd_records_masterprint"] {
  white-space: nowrap;
}
[data-page="cpd_records_masterprint"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


