[data-cellid="grid_footcell_field2"][data-page="digital_form_list"][data-cellid="grid_footcell_field2"][data-page="digital_form_list"][data-cellid="grid_footcell_field2"][data-page="digital_form_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="digital_form_list"][data-cellid="grid_footcell_field3"][data-page="digital_form_list"][data-cellid="grid_footcell_field3"][data-page="digital_form_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="digital_form_list"][data-cellid="grid_headcell_checkbox"][data-page="digital_form_list"][data-cellid="grid_headcell_checkbox"][data-page="digital_form_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="digital_form_list"][data-cellid="grid_headcell_icons"][data-page="digital_form_list"][data-cellid="grid_headcell_icons"][data-page="digital_form_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="digital_form_list"][data-cellid="grid_cell_icons"][data-page="digital_form_list"][data-cellid="grid_cell_icons"][data-page="digital_form_list"] {
  white-space: nowrap;
}
[data-page="digital_form_list"][data-itemid="add"] > .btn {
  font-size: 12px;
}
[data-page="digital_form_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


