[data-cellid="grid_footcell_field"][data-page="doc_upload_lcsc_list"][data-cellid="grid_footcell_field"][data-page="doc_upload_lcsc_list"][data-cellid="grid_footcell_field"][data-page="doc_upload_lcsc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="doc_upload_lcsc_list"][data-cellid="grid_footcell_field1"][data-page="doc_upload_lcsc_list"][data-cellid="grid_footcell_field1"][data-page="doc_upload_lcsc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="doc_upload_lcsc_list"][data-cellid="grid_headcell_checkbox"][data-page="doc_upload_lcsc_list"][data-cellid="grid_headcell_checkbox"][data-page="doc_upload_lcsc_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="doc_upload_lcsc_list"][data-cellid="grid_headcell_icons"][data-page="doc_upload_lcsc_list"][data-cellid="grid_headcell_icons"][data-page="doc_upload_lcsc_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="doc_upload_lcsc_list"][data-cellid="grid_cell_icons"][data-page="doc_upload_lcsc_list"][data-cellid="grid_cell_icons"][data-page="doc_upload_lcsc_list"] {
  white-space: nowrap;
}
[data-page="doc_upload_lcsc_list"][data-itemid="add"] > .btn {
  font-size: 12px;
}
[data-page="doc_upload_lcsc_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="doc_upload_lcsc_list"][data-itemid="add"] {
  margin-left:10px;
}

/* Put  your custom CSS code here */

[data-page="doc_upload_lcsc_list"][data-itemid="delete"] {
  margin-left:10px;
}

