[data-cellid="grid_footcell_field2"][data-page="eat_users_list"][data-cellid="grid_footcell_field2"][data-page="eat_users_list"][data-cellid="grid_footcell_field2"][data-page="eat_users_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="eat_users_list"][data-cellid="grid_footcell_field3"][data-page="eat_users_list"][data-cellid="grid_footcell_field3"][data-page="eat_users_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="eat_users_list"][data-cellid="grid_headcell_checkbox"][data-page="eat_users_list"][data-cellid="grid_headcell_checkbox"][data-page="eat_users_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="eat_users_list"][data-cellid="grid_headcell_icons"][data-page="eat_users_list"][data-cellid="grid_headcell_icons"][data-page="eat_users_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="eat_users_list"][data-cellid="grid_cell_icons"][data-page="eat_users_list"][data-cellid="grid_cell_icons"][data-page="eat_users_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="eat_users_list"][data-cellid="grid_footcell_field4"][data-page="eat_users_list"][data-cellid="grid_footcell_field4"][data-page="eat_users_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="eat_users_list"][data-cellid="grid_cell_details"][data-page="eat_users_list"][data-cellid="grid_cell_details"][data-page="eat_users_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="eat_users_list"][data-cellid="grid_footcell_field1"][data-page="eat_users_list"][data-cellid="grid_footcell_field1"][data-page="eat_users_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field14"][data-page="eat_users_list"][data-cellid="grid_cell_field14"][data-page="eat_users_list"][data-cellid="grid_cell_field14"][data-page="eat_users_list"] {
  white-space: nowrap;
}
[data-page="eat_users_list"][data-itemid="grid_details_link"] > a {
  color: #ddb37a;
}
[data-page="eat_users_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="eat_users_list"][data-itemid="grid_details_link2"] {
  padding-left:20px;
}

