[data-page="eat_users_user_view"][data-itemid="integrated_edit_field1"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field1"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field1"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field1"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field7"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field7"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field7"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field7"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field8"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field8"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field8"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field8"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field11"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field11"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field11"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field11"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field13"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field13"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field13"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field13"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field19"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field19"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field19"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field19"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field20"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field20"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field20"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field20"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field21"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field21"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field21"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field21"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field2"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field2"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field2"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field2"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field3"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field3"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field3"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field3"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field4"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field4"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field4"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field4"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field5"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field5"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field5"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field5"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field9"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field9"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field9"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field9"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field10"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field10"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field10"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field10"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field14"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field14"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field14"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field14"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field12"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field12"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field12"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field12"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field15"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field15"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field15"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field15"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="integrated_edit_field22"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field22"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field22"][data-page="eat_users_user_view"][data-itemid="integrated_edit_field22"] {
  width: 200px;
}
[data-page="eat_users_user_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


