[data-cellid="grid_footcell_field"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_footcell_field"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_footcell_field"][data-page="external_party_ext_pty_comm1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_footcell_field1"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_footcell_field1"][data-page="external_party_ext_pty_comm1"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_headcell_checkbox"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_headcell_checkbox"][data-page="external_party_ext_pty_comm1"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_headcell_icons"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_headcell_icons"][data-page="external_party_ext_pty_comm1"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_cell_icons"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_cell_icons"][data-page="external_party_ext_pty_comm1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_footcell_field7"][data-page="external_party_ext_pty_comm1"][data-cellid="grid_footcell_field7"][data-page="external_party_ext_pty_comm1"] {
  white-space: nowrap;
}
[data-page="external_party_ext_pty_comm1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


