[data-cellid="grid_footcell_field"][data-page="form7_list"][data-cellid="grid_footcell_field"][data-page="form7_list"][data-cellid="grid_footcell_field"][data-page="form7_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="form7_list"][data-cellid="grid_headcell_icons"][data-page="form7_list"][data-cellid="grid_headcell_icons"][data-page="form7_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="form7_list"][data-cellid="grid_cell_icons"][data-page="form7_list"][data-cellid="grid_cell_icons"][data-page="form7_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons1"][data-page="form7_list"][data-cellid="grid_headcell_icons1"][data-page="form7_list"][data-cellid="grid_headcell_icons1"][data-page="form7_list"] {
  width: 30px;
}
[data-page="form7_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_headcell_field"][data-page="form7_list"][data-cellid="grid_headcell_field"][data-page="form7_list"][data-cellid="grid_headcell_field"][data-page="form7_list"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-cellid="grid_headcell_icons"][data-page="form7_list"][data-cellid="grid_headcell_icons"][data-page="form7_list"][data-cellid="grid_headcell_icons"][data-page="form7_list"] {
  display:none !important;
}
/* Put  your custom CSS code here */

[data-page="form7_list"][data-itemid="grid_view"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="form7_list"][data-itemid="edit_form"] {
  display:none !important;
}

