[data-cellid="grid_c3"][data-page="form2_edit"][data-cellid="grid_c3"][data-page="form2_edit"][data-cellid="grid_c3"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="grid_c"][data-page="form2_edit"][data-cellid="grid_c"][data-page="form2_edit"][data-cellid="grid_c"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c6"][data-page="form2_edit"][data-cellid="grid_c6"][data-page="form2_edit"][data-cellid="grid_c6"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="grid_c2"][data-page="form2_edit"][data-cellid="grid_c2"][data-page="form2_edit"][data-cellid="grid_c2"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c10"][data-page="form2_edit"][data-cellid="grid_c10"][data-page="form2_edit"][data-cellid="grid_c10"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="grid_c11"][data-page="form2_edit"][data-cellid="grid_c11"][data-page="form2_edit"][data-cellid="grid_c11"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c12"][data-page="form2_edit"][data-cellid="grid_c12"][data-page="form2_edit"][data-cellid="grid_c12"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="grid_c13"][data-page="form2_edit"][data-cellid="grid_c13"][data-page="form2_edit"][data-cellid="grid_c13"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c14"][data-page="form2_edit"][data-cellid="grid_c14"][data-page="form2_edit"][data-cellid="grid_c14"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="grid_c17"][data-page="form2_edit"][data-cellid="grid_c17"][data-page="form2_edit"][data-cellid="grid_c17"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c22"][data-page="form2_edit"][data-cellid="grid_c22"][data-page="form2_edit"][data-cellid="grid_c22"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="grid_c24"][data-page="form2_edit"][data-cellid="grid_c24"][data-page="form2_edit"][data-cellid="grid_c24"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c25"][data-page="form2_edit"][data-cellid="grid_c25"][data-page="form2_edit"][data-cellid="grid_c25"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c26"][data-page="form2_edit"][data-cellid="grid_c26"][data-page="form2_edit"][data-cellid="grid_c26"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="grid_c27"][data-page="form2_edit"][data-cellid="grid_c27"][data-page="form2_edit"][data-cellid="grid_c27"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="grid_c28"][data-page="form2_edit"][data-cellid="grid_c28"][data-page="form2_edit"][data-cellid="grid_c28"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="grid_c29"][data-page="form2_edit"][data-cellid="grid_c29"][data-page="form2_edit"][data-cellid="grid_c29"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c33"][data-page="form2_edit"][data-cellid="grid_c33"][data-page="form2_edit"][data-cellid="grid_c33"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="grid_c34"][data-page="form2_edit"][data-cellid="grid_c34"][data-page="form2_edit"][data-cellid="grid_c34"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c37"][data-page="form2_edit"][data-cellid="grid_c37"][data-page="form2_edit"][data-cellid="grid_c37"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c16"][data-page="form2_edit"][data-cellid="grid_c16"][data-page="form2_edit"][data-cellid="grid_c16"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="grid_c44"][data-page="form2_edit"][data-cellid="grid_c44"][data-page="form2_edit"][data-cellid="grid_c44"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c1"][data-page="form2_edit"][data-cellid="grid_c1"][data-page="form2_edit"][data-cellid="grid_c1"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c4"][data-page="form2_edit"][data-cellid="grid_c4"][data-page="form2_edit"][data-cellid="grid_c4"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="grid_c5"][data-page="form2_edit"][data-cellid="grid_c5"][data-page="form2_edit"][data-cellid="grid_c5"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c7"][data-page="form2_edit"][data-cellid="grid_c7"][data-page="form2_edit"][data-cellid="grid_c7"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="grid_c41"][data-page="form2_edit"][data-cellid="grid_c41"][data-page="form2_edit"][data-cellid="grid_c41"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c42"][data-page="form2_edit"][data-cellid="grid_c42"][data-page="form2_edit"][data-cellid="grid_c42"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="grid_c45"][data-page="form2_edit"][data-cellid="grid_c45"][data-page="form2_edit"][data-cellid="grid_c45"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="grid_c46"][data-page="form2_edit"][data-cellid="grid_c46"][data-page="form2_edit"][data-cellid="grid_c46"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c1"][data-page="form2_edit"][data-cellid="step2_c1"][data-page="form2_edit"][data-cellid="step2_c1"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="step2_c"][data-page="form2_edit"][data-cellid="step2_c"][data-page="form2_edit"][data-cellid="step2_c"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c6"][data-page="form2_edit"][data-cellid="step2_c6"][data-page="form2_edit"][data-cellid="step2_c6"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="step2_c8"][data-page="form2_edit"][data-cellid="step2_c8"][data-page="form2_edit"][data-cellid="step2_c8"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c9"][data-page="form2_edit"][data-cellid="step2_c9"][data-page="form2_edit"][data-cellid="step2_c9"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c10"][data-page="form2_edit"][data-cellid="step2_c10"][data-page="form2_edit"][data-cellid="step2_c10"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c11"][data-page="form2_edit"][data-cellid="step2_c11"][data-page="form2_edit"][data-cellid="step2_c11"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c12"][data-page="form2_edit"][data-cellid="step2_c12"][data-page="form2_edit"][data-cellid="step2_c12"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c16"][data-page="form2_edit"][data-cellid="step2_c16"][data-page="form2_edit"][data-cellid="step2_c16"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c17"][data-page="form2_edit"][data-cellid="step2_c17"][data-page="form2_edit"][data-cellid="step2_c17"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c18"][data-page="form2_edit"][data-cellid="step2_c18"][data-page="form2_edit"][data-cellid="step2_c18"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c25"][data-page="form2_edit"][data-cellid="step2_c25"][data-page="form2_edit"][data-cellid="step2_c25"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c29"][data-page="form2_edit"][data-cellid="step2_c29"][data-page="form2_edit"][data-cellid="step2_c29"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c27"][data-page="form2_edit"][data-cellid="step2_c27"][data-page="form2_edit"][data-cellid="step2_c27"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c31"][data-page="form2_edit"][data-cellid="step2_c31"][data-page="form2_edit"][data-cellid="step2_c31"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c32"][data-page="form2_edit"][data-cellid="step2_c32"][data-page="form2_edit"][data-cellid="step2_c32"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c33"][data-page="form2_edit"][data-cellid="step2_c33"][data-page="form2_edit"][data-cellid="step2_c33"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c34"][data-page="form2_edit"][data-cellid="step2_c34"][data-page="form2_edit"][data-cellid="step2_c34"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c35"][data-page="form2_edit"][data-cellid="step2_c35"][data-page="form2_edit"][data-cellid="step2_c35"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c36"][data-page="form2_edit"][data-cellid="step2_c36"][data-page="form2_edit"][data-cellid="step2_c36"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c7"][data-page="form2_edit"][data-cellid="step2_c7"][data-page="form2_edit"][data-cellid="step2_c7"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c13"][data-page="form2_edit"][data-cellid="step2_c13"][data-page="form2_edit"][data-cellid="step2_c13"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c28"][data-page="form2_edit"][data-cellid="step2_c28"][data-page="form2_edit"][data-cellid="step2_c28"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c37"][data-page="form2_edit"][data-cellid="step2_c37"][data-page="form2_edit"][data-cellid="step2_c37"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c14"][data-page="form2_edit"][data-cellid="step2_c14"][data-page="form2_edit"][data-cellid="step2_c14"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c15"][data-page="form2_edit"][data-cellid="step2_c15"][data-page="form2_edit"][data-cellid="step2_c15"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="step2_c19"][data-page="form2_edit"][data-cellid="step2_c19"][data-page="form2_edit"][data-cellid="step2_c19"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step2_c38"][data-page="form2_edit"][data-cellid="step2_c38"][data-page="form2_edit"][data-cellid="step2_c38"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c39"][data-page="form2_edit"][data-cellid="step2_c39"][data-page="form2_edit"][data-cellid="step2_c39"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c40"][data-page="form2_edit"][data-cellid="step2_c40"][data-page="form2_edit"][data-cellid="step2_c40"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c41"][data-page="form2_edit"][data-cellid="step2_c41"][data-page="form2_edit"][data-cellid="step2_c41"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c42"][data-page="form2_edit"][data-cellid="step2_c42"][data-page="form2_edit"][data-cellid="step2_c42"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c43"][data-page="form2_edit"][data-cellid="step2_c43"][data-page="form2_edit"][data-cellid="step2_c43"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c44"][data-page="form2_edit"][data-cellid="step2_c44"][data-page="form2_edit"][data-cellid="step2_c44"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c45"][data-page="form2_edit"][data-cellid="step2_c45"][data-page="form2_edit"][data-cellid="step2_c45"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c24"][data-page="form2_edit"][data-cellid="step2_c24"][data-page="form2_edit"][data-cellid="step2_c24"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step2_c26"][data-page="form2_edit"][data-cellid="step2_c26"][data-page="form2_edit"][data-cellid="step2_c26"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c1"][data-page="form2_edit"][data-cellid="step3_c1"][data-page="form2_edit"][data-cellid="step3_c1"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step3_c"][data-page="form2_edit"][data-cellid="step3_c"][data-page="form2_edit"][data-cellid="step3_c"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c2"][data-page="form2_edit"][data-cellid="step3_c2"][data-page="form2_edit"][data-cellid="step3_c2"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step3_c4"][data-page="form2_edit"][data-cellid="step3_c4"][data-page="form2_edit"][data-cellid="step3_c4"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step3_c5"][data-page="form2_edit"][data-cellid="step3_c5"][data-page="form2_edit"][data-cellid="step3_c5"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step3_c6"][data-page="form2_edit"][data-cellid="step3_c6"][data-page="form2_edit"][data-cellid="step3_c6"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="step3_c7"][data-page="form2_edit"][data-cellid="step3_c7"][data-page="form2_edit"][data-cellid="step3_c7"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c8"][data-page="form2_edit"][data-cellid="step3_c8"][data-page="form2_edit"][data-cellid="step3_c8"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c9"][data-page="form2_edit"][data-cellid="step3_c9"][data-page="form2_edit"][data-cellid="step3_c9"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c11"][data-page="form2_edit"][data-cellid="step3_c11"][data-page="form2_edit"][data-cellid="step3_c11"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c12"][data-page="form2_edit"][data-cellid="step3_c12"][data-page="form2_edit"][data-cellid="step3_c12"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c13"][data-page="form2_edit"][data-cellid="step3_c13"][data-page="form2_edit"][data-cellid="step3_c13"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step3_c14"][data-page="form2_edit"][data-cellid="step3_c14"][data-page="form2_edit"][data-cellid="step3_c14"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step3_c15"][data-page="form2_edit"][data-cellid="step3_c15"][data-page="form2_edit"][data-cellid="step3_c15"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="step3_c16"][data-page="form2_edit"][data-cellid="step3_c16"][data-page="form2_edit"][data-cellid="step3_c16"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c17"][data-page="form2_edit"][data-cellid="step3_c17"][data-page="form2_edit"][data-cellid="step3_c17"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c18"][data-page="form2_edit"][data-cellid="step3_c18"][data-page="form2_edit"][data-cellid="step3_c18"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="step3_c19"][data-page="form2_edit"][data-cellid="step3_c19"][data-page="form2_edit"][data-cellid="step3_c19"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c20"][data-page="form2_edit"][data-cellid="step3_c20"][data-page="form2_edit"][data-cellid="step3_c20"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 10px;
}
[data-cellid="step3_c21"][data-page="form2_edit"][data-cellid="step3_c21"][data-page="form2_edit"][data-cellid="step3_c21"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 10px;
}
[data-cellid="step3_c22"][data-page="form2_edit"][data-cellid="step3_c22"][data-page="form2_edit"][data-cellid="step3_c22"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c23"][data-page="form2_edit"][data-cellid="step3_c23"][data-page="form2_edit"][data-cellid="step3_c23"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c24"][data-page="form2_edit"][data-cellid="step3_c24"][data-page="form2_edit"][data-cellid="step3_c24"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step3_c25"][data-page="form2_edit"][data-cellid="step3_c25"][data-page="form2_edit"][data-cellid="step3_c25"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c30"][data-page="form2_edit"][data-cellid="step3_c30"][data-page="form2_edit"][data-cellid="step3_c30"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step3_c31"][data-page="form2_edit"][data-cellid="step3_c31"][data-page="form2_edit"][data-cellid="step3_c31"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step3_c35"][data-page="form2_edit"][data-cellid="step3_c35"][data-page="form2_edit"][data-cellid="step3_c35"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 10px;
}
[data-cellid="step3_c36"][data-page="form2_edit"][data-cellid="step3_c36"][data-page="form2_edit"][data-cellid="step3_c36"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step4_c1"][data-page="form2_edit"][data-cellid="step4_c1"][data-page="form2_edit"][data-cellid="step4_c1"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 10px;
}
[data-cellid="step4_c"][data-page="form2_edit"][data-cellid="step4_c"][data-page="form2_edit"][data-cellid="step4_c"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step4_c10"][data-page="form2_edit"][data-cellid="step4_c10"][data-page="form2_edit"][data-cellid="step4_c10"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step4_c11"][data-page="form2_edit"][data-cellid="step4_c11"][data-page="form2_edit"][data-cellid="step4_c11"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step4_c12"][data-page="form2_edit"][data-cellid="step4_c12"][data-page="form2_edit"][data-cellid="step4_c12"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step4_c13"][data-page="form2_edit"][data-cellid="step4_c13"][data-page="form2_edit"][data-cellid="step4_c13"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step4_c14"][data-page="form2_edit"][data-cellid="step4_c14"][data-page="form2_edit"][data-cellid="step4_c14"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step4_c15"][data-page="form2_edit"][data-cellid="step4_c15"][data-page="form2_edit"][data-cellid="step4_c15"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step4_c16"][data-page="form2_edit"][data-cellid="step4_c16"][data-page="form2_edit"][data-cellid="step4_c16"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 30px;
}
[data-cellid="step4_c17"][data-page="form2_edit"][data-cellid="step4_c17"][data-page="form2_edit"][data-cellid="step4_c17"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step5_c1"][data-page="form2_edit"][data-cellid="step5_c1"][data-page="form2_edit"][data-cellid="step5_c1"][data-page="form2_edit"] {
  width: 50%;
}
[data-cellid="step5_c11"][data-page="form2_edit"][data-cellid="step5_c11"][data-page="form2_edit"][data-cellid="step5_c11"][data-page="form2_edit"] {
  border-bottom: solid #b7b7b7 1px;
}
[data-cellid="step5_c23"][data-page="form2_edit"][data-cellid="step5_c23"][data-page="form2_edit"][data-cellid="step5_c23"][data-page="form2_edit"] {
  width: 50%;
}
[data-cellid="step5_c24"][data-page="form2_edit"][data-cellid="step5_c24"][data-page="form2_edit"][data-cellid="step5_c24"][data-page="form2_edit"] {
  width: 50%;
}
[data-cellid="step5_c25"][data-page="form2_edit"][data-cellid="step5_c25"][data-page="form2_edit"][data-cellid="step5_c25"][data-page="form2_edit"] {
  border-bottom: solid #b7b7b7 1px;
  width: 50%;
}
[data-cellid="step5_c26"][data-page="form2_edit"][data-cellid="step5_c26"][data-page="form2_edit"][data-cellid="step5_c26"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step5_c27"][data-page="form2_edit"][data-cellid="step5_c27"][data-page="form2_edit"][data-cellid="step5_c27"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step5_c28"][data-page="form2_edit"][data-cellid="step5_c28"][data-page="form2_edit"][data-cellid="step5_c28"][data-page="form2_edit"] {
  width: 50%;
}
[data-cellid="step5_c32"][data-page="form2_edit"][data-cellid="step5_c32"][data-page="form2_edit"][data-cellid="step5_c32"][data-page="form2_edit"] {
  border-bottom: solid #b7b7b7 1px;
}
[data-cellid="step5_c41"][data-page="form2_edit"][data-cellid="step5_c41"][data-page="form2_edit"][data-cellid="step5_c41"][data-page="form2_edit"] {
  border-bottom: solid #b7b7b7 1px;
  width: 50%;
}
[data-cellid="step5_c44"][data-page="form2_edit"][data-cellid="step5_c44"][data-page="form2_edit"][data-cellid="step5_c44"][data-page="form2_edit"] {
  border-bottom: solid #b7b7b7 1px;
}
[data-cellid="step5_c57"][data-page="form2_edit"][data-cellid="step5_c57"][data-page="form2_edit"][data-cellid="step5_c57"][data-page="form2_edit"] {
  border-bottom: solid #b7b7b7 1px;
}
[data-cellid="step5_c59"][data-page="form2_edit"][data-cellid="step5_c59"][data-page="form2_edit"][data-cellid="step5_c59"][data-page="form2_edit"] {
  border-bottom: solid #b7b7b7 1px;
  width: 50%;
}
[data-cellid="step5_c60"][data-page="form2_edit"][data-cellid="step5_c60"][data-page="form2_edit"][data-cellid="step5_c60"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step5_c61"][data-page="form2_edit"][data-cellid="step5_c61"][data-page="form2_edit"][data-cellid="step5_c61"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c64"][data-page="form2_edit"][data-cellid="step5_c64"][data-page="form2_edit"][data-cellid="step5_c64"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c66"][data-page="form2_edit"][data-cellid="step5_c66"][data-page="form2_edit"][data-cellid="step5_c66"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c67"][data-page="form2_edit"][data-cellid="step5_c67"][data-page="form2_edit"][data-cellid="step5_c67"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c70"][data-page="form2_edit"][data-cellid="step5_c70"][data-page="form2_edit"][data-cellid="step5_c70"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c72"][data-page="form2_edit"][data-cellid="step5_c72"][data-page="form2_edit"][data-cellid="step5_c72"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c73"][data-page="form2_edit"][data-cellid="step5_c73"][data-page="form2_edit"][data-cellid="step5_c73"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c75"][data-page="form2_edit"][data-cellid="step5_c75"][data-page="form2_edit"][data-cellid="step5_c75"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c76"][data-page="form2_edit"][data-cellid="step5_c76"][data-page="form2_edit"][data-cellid="step5_c76"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c77"][data-page="form2_edit"][data-cellid="step5_c77"][data-page="form2_edit"][data-cellid="step5_c77"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c30"][data-page="form2_edit"][data-cellid="step5_c30"][data-page="form2_edit"][data-cellid="step5_c30"][data-page="form2_edit"] {
  border-bottom: solid #b7b7b7 1px;
  width: 50%;
}
[data-cellid="step5_c74"][data-page="form2_edit"][data-cellid="step5_c74"][data-page="form2_edit"][data-cellid="step5_c74"][data-page="form2_edit"] {
  width: 5%;
}
[data-cellid="step5_c13"][data-page="form2_edit"][data-cellid="step5_c13"][data-page="form2_edit"][data-cellid="step5_c13"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step5_c15"][data-page="form2_edit"][data-cellid="step5_c15"][data-page="form2_edit"][data-cellid="step5_c15"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step5_c29"][data-page="form2_edit"][data-cellid="step5_c29"][data-page="form2_edit"][data-cellid="step5_c29"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c1"][data-page="form2_edit"][data-cellid="step6_c1"][data-page="form2_edit"][data-cellid="step6_c1"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c"][data-page="form2_edit"][data-cellid="step6_c"][data-page="form2_edit"][data-cellid="step6_c"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c4"][data-page="form2_edit"][data-cellid="step6_c4"][data-page="form2_edit"][data-cellid="step6_c4"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c5"][data-page="form2_edit"][data-cellid="step6_c5"][data-page="form2_edit"][data-cellid="step6_c5"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c6"][data-page="form2_edit"][data-cellid="step6_c6"][data-page="form2_edit"][data-cellid="step6_c6"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c7"][data-page="form2_edit"][data-cellid="step6_c7"][data-page="form2_edit"][data-cellid="step6_c7"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c8"][data-page="form2_edit"][data-cellid="step6_c8"][data-page="form2_edit"][data-cellid="step6_c8"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c9"][data-page="form2_edit"][data-cellid="step6_c9"][data-page="form2_edit"][data-cellid="step6_c9"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c10"][data-page="form2_edit"][data-cellid="step6_c10"][data-page="form2_edit"][data-cellid="step6_c10"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c11"][data-page="form2_edit"][data-cellid="step6_c11"][data-page="form2_edit"][data-cellid="step6_c11"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c12"][data-page="form2_edit"][data-cellid="step6_c12"][data-page="form2_edit"][data-cellid="step6_c12"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c13"][data-page="form2_edit"][data-cellid="step6_c13"][data-page="form2_edit"][data-cellid="step6_c13"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c14"][data-page="form2_edit"][data-cellid="step6_c14"][data-page="form2_edit"][data-cellid="step6_c14"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c15"][data-page="form2_edit"][data-cellid="step6_c15"][data-page="form2_edit"][data-cellid="step6_c15"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c16"][data-page="form2_edit"][data-cellid="step6_c16"][data-page="form2_edit"][data-cellid="step6_c16"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c17"][data-page="form2_edit"][data-cellid="step6_c17"][data-page="form2_edit"][data-cellid="step6_c17"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c18"][data-page="form2_edit"][data-cellid="step6_c18"][data-page="form2_edit"][data-cellid="step6_c18"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c19"][data-page="form2_edit"][data-cellid="step6_c19"][data-page="form2_edit"][data-cellid="step6_c19"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c20"][data-page="form2_edit"][data-cellid="step6_c20"][data-page="form2_edit"][data-cellid="step6_c20"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c21"][data-page="form2_edit"][data-cellid="step6_c21"][data-page="form2_edit"][data-cellid="step6_c21"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c22"][data-page="form2_edit"][data-cellid="step6_c22"][data-page="form2_edit"][data-cellid="step6_c22"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c23"][data-page="form2_edit"][data-cellid="step6_c23"][data-page="form2_edit"][data-cellid="step6_c23"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step6_c24"][data-page="form2_edit"][data-cellid="step6_c24"][data-page="form2_edit"][data-cellid="step6_c24"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step6_c27"][data-page="form2_edit"][data-cellid="step6_c27"][data-page="form2_edit"][data-cellid="step6_c27"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step7_c1"][data-page="form2_edit"][data-cellid="step7_c1"][data-page="form2_edit"][data-cellid="step7_c1"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step7_c"][data-page="form2_edit"][data-cellid="step7_c"][data-page="form2_edit"][data-cellid="step7_c"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step7_c3"][data-page="form2_edit"][data-cellid="step7_c3"][data-page="form2_edit"][data-cellid="step7_c3"][data-page="form2_edit"] {
  padding-left: 50px;
}
[data-cellid="step7_c4"][data-page="form2_edit"][data-cellid="step7_c4"][data-page="form2_edit"][data-cellid="step7_c4"][data-page="form2_edit"] {
  padding-left: 50px;
}
[data-cellid="step7_c5"][data-page="form2_edit"][data-cellid="step7_c5"][data-page="form2_edit"][data-cellid="step7_c5"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step7_c6"][data-page="form2_edit"][data-cellid="step7_c6"][data-page="form2_edit"][data-cellid="step7_c6"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step7_c7"][data-page="form2_edit"][data-cellid="step7_c7"][data-page="form2_edit"][data-cellid="step7_c7"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step7_c8"][data-page="form2_edit"][data-cellid="step7_c8"][data-page="form2_edit"][data-cellid="step7_c8"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step7_c11"][data-page="form2_edit"][data-cellid="step7_c11"][data-page="form2_edit"][data-cellid="step7_c11"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step7_c12"][data-page="form2_edit"][data-cellid="step7_c12"][data-page="form2_edit"][data-cellid="step7_c12"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step7_c13"][data-page="form2_edit"][data-cellid="step7_c13"][data-page="form2_edit"][data-cellid="step7_c13"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step7_c14"][data-page="form2_edit"][data-cellid="step7_c14"][data-page="form2_edit"][data-cellid="step7_c14"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step7_c15"][data-page="form2_edit"][data-cellid="step7_c15"][data-page="form2_edit"][data-cellid="step7_c15"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step7_c16"][data-page="form2_edit"][data-cellid="step7_c16"][data-page="form2_edit"][data-cellid="step7_c16"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step7_c17"][data-page="form2_edit"][data-cellid="step7_c17"][data-page="form2_edit"][data-cellid="step7_c17"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step7_c18"][data-page="form2_edit"][data-cellid="step7_c18"][data-page="form2_edit"][data-cellid="step7_c18"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step7_c19"][data-page="form2_edit"][data-cellid="step7_c19"][data-page="form2_edit"][data-cellid="step7_c19"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step7_c20"][data-page="form2_edit"][data-cellid="step7_c20"][data-page="form2_edit"][data-cellid="step7_c20"][data-page="form2_edit"] {
  width: 95%;
}
[data-cellid="step7_c22"][data-page="form2_edit"][data-cellid="step7_c22"][data-page="form2_edit"][data-cellid="step7_c22"][data-page="form2_edit"] {
  width: 5%;
  padding-right: 20px;
}
[data-cellid="step7_c23"][data-page="form2_edit"][data-cellid="step7_c23"][data-page="form2_edit"][data-cellid="step7_c23"][data-page="form2_edit"] {
  width: 95%;
}
[data-page="form2_edit"][data-itemid="snippet5"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text28"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text29"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text30"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text33"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"] > * > input,
[data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"] > * > textarea,
[data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"] > * > select,
[data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"] > * > * > select,
[data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"] > .form-control-static,
[data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"] > [id^=view],
[data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"] label,
[data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"][data-page="form2_edit"][data-itemid="integrated_edit_field7"] > * > .r-readonly-control {
  text-decoration: underline;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field"][data-page="form2_edit"][data-itemid="integrated_edit_field"][data-page="form2_edit"][data-itemid="integrated_edit_field"][data-page="form2_edit"][data-itemid="integrated_edit_field"] {
  width: 250px;
}
[data-page="form2_edit"][data-itemid="text8"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text24"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"] > * > label,
[data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"] > * > * > input,
[data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"] > * > * > textarea,
[data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"] > * > * > select,
[data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"] > * > * > .r-readonly-control,
[data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"][data-page="form2_edit"][data-itemid="integrated_edit_field4"] > * > * > * > select {
  font-weight: bold;
  font-size: 18px;
}
[data-page="form2_edit"][data-itemid="snippet20"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text23"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field36"][data-page="form2_edit"][data-itemid="integrated_edit_field36"][data-page="form2_edit"][data-itemid="integrated_edit_field36"][data-page="form2_edit"][data-itemid="integrated_edit_field36"] {
  width: 200px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field22"][data-page="form2_edit"][data-itemid="integrated_edit_field22"][data-page="form2_edit"][data-itemid="integrated_edit_field22"][data-page="form2_edit"][data-itemid="integrated_edit_field22"] {
  width: 200px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field37"][data-page="form2_edit"][data-itemid="integrated_edit_field37"][data-page="form2_edit"][data-itemid="integrated_edit_field37"][data-page="form2_edit"][data-itemid="integrated_edit_field37"] {
  width: 200px;
}
[data-page="form2_edit"][data-itemid="gst_include"][data-page="form2_edit"][data-itemid="gst_include"][data-page="form2_edit"][data-itemid="gst_include"][data-page="form2_edit"][data-itemid="gst_include"] {
  width: 190px;
}
[data-page="form2_edit"][data-itemid="text13"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text12"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text11"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text10"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text9"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field35"][data-page="form2_edit"][data-itemid="integrated_edit_field35"][data-page="form2_edit"][data-itemid="integrated_edit_field35"][data-page="form2_edit"][data-itemid="integrated_edit_field35"] {
  width: 300px;
}
[data-page="form2_edit"][data-itemid="gst"][data-page="form2_edit"][data-itemid="gst"][data-page="form2_edit"][data-itemid="gst"][data-page="form2_edit"][data-itemid="gst"] {
  width: 180px;
}
[data-page="form2_edit"][data-itemid="text5"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text4"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text3"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text2"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text39"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field5"][data-page="form2_edit"][data-itemid="integrated_edit_field5"][data-page="form2_edit"][data-itemid="integrated_edit_field5"][data-page="form2_edit"][data-itemid="integrated_edit_field5"] {
  padding-top: 10px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field6"][data-page="form2_edit"][data-itemid="integrated_edit_field6"][data-page="form2_edit"][data-itemid="integrated_edit_field6"][data-page="form2_edit"][data-itemid="integrated_edit_field6"] {
  padding-top: 10px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"] > * > input,
[data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"] > * > textarea,
[data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"] > * > select,
[data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"] > * > * > select,
[data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"] > .form-control-static,
[data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"] > [id^=view],
[data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"] label,
[data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"] > * > .r-readonly-control {
  white-space: normal;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"][data-page="form2_edit"][data-itemid="integrated_edit_field26"] {
  padding-top: 10px;
}
[data-page="form2_edit"][data-itemid="text25"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="snippet25"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text36"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text41"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="snippet27"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="text42"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="snippet29"] {
  text-decoration: underline;
}
[data-page="form2_edit"][data-itemid="text43"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="snippet35"] {
  font-weight: bold;
}
[data-page="form2_edit"][data-itemid="snippet38"] {
  text-decoration: underline;
}
[data-page="form2_edit"][data-itemid="snippet64"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="form2_edit"][data-itemid="text63"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="snippet83"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="form2_edit"][data-itemid="snippet84"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="form2_edit"][data-itemid="text64"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text65"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text66"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text67"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text68"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text69"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text70"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="text71"] {
  font-style: italic;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field10"][data-page="form2_edit"][data-itemid="integrated_edit_field10"][data-page="form2_edit"][data-itemid="integrated_edit_field10"][data-page="form2_edit"][data-itemid="integrated_edit_field10"] {
  width: 300px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field12"][data-page="form2_edit"][data-itemid="integrated_edit_field12"][data-page="form2_edit"][data-itemid="integrated_edit_field12"][data-page="form2_edit"][data-itemid="integrated_edit_field12"] {
  width: 200px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field13"][data-page="form2_edit"][data-itemid="integrated_edit_field13"][data-page="form2_edit"][data-itemid="integrated_edit_field13"][data-page="form2_edit"][data-itemid="integrated_edit_field13"] {
  width: 200px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field14"][data-page="form2_edit"][data-itemid="integrated_edit_field14"][data-page="form2_edit"][data-itemid="integrated_edit_field14"][data-page="form2_edit"][data-itemid="integrated_edit_field14"] {
  width: 300px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field15"][data-page="form2_edit"][data-itemid="integrated_edit_field15"][data-page="form2_edit"][data-itemid="integrated_edit_field15"][data-page="form2_edit"][data-itemid="integrated_edit_field15"] {
  width: 200px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field16"][data-page="form2_edit"][data-itemid="integrated_edit_field16"][data-page="form2_edit"][data-itemid="integrated_edit_field16"][data-page="form2_edit"][data-itemid="integrated_edit_field16"] {
  width: 200px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field17"][data-page="form2_edit"][data-itemid="integrated_edit_field17"][data-page="form2_edit"][data-itemid="integrated_edit_field17"][data-page="form2_edit"][data-itemid="integrated_edit_field17"] {
  width: 300px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field18"][data-page="form2_edit"][data-itemid="integrated_edit_field18"][data-page="form2_edit"][data-itemid="integrated_edit_field18"][data-page="form2_edit"][data-itemid="integrated_edit_field18"] {
  width: 200px;
}
[data-page="form2_edit"][data-itemid="integrated_edit_field19"][data-page="form2_edit"][data-itemid="integrated_edit_field19"][data-page="form2_edit"][data-itemid="integrated_edit_field19"][data-page="form2_edit"][data-itemid="integrated_edit_field19"] {
  width: 200px;
}
[data-page="form2_edit"][data-itemid="snippet"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="form2_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c34"][data-page="form2_edit"][data-cellid="grid_c34"][data-page="form2_edit"][data-cellid="grid_c34"][data-page="form2_edit"] {
  vertical-align:middle;
}

/* Put  your custom CSS code here */


[data-cellid="grid_c41"][data-page="form2_edit"][data-cellid="grid_c41"][data-page="form2_edit"][data-cellid="grid_c41"][data-page="form2_edit"]{
    float:left !important;
}
/* Put  your custom CSS code here */




/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-cellid="step2_c2"][data-page="form2_edit"][data-cellid="step2_c2"][data-page="form2_edit"][data-cellid="step2_c2"][data-page="form2_edit"] {
  display:none;
}

/* Put  your custom CSS code here */




/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-cellid="step2_c9"][data-page="form2_edit"][data-cellid="step2_c9"][data-page="form2_edit"][data-cellid="step2_c9"][data-page="form2_edit"] {
 width:5% !important;
 
}


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-cellid="step2_c25"][data-page="form2_edit"][data-cellid="step2_c25"][data-page="form2_edit"][data-cellid="step2_c25"][data-page="form2_edit"] {
 width:5% !important;
 
}


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-cellid="step2_c7"][data-page="form2_edit"][data-cellid="step2_c7"][data-page="form2_edit"][data-cellid="step2_c7"][data-page="form2_edit"] {
 width:5% !important;
 
}


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */




/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="hamburger"] {
  display:none !important;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="text29"]{
    padding-top:6px;
}
/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="integrated_edit_field39"] {
  display:none;
}

/* Put  your custom CSS code here */




/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="text24"] {
  
  margin-top:-6px;
}

/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="integrated_edit_field8"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="text23"] {
  
  margin-top:-6px;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */




/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="integrated_edit_field29"] {
    display:none;
}
/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="integrated_edit_field24"] {

 display:none;
}

/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="integrated_edit_field23"] {
  
  display:none;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="text5"]{
    margin-top:-6px;
}
/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="text2"] {
  
  margin-top:-8px;
}

/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="text39"] {
  
  margin-top:-6px;
}



[data-page="form2_edit"][data-itemid="integrated_edit_field5"] {
  width:600px;
}



[data-page="form2_edit"][data-itemid="integrated_edit_field6"] {
  width:600px;
  margin-top:-20px;
}



[data-page="form2_edit"][data-itemid="integrated_edit_field26"] {
  width:600px;
  margin-top:-20px;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="text36"]{
    margin-top:-6px;
}
/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="text41"]{
    margin-top:-6px;
}
/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="text43"] {
  
  margin-top:-6px;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="integrated_edit_field48"] {
  margin-top:-15px;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */




/* Put  your custom CSS code here */

[data-page="form2_edit"][data-itemid="edit_back_list"] {
  display:none !important;
}



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



