[data-page="invcustomers_edit"][data-itemid="edit_field3"][data-page="invcustomers_edit"][data-itemid="edit_field3"][data-page="invcustomers_edit"][data-itemid="edit_field3"][data-page="invcustomers_edit"][data-itemid="edit_field3"] {
  padding-top: 12px;
}
[data-page="invcustomers_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


