[data-cellid="grid_footcell_field"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field"][data-page="invcustomers_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="invcustomers_list1"][data-cellid="grid_headcell_checkbox"][data-page="invcustomers_list1"][data-cellid="grid_headcell_checkbox"][data-page="invcustomers_list1"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="invcustomers_list1"][data-cellid="grid_headcell_icons"][data-page="invcustomers_list1"][data-cellid="grid_headcell_icons"][data-page="invcustomers_list1"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="invcustomers_list1"][data-cellid="grid_cell_icons"][data-page="invcustomers_list1"][data-cellid="grid_cell_icons"][data-page="invcustomers_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field17"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field17"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field17"][data-page="invcustomers_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field18"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field18"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field18"][data-page="invcustomers_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field6"][data-page="invcustomers_list1"][data-cellid="grid_headcell_field6"][data-page="invcustomers_list1"][data-cellid="grid_headcell_field6"][data-page="invcustomers_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field1"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field1"][data-page="invcustomers_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field2"][data-page="invcustomers_list1"][data-cellid="grid_footcell_field2"][data-page="invcustomers_list1"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field9"][data-page="invcustomers_list1"][data-cellid="grid_headcell_field9"][data-page="invcustomers_list1"][data-cellid="grid_headcell_field9"][data-page="invcustomers_list1"] {
  white-space: nowrap;
}
[data-page="invcustomers_list1"][data-itemid="snippet2"] {
  color: #ffb200;
  font-style: italic;
}
[data-page="invcustomers_list1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="invcustomers_list1"][data-itemid="grid_view"] {
  display:none !important;
}

