[data-page="invcustomers_add"][data-itemid="edit_field1"][data-page="invcustomers_add"][data-itemid="edit_field1"][data-page="invcustomers_add"][data-itemid="edit_field1"][data-page="invcustomers_add"][data-itemid="edit_field1"] {
  padding-top: 10px;
}
[data-page="invcustomers_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


