[data-cellid="supertop_c1"][data-page="lease_due_pub_list"][data-cellid="supertop_c1"][data-page="lease_due_pub_list"][data-cellid="supertop_c1"][data-page="lease_due_pub_list"] {
  width: 90%;
}
[data-cellid="grid_footcell_field2"][data-page="lease_due_pub_list"][data-cellid="grid_footcell_field2"][data-page="lease_due_pub_list"][data-cellid="grid_footcell_field2"][data-page="lease_due_pub_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="lease_due_pub_list"][data-cellid="grid_footcell_field3"][data-page="lease_due_pub_list"][data-cellid="grid_footcell_field3"][data-page="lease_due_pub_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field5"][data-page="lease_due_pub_list"][data-cellid="grid_headcell_field5"][data-page="lease_due_pub_list"][data-cellid="grid_headcell_field5"][data-page="lease_due_pub_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field8"][data-page="lease_due_pub_list"][data-cellid="grid_headcell_field8"][data-page="lease_due_pub_list"][data-cellid="grid_headcell_field8"][data-page="lease_due_pub_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="lease_due_pub_list"][data-cellid="grid_footcell_field"][data-page="lease_due_pub_list"][data-cellid="grid_footcell_field"][data-page="lease_due_pub_list"] {
  white-space: nowrap;
}
[data-page="lease_due_pub_list"][data-itemid="text"] {
  padding-left: 30px;
}
[data-page="lease_due_pub_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c2"][data-page="lease_due_pub_list"][data-cellid="above-grid_c2"][data-page="lease_due_pub_list"][data-cellid="above-grid_c2"][data-page="lease_due_pub_list"] {
  display:none !important;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="lease_due_pub_list"][data-itemid="logo"] {
 display:none !important;
}

/* Put  your custom CSS code here */

[data-page="lease_due_pub_list"][data-itemid="menu"] {
 display:none !important;
}

/* Put  your custom CSS code here */

[data-page="lease_due_pub_list"][data-itemid="list_options"] {
 display:none !important;
}

/* Put  your custom CSS code here */

[data-page="lease_due_pub_list"][data-itemid="username_button"] {
 display:none !important;
}

/* Put  your custom CSS code here */

[data-page="lease_due_pub_list"][data-itemid="loginform_login"] {
 display:none !important;
}

