[data-cellid="grid_footcell_field"][data-page="lor4_lease_due_list"][data-cellid="grid_footcell_field"][data-page="lor4_lease_due_list"][data-cellid="grid_footcell_field"][data-page="lor4_lease_due_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="lor4_lease_due_list"][data-cellid="grid_footcell_field1"][data-page="lor4_lease_due_list"][data-cellid="grid_footcell_field1"][data-page="lor4_lease_due_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="lor4_lease_due_list"][data-cellid="grid_footcell_field2"][data-page="lor4_lease_due_list"][data-cellid="grid_footcell_field2"][data-page="lor4_lease_due_list"] {
  white-space: nowrap;
}
[data-page="lor4_lease_due_list"][data-itemid="simple_grid_field2"] {
  white-space: normal;
}
[data-page="lor4_lease_due_list"][data-itemid="simple_grid_field4"] {
  color: #ffa500;
}
[data-page="lor4_lease_due_list"][data-itemid="text"] {
  color: #77e68c;
  font-size: 18px;
  padding-left: 20px;
}
[data-page="lor4_lease_due_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */
/*
[data-cellid="supertop_c1"][data-page="lor4_lease_due_list"][data-cellid="supertop_c1"][data-page="lor4_lease_due_list"][data-cellid="supertop_c1"][data-page="lor4_lease_due_list"] {
  display:none !important;
}
*/
/* Put  your custom CSS code here */
/*
[data-cellid="supertop_c2"][data-page="lor4_lease_due_list"][data-cellid="supertop_c2"][data-page="lor4_lease_due_list"][data-cellid="supertop_c2"][data-page="lor4_lease_due_list"] {
  display:none !important;
}
*/
