[data-cellid="grid_headcell_field"][data-page="lor4_lease_due1_list"][data-cellid="grid_headcell_field"][data-page="lor4_lease_due1_list"][data-cellid="grid_headcell_field"][data-page="lor4_lease_due1_list"] {
  width: 100px;
}
[data-cellid="grid_cell_field"][data-page="lor4_lease_due1_list"][data-cellid="grid_cell_field"][data-page="lor4_lease_due1_list"][data-cellid="grid_cell_field"][data-page="lor4_lease_due1_list"] {
  width: 100px;
}
[data-cellid="grid_footcell_field"][data-page="lor4_lease_due1_list"][data-cellid="grid_footcell_field"][data-page="lor4_lease_due1_list"][data-cellid="grid_footcell_field"][data-page="lor4_lease_due1_list"] {
  width: 100px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field1"][data-page="lor4_lease_due1_list"][data-cellid="grid_headcell_field1"][data-page="lor4_lease_due1_list"][data-cellid="grid_headcell_field1"][data-page="lor4_lease_due1_list"] {
  width: 250px;
}
[data-cellid="grid_cell_field1"][data-page="lor4_lease_due1_list"][data-cellid="grid_cell_field1"][data-page="lor4_lease_due1_list"][data-cellid="grid_cell_field1"][data-page="lor4_lease_due1_list"] {
  width: 250px;
}
[data-cellid="grid_footcell_field1"][data-page="lor4_lease_due1_list"][data-cellid="grid_footcell_field1"][data-page="lor4_lease_due1_list"][data-cellid="grid_footcell_field1"][data-page="lor4_lease_due1_list"] {
  width: 250px;
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="lor4_lease_due1_list"][data-cellid="grid_footcell_field2"][data-page="lor4_lease_due1_list"][data-cellid="grid_footcell_field2"][data-page="lor4_lease_due1_list"] {
  white-space: nowrap;
}
[data-page="lor4_lease_due1_list"][data-itemid="grid_field1"] {
  white-space: normal;
}
[data-page="lor4_lease_due1_list"][data-itemid="text"] {
  font-style: italic;
  font-size: 18px;
}
[data-page="lor4_lease_due1_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

