[data-cellid="grid_headcell_field"][data-page="parties_involved_lcsc_list"][data-cellid="grid_headcell_field"][data-page="parties_involved_lcsc_list"][data-cellid="grid_headcell_field"][data-page="parties_involved_lcsc_list"] {
  width: 60%;
}
[data-cellid="grid_cell_field"][data-page="parties_involved_lcsc_list"][data-cellid="grid_cell_field"][data-page="parties_involved_lcsc_list"][data-cellid="grid_cell_field"][data-page="parties_involved_lcsc_list"] {
  width: 60%;
}
[data-cellid="grid_footcell_field"][data-page="parties_involved_lcsc_list"][data-cellid="grid_footcell_field"][data-page="parties_involved_lcsc_list"][data-cellid="grid_footcell_field"][data-page="parties_involved_lcsc_list"] {
  width: 60%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field1"][data-page="parties_involved_lcsc_list"][data-cellid="grid_headcell_field1"][data-page="parties_involved_lcsc_list"][data-cellid="grid_headcell_field1"][data-page="parties_involved_lcsc_list"] {
  width: 40%;
}
[data-cellid="grid_cell_field1"][data-page="parties_involved_lcsc_list"][data-cellid="grid_cell_field1"][data-page="parties_involved_lcsc_list"][data-cellid="grid_cell_field1"][data-page="parties_involved_lcsc_list"] {
  width: 40%;
}
[data-cellid="grid_footcell_field1"][data-page="parties_involved_lcsc_list"][data-cellid="grid_footcell_field1"][data-page="parties_involved_lcsc_list"][data-cellid="grid_footcell_field1"][data-page="parties_involved_lcsc_list"] {
  width: 40%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="parties_involved_lcsc_list"][data-cellid="grid_headcell_checkbox"][data-page="parties_involved_lcsc_list"][data-cellid="grid_headcell_checkbox"][data-page="parties_involved_lcsc_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="parties_involved_lcsc_list"][data-cellid="grid_headcell_icons"][data-page="parties_involved_lcsc_list"][data-cellid="grid_headcell_icons"][data-page="parties_involved_lcsc_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="parties_involved_lcsc_list"][data-cellid="grid_cell_icons"][data-page="parties_involved_lcsc_list"][data-cellid="grid_cell_icons"][data-page="parties_involved_lcsc_list"] {
  white-space: nowrap;
}
[data-page="parties_involved_lcsc_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


