[data-cellid="grid_headcell_field"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_field"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_field"][data-page="parties_involved_landlord_list"] {
  width: 60%;
}
[data-cellid="grid_cell_field"][data-page="parties_involved_landlord_list"][data-cellid="grid_cell_field"][data-page="parties_involved_landlord_list"][data-cellid="grid_cell_field"][data-page="parties_involved_landlord_list"] {
  width: 60%;
}
[data-cellid="grid_footcell_field"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field"][data-page="parties_involved_landlord_list"] {
  width: 60%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field1"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_field1"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_field1"][data-page="parties_involved_landlord_list"] {
  width: 40%;
}
[data-cellid="grid_cell_field1"][data-page="parties_involved_landlord_list"][data-cellid="grid_cell_field1"][data-page="parties_involved_landlord_list"][data-cellid="grid_cell_field1"][data-page="parties_involved_landlord_list"] {
  width: 40%;
}
[data-cellid="grid_footcell_field1"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field1"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field1"][data-page="parties_involved_landlord_list"] {
  width: 40%;
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_checkbox"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_checkbox"][data-page="parties_involved_landlord_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_field6"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_field6"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_field6"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field9"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_field9"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_field9"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field2"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field2"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field3"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field3"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field4"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field4"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field5"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field5"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field6"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field6"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field7"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field7"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field8"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field8"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field9"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field9"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field10"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field10"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field11"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field11"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field12"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field12"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field13"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field13"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field14"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field14"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field15"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field15"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field16"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field16"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field17"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field17"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field17"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field18"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field18"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field18"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field19"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field19"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field19"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field20"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field20"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field20"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field21"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field21"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field21"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field22"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field22"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field22"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field23"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field23"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field23"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field24"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field24"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field24"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field25"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field25"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field25"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field27"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field27"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field27"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field28"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field28"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field28"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field29"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field29"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field29"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field30"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field30"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field30"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field31"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field31"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field31"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field32"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field32"][data-page="parties_involved_landlord_list"][data-cellid="grid_footcell_field32"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_icons"][data-page="parties_involved_landlord_list"][data-cellid="grid_headcell_icons"][data-page="parties_involved_landlord_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="parties_involved_landlord_list"][data-cellid="grid_cell_icons"][data-page="parties_involved_landlord_list"][data-cellid="grid_cell_icons"][data-page="parties_involved_landlord_list"] {
  white-space: nowrap;
}
[data-page="parties_involved_landlord_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


