[data-page="parties_involved_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c5"][data-page="parties_involved_edit"][data-cellid="grid_c5"][data-page="parties_involved_edit"][data-cellid="grid_c5"][data-page="parties_involved_edit"]{
    display:none !important;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c6"][data-page="parties_involved_edit"][data-cellid="grid_c6"][data-page="parties_involved_edit"][data-cellid="grid_c6"][data-page="parties_involved_edit"]{
    display:none !important;
}
/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field6"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field7"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field10"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field11"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */

[data-page="parties_involved_edit"][data-itemid="integrated_edit_field13"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field15"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field16"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field17"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field18"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */

[data-page="parties_involved_edit"][data-itemid="integrated_edit_field19"] {
  display:none;
}

/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field21"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */

[data-page="parties_involved_edit"][data-itemid="integrated_edit_field22"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="parties_involved_edit"][data-itemid="integrated_edit_field26"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field27"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field29"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */
/*
[data-page="parties_involved_edit"][data-itemid="integrated_edit_field"] {
  pointer-events:none;
}
*/
