[data-page="parties_involved_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c5"][data-page="parties_involved_add"][data-cellid="grid_c5"][data-page="parties_involved_add"][data-cellid="grid_c5"][data-page="parties_involved_add"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c6"][data-page="parties_involved_add"][data-cellid="grid_c6"][data-page="parties_involved_add"][data-cellid="grid_c6"][data-page="parties_involved_add"] {
  display:none !important;
}
/* Put  your custom CSS code here */

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */

[data-page="parties_involved_add"][data-itemid="integrated_edit_field19"] {
  display:none;
}

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="parties_involved_add"][data-itemid="integrated_edit_field26"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="parties_involved_add"][data-itemid="cus_type"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */

[data-page="parties_involved_add"][data-itemid="remarks"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

[data-page="parties_involved_add"][data-itemid="salutation"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

[data-page="parties_involved_add"][data-itemid="nric"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

[data-page="parties_involved_add"][data-itemid="id_type"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

