[data-cellid="grid_footcell_field"][data-page="properties_owner_list"][data-cellid="grid_footcell_field"][data-page="properties_owner_list"][data-cellid="grid_footcell_field"][data-page="properties_owner_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="properties_owner_list"][data-cellid="grid_headcell_checkbox"][data-page="properties_owner_list"][data-cellid="grid_headcell_checkbox"][data-page="properties_owner_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="properties_owner_list"][data-cellid="grid_headcell_icons"][data-page="properties_owner_list"][data-cellid="grid_headcell_icons"][data-page="properties_owner_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="properties_owner_list"][data-cellid="grid_cell_icons"][data-page="properties_owner_list"][data-cellid="grid_cell_icons"][data-page="properties_owner_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="properties_owner_list"][data-cellid="grid_footcell_field15"][data-page="properties_owner_list"][data-cellid="grid_footcell_field15"][data-page="properties_owner_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field17"][data-page="properties_owner_list"][data-cellid="grid_footcell_field17"][data-page="properties_owner_list"][data-cellid="grid_footcell_field17"][data-page="properties_owner_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field18"][data-page="properties_owner_list"][data-cellid="grid_footcell_field18"][data-page="properties_owner_list"][data-cellid="grid_footcell_field18"][data-page="properties_owner_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field6"][data-page="properties_owner_list"][data-cellid="grid_headcell_field6"][data-page="properties_owner_list"][data-cellid="grid_headcell_field6"][data-page="properties_owner_list"] {
  white-space: nowrap;
}
[data-page="properties_owner_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


