[data-page="properties_edit"][data-itemid="integrated_edit_field"][data-page="properties_edit"][data-itemid="integrated_edit_field"][data-page="properties_edit"][data-itemid="integrated_edit_field"][data-page="properties_edit"][data-itemid="integrated_edit_field"] {
  width: 300px;
}
[data-page="properties_edit"][data-itemid="integrated_edit_field1"][data-page="properties_edit"][data-itemid="integrated_edit_field1"][data-page="properties_edit"][data-itemid="integrated_edit_field1"][data-page="properties_edit"][data-itemid="integrated_edit_field1"] {
  width: 300px;
}
[data-page="properties_edit"][data-itemid="integrated_edit_field2"][data-page="properties_edit"][data-itemid="integrated_edit_field2"][data-page="properties_edit"][data-itemid="integrated_edit_field2"][data-page="properties_edit"][data-itemid="integrated_edit_field2"] {
  width: 300px;
}
[data-page="properties_edit"][data-itemid="integrated_edit_field3"][data-page="properties_edit"][data-itemid="integrated_edit_field3"][data-page="properties_edit"][data-itemid="integrated_edit_field3"][data-page="properties_edit"][data-itemid="integrated_edit_field3"] {
  width: 300px;
}
[data-page="properties_edit"][data-itemid="integrated_edit_field4"][data-page="properties_edit"][data-itemid="integrated_edit_field4"][data-page="properties_edit"][data-itemid="integrated_edit_field4"][data-page="properties_edit"][data-itemid="integrated_edit_field4"] {
  width: 450px;
}
[data-page="properties_edit"][data-itemid="integrated_edit_field5"][data-page="properties_edit"][data-itemid="integrated_edit_field5"][data-page="properties_edit"][data-itemid="integrated_edit_field5"][data-page="properties_edit"][data-itemid="integrated_edit_field5"] {
  width: 150px;
}
[data-page="properties_edit"][data-itemid="integrated_edit_field6"][data-page="properties_edit"][data-itemid="integrated_edit_field6"][data-page="properties_edit"][data-itemid="integrated_edit_field6"][data-page="properties_edit"][data-itemid="integrated_edit_field6"] {
  width: 300px;
}
[data-page="properties_edit"][data-itemid="integrated_edit_field11"][data-page="properties_edit"][data-itemid="integrated_edit_field11"][data-page="properties_edit"][data-itemid="integrated_edit_field11"][data-page="properties_edit"][data-itemid="integrated_edit_field11"] {
  width: 200px;
}
[data-page="properties_edit"][data-itemid="integrated_edit_field12"][data-page="properties_edit"][data-itemid="integrated_edit_field12"][data-page="properties_edit"][data-itemid="integrated_edit_field12"][data-page="properties_edit"][data-itemid="integrated_edit_field12"] {
  width: 200px;
}
[data-page="properties_edit"][data-itemid="integrated_edit_field13"][data-page="properties_edit"][data-itemid="integrated_edit_field13"][data-page="properties_edit"][data-itemid="integrated_edit_field13"][data-page="properties_edit"][data-itemid="integrated_edit_field13"] {
  width: 200px;
}
[data-page="properties_edit"][data-itemid="land_size_unit"][data-page="properties_edit"][data-itemid="land_size_unit"][data-page="properties_edit"][data-itemid="land_size_unit"][data-page="properties_edit"][data-itemid="land_size_unit"] {
  width: 120px;
}
[data-page="properties_edit"][data-itemid="builtup_unit"][data-page="properties_edit"][data-itemid="builtup_unit"][data-page="properties_edit"][data-itemid="builtup_unit"][data-page="properties_edit"][data-itemid="builtup_unit"] {
  width: 120px;
}
[data-page="properties_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="properties_edit"][data-itemid="integrated_edit_field7"] {
  width:150px !important;
}

/* Put  your custom CSS code here */

[data-page="properties_edit"][data-itemid="integrated_edit_field9"] {
  width:150px !important;
}

