[data-cellid="grid_footcell_field"][data-page="properties_list"][data-cellid="grid_footcell_field"][data-page="properties_list"][data-cellid="grid_footcell_field"][data-page="properties_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="properties_list"][data-cellid="grid_footcell_field1"][data-page="properties_list"][data-cellid="grid_footcell_field1"][data-page="properties_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="properties_list"][data-cellid="grid_footcell_field2"][data-page="properties_list"][data-cellid="grid_footcell_field2"][data-page="properties_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="properties_list"][data-cellid="grid_footcell_field3"][data-page="properties_list"][data-cellid="grid_footcell_field3"][data-page="properties_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="properties_list"][data-cellid="grid_footcell_field4"][data-page="properties_list"][data-cellid="grid_footcell_field4"][data-page="properties_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="properties_list"][data-cellid="grid_headcell_checkbox"][data-page="properties_list"][data-cellid="grid_headcell_checkbox"][data-page="properties_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="properties_list"][data-cellid="grid_headcell_icons"][data-page="properties_list"][data-cellid="grid_headcell_icons"][data-page="properties_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="properties_list"][data-cellid="grid_cell_icons"][data-page="properties_list"][data-cellid="grid_cell_icons"][data-page="properties_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="properties_list"][data-cellid="grid_cell_details"][data-page="properties_list"][data-cellid="grid_cell_details"][data-page="properties_list"] {
  white-space: nowrap;
}
[data-page="properties_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="properties_list"][data-itemid="grid_view"] {
  display:none !important;
}

