[data-page="str_admin_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}



/* Put  your custom CSS code here */





/* Put  your custom CSS code here */





/* Put  your custom CSS code here */





/* Put  your custom CSS code here */



