[data-cellid="grid_footcell_field"][data-page="str_print1"][data-cellid="grid_footcell_field"][data-page="str_print1"][data-cellid="grid_footcell_field"][data-page="str_print1"] {
  white-space: nowrap;
}
[data-page="str_print1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


