[data-cellid="grid_footcell_field"][data-page="str_list"][data-cellid="grid_footcell_field"][data-page="str_list"][data-cellid="grid_footcell_field"][data-page="str_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="str_list"][data-cellid="grid_footcell_field1"][data-page="str_list"][data-cellid="grid_footcell_field1"][data-page="str_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="str_list"][data-cellid="grid_footcell_field2"][data-page="str_list"][data-cellid="grid_footcell_field2"][data-page="str_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="str_list"][data-cellid="grid_headcell_checkbox"][data-page="str_list"][data-cellid="grid_headcell_checkbox"][data-page="str_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="str_list"][data-cellid="grid_headcell_icons"][data-page="str_list"][data-cellid="grid_headcell_icons"][data-page="str_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="str_list"][data-cellid="grid_cell_icons"][data-page="str_list"][data-cellid="grid_cell_icons"][data-page="str_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="str_list"][data-cellid="grid_footcell_field3"][data-page="str_list"][data-cellid="grid_footcell_field3"][data-page="str_list"] {
  white-space: nowrap;
}
[data-page="str_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="str_list"][data-itemid="add"] {
  margin-left:10px;
}

