[data-page="str_edit"][data-itemid="integrated_edit_field42"][data-page="str_edit"][data-itemid="integrated_edit_field42"][data-page="str_edit"][data-itemid="integrated_edit_field42"][data-page="str_edit"][data-itemid="integrated_edit_field42"] {
  width: 120px;
}
[data-page="str_edit"][data-itemid="edit_field"][data-page="str_edit"][data-itemid="edit_field"][data-page="str_edit"][data-itemid="edit_field"][data-page="str_edit"][data-itemid="edit_field"] {
  width: 200px;
}
[data-page="str_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c4"][data-page="str_edit"][data-cellid="grid_c4"][data-page="str_edit"][data-cellid="grid_c4"][data-page="str_edit"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c2"][data-page="str_edit"][data-cellid="grid_c2"][data-page="str_edit"][data-cellid="grid_c2"][data-page="str_edit"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c"][data-page="str_edit"][data-cellid="grid_c"][data-page="str_edit"][data-cellid="grid_c"][data-page="str_edit"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c5"][data-page="str_edit"][data-cellid="grid_c5"][data-page="str_edit"][data-cellid="grid_c5"][data-page="str_edit"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c3"][data-page="str_edit"][data-cellid="grid_c3"][data-page="str_edit"][data-cellid="grid_c3"][data-page="str_edit"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c6"][data-page="str_edit"][data-cellid="grid_c6"][data-page="str_edit"][data-cellid="grid_c6"][data-page="str_edit"] {
  display:none;
}
/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



