[data-page="str_add"][data-itemid="integrated_edit_field"][data-page="str_add"][data-itemid="integrated_edit_field"][data-page="str_add"][data-itemid="integrated_edit_field"][data-page="str_add"][data-itemid="integrated_edit_field"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field2"][data-page="str_add"][data-itemid="integrated_edit_field2"][data-page="str_add"][data-itemid="integrated_edit_field2"][data-page="str_add"][data-itemid="integrated_edit_field2"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field3"][data-page="str_add"][data-itemid="integrated_edit_field3"][data-page="str_add"][data-itemid="integrated_edit_field3"][data-page="str_add"][data-itemid="integrated_edit_field3"] {
  width: 200px;
}
[data-page="str_add"][data-itemid="integrated_edit_field5"][data-page="str_add"][data-itemid="integrated_edit_field5"][data-page="str_add"][data-itemid="integrated_edit_field5"][data-page="str_add"][data-itemid="integrated_edit_field5"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field6"][data-page="str_add"][data-itemid="integrated_edit_field6"][data-page="str_add"][data-itemid="integrated_edit_field6"][data-page="str_add"][data-itemid="integrated_edit_field6"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field7"][data-page="str_add"][data-itemid="integrated_edit_field7"][data-page="str_add"][data-itemid="integrated_edit_field7"][data-page="str_add"][data-itemid="integrated_edit_field7"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field14"][data-page="str_add"][data-itemid="integrated_edit_field14"][data-page="str_add"][data-itemid="integrated_edit_field14"][data-page="str_add"][data-itemid="integrated_edit_field14"] {
  width: 200px;
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field16"][data-page="str_add"][data-itemid="integrated_edit_field16"][data-page="str_add"][data-itemid="integrated_edit_field16"][data-page="str_add"][data-itemid="integrated_edit_field16"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field17"][data-page="str_add"][data-itemid="integrated_edit_field17"][data-page="str_add"][data-itemid="integrated_edit_field17"][data-page="str_add"][data-itemid="integrated_edit_field17"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field18"][data-page="str_add"][data-itemid="integrated_edit_field18"][data-page="str_add"][data-itemid="integrated_edit_field18"][data-page="str_add"][data-itemid="integrated_edit_field18"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field26"][data-page="str_add"][data-itemid="integrated_edit_field26"][data-page="str_add"][data-itemid="integrated_edit_field26"][data-page="str_add"][data-itemid="integrated_edit_field26"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field27"][data-page="str_add"][data-itemid="integrated_edit_field27"][data-page="str_add"][data-itemid="integrated_edit_field27"][data-page="str_add"][data-itemid="integrated_edit_field27"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field28"][data-page="str_add"][data-itemid="integrated_edit_field28"][data-page="str_add"][data-itemid="integrated_edit_field28"][data-page="str_add"][data-itemid="integrated_edit_field28"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field29"][data-page="str_add"][data-itemid="integrated_edit_field29"][data-page="str_add"][data-itemid="integrated_edit_field29"][data-page="str_add"][data-itemid="integrated_edit_field29"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field31"][data-page="str_add"][data-itemid="integrated_edit_field31"][data-page="str_add"][data-itemid="integrated_edit_field31"][data-page="str_add"][data-itemid="integrated_edit_field31"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field32"][data-page="str_add"][data-itemid="integrated_edit_field32"][data-page="str_add"][data-itemid="integrated_edit_field32"][data-page="str_add"][data-itemid="integrated_edit_field32"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field36"][data-page="str_add"][data-itemid="integrated_edit_field36"][data-page="str_add"][data-itemid="integrated_edit_field36"][data-page="str_add"][data-itemid="integrated_edit_field36"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field37"][data-page="str_add"][data-itemid="integrated_edit_field37"][data-page="str_add"][data-itemid="integrated_edit_field37"][data-page="str_add"][data-itemid="integrated_edit_field37"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field38"][data-page="str_add"][data-itemid="integrated_edit_field38"][data-page="str_add"][data-itemid="integrated_edit_field38"][data-page="str_add"][data-itemid="integrated_edit_field38"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field39"][data-page="str_add"][data-itemid="integrated_edit_field39"][data-page="str_add"][data-itemid="integrated_edit_field39"][data-page="str_add"][data-itemid="integrated_edit_field39"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field40"][data-page="str_add"][data-itemid="integrated_edit_field40"][data-page="str_add"][data-itemid="integrated_edit_field40"][data-page="str_add"][data-itemid="integrated_edit_field40"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field41"][data-page="str_add"][data-itemid="integrated_edit_field41"][data-page="str_add"][data-itemid="integrated_edit_field41"][data-page="str_add"][data-itemid="integrated_edit_field41"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field42"][data-page="str_add"][data-itemid="integrated_edit_field42"][data-page="str_add"][data-itemid="integrated_edit_field42"][data-page="str_add"][data-itemid="integrated_edit_field42"] {
  width: 120px;
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field43"][data-page="str_add"][data-itemid="integrated_edit_field43"][data-page="str_add"][data-itemid="integrated_edit_field43"][data-page="str_add"][data-itemid="integrated_edit_field43"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field44"][data-page="str_add"][data-itemid="integrated_edit_field44"][data-page="str_add"][data-itemid="integrated_edit_field44"][data-page="str_add"][data-itemid="integrated_edit_field44"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="integrated_edit_field45"][data-page="str_add"][data-itemid="integrated_edit_field45"][data-page="str_add"][data-itemid="integrated_edit_field45"][data-page="str_add"][data-itemid="integrated_edit_field45"] {
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="edit_field"][data-page="str_add"][data-itemid="edit_field"][data-page="str_add"][data-itemid="edit_field"][data-page="str_add"][data-itemid="edit_field"] {
  width: 200px;
  padding-top: 12px;
}
[data-page="str_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

/*
[data-cellid="grid_c4"][data-page="str_add"][data-cellid="grid_c4"][data-page="str_add"][data-cellid="grid_c4"][data-page="str_add"] {
    display:none;
}
*/
/* Put  your custom CSS code here */

/*
[data-cellid="grid_c2"][data-page="str_add"][data-cellid="grid_c2"][data-page="str_add"][data-cellid="grid_c2"][data-page="str_add"] {
    display:none;
}
*/
/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


[data-cellid="grid_c24"][data-page="str_add"][data-cellid="grid_c24"][data-page="str_add"][data-cellid="grid_c24"][data-page="str_add"] {
    display:none;
}
/* Put  your custom CSS code here */


[data-cellid="grid_c25"][data-page="str_add"][data-cellid="grid_c25"][data-page="str_add"][data-cellid="grid_c25"][data-page="str_add"] {
    display:none;
}/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="str_add"][data-itemid="integrated_edit_field4"] {
  pointer-events:none;
}

