[data-cellid="grid_footcell_field"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field1"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field1"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field4"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field4"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field5"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field5"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field6"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field6"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="transaction_party_involved_list"][data-cellid="grid_headcell_checkbox"][data-page="transaction_party_involved_list"][data-cellid="grid_headcell_checkbox"][data-page="transaction_party_involved_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="transaction_party_involved_list"][data-cellid="grid_headcell_icons"][data-page="transaction_party_involved_list"][data-cellid="grid_headcell_icons"][data-page="transaction_party_involved_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="transaction_party_involved_list"][data-cellid="grid_cell_icons"][data-page="transaction_party_involved_list"][data-cellid="grid_cell_icons"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field12"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field12"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field15"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field15"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field2"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field2"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field3"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field3"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field7"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field7"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field8"][data-page="transaction_party_involved_list"][data-cellid="grid_footcell_field8"][data-page="transaction_party_involved_list"] {
  white-space: nowrap;
}
[data-page="transaction_party_involved_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


