[data-cellid="grid_footcell_field"][data-page="transactions_sale_masterprint"][data-cellid="grid_footcell_field"][data-page="transactions_sale_masterprint"][data-cellid="grid_footcell_field"][data-page="transactions_sale_masterprint"] {
  white-space: nowrap;
}
[data-page="transactions_sale_masterprint"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


