[data-page="transactions_add"][data-itemid="integrated_edit_field1"][data-page="transactions_add"][data-itemid="integrated_edit_field1"][data-page="transactions_add"][data-itemid="integrated_edit_field1"][data-page="transactions_add"][data-itemid="integrated_edit_field1"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field2"][data-page="transactions_add"][data-itemid="integrated_edit_field2"][data-page="transactions_add"][data-itemid="integrated_edit_field2"][data-page="transactions_add"][data-itemid="integrated_edit_field2"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field3"][data-page="transactions_add"][data-itemid="integrated_edit_field3"][data-page="transactions_add"][data-itemid="integrated_edit_field3"][data-page="transactions_add"][data-itemid="integrated_edit_field3"] {
  padding-top: 12px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field4"][data-page="transactions_add"][data-itemid="integrated_edit_field4"][data-page="transactions_add"][data-itemid="integrated_edit_field4"][data-page="transactions_add"][data-itemid="integrated_edit_field4"] {
  padding-top: 12px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field5"][data-page="transactions_add"][data-itemid="integrated_edit_field5"][data-page="transactions_add"][data-itemid="integrated_edit_field5"][data-page="transactions_add"][data-itemid="integrated_edit_field5"] {
  padding-top: 12px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field6"][data-page="transactions_add"][data-itemid="integrated_edit_field6"][data-page="transactions_add"][data-itemid="integrated_edit_field6"][data-page="transactions_add"][data-itemid="integrated_edit_field6"] {
  width: 320px;
  padding-top: 12px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field7"][data-page="transactions_add"][data-itemid="integrated_edit_field7"][data-page="transactions_add"][data-itemid="integrated_edit_field7"][data-page="transactions_add"][data-itemid="integrated_edit_field7"] {
  width: 320px;
  padding-top: 12px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field8"][data-page="transactions_add"][data-itemid="integrated_edit_field8"][data-page="transactions_add"][data-itemid="integrated_edit_field8"][data-page="transactions_add"][data-itemid="integrated_edit_field8"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field9"][data-page="transactions_add"][data-itemid="integrated_edit_field9"][data-page="transactions_add"][data-itemid="integrated_edit_field9"][data-page="transactions_add"][data-itemid="integrated_edit_field9"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field10"][data-page="transactions_add"][data-itemid="integrated_edit_field10"][data-page="transactions_add"][data-itemid="integrated_edit_field10"][data-page="transactions_add"][data-itemid="integrated_edit_field10"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field11"][data-page="transactions_add"][data-itemid="integrated_edit_field11"][data-page="transactions_add"][data-itemid="integrated_edit_field11"][data-page="transactions_add"][data-itemid="integrated_edit_field11"] {
  width: 150px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field14"][data-page="transactions_add"][data-itemid="integrated_edit_field14"][data-page="transactions_add"][data-itemid="integrated_edit_field14"][data-page="transactions_add"][data-itemid="integrated_edit_field14"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field15"][data-page="transactions_add"][data-itemid="integrated_edit_field15"][data-page="transactions_add"][data-itemid="integrated_edit_field15"][data-page="transactions_add"][data-itemid="integrated_edit_field15"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field16"][data-page="transactions_add"][data-itemid="integrated_edit_field16"][data-page="transactions_add"][data-itemid="integrated_edit_field16"][data-page="transactions_add"][data-itemid="integrated_edit_field16"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field17"][data-page="transactions_add"][data-itemid="integrated_edit_field17"][data-page="transactions_add"][data-itemid="integrated_edit_field17"][data-page="transactions_add"][data-itemid="integrated_edit_field17"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field18"][data-page="transactions_add"][data-itemid="integrated_edit_field18"][data-page="transactions_add"][data-itemid="integrated_edit_field18"][data-page="transactions_add"][data-itemid="integrated_edit_field18"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field19"][data-page="transactions_add"][data-itemid="integrated_edit_field19"][data-page="transactions_add"][data-itemid="integrated_edit_field19"][data-page="transactions_add"][data-itemid="integrated_edit_field19"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field20"][data-page="transactions_add"][data-itemid="integrated_edit_field20"][data-page="transactions_add"][data-itemid="integrated_edit_field20"][data-page="transactions_add"][data-itemid="integrated_edit_field20"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field21"][data-page="transactions_add"][data-itemid="integrated_edit_field21"][data-page="transactions_add"][data-itemid="integrated_edit_field21"][data-page="transactions_add"][data-itemid="integrated_edit_field21"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field22"][data-page="transactions_add"][data-itemid="integrated_edit_field22"][data-page="transactions_add"][data-itemid="integrated_edit_field22"][data-page="transactions_add"][data-itemid="integrated_edit_field22"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field23"][data-page="transactions_add"][data-itemid="integrated_edit_field23"][data-page="transactions_add"][data-itemid="integrated_edit_field23"][data-page="transactions_add"][data-itemid="integrated_edit_field23"] {
  width: 80px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field24"][data-page="transactions_add"][data-itemid="integrated_edit_field24"][data-page="transactions_add"][data-itemid="integrated_edit_field24"][data-page="transactions_add"][data-itemid="integrated_edit_field24"] {
  padding-top: 15px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field25"][data-page="transactions_add"][data-itemid="integrated_edit_field25"][data-page="transactions_add"][data-itemid="integrated_edit_field25"][data-page="transactions_add"][data-itemid="integrated_edit_field25"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field26"][data-page="transactions_add"][data-itemid="integrated_edit_field26"][data-page="transactions_add"][data-itemid="integrated_edit_field26"][data-page="transactions_add"][data-itemid="integrated_edit_field26"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field27"][data-page="transactions_add"][data-itemid="integrated_edit_field27"][data-page="transactions_add"][data-itemid="integrated_edit_field27"][data-page="transactions_add"][data-itemid="integrated_edit_field27"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field28"][data-page="transactions_add"][data-itemid="integrated_edit_field28"][data-page="transactions_add"][data-itemid="integrated_edit_field28"][data-page="transactions_add"][data-itemid="integrated_edit_field28"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field30"][data-page="transactions_add"][data-itemid="integrated_edit_field30"][data-page="transactions_add"][data-itemid="integrated_edit_field30"][data-page="transactions_add"][data-itemid="integrated_edit_field30"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field31"][data-page="transactions_add"][data-itemid="integrated_edit_field31"][data-page="transactions_add"][data-itemid="integrated_edit_field31"][data-page="transactions_add"][data-itemid="integrated_edit_field31"] {
  padding-top: 12px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field32"][data-page="transactions_add"][data-itemid="integrated_edit_field32"][data-page="transactions_add"][data-itemid="integrated_edit_field32"][data-page="transactions_add"][data-itemid="integrated_edit_field32"] {
  padding-top: 12px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field33"][data-page="transactions_add"][data-itemid="integrated_edit_field33"][data-page="transactions_add"][data-itemid="integrated_edit_field33"][data-page="transactions_add"][data-itemid="integrated_edit_field33"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field34"][data-page="transactions_add"][data-itemid="integrated_edit_field34"][data-page="transactions_add"][data-itemid="integrated_edit_field34"][data-page="transactions_add"][data-itemid="integrated_edit_field34"] {
  width: 600px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field35"][data-page="transactions_add"][data-itemid="integrated_edit_field35"][data-page="transactions_add"][data-itemid="integrated_edit_field35"][data-page="transactions_add"][data-itemid="integrated_edit_field35"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field36"][data-page="transactions_add"][data-itemid="integrated_edit_field36"][data-page="transactions_add"][data-itemid="integrated_edit_field36"][data-page="transactions_add"][data-itemid="integrated_edit_field36"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field37"][data-page="transactions_add"][data-itemid="integrated_edit_field37"][data-page="transactions_add"][data-itemid="integrated_edit_field37"][data-page="transactions_add"][data-itemid="integrated_edit_field37"] {
  width: 300px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field38"][data-page="transactions_add"][data-itemid="integrated_edit_field38"][data-page="transactions_add"][data-itemid="integrated_edit_field38"][data-page="transactions_add"][data-itemid="integrated_edit_field38"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field40"][data-page="transactions_add"][data-itemid="integrated_edit_field40"][data-page="transactions_add"][data-itemid="integrated_edit_field40"][data-page="transactions_add"][data-itemid="integrated_edit_field40"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field44"][data-page="transactions_add"][data-itemid="integrated_edit_field44"][data-page="transactions_add"][data-itemid="integrated_edit_field44"][data-page="transactions_add"][data-itemid="integrated_edit_field44"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field45"][data-page="transactions_add"][data-itemid="integrated_edit_field45"][data-page="transactions_add"][data-itemid="integrated_edit_field45"][data-page="transactions_add"][data-itemid="integrated_edit_field45"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="integrated_edit_field46"][data-page="transactions_add"][data-itemid="integrated_edit_field46"][data-page="transactions_add"][data-itemid="integrated_edit_field46"][data-page="transactions_add"][data-itemid="integrated_edit_field46"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="edit_field"][data-page="transactions_add"][data-itemid="edit_field"][data-page="transactions_add"][data-itemid="edit_field"][data-page="transactions_add"][data-itemid="edit_field"] {
  width: 180px;
}
[data-page="transactions_add"][data-itemid="land_unit"][data-page="transactions_add"][data-itemid="land_unit"][data-page="transactions_add"][data-itemid="land_unit"][data-page="transactions_add"][data-itemid="land_unit"] {
  width: 150px;
}
[data-page="transactions_add"][data-itemid="builtup_unit"][data-page="transactions_add"][data-itemid="builtup_unit"][data-page="transactions_add"][data-itemid="builtup_unit"][data-page="transactions_add"][data-itemid="builtup_unit"] {
  width: 150px;
}
[data-page="transactions_add"][data-itemid="no_bedrooms"][data-page="transactions_add"][data-itemid="no_bedrooms"][data-page="transactions_add"][data-itemid="no_bedrooms"][data-page="transactions_add"][data-itemid="no_bedrooms"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="no_bathrooms"][data-page="transactions_add"][data-itemid="no_bathrooms"][data-page="transactions_add"][data-itemid="no_bathrooms"][data-page="transactions_add"][data-itemid="no_bathrooms"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="rm_rental_rm_type"][data-page="transactions_add"][data-itemid="rm_rental_rm_type"][data-page="transactions_add"][data-itemid="rm_rental_rm_type"][data-page="transactions_add"][data-itemid="rm_rental_rm_type"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="rm_builtup"][data-page="transactions_add"][data-itemid="rm_builtup"][data-page="transactions_add"][data-itemid="rm_builtup"][data-page="transactions_add"][data-itemid="rm_builtup"] {
  width: 200px;
}
[data-page="transactions_add"][data-itemid="edit_field1"][data-page="transactions_add"][data-itemid="edit_field1"][data-page="transactions_add"][data-itemid="edit_field1"][data-page="transactions_add"][data-itemid="edit_field1"] {
  padding-top: 10px;
}
[data-page="transactions_add"][data-itemid="edit_field4"][data-page="transactions_add"][data-itemid="edit_field4"][data-page="transactions_add"][data-itemid="edit_field4"][data-page="transactions_add"][data-itemid="edit_field4"] {
  width: 120px;
}
[data-page="transactions_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="section_c34"][data-page="transactions_add"][data-cellid="section_c34"][data-page="transactions_add"][data-cellid="section_c34"][data-page="transactions_add"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-cellid="section_c35"][data-page="transactions_add"][data-cellid="section_c35"][data-page="transactions_add"][data-cellid="section_c35"][data-page="transactions_add"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-cellid="section_c36"][data-page="transactions_add"][data-cellid="section_c36"][data-page="transactions_add"][data-cellid="section_c36"][data-page="transactions_add"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-cellid="section1_c40"][data-page="transactions_add"][data-cellid="section1_c40"][data-page="transactions_add"][data-cellid="section1_c40"][data-page="transactions_add"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="section1_c41"][data-page="transactions_add"][data-cellid="section1_c41"][data-page="transactions_add"][data-cellid="section1_c41"][data-page="transactions_add"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="section1_c42"][data-page="transactions_add"][data-cellid="section1_c42"][data-page="transactions_add"][data-cellid="section1_c42"][data-page="transactions_add"] {
  display:none;
}
/* Put  your custom CSS code here */
/*
[data-page="transactions_add"][data-itemid="integrated_edit_field3"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="transactions_add"][data-itemid="integrated_edit_field5"] {
  display:none !important;
}
*/
/* Put  your custom CSS code here */

[data-page="transactions_add"][data-itemid="integrated_edit_field23"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_add"][data-itemid="integrated_edit_field24"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */
/*
[data-page="transactions_add"][data-itemid="integrated_edit_field57"] {
  display:none !important;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="transactions_add"][data-itemid="integrated_edit_field58"] {
  display:none !important;
}
*/
/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="transactions_add"][data-itemid="edit_field2"] {
  display:none;
}

