[data-cellid="above-grid_c4"][data-page="transactions_lcsc_list"][data-cellid="above-grid_c4"][data-page="transactions_lcsc_list"][data-cellid="above-grid_c4"][data-page="transactions_lcsc_list"] {
  padding-left: 30px;
}
[data-cellid="above-grid_c"][data-page="transactions_lcsc_list"][data-cellid="above-grid_c"][data-page="transactions_lcsc_list"][data-cellid="above-grid_c"][data-page="transactions_lcsc_list"] {
  padding-left: 30px;
}
[data-cellid="grid_footcell_field1"][data-page="transactions_lcsc_list"][data-cellid="grid_footcell_field1"][data-page="transactions_lcsc_list"][data-cellid="grid_footcell_field1"][data-page="transactions_lcsc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="transactions_lcsc_list"][data-cellid="grid_footcell_field3"][data-page="transactions_lcsc_list"][data-cellid="grid_footcell_field3"][data-page="transactions_lcsc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="transactions_lcsc_list"][data-cellid="grid_headcell_checkbox"][data-page="transactions_lcsc_list"][data-cellid="grid_headcell_checkbox"][data-page="transactions_lcsc_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="transactions_lcsc_list"][data-cellid="grid_headcell_icons"][data-page="transactions_lcsc_list"][data-cellid="grid_headcell_icons"][data-page="transactions_lcsc_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="transactions_lcsc_list"][data-cellid="grid_cell_icons"][data-page="transactions_lcsc_list"][data-cellid="grid_cell_icons"][data-page="transactions_lcsc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field12"][data-page="transactions_lcsc_list"][data-cellid="grid_headcell_field12"][data-page="transactions_lcsc_list"][data-cellid="grid_headcell_field12"][data-page="transactions_lcsc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="transactions_lcsc_list"][data-cellid="grid_footcell_field2"][data-page="transactions_lcsc_list"][data-cellid="grid_footcell_field2"][data-page="transactions_lcsc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field10"][data-page="transactions_lcsc_list"][data-cellid="grid_headcell_field10"][data-page="transactions_lcsc_list"][data-cellid="grid_headcell_field10"][data-page="transactions_lcsc_list"] {
  white-space: nowrap;
}
[data-page="transactions_lcsc_list"][data-itemid="simple_search"] {
  padding-right: 100px;
}
[data-page="transactions_lcsc_list"][data-itemid="snippet1"] {
  color: #f88652;
  font-style: italic;
  font-size: 16px;
}
[data-page="transactions_lcsc_list"][data-itemid="text1"] {
  font-style: italic;
  font-size: 16px;
}
[data-page="transactions_lcsc_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */
/*
[data-cellid="top_c1"][data-page="transactions_lcsc_list"][data-cellid="top_c1"][data-page="transactions_lcsc_list"][data-cellid="top_c1"][data-page="transactions_lcsc_list"] {
  margin-top:-20px;
}
*//* Put  your custom CSS code here */

/* Put  your custom CSS code here */

[data-page="transactions_lcsc_list"][data-itemid="grid_checkbox"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_lcsc_list"][data-itemid="grid_checkbox_head"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_lcsc_list"][data-itemid="grid_view"] {
  display:none !important;
}

/* Put  your custom CSS code here */
/*
[data-page="transactions_lcsc_list"][data-itemid="custom_button"] {
  margin-top:-20px;
}
*/
