[data-cellid="section3_c6"][data-page="transactions_view"][data-cellid="section3_c6"][data-page="transactions_view"][data-cellid="section3_c6"][data-page="transactions_view"] {
  padding-left: 50px;
}
[data-cellid="section3_c17"][data-page="transactions_view"][data-cellid="section3_c17"][data-page="transactions_view"][data-cellid="section3_c17"][data-page="transactions_view"] {
  padding-left: 50px;
}
[data-cellid="section3_c18"][data-page="transactions_view"][data-cellid="section3_c18"][data-page="transactions_view"][data-cellid="section3_c18"][data-page="transactions_view"] {
  padding-left: 50px;
}
[data-cellid="section3_c12"][data-page="transactions_view"][data-cellid="section3_c12"][data-page="transactions_view"][data-cellid="section3_c12"][data-page="transactions_view"] {
  padding-left: 50px;
}
[data-cellid="section7_c"][data-page="transactions_view"][data-cellid="section7_c"][data-page="transactions_view"][data-cellid="section7_c"][data-page="transactions_view"] {
  width: 30%;
}
[data-page="transactions_view"][data-itemid="text12"] {
  font-style: italic;
  text-decoration: underline;
}
[data-page="transactions_view"][data-itemid="integrated_edit_field66"][data-page="transactions_view"][data-itemid="integrated_edit_field66"][data-page="transactions_view"][data-itemid="integrated_edit_field66"][data-page="transactions_view"][data-itemid="integrated_edit_field66"] {
  padding-top: 5px;
}
[data-page="transactions_view"][data-itemid="integrated_edit_field67"][data-page="transactions_view"][data-itemid="integrated_edit_field67"][data-page="transactions_view"][data-itemid="integrated_edit_field67"][data-page="transactions_view"][data-itemid="integrated_edit_field67"] {
  width: 200px;
}
[data-page="transactions_view"][data-itemid="text10"] {
  font-style: italic;
  text-decoration: underline;
}
[data-page="transactions_view"][data-itemid="text5"] {
  font-style: italic;
  text-decoration: underline;
}
[data-page="transactions_view"][data-itemid="details_preview1"] {
  padding-top: 15px;
}
[data-page="transactions_view"][data-itemid="text"] {
  font-style: italic;
  text-decoration: underline;
}
[data-page="transactions_view"][data-itemid="text1"] {
  text-decoration: underline;
  font-size: 18px;
  padding-left: 15px;
}
[data-page="transactions_view"][data-itemid="text2"] {
  page-break-before: always;
}
[data-page="transactions_view"][data-itemid="text4"] {
  page-break-before: always;
}
[data-page="transactions_view"][data-itemid="section"] {
  page-break-before: always;
}
[data-page="transactions_view"][data-itemid="text6"] {
  font-weight: bold;
  padding-left: 10px;
}
[data-page="transactions_view"][data-itemid="text7"] {
  font-weight: bold;
  padding-left: 10px;
}
[data-page="transactions_view"][data-itemid="text8"] {
  font-weight: bold;
  padding-left: 10px;
}
[data-page="transactions_view"][data-itemid="text11"] {
  page-break-before: always;
}
[data-page="transactions_view"][data-itemid="gross_fee_label"] {
  font-weight: bold;
}
[data-page="transactions_view"][data-itemid="text3"] {
  font-weight: bold;
  padding-left: 10px;
}
[data-page="transactions_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-cellid="section3_c6"][data-page="transactions_view"][data-cellid="section3_c6"][data-page="transactions_view"][data-cellid="section3_c6"][data-page="transactions_view"]{
    vertical-align:top !important;
}
/* Put  your custom CSS code here */

[data-cellid="section3_c7"][data-page="transactions_view"][data-cellid="section3_c7"][data-page="transactions_view"][data-cellid="section3_c7"][data-page="transactions_view"] {
  vertical-align:top !important;
}

/* Put  your custom CSS code here */

[data-cellid="section3_c17"][data-page="transactions_view"][data-cellid="section3_c17"][data-page="transactions_view"][data-cellid="section3_c17"][data-page="transactions_view"]{
    vertical-align:top !important;
}
/* Put  your custom CSS code here */

[data-cellid="section3_c18"][data-page="transactions_view"][data-cellid="section3_c18"][data-page="transactions_view"][data-cellid="section3_c18"][data-page="transactions_view"]{
    vertical-align:top !important;
}
/* Put  your custom CSS code here */

[data-cellid="section3_c20"][data-page="transactions_view"][data-cellid="section3_c20"][data-page="transactions_view"][data-cellid="section3_c20"][data-page="transactions_view"] {
  vertical-align:top !important;
}

/* Put  your custom CSS code here */

[data-cellid="section3_c21"][data-page="transactions_view"][data-cellid="section3_c21"][data-page="transactions_view"][data-cellid="section3_c21"][data-page="transactions_view"] {
  vertical-align:top !important;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-cellid="section6_c16"][data-page="transactions_view"][data-cellid="section6_c16"][data-page="transactions_view"][data-cellid="section6_c16"][data-page="transactions_view"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="section6_c17"][data-page="transactions_view"][data-cellid="section6_c17"][data-page="transactions_view"][data-cellid="section6_c17"][data-page="transactions_view"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="section6_c18"][data-page="transactions_view"][data-cellid="section6_c18"][data-page="transactions_view"][data-cellid="section6_c18"][data-page="transactions_view"] {
  display:none;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */





/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="integrated_edit_field69"] {
  pointer-events:none;
  font-weight:600;
  
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="integrated_edit_field67"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="integrated_edit_field58"] {
 display:none;
}



/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="integrated_edit_field64"] {
    display:none;
}


/* Put  your custom CSS code here */



/* Put  your custom CSS code here */





/* Put  your custom CSS code here */




/* Put  your custom CSS code here */





/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="integrated_edit_field60"] {
  pointer-events:none
}

/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="integrated_edit_field59"] {
  display:none;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */





/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="integrated_edit_field9"]{
    display:none;
}
/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="comm_earned_agent"] {
  pointer-events:none;
  
}

/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="edit_field_label10"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="edit_field_label11"] {
  display:none;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="transactions_view"][data-itemid="edit_field_label5"] {
  display:none;
}

/* Put  your custom CSS code here */
/*
[data-page="transactions_view"][data-itemid="cea_prescribed_form_section"] {
  display:none !important;
}
*/
