[data-cellid="section8_c4"][data-page="transactions_edit"][data-cellid="section8_c4"][data-page="transactions_edit"][data-cellid="section8_c4"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section8_c3"][data-page="transactions_edit"][data-cellid="section8_c3"][data-page="transactions_edit"][data-cellid="section8_c3"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section8_c7"][data-page="transactions_edit"][data-cellid="section8_c7"][data-page="transactions_edit"][data-cellid="section8_c7"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section8_c10"][data-page="transactions_edit"][data-cellid="section8_c10"][data-page="transactions_edit"][data-cellid="section8_c10"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section8_c13"][data-page="transactions_edit"][data-cellid="section8_c13"][data-page="transactions_edit"][data-cellid="section8_c13"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section8_c16"][data-page="transactions_edit"][data-cellid="section8_c16"][data-page="transactions_edit"][data-cellid="section8_c16"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section8_c19"][data-page="transactions_edit"][data-cellid="section8_c19"][data-page="transactions_edit"][data-cellid="section8_c19"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section10_c4"][data-page="transactions_edit"][data-cellid="section10_c4"][data-page="transactions_edit"][data-cellid="section10_c4"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section10_c3"][data-page="transactions_edit"][data-cellid="section10_c3"][data-page="transactions_edit"][data-cellid="section10_c3"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section10_c7"][data-page="transactions_edit"][data-cellid="section10_c7"][data-page="transactions_edit"][data-cellid="section10_c7"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section10_c10"][data-page="transactions_edit"][data-cellid="section10_c10"][data-page="transactions_edit"][data-cellid="section10_c10"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section3_c6"][data-page="transactions_edit"][data-cellid="section3_c6"][data-page="transactions_edit"][data-cellid="section3_c6"][data-page="transactions_edit"] {
  padding-left: 50px;
}
[data-cellid="section3_c19"][data-page="transactions_edit"][data-cellid="section3_c19"][data-page="transactions_edit"][data-cellid="section3_c19"][data-page="transactions_edit"] {
  padding-left: 50px;
}
[data-cellid="section3_c21"][data-page="transactions_edit"][data-cellid="section3_c21"][data-page="transactions_edit"][data-cellid="section3_c21"][data-page="transactions_edit"] {
  padding-left: 50px;
}
[data-cellid="section3_c23"][data-page="transactions_edit"][data-cellid="section3_c23"][data-page="transactions_edit"][data-cellid="section3_c23"][data-page="transactions_edit"] {
  padding-left: 50px;
}
[data-cellid="section1_c4"][data-page="transactions_edit"][data-cellid="section1_c4"][data-page="transactions_edit"][data-cellid="section1_c4"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c5"][data-page="transactions_edit"][data-cellid="section1_c5"][data-page="transactions_edit"][data-cellid="section1_c5"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c7"][data-page="transactions_edit"][data-cellid="section1_c7"][data-page="transactions_edit"][data-cellid="section1_c7"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c10"][data-page="transactions_edit"][data-cellid="section1_c10"][data-page="transactions_edit"][data-cellid="section1_c10"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c13"][data-page="transactions_edit"][data-cellid="section1_c13"][data-page="transactions_edit"][data-cellid="section1_c13"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c19"][data-page="transactions_edit"][data-cellid="section1_c19"][data-page="transactions_edit"][data-cellid="section1_c19"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c25"][data-page="transactions_edit"][data-cellid="section1_c25"][data-page="transactions_edit"][data-cellid="section1_c25"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c28"][data-page="transactions_edit"][data-cellid="section1_c28"][data-page="transactions_edit"][data-cellid="section1_c28"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c31"][data-page="transactions_edit"][data-cellid="section1_c31"][data-page="transactions_edit"][data-cellid="section1_c31"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c34"][data-page="transactions_edit"][data-cellid="section1_c34"][data-page="transactions_edit"][data-cellid="section1_c34"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section1_c37"][data-page="transactions_edit"][data-cellid="section1_c37"][data-page="transactions_edit"][data-cellid="section1_c37"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section11_c1"][data-page="transactions_edit"][data-cellid="section11_c1"][data-page="transactions_edit"][data-cellid="section11_c1"][data-page="transactions_edit"] {
  width: 30%;
}
[data-cellid="section11_c7"][data-page="transactions_edit"][data-cellid="section11_c7"][data-page="transactions_edit"][data-cellid="section11_c7"][data-page="transactions_edit"] {
  width: 30%;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field10"][data-page="transactions_edit"][data-itemid="integrated_edit_field10"][data-page="transactions_edit"][data-itemid="integrated_edit_field10"][data-page="transactions_edit"][data-itemid="integrated_edit_field10"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field11"][data-page="transactions_edit"][data-itemid="integrated_edit_field11"][data-page="transactions_edit"][data-itemid="integrated_edit_field11"][data-page="transactions_edit"][data-itemid="integrated_edit_field11"] {
  width: 180px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field30"][data-page="transactions_edit"][data-itemid="integrated_edit_field30"][data-page="transactions_edit"][data-itemid="integrated_edit_field30"][data-page="transactions_edit"][data-itemid="integrated_edit_field30"] {
  padding-top: 10px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field25"][data-page="transactions_edit"][data-itemid="integrated_edit_field25"][data-page="transactions_edit"][data-itemid="integrated_edit_field25"][data-page="transactions_edit"][data-itemid="integrated_edit_field25"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field24"][data-page="transactions_edit"][data-itemid="integrated_edit_field24"][data-page="transactions_edit"][data-itemid="integrated_edit_field24"][data-page="transactions_edit"][data-itemid="integrated_edit_field24"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field22"][data-page="transactions_edit"][data-itemid="integrated_edit_field22"][data-page="transactions_edit"][data-itemid="integrated_edit_field22"][data-page="transactions_edit"][data-itemid="integrated_edit_field22"] {
  width: 100px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field23"][data-page="transactions_edit"][data-itemid="integrated_edit_field23"][data-page="transactions_edit"][data-itemid="integrated_edit_field23"][data-page="transactions_edit"][data-itemid="integrated_edit_field23"] {
  padding-top: 15px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field17"][data-page="transactions_edit"][data-itemid="integrated_edit_field17"][data-page="transactions_edit"][data-itemid="integrated_edit_field17"][data-page="transactions_edit"][data-itemid="integrated_edit_field17"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field16"][data-page="transactions_edit"][data-itemid="integrated_edit_field16"][data-page="transactions_edit"][data-itemid="integrated_edit_field16"][data-page="transactions_edit"][data-itemid="integrated_edit_field16"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field32"][data-page="transactions_edit"][data-itemid="integrated_edit_field32"][data-page="transactions_edit"][data-itemid="integrated_edit_field32"][data-page="transactions_edit"][data-itemid="integrated_edit_field32"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field31"][data-page="transactions_edit"][data-itemid="integrated_edit_field31"][data-page="transactions_edit"][data-itemid="integrated_edit_field31"][data-page="transactions_edit"][data-itemid="integrated_edit_field31"] {
  padding-top: 10px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field13"][data-page="transactions_edit"][data-itemid="integrated_edit_field13"][data-page="transactions_edit"][data-itemid="integrated_edit_field13"][data-page="transactions_edit"][data-itemid="integrated_edit_field13"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field21"][data-page="transactions_edit"][data-itemid="integrated_edit_field21"][data-page="transactions_edit"][data-itemid="integrated_edit_field21"][data-page="transactions_edit"][data-itemid="integrated_edit_field21"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field20"][data-page="transactions_edit"][data-itemid="integrated_edit_field20"][data-page="transactions_edit"][data-itemid="integrated_edit_field20"][data-page="transactions_edit"][data-itemid="integrated_edit_field20"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field19"][data-page="transactions_edit"][data-itemid="integrated_edit_field19"][data-page="transactions_edit"][data-itemid="integrated_edit_field19"][data-page="transactions_edit"][data-itemid="integrated_edit_field19"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field18"][data-page="transactions_edit"][data-itemid="integrated_edit_field18"][data-page="transactions_edit"][data-itemid="integrated_edit_field18"][data-page="transactions_edit"][data-itemid="integrated_edit_field18"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field15"][data-page="transactions_edit"][data-itemid="integrated_edit_field15"][data-page="transactions_edit"][data-itemid="integrated_edit_field15"][data-page="transactions_edit"][data-itemid="integrated_edit_field15"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field14"][data-page="transactions_edit"][data-itemid="integrated_edit_field14"][data-page="transactions_edit"][data-itemid="integrated_edit_field14"][data-page="transactions_edit"][data-itemid="integrated_edit_field14"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field26"][data-page="transactions_edit"][data-itemid="integrated_edit_field26"][data-page="transactions_edit"][data-itemid="integrated_edit_field26"][data-page="transactions_edit"][data-itemid="integrated_edit_field26"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field29"][data-page="transactions_edit"][data-itemid="integrated_edit_field29"][data-page="transactions_edit"][data-itemid="integrated_edit_field29"][data-page="transactions_edit"][data-itemid="integrated_edit_field29"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field27"][data-page="transactions_edit"][data-itemid="integrated_edit_field27"][data-page="transactions_edit"][data-itemid="integrated_edit_field27"][data-page="transactions_edit"][data-itemid="integrated_edit_field27"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field51"][data-page="transactions_edit"][data-itemid="integrated_edit_field51"][data-page="transactions_edit"][data-itemid="integrated_edit_field51"][data-page="transactions_edit"][data-itemid="integrated_edit_field51"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field52"][data-page="transactions_edit"][data-itemid="integrated_edit_field52"][data-page="transactions_edit"][data-itemid="integrated_edit_field52"][data-page="transactions_edit"][data-itemid="integrated_edit_field52"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field53"][data-page="transactions_edit"][data-itemid="integrated_edit_field53"][data-page="transactions_edit"][data-itemid="integrated_edit_field53"][data-page="transactions_edit"][data-itemid="integrated_edit_field53"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field54"][data-page="transactions_edit"][data-itemid="integrated_edit_field54"][data-page="transactions_edit"][data-itemid="integrated_edit_field54"][data-page="transactions_edit"][data-itemid="integrated_edit_field54"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field57"][data-page="transactions_edit"][data-itemid="integrated_edit_field57"][data-page="transactions_edit"][data-itemid="integrated_edit_field57"][data-page="transactions_edit"][data-itemid="integrated_edit_field57"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field58"][data-page="transactions_edit"][data-itemid="integrated_edit_field58"][data-page="transactions_edit"][data-itemid="integrated_edit_field58"][data-page="transactions_edit"][data-itemid="integrated_edit_field58"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field59"][data-page="transactions_edit"][data-itemid="integrated_edit_field59"][data-page="transactions_edit"][data-itemid="integrated_edit_field59"][data-page="transactions_edit"][data-itemid="integrated_edit_field59"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field65"][data-page="transactions_edit"][data-itemid="integrated_edit_field65"][data-page="transactions_edit"][data-itemid="integrated_edit_field65"][data-page="transactions_edit"][data-itemid="integrated_edit_field65"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field60"][data-page="transactions_edit"][data-itemid="integrated_edit_field60"][data-page="transactions_edit"][data-itemid="integrated_edit_field60"][data-page="transactions_edit"][data-itemid="integrated_edit_field60"] {
  width: 150px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field61"][data-page="transactions_edit"][data-itemid="integrated_edit_field61"][data-page="transactions_edit"][data-itemid="integrated_edit_field61"][data-page="transactions_edit"][data-itemid="integrated_edit_field61"] {
  width: 150px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field62"][data-page="transactions_edit"][data-itemid="integrated_edit_field62"][data-page="transactions_edit"][data-itemid="integrated_edit_field62"][data-page="transactions_edit"][data-itemid="integrated_edit_field62"] {
  width: 150px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field70"][data-page="transactions_edit"][data-itemid="integrated_edit_field70"][data-page="transactions_edit"][data-itemid="integrated_edit_field70"][data-page="transactions_edit"][data-itemid="integrated_edit_field70"] {
  width: 250px;
  padding-top: 12px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field64"][data-page="transactions_edit"][data-itemid="integrated_edit_field64"][data-page="transactions_edit"][data-itemid="integrated_edit_field64"][data-page="transactions_edit"][data-itemid="integrated_edit_field64"] {
  width: 100px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field67"][data-page="transactions_edit"][data-itemid="integrated_edit_field67"][data-page="transactions_edit"][data-itemid="integrated_edit_field67"][data-page="transactions_edit"][data-itemid="integrated_edit_field67"] {
  width: 150px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field66"][data-page="transactions_edit"][data-itemid="integrated_edit_field66"][data-page="transactions_edit"][data-itemid="integrated_edit_field66"][data-page="transactions_edit"][data-itemid="integrated_edit_field66"] {
  width: 100px;
}
[data-page="transactions_edit"][data-itemid="text12"] {
  font-style: italic;
  text-decoration: underline;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field68"][data-page="transactions_edit"][data-itemid="integrated_edit_field68"][data-page="transactions_edit"][data-itemid="integrated_edit_field68"][data-page="transactions_edit"][data-itemid="integrated_edit_field68"] {
  width: 150px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field69"][data-page="transactions_edit"][data-itemid="integrated_edit_field69"][data-page="transactions_edit"][data-itemid="integrated_edit_field69"][data-page="transactions_edit"][data-itemid="integrated_edit_field69"] {
  width: 150px;
}
[data-page="transactions_edit"][data-itemid="text10"] {
  font-style: italic;
  text-decoration: underline;
}
[data-page="transactions_edit"][data-itemid="text11"] {
  font-style: italic;
  text-decoration: underline;
}
[data-page="transactions_edit"][data-itemid="text5"] {
  font-style: italic;
  text-decoration: underline;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field34"][data-page="transactions_edit"][data-itemid="integrated_edit_field34"][data-page="transactions_edit"][data-itemid="integrated_edit_field34"][data-page="transactions_edit"][data-itemid="integrated_edit_field34"] {
  width: 500px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field35"][data-page="transactions_edit"][data-itemid="integrated_edit_field35"][data-page="transactions_edit"][data-itemid="integrated_edit_field35"][data-page="transactions_edit"][data-itemid="integrated_edit_field35"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field36"][data-page="transactions_edit"][data-itemid="integrated_edit_field36"][data-page="transactions_edit"][data-itemid="integrated_edit_field36"][data-page="transactions_edit"][data-itemid="integrated_edit_field36"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field37"][data-page="transactions_edit"][data-itemid="integrated_edit_field37"][data-page="transactions_edit"][data-itemid="integrated_edit_field37"][data-page="transactions_edit"][data-itemid="integrated_edit_field37"] {
  width: 300px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field38"][data-page="transactions_edit"][data-itemid="integrated_edit_field38"][data-page="transactions_edit"][data-itemid="integrated_edit_field38"][data-page="transactions_edit"][data-itemid="integrated_edit_field38"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field40"][data-page="transactions_edit"][data-itemid="integrated_edit_field40"][data-page="transactions_edit"][data-itemid="integrated_edit_field40"][data-page="transactions_edit"][data-itemid="integrated_edit_field40"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field44"][data-page="transactions_edit"][data-itemid="integrated_edit_field44"][data-page="transactions_edit"][data-itemid="integrated_edit_field44"][data-page="transactions_edit"][data-itemid="integrated_edit_field44"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field45"][data-page="transactions_edit"][data-itemid="integrated_edit_field45"][data-page="transactions_edit"][data-itemid="integrated_edit_field45"][data-page="transactions_edit"][data-itemid="integrated_edit_field45"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field46"][data-page="transactions_edit"][data-itemid="integrated_edit_field46"][data-page="transactions_edit"][data-itemid="integrated_edit_field46"][data-page="transactions_edit"][data-itemid="integrated_edit_field46"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="check_result_text"] {
  text-decoration: underline;
  font-size: 18px;
  padding-left: 15px;
}
[data-page="transactions_edit"][data-itemid="cdd_measure"] {
  padding-top: 10px;
}
[data-page="transactions_edit"][data-itemid="gross_fee_label"] {
  font-weight: bold;
}
[data-page="transactions_edit"][data-itemid="land_unit"][data-page="transactions_edit"][data-itemid="land_unit"][data-page="transactions_edit"][data-itemid="land_unit"][data-page="transactions_edit"][data-itemid="land_unit"] {
  width: 100px;
}
[data-page="transactions_edit"][data-itemid="builtup_unit"][data-page="transactions_edit"][data-itemid="builtup_unit"][data-page="transactions_edit"][data-itemid="builtup_unit"][data-page="transactions_edit"][data-itemid="builtup_unit"] {
  width: 100px;
}
[data-page="transactions_edit"][data-itemid="no_bedrooms"][data-page="transactions_edit"][data-itemid="no_bedrooms"][data-page="transactions_edit"][data-itemid="no_bedrooms"][data-page="transactions_edit"][data-itemid="no_bedrooms"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="no_bathrooms"][data-page="transactions_edit"][data-itemid="no_bathrooms"][data-page="transactions_edit"][data-itemid="no_bathrooms"][data-page="transactions_edit"][data-itemid="no_bathrooms"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="rm_rental_rm_type"][data-page="transactions_edit"][data-itemid="rm_rental_rm_type"][data-page="transactions_edit"][data-itemid="rm_rental_rm_type"][data-page="transactions_edit"][data-itemid="rm_rental_rm_type"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="rm_builtup"][data-page="transactions_edit"][data-itemid="rm_builtup"][data-page="transactions_edit"][data-itemid="rm_builtup"][data-page="transactions_edit"][data-itemid="rm_builtup"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="rm_builtup_unit"][data-page="transactions_edit"][data-itemid="rm_builtup_unit"][data-page="transactions_edit"][data-itemid="rm_builtup_unit"][data-page="transactions_edit"][data-itemid="rm_builtup_unit"] {
  padding-top: 10px;
}
[data-page="transactions_edit"][data-itemid="agency"][data-page="transactions_edit"][data-itemid="agency"][data-page="transactions_edit"][data-itemid="agency"][data-page="transactions_edit"][data-itemid="agency"] {
  width: 320px;
}
[data-page="transactions_edit"][data-itemid="agency_cea"][data-page="transactions_edit"][data-itemid="agency_cea"][data-page="transactions_edit"][data-itemid="agency_cea"][data-page="transactions_edit"][data-itemid="agency_cea"] {
  width: 320px;
}
[data-page="transactions_edit"][data-itemid="text16"] {
  font-weight: bold;
  padding-left: 10px;
}
[data-page="transactions_edit"][data-itemid="text17"] {
  font-weight: bold;
  padding-left: 10px;
}
[data-page="transactions_edit"][data-itemid="text18"] {
  font-weight: bold;
  padding-left: 10px;
}
[data-page="transactions_edit"][data-itemid="net_mag_fee_label"] {
  font-weight: bold;
}
[data-page="transactions_edit"][data-itemid="comm_earned_salesperson_field"][data-page="transactions_edit"][data-itemid="comm_earned_salesperson_field"][data-page="transactions_edit"][data-itemid="comm_earned_salesperson_field"][data-page="transactions_edit"][data-itemid="comm_earned_salesperson_field"] {
  width: 150px;
}
[data-page="transactions_edit"][data-itemid="text13"] {
  font-weight: bold;
  padding-left: 10px;
}
[data-page="transactions_edit"][data-itemid="edit_field"][data-page="transactions_edit"][data-itemid="edit_field"][data-page="transactions_edit"][data-itemid="edit_field"][data-page="transactions_edit"][data-itemid="edit_field"] {
  width: 200px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field2"][data-page="transactions_edit"][data-itemid="integrated_edit_field2"][data-page="transactions_edit"][data-itemid="integrated_edit_field2"][data-page="transactions_edit"][data-itemid="integrated_edit_field2"] {
  padding-top: 12px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field33"][data-page="transactions_edit"][data-itemid="integrated_edit_field33"][data-page="transactions_edit"][data-itemid="integrated_edit_field33"][data-page="transactions_edit"][data-itemid="integrated_edit_field33"] {
  padding-top: 12px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field3"][data-page="transactions_edit"][data-itemid="integrated_edit_field3"][data-page="transactions_edit"][data-itemid="integrated_edit_field3"][data-page="transactions_edit"][data-itemid="integrated_edit_field3"] {
  padding-top: 12px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field4"][data-page="transactions_edit"][data-itemid="integrated_edit_field4"][data-page="transactions_edit"][data-itemid="integrated_edit_field4"][data-page="transactions_edit"][data-itemid="integrated_edit_field4"] {
  padding-top: 12px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field7"][data-page="transactions_edit"][data-itemid="integrated_edit_field7"][data-page="transactions_edit"][data-itemid="integrated_edit_field7"][data-page="transactions_edit"][data-itemid="integrated_edit_field7"] {
  padding-top: 12px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field8"][data-page="transactions_edit"][data-itemid="integrated_edit_field8"][data-page="transactions_edit"][data-itemid="integrated_edit_field8"][data-page="transactions_edit"][data-itemid="integrated_edit_field8"] {
  padding-top: 12px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field"][data-page="transactions_edit"][data-itemid="integrated_edit_field"][data-page="transactions_edit"][data-itemid="integrated_edit_field"][data-page="transactions_edit"][data-itemid="integrated_edit_field"] {
  width: 250px;
}
[data-page="transactions_edit"][data-itemid="integrated_edit_field1"][data-page="transactions_edit"][data-itemid="integrated_edit_field1"][data-page="transactions_edit"][data-itemid="integrated_edit_field1"][data-page="transactions_edit"][data-itemid="integrated_edit_field1"] {
  width: 250px;
}
[data-page="transactions_edit"][data-itemid="text19"] {
  padding-top: 12px;
}
[data-page="transactions_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-cellid="section6_c45"][data-page="transactions_edit"][data-cellid="section6_c45"][data-page="transactions_edit"][data-cellid="section6_c45"][data-page="transactions_edit"] {
 float:top !important;
}

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */

[data-cellid="section3_c3"][data-page="transactions_edit"][data-cellid="section3_c3"][data-page="transactions_edit"][data-cellid="section3_c3"][data-page="transactions_edit"] {
  padding-bottom:0 !important;
}

/* Put  your custom CSS code here */

[data-cellid="section1_c40"][data-page="transactions_edit"][data-cellid="section1_c40"][data-page="transactions_edit"][data-cellid="section1_c40"][data-page="transactions_edit"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="section1_c41"][data-page="transactions_edit"][data-cellid="section1_c41"][data-page="transactions_edit"][data-cellid="section1_c41"][data-page="transactions_edit"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="section1_c42"][data-page="transactions_edit"][data-cellid="section1_c42"][data-page="transactions_edit"][data-cellid="section1_c42"][data-page="transactions_edit"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="section2_c2"][data-page="transactions_edit"][data-cellid="section2_c2"][data-page="transactions_edit"][data-cellid="section2_c2"][data-page="transactions_edit"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-cellid="section2_c5"][data-page="transactions_edit"][data-cellid="section2_c5"][data-page="transactions_edit"][data-cellid="section2_c5"][data-page="transactions_edit"] {
  display:none;
}
/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="hamburger"] {
  display:none !important;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="integrated_edit_field124"] {
  margin-top:-10px;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="integrated_edit_field22"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="integrated_edit_field23"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="integrated_edit_field126"] {
  margin-top:-10px;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="integrated_edit_field51"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="integrated_edit_field60"] {
  pointer-events:none
}



/* Put  your custom CSS code here */





/* Put  your custom CSS code here */





/* Put  your custom CSS code here */





/* Put  your custom CSS code here */





/* Put  your custom CSS code here */




[data-page="transactions_edit"][data-itemid="integrated_edit_field70"]{
    pointer-events:none;
}


/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="integrated_edit_field178"] {
    display:none;
}


/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="integrated_edit_field64"] {
    display:none;
    pointer-events:none;
}
/* Put  your custom CSS code here */
/*
[data-page="transactions_edit"][data-itemid="integrated_edit_field67"] {
  display:none;
}
*/

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="integrated_edit_field66"] {
  display:none;
}


/* Put  your custom CSS code here */
/*
[data-page="transactions_edit"][data-itemid="integrated_edit_field68"] {
  display:none;
}
*/
/* Put  your custom CSS code here */
/*
[data-page="transactions_edit"][data-itemid="integrated_edit_field69"] {
  pointer-events:none;
}
*/
/* Put  your custom CSS code here */



/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="sls_cust"] {
  margin-top:-10px;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="pps_cust"] {
  margin-top:-10px;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="sls_result"] {
  margin-top:-8px;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="pps_result"] {
  margin-top:-8px;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="edit_field3"] {
    display:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="edit_field4"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="edit_field5"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="details_preview_cdd"] {
  margin-top:-20px !important;
  margin-bottom:-20px !important;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */
/*
[data-page="transactions_edit"][data-itemid="rm_builtup_unit"] {
    margin-top:-10px;
}
*/
/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="namelist_result"] {
  margin-top:-8px;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="edit_field_label15"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="edit_field_label16"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="comm_earned_salesperson_field"] {
  pointer-events:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="edit_field_label18"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="edit_field_label20"] {
  display:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_edit"][data-itemid="edit_field6"] {
  display:none;
}

/* Put  your custom CSS code here */

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

/* Put  your custom CSS code here */


