[data-cellid="grid_footcell_field"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field1"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field1"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field6"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field6"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field15"][data-page="transactions_lcsc_print"][data-cellid="grid_headcell_field15"][data-page="transactions_lcsc_print"][data-cellid="grid_headcell_field15"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field11"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field11"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field12"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field12"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field2"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field2"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field4"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field4"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field8"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field8"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field7"][data-page="transactions_lcsc_print"][data-cellid="grid_footcell_field7"][data-page="transactions_lcsc_print"] {
  white-space: nowrap;
}
[data-page="transactions_lcsc_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


