[data-page="transactions_chart_chart1"][data-itemid="chart"] {
  width: 100%;
  height: 530px;
}
[data-page="transactions_chart_chart1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="transactions_chart_chart1"][data-itemid="logo"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_chart_chart1"][data-itemid="menu"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_chart_chart1"][data-itemid="simple_search"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_chart_chart1"][data-itemid="list_options"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_chart_chart1"][data-itemid="username_button"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_chart_chart1"][data-itemid="loginform_login"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_chart_chart1"][data-itemid="expand_menu_button"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_chart_chart1"][data-itemid="collapse_button"] {
  display:none !important;
}

