[data-cellid="grid_footcell_field1"][data-page="transactions_list"][data-cellid="grid_footcell_field1"][data-page="transactions_list"][data-cellid="grid_footcell_field1"][data-page="transactions_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="transactions_list"][data-cellid="grid_footcell_field2"][data-page="transactions_list"][data-cellid="grid_footcell_field2"][data-page="transactions_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="transactions_list"][data-cellid="grid_footcell_field3"][data-page="transactions_list"][data-cellid="grid_footcell_field3"][data-page="transactions_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="transactions_list"][data-cellid="grid_footcell_field4"][data-page="transactions_list"][data-cellid="grid_footcell_field4"][data-page="transactions_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="transactions_list"][data-cellid="grid_footcell_field6"][data-page="transactions_list"][data-cellid="grid_footcell_field6"][data-page="transactions_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="transactions_list"][data-cellid="grid_headcell_checkbox"][data-page="transactions_list"][data-cellid="grid_headcell_checkbox"][data-page="transactions_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="transactions_list"][data-cellid="grid_headcell_icons"][data-page="transactions_list"][data-cellid="grid_headcell_icons"][data-page="transactions_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="transactions_list"][data-cellid="grid_cell_icons"][data-page="transactions_list"][data-cellid="grid_cell_icons"][data-page="transactions_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field12"][data-page="transactions_list"][data-cellid="grid_headcell_field12"][data-page="transactions_list"][data-cellid="grid_headcell_field12"][data-page="transactions_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="transactions_list"][data-cellid="grid_footcell_field"][data-page="transactions_list"][data-cellid="grid_footcell_field"][data-page="transactions_list"] {
  white-space: nowrap;
}
[data-page="transactions_list"][data-itemid="snippet1"] {
  padding-left: 30px;
}
[data-page="transactions_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="transactions_list"][data-itemid="grid_view"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_list"][data-itemid="submit_tx_for_approval_button"] {
  display:none !important;
}

/* Put  your custom CSS code here */


/* Put  your custom CSS code here */


