[data-page="transactions_chart1_chart"][data-itemid="chart"] {
  width: 100%;
  height: 400px;
}
[data-page="transactions_chart1_chart"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c1"][data-page="transactions_chart1_chart"][data-cellid="above-grid_c1"][data-page="transactions_chart1_chart"][data-cellid="above-grid_c1"][data-page="transactions_chart1_chart"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-cellid="supertop_c2"][data-page="transactions_chart1_chart"][data-cellid="supertop_c2"][data-page="transactions_chart1_chart"][data-cellid="supertop_c2"][data-page="transactions_chart1_chart"] {
  display:none !important;
}
/* Put  your custom CSS code here */

[data-page="transactions_chart1_chart"][data-itemid="chart"] {
  margin-top:-80px;
}

/* Put  your custom CSS code here */


