[data-page="transactions_jtc_lease_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c1"][data-page="transactions_jtc_lease_view"][data-cellid="above-grid_c1"][data-page="transactions_jtc_lease_view"][data-cellid="above-grid_c1"][data-page="transactions_jtc_lease_view"] {
  display:none !important;
}

/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */



/* Put  your custom CSS code here */


/* Put  your custom CSS code here */

[data-page="transactions_jtc_lease_view"][data-itemid="view_back_list"] {
 display:none;
}

/* Put  your custom CSS code here */

[data-page="transactions_jtc_lease_view"][data-itemid="hamburger"] {
  display:none !important;
}

/* Put  your custom CSS code here */

[data-page="transactions_jtc_lease_view"][data-itemid="custom_button1"] {
 display:none;
}

