<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel agents view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-vertical-field" 
	data-signal-error-for="id{$id}" {$required_attr_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >

	<label class="r-edit-label control-label {$id_label_class}" for="{$labelfor_id}">
		{BEGIN id_label}
			{$id_forward_control}
			{$label agents id }			{END id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$id_value}	</div>
	</div>


{END id_fieldblock}
											
{BEGIN contact_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_name}  r-vertical-field" 
	data-signal-error-for="contact_name{$id}" {$required_attr_contact_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="contact_name" data-fieldname="contact_name" >

	<label class="r-edit-label control-label {$contact_name_label_class}" for="{$labelfor_contact_name}">
		{BEGIN contact_name_label}
			{$contact_name_forward_control}
			{$label agents contact_name }			{END contact_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_name_value}	</div>
	</div>


{END contact_name_fieldblock}
											
{BEGIN full_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_full_name}  r-vertical-field" 
	data-signal-error-for="full_name{$id}" {$required_attr_full_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="full_name" data-fieldname="full_name" >

	<label class="r-edit-label control-label {$full_name_label_class}" for="{$labelfor_full_name}">
		{BEGIN full_name_label}
			{$full_name_forward_control}
			{$label agents full_name }			{END full_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$full_name_value}	</div>
	</div>


{END full_name_fieldblock}
											
{BEGIN cea_reg_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cea_reg}  r-vertical-field" 
	data-signal-error-for="cea_reg{$id}" {$required_attr_cea_reg}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="cea_reg" data-fieldname="cea_reg" >

	<label class="r-edit-label control-label {$cea_reg_label_class}" for="{$labelfor_cea_reg}">
		{BEGIN cea_reg_label}
			{$cea_reg_forward_control}
			{$label agents cea_reg }			{END cea_reg_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cea_reg_value}	</div>
	</div>


{END cea_reg_fieldblock}
											
{BEGIN nric_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nric}  r-vertical-field" 
	data-signal-error-for="nric{$id}" {$required_attr_nric}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="nric" data-fieldname="nric" >

	<label class="r-edit-label control-label {$nric_label_class}" for="{$labelfor_nric}">
		{BEGIN nric_label}
			{$nric_forward_control}
			{$label agents nric }			{END nric_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$nric_value}	</div>
	</div>


{END nric_fieldblock}
											
{BEGIN mobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mobile}  r-vertical-field" 
	data-signal-error-for="mobile{$id}" {$required_attr_mobile}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="mobile" data-fieldname="mobile" >

	<label class="r-edit-label control-label {$mobile_label_class}" for="{$labelfor_mobile}">
		{BEGIN mobile_label}
			{$mobile_forward_control}
			{$label agents mobile }			{END mobile_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$mobile_value}	</div>
	</div>


{END mobile_fieldblock}
											
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" 
	data-signal-error-for="email{$id}" {$required_attr_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >

	<label class="r-edit-label control-label {$email_label_class}" for="{$labelfor_email}">
		{BEGIN email_label}
			{$email_forward_control}
			{$label agents email }			{END email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$email_value}	</div>
	</div>


{END email_fieldblock}
											
{BEGIN yearin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_yearin}  r-vertical-field" 
	data-signal-error-for="yearin{$id}" {$required_attr_yearin}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="yearin" data-fieldname="yearin" >

	<label class="r-edit-label control-label {$yearin_label_class}" for="{$labelfor_yearin}">
		{BEGIN yearin_label}
			{$yearin_forward_control}
			{$label agents yearin }			{END yearin_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$yearin_value}	</div>
	</div>


{END yearin_fieldblock}
											
{BEGIN home_address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_home_address}  r-vertical-field" 
	data-signal-error-for="home_address{$id}" {$required_attr_home_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="home_address" data-fieldname="home_address" >

	<label class="r-edit-label control-label {$home_address_label_class}" for="{$labelfor_home_address}">
		{BEGIN home_address_label}
			{$home_address_forward_control}
			{$label agents home_address }			{END home_address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$home_address_value}	</div>
	</div>


{END home_address_fieldblock}
											
{BEGIN home_phone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_home_phone}  r-vertical-field" 
	data-signal-error-for="home_phone{$id}" {$required_attr_home_phone}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="home_phone" data-fieldname="home_phone" >

	<label class="r-edit-label control-label {$home_phone_label_class}" for="{$labelfor_home_phone}">
		{BEGIN home_phone_label}
			{$home_phone_forward_control}
			{$label agents home_phone }			{END home_phone_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$home_phone_value}	</div>
	</div>


{END home_phone_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN active_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_active}  r-vertical-field" 
	data-signal-error-for="active{$id}" {$required_attr_active}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="active" data-fieldname="active" >

	<label class="r-edit-label control-label {$active_label_class}" for="{$labelfor_active}">
		{BEGIN active_label}
			{$active_forward_control}
			{$label agents active }			{END active_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$active_value}	</div>
	</div>


{END active_fieldblock}
											
{BEGIN qualification1_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_qualification1}  r-vertical-field" 
	data-signal-error-for="qualification1{$id}" {$required_attr_qualification1}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="qualification1" data-fieldname="qualification1" >

	<label class="r-edit-label control-label {$qualification1_label_class}" for="{$labelfor_qualification1}">
		{BEGIN qualification1_label}
			{$qualification1_forward_control}
			{$label agents qualification1 }			{END qualification1_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$qualification1_value}	</div>
	</div>


{END qualification1_fieldblock}
											
{BEGIN qualification2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_qualification2}  r-vertical-field" 
	data-signal-error-for="qualification2{$id}" {$required_attr_qualification2}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="qualification2" data-fieldname="qualification2" >

	<label class="r-edit-label control-label {$qualification2_label_class}" for="{$labelfor_qualification2}">
		{BEGIN qualification2_label}
			{$qualification2_forward_control}
			{$label agents qualification2 }			{END qualification2_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$qualification2_value}	</div>
	</div>


{END qualification2_fieldblock}
											
{BEGIN qualification3_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_qualification3}  r-vertical-field" 
	data-signal-error-for="qualification3{$id}" {$required_attr_qualification3}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="qualification3" data-fieldname="qualification3" >

	<label class="r-edit-label control-label {$qualification3_label_class}" for="{$labelfor_qualification3}">
		{BEGIN qualification3_label}
			{$qualification3_forward_control}
			{$label agents qualification3 }			{END qualification3_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$qualification3_value}	</div>
	</div>


{END qualification3_fieldblock}
											
{BEGIN datejoined_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_datejoined}  r-vertical-field" 
	data-signal-error-for="datejoined{$id}" {$required_attr_datejoined}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="datejoined" data-fieldname="datejoined" >

	<label class="r-edit-label control-label {$datejoined_label_class}" for="{$labelfor_datejoined}">
		{BEGIN datejoined_label}
			{$datejoined_forward_control}
			{$label agents datejoined }			{END datejoined_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$datejoined_value}	</div>
	</div>


{END datejoined_fieldblock}
											
{BEGIN dateleft_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dateleft}  r-vertical-field" 
	data-signal-error-for="dateleft{$id}" {$required_attr_dateleft}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="dateleft" data-fieldname="dateleft" >

	<label class="r-edit-label control-label {$dateleft_label_class}" for="{$labelfor_dateleft}">
		{BEGIN dateleft_label}
			{$dateleft_forward_control}
			{$label agents dateleft }			{END dateleft_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$dateleft_value}	</div>
	</div>


{END dateleft_fieldblock}
											
{BEGIN user_photo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_user_photo}  r-vertical-field" 
	data-signal-error-for="user_photo{$id}" {$required_attr_user_photo}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="user_photo" data-fieldname="user_photo" >

	<label class="r-edit-label control-label {$user_photo_label_class}" for="{$labelfor_user_photo}">
		{BEGIN user_photo_label}
			{$user_photo_forward_control}
			{$label agents user_photo }			{END user_photo_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$user_photo_value}	</div>
	</div>


{END user_photo_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
																</tbody></table>
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section" {$item_section} data-pageid="{$pageid}" data-page="agents_view">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} 
			data-toggle="collapse"  

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Agency Info			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN agency_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_agency}  r-vertical-field" 
	data-signal-error-for="agency{$id}" {$required_attr_agency}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="agency" data-fieldname="agency" >

	<label class="r-edit-label control-label {$agency_label_class}" for="{$labelfor_agency}">
		{BEGIN agency_label}
			{$agency_forward_control}
			{$label agents agency }			{END agency_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$agency_value}	</div>
	</div>


{END agency_fieldblock}
											
{BEGIN agency_cea_reg_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_agency_cea_reg}  r-vertical-field" 
	data-signal-error-for="agency_cea_reg{$id}" {$required_attr_agency_cea_reg}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="agency_cea_reg" data-fieldname="agency_cea_reg" >

	<label class="r-edit-label control-label {$agency_cea_reg_label_class}" for="{$labelfor_agency_cea_reg}">
		{BEGIN agency_cea_reg_label}
			{$agency_cea_reg_forward_control}
			{$label agents agency_cea_reg }			{END agency_cea_reg_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$agency_cea_reg_value}	</div>
	</div>


{END agency_cea_reg_fieldblock}
											
{BEGIN agency_address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_agency_address}  r-vertical-field" 
	data-signal-error-for="agency_address{$id}" {$required_attr_agency_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="agency_address" data-fieldname="agency_address" >

	<label class="r-edit-label control-label {$agency_address_label_class}" for="{$labelfor_agency_address}">
		{BEGIN agency_address_label}
			{$agency_address_forward_control}
			{$label agents agency_address }			{END agency_address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$agency_address_value}	</div>
	</div>


{END agency_address_fieldblock}
											
{BEGIN agency_tel_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_agency_tel}  r-vertical-field" 
	data-signal-error-for="agency_tel{$id}" {$required_attr_agency_tel}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="agency_tel" data-fieldname="agency_tel" >

	<label class="r-edit-label control-label {$agency_tel_label_class}" for="{$labelfor_agency_tel}">
		{BEGIN agency_tel_label}
			{$agency_tel_forward_control}
			{$label agents agency_tel }			{END agency_tel_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$agency_tel_value}	</div>
	</div>


{END agency_tel_fieldblock}
											
{BEGIN agency_fax_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_agency_fax}  r-vertical-field" 
	data-signal-error-for="agency_fax{$id}" {$required_attr_agency_fax}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="agency_fax" data-fieldname="agency_fax" >

	<label class="r-edit-label control-label {$agency_fax_label_class}" for="{$labelfor_agency_fax}">
		{BEGIN agency_fax_label}
			{$agency_fax_forward_control}
			{$label agents agency_fax }			{END agency_fax_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$agency_fax_value}	</div>
	</div>


{END agency_fax_fieldblock}
	
								</td>
			{END cellblock_section_c1}
								</tr>
			</tbody></table>
{END section_block}
		  </div>
		</div>
	</div>
	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
