<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel awards_search view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN dateadded_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dateadded}  r-vertical-field" 
	data-signal-error-for="dateadded{$id}" {$required_attr_dateadded}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="dateadded" data-fieldname="dateadded" >

	<label class="r-edit-label control-label {$dateadded_label_class}" for="{$labelfor_dateadded}">
		{BEGIN dateadded_label}
			{$dateadded_forward_control}
			{$label awards_search dateadded }			{END dateadded_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$dateadded_value}	</div>
	</div>


{END dateadded_fieldblock}
											
{BEGIN name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-vertical-field" 
	data-signal-error-for="name{$id}" {$required_attr_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >

	<label class="r-edit-label control-label {$name_label_class}" for="{$labelfor_name}">
		{BEGIN name_label}
			{$name_forward_control}
			{$label awards_search name }			{END name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$name_value}	</div>
	</div>


{END name_fieldblock}
											
{BEGIN cea_reg_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cea_reg}  r-vertical-field" 
	data-signal-error-for="cea_reg{$id}" {$required_attr_cea_reg}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="cea_reg" data-fieldname="cea_reg" >

	<label class="r-edit-label control-label {$cea_reg_label_class}" for="{$labelfor_cea_reg}">
		{BEGIN cea_reg_label}
			{$cea_reg_forward_control}
			{$label awards_search cea_reg }			{END cea_reg_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cea_reg_value}	</div>
	</div>


{END cea_reg_fieldblock}
											
{BEGIN agency_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_agency}  r-vertical-field" 
	data-signal-error-for="agency{$id}" {$required_attr_agency}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="agency" data-fieldname="agency" >

	<label class="r-edit-label control-label {$agency_label_class}" for="{$labelfor_agency}">
		{BEGIN agency_label}
			{$agency_forward_control}
			{$label awards_search agency }			{END agency_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$agency_value}	</div>
	</div>


{END agency_fieldblock}
											
{BEGIN third_party_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_third_party}  r-vertical-field" 
	data-signal-error-for="third_party{$id}" {$required_attr_third_party}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="third_party" data-fieldname="third_party" >

	<label class="r-edit-label control-label {$third_party_label_class}" for="{$labelfor_third_party}">
		{BEGIN third_party_label}
			{$third_party_forward_control}
			{$label awards_search third_party }			{END third_party_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$third_party_value}	</div>
	</div>


{END third_party_fieldblock}
											
{BEGIN descriptions_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_descriptions}  r-vertical-field" 
	data-signal-error-for="descriptions{$id}" {$required_attr_descriptions}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="descriptions" data-fieldname="descriptions" >

	<label class="r-edit-label control-label {$descriptions_label_class}" for="{$labelfor_descriptions}">
		{BEGIN descriptions_label}
			{$descriptions_forward_control}
			{$label awards_search descriptions }			{END descriptions_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$descriptions_value}	</div>
	</div>


{END descriptions_fieldblock}
											
{BEGIN doc_upload_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_upload}  r-vertical-field" 
	data-signal-error-for="doc_upload{$id}" {$required_attr_doc_upload}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="doc_upload" data-fieldname="doc_upload" >

	<label class="r-edit-label control-label {$doc_upload_label_class}" for="{$labelfor_doc_upload}">
		{BEGIN doc_upload_label}
			{$doc_upload_forward_control}
			{$label awards_search doc_upload }			{END doc_upload_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$doc_upload_value}	</div>
	</div>


{END doc_upload_fieldblock}
											
{BEGIN award_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_award_type}  r-vertical-field" 
	data-signal-error-for="award_type{$id}" {$required_attr_award_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="award_type" data-fieldname="award_type" >

	<label class="r-edit-label control-label {$award_type_label_class}" for="{$labelfor_award_type}">
		{BEGIN award_type_label}
			{$award_type_forward_control}
			{$label awards_search award_type }			{END award_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$award_type_value}	</div>
	</div>


{END award_type_fieldblock}
											
{BEGIN eatuser_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_eatuser_id}  r-vertical-field" 
	data-signal-error-for="eatuser_id{$id}" {$required_attr_eatuser_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="eatuser_id" data-fieldname="eatuser_id" >

	<label class="r-edit-label control-label {$eatuser_id_label_class}" for="{$labelfor_eatuser_id}">
		{BEGIN eatuser_id_label}
			{$eatuser_id_forward_control}
			{$label awards_search eatuser_id }			{END eatuser_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$eatuser_id_value}	</div>
	</div>


{END eatuser_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		{BEGIN prev_button}
<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
{END prev_button}
	 
		{BEGIN next_button}
<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
{END next_button}
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
