<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>
	<body class="{$stylename} function-list"  >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				data-fixed 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav navbar-nav" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{BEGIN item_haschildren2} dropdown {END item_haschildren2} 
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h data-menu-top >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-bottom"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{BEGIN item_haschildren2} dropdown {END item_haschildren2}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{BEGIN item_haschildren3} dropdown {END item_haschildren3}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{BEGIN item_haschildren4} dropdown {END item_haschildren4}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{BEGIN item_haschildren5} dropdown {END item_haschildren5}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="{mlang_message RESET}">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="awards_search_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		{mlang_message ADVANCED_SEARCH}		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		{mlang_message SHOW_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		{mlang_message HIDE_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							{mlang_message LOGIN}			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$mlp_push}{$mlparam username var username}{$mltext %username%}{$mlp_pop}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		{mlang_message USERINFO}		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		{mlang_message LOG_OUT}		
		</a>
	</li>
{END logoutbutton}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		{mlang_message CHANGE_PASSWORD}		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}		</div>					</div>
			</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_left_0} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c1" data-pageid="{$pageid}">
 
<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}"	 >
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


																		{BEGIN searchCtrlBlock_third_party}


		<div class="form-group srchPanelRow {$filterRow_class_third_party}" {$filterRow_attrs_third_party}>
			<label>{$label awards_search third_party }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_third_party}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_third_party}</span>
						</div>
		{END searchCtrlBlock_third_party}
																{BEGIN searchCtrlBlock_eatuser_id}


		<div class="form-group srchPanelRow {$filterRow_class_eatuser_id}" {$filterRow_attrs_eatuser_id}>
			<label>{$label awards_search eatuser_id }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_eatuser_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_eatuser_id}</span>
						</div>
		{END searchCtrlBlock_eatuser_id}
																{BEGIN searchCtrlBlock_award_type}


		<div class="form-group srchPanelRow {$filterRow_class_award_type}" {$filterRow_attrs_award_type}>
			<label>{$label awards_search award_type }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_award_type}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_award_type}</span>
						</div>
		{END searchCtrlBlock_award_type}
																{BEGIN searchCtrlBlock_agency}


		<div class="form-group srchPanelRow {$filterRow_class_agency}" {$filterRow_attrs_agency}>
			<label>{$label awards_search agency }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_agency}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_agency}</span>
						</div>
		{END searchCtrlBlock_agency}
																{BEGIN searchCtrlBlock_descriptions}


		<div class="form-group srchPanelRow {$filterRow_class_descriptions}" {$filterRow_attrs_descriptions}>
			<label>{$label awards_search descriptions }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_descriptions}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_descriptions}</span>
						</div>
		{END searchCtrlBlock_descriptions}
																{BEGIN searchCtrlBlock_name}


		<div class="form-group srchPanelRow {$filterRow_class_name}" {$filterRow_attrs_name}>
			<label>{$label awards_search name }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_name}</span>
						</div>
		{END searchCtrlBlock_name}
																{BEGIN searchCtrlBlock_cea_reg}


		<div class="form-group srchPanelRow {$filterRow_class_cea_reg}" {$filterRow_attrs_cea_reg}>
			<label>{$label awards_search cea_reg }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_cea_reg}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_cea_reg}</span>
						</div>
		{END searchCtrlBlock_cea_reg}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>{mlang_message SEARCH}</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>{mlang_message RESET}</button>
	</div>
</div>
<!-- End Search panel content -->
</td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="{mlang_message WR_PRINT_FRIENDLY}" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			{mlang_message PPANEL_SCOPE}		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									{mlang_message PPANEL_ALL_PAGES}							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="awards_search_print.php?{$crosstable_attrs}">
				{mlang_message PPANEL_THIS_PAGE}			</label>
		</div>
	</div>
		
		 
	<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio" >
			{mlang_message PPANEL_SELECTED}			</label>
		</div>
	</div>
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					{mlang_message RECORDS_PP}							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							{mlang_message PPANEL_PRINT}			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					
{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<div data-vcolumns=1 class="r-fluid r-grid-vertical bs-grid-vertical" data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	{BEGIN grid_record}
	{BEGIN grid_vrecord}
	<div class="r-record-body {$rowclass}" {$rowattrs} {$rowstyle} data-record-id="{$recId}">
		<div class="panel panel-default" {$recordattrs}>
											{BEGIN grid_recordheader}
			<div class="panel-heading">
					
	
				<table data-width="2" class="header-table">
				 
										<tr>
						 
							<td 
	class="			"
	colspan="2"		 
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
 
{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="{mlang_message VIEW_RECORD}" class="btn-link   
	 glyphicon glyphicon-search" href="awards_search_view.php?{$editlink}" {$viewlink_attrs} title="{mlang_message VIEW}" >		
				
								</a>
</span>
{END view_link}
{END view_column}
</td>
											</tr>
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
													</table>

					</div>
		{END grid_recordheader}
									
			<div class="panel-body">					
					
	
				<table data-width="2" >
				 
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$dateadded_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN dateadded_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="dateadded" data-fieldname="dateadded" 

	
	
	>
	<span class="text-label">
		<span>{$label awards_search dateadded }</span>
			</span>
	</span>
{END dateadded_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$dateadded_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN dateadded_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="dateadded" data-fieldname="dateadded" data-default-width >
{$dateadded_value}
</span>
{END dateadded_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label1" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN name_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="name" data-fieldname="name" 

	
	
	>
	<span class="text-label">
		<span>{$label awards_search name }</span>
			</span>
	</span>
{END name_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="name" data-fieldname="name" data-default-width >
{$name_value}
</span>
{END name_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$cea_reg_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label2" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN cea_reg_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cea_reg" data-fieldname="cea_reg" 

	
	
	>
	<span class="text-label">
		<span>{$label awards_search cea_reg }</span>
			</span>
	</span>
{END cea_reg_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$cea_reg_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN cea_reg_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cea_reg" data-fieldname="cea_reg" data-default-width >
{$cea_reg_value}
</span>
{END cea_reg_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$agency_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label3" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN agency_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="agency" data-fieldname="agency" 

	
	
	>
	<span class="text-label">
		<span>{$label awards_search agency }</span>
			</span>
	</span>
{END agency_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$agency_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN agency_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="agency" data-fieldname="agency" data-default-width >
{$agency_value}
</span>
{END agency_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$third_party_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label5" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN third_party_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="third_party" data-fieldname="third_party" 

	
	
	>
	<span class="text-label">
		<span>{$label awards_search third_party }</span>
			</span>
	</span>
{END third_party_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$third_party_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN third_party_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="third_party" data-fieldname="third_party" data-default-width >
{$third_party_value}
</span>
{END third_party_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$descriptions_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label6" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN descriptions_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descriptions" data-fieldname="descriptions" 

	
	
	>
	<span class="text-label">
		<span>{$label awards_search descriptions }</span>
			</span>
	</span>
{END descriptions_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$descriptions_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN descriptions_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descriptions" data-fieldname="descriptions" data-default-width >
{$descriptions_value}
</span>
{END descriptions_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$doc_upload_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label7" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN doc_upload_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="doc_upload" data-fieldname="doc_upload" 

	
	
	>
	<span class="text-label">
		<span>{$label awards_search doc_upload }</span>
			</span>
	</span>
{END doc_upload_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$doc_upload_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN doc_upload_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="doc_upload" data-fieldname="doc_upload" data-default-width >
{$doc_upload_value}
</span>
{END doc_upload_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$award_type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label4" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN award_type_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label" {$item_grid_field_label} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="award_type" data-fieldname="award_type" 

	
	
	>
	<span class="text-label">
		<span>{$label awards_search award_type }</span>
			</span>
	</span>
{END award_type_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$award_type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN award_type_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="award_type" data-fieldname="award_type" data-default-width >
{$award_type_value}
</span>
{END award_type_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$eatuser_id_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label8" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN eatuser_id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label1" {$item_grid_field_label1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="eatuser_id" data-fieldname="eatuser_id" 

	
	
	>
	<span class="text-label">
		<span>{$label awards_search eatuser_id }</span>
			</span>
	</span>
{END eatuser_id_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$eatuser_id_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN eatuser_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="eatuser_id" data-fieldname="eatuser_id" data-default-width >
{$eatuser_id_value}
</span>
{END eatuser_id_fieldcolumn}</td>
											</tr>
									 
													</table>

				
			</div>				
									
		</div>
</div>
		

 
			{END grid_vrecord}
	{END grid_record}
{END grid_row}
</div>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




											
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
