<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="5"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel cdd_measures view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="5"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		
		data-v-width="5"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
			
	ocolspan="5"		data-cellId="grid_c1" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="5"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN cdd_measure_customer_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="cdd_measure_customer" data-fieldname="cdd_measure_customer" data-before-same-field>{BEGIN cdd_measure_customer_label}
		{$cdd_measure_customer_forward_control}
		{$label cdd_measures cdd_measure_customer }{END cdd_measure_customer_label}
	</label>
{END cdd_measure_customer_fieldblock}
											{BEGIN cdd_measure_customer_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="cdd_measure_customer" data-fieldname="cdd_measure_customer" >
		{$cdd_measure_customer_value}	</div>
{END cdd_measure_customer_fieldblock}
											{BEGIN customer_nric_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="customer_nric" data-fieldname="customer_nric" >
		{$customer_nric_value}	</div>
{END customer_nric_fieldblock}
											{BEGIN checked_by_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field40" {$item_integrated_edit_field40} data-pageid="{$pageid}" data-field="checked_by" data-fieldname="checked_by" data-before-same-field>{BEGIN checked_by_label}
		{$checked_by_forward_control}
		{$label cdd_measures checked_by }{END checked_by_label}
	</label>
{END checked_by_fieldblock}
											{BEGIN checked_by_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="checked_by" data-fieldname="checked_by" >
		{$checked_by_value}	</div>
{END checked_by_fieldblock}
											{BEGIN checked_date_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field42" {$item_integrated_edit_field42} data-pageid="{$pageid}" data-field="checked_date" data-fieldname="checked_date" data-before-same-field>{BEGIN checked_date_label}
		{$checked_date_forward_control}
		{$label cdd_measures checked_date }{END checked_date_label}
	</label>
{END checked_date_fieldblock}
											{BEGIN checked_date_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="checked_date" data-fieldname="checked_date" >
		{$checked_date_value}	</div>
{END checked_date_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	1</span>
	
								</td>
			{END cellblock_grid_c}
			 
																

{BEGIN cellblock_grid_c32}
<td
	{$cell_grid_c32}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="4"		data-cellId="grid_c32" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet" {$item_snippet} data-pageid="{$pageid}" >
{$event 192269}
</span>	
								</td>
			{END cellblock_grid_c32}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c34}
<td
	{$cell_grid_c34}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c34" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text1" {$item_text1} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	a)</span>
	
								</td>
			{END cellblock_grid_c34}
			 
																

{BEGIN cellblock_grid_c35}
<td
	{$cell_grid_c35}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c35" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet1" {$item_snippet1} data-pageid="{$pageid}" >
{$event 192218}
</span>											<span data-itemtype="snippet" data-itemid="snippet2" {$item_snippet2} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192254}
</span>											<span data-itemtype="snippet" data-itemid="snippet3" {$item_snippet3} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192479}
</span>											{BEGIN measure1_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="measure1" data-fieldname="measure1" >
		{$measure1_value}	</div>
{END measure1_fieldblock}
											<span data-itemtype="text" data-itemid="text31" {$item_text31} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark1_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark1" data-fieldname="remark1" >
		{$remark1_value}	</div>
{END remark1_fieldblock}
	
								</td>
			{END cellblock_grid_c35}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c33}
<td
	{$cell_grid_c33}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c33" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text2" {$item_text2} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	b)</span>
	
								</td>
			{END cellblock_grid_c33}
			 
																

{BEGIN cellblock_grid_c36}
<td
	{$cell_grid_c36}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c36" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet4" {$item_snippet4} data-pageid="{$pageid}" >
{$event 192382}
</span>											<span data-itemtype="snippet" data-itemid="snippet5" {$item_snippet5} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192260}
</span>											{BEGIN measure2_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="measure2" data-fieldname="measure2" >
		{$measure2_value}	</div>
{END measure2_fieldblock}
											<span data-itemtype="text" data-itemid="text30" {$item_text30} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark2_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark2" data-fieldname="remark2" >
		{$remark2_value}	</div>
{END remark2_fieldblock}
	
								</td>
			{END cellblock_grid_c36}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c38}
<td
	{$cell_grid_c38}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c38" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text3" {$item_text3} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	2</span>
	
								</td>
			{END cellblock_grid_c38}
			 
																

{BEGIN cellblock_grid_c39}
<td
	{$cell_grid_c39}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="4"		data-cellId="grid_c39" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet6" {$item_snippet6} data-pageid="{$pageid}" >
{$event 192450}
</span>	
								</td>
			{END cellblock_grid_c39}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c37}
<td
	{$cell_grid_c37}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c37" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text4" {$item_text4} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	a)</span>
	
								</td>
			{END cellblock_grid_c37}
			 
																

{BEGIN cellblock_grid_c40}
<td
	{$cell_grid_c40}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c40" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet7" {$item_snippet7} data-pageid="{$pageid}" >
{$event 192213}
</span>											<span data-itemtype="snippet" data-itemid="snippet8" {$item_snippet8} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192419}
</span>											<span data-itemtype="snippet" data-itemid="snippet9" {$item_snippet9} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192541}
</span>											{BEGIN measure3_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="measure3" data-fieldname="measure3" >
		{$measure3_value}	</div>
{END measure3_fieldblock}
											<span data-itemtype="text" data-itemid="text29" {$item_text29} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark3_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark3" data-fieldname="remark3" >
		{$remark3_value}	</div>
{END remark3_fieldblock}
	
								</td>
			{END cellblock_grid_c40}
								</tr>
	 
	 
														<tr {$row_grid_6} >
										

{BEGIN cellblock_grid_c43}
<td
	{$cell_grid_c43}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c43" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text5" {$item_text5} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	b)</span>
	
								</td>
			{END cellblock_grid_c43}
			 
																

{BEGIN cellblock_grid_c42}
<td
	{$cell_grid_c42}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c42" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet10" {$item_snippet10} data-pageid="{$pageid}" >
{$event 192251}
</span>											<span data-itemtype="snippet" data-itemid="snippet11" {$item_snippet11} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192483}
</span>											{BEGIN measure4_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="measure4" data-fieldname="measure4" >
		{$measure4_value}	</div>
{END measure4_fieldblock}
											<span data-itemtype="text" data-itemid="text28" {$item_text28} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark4_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark4" data-fieldname="remark4" >
		{$remark4_value}	</div>
{END remark4_fieldblock}
	
								</td>
			{END cellblock_grid_c42}
								</tr>
	 
	 
														<tr {$row_grid_7} >
										

{BEGIN cellblock_grid_c44}
<td
	{$cell_grid_c44}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c44" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text6" {$item_text6} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	3</span>
	
								</td>
			{END cellblock_grid_c44}
			 
																

{BEGIN cellblock_grid_c41}
<td
	{$cell_grid_c41}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="4"		data-cellId="grid_c41" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet12" {$item_snippet12} data-pageid="{$pageid}" >
{$event 192535}
</span>	
								</td>
			{END cellblock_grid_c41}
								</tr>
	 
	 
														<tr {$row_grid_8} >
										

{BEGIN cellblock_grid_c46}
<td
	{$cell_grid_c46}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c46" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text7" {$item_text7} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	a)</span>
	
								</td>
			{END cellblock_grid_c46}
			 
																

{BEGIN cellblock_grid_c47}
<td
	{$cell_grid_c47}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c47" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet13" {$item_snippet13} data-pageid="{$pageid}" >
{$event 192261}
</span>											{BEGIN measure5_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="measure5" data-fieldname="measure5" >
		{$measure5_value}	</div>
{END measure5_fieldblock}
											<span data-itemtype="text" data-itemid="text27" {$item_text27} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark5_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark5" data-fieldname="remark5" >
		{$remark5_value}	</div>
{END remark5_fieldblock}
	
								</td>
			{END cellblock_grid_c47}
								</tr>
	 
	 
														<tr {$row_grid_9} >
										

{BEGIN cellblock_grid_c45}
<td
	{$cell_grid_c45}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c45" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text8" {$item_text8} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	b)</span>
	
								</td>
			{END cellblock_grid_c45}
			 
																

{BEGIN cellblock_grid_c48}
<td
	{$cell_grid_c48}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c48" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet14" {$item_snippet14} data-pageid="{$pageid}" >
{$event 192255}
</span>											<span data-itemtype="snippet" data-itemid="snippet15" {$item_snippet15} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192480}
</span>											{BEGIN measure6_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="measure6" data-fieldname="measure6" >
		{$measure6_value}	</div>
{END measure6_fieldblock}
											<span data-itemtype="text" data-itemid="text26" {$item_text26} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark6_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark6" data-fieldname="remark6" >
		{$remark6_value}	</div>
{END remark6_fieldblock}
	
								</td>
			{END cellblock_grid_c48}
								</tr>
	 
	 
														<tr {$row_grid_10} >
										

{BEGIN cellblock_grid_c51}
<td
	{$cell_grid_c51}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c51" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text9" {$item_text9} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	4</span>
	
								</td>
			{END cellblock_grid_c51}
			 
																

{BEGIN cellblock_grid_c50}
<td
	{$cell_grid_c50}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="4"		data-cellId="grid_c50" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet16" {$item_snippet16} data-pageid="{$pageid}" >
{$event 192289}
</span>	
								</td>
			{END cellblock_grid_c50}
								</tr>
	 
	 
														<tr {$row_grid_11} >
										

{BEGIN cellblock_grid_c52}
<td
	{$cell_grid_c52}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c52" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text10" {$item_text10} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	a)</span>
	
								</td>
			{END cellblock_grid_c52}
			 
																

{BEGIN cellblock_grid_c49}
<td
	{$cell_grid_c49}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c49" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet17" {$item_snippet17} data-pageid="{$pageid}" >
{$event 192210}
</span>											<span data-itemtype="snippet" data-itemid="snippet18" {$item_snippet18} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192411}
</span>											<span data-itemtype="snippet" data-itemid="snippet19" {$item_snippet19} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192542}
</span>											{BEGIN measure7_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="measure7" data-fieldname="measure7" >
		{$measure7_value}	</div>
{END measure7_fieldblock}
											<span data-itemtype="text" data-itemid="text25" {$item_text25} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark7_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark7" data-fieldname="remark7" >
		{$remark7_value}	</div>
{END remark7_fieldblock}
	
								</td>
			{END cellblock_grid_c49}
								</tr>
	 
	 
														<tr {$row_grid_12} >
										

{BEGIN cellblock_grid_c54}
<td
	{$cell_grid_c54}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c54" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text11" {$item_text11} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	b)</span>
	
								</td>
			{END cellblock_grid_c54}
			 
																

{BEGIN cellblock_grid_c55}
<td
	{$cell_grid_c55}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c55" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet20" {$item_snippet20} data-pageid="{$pageid}" >
{$event 192242}
</span>											<span data-itemtype="snippet" data-itemid="snippet21" {$item_snippet21} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192473}
</span>											<span data-itemtype="snippet" data-itemid="snippet22" {$item_snippet22} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192513}
</span>											{BEGIN measure8_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="measure8" data-fieldname="measure8" >
		{$measure8_value}	</div>
{END measure8_fieldblock}
											<span data-itemtype="text" data-itemid="text24" {$item_text24} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark8_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark8" data-fieldname="remark8" >
		{$remark8_value}	</div>
{END remark8_fieldblock}
	
								</td>
			{END cellblock_grid_c55}
								</tr>
	 
	 
														<tr {$row_grid_13} >
										

{BEGIN cellblock_grid_c53}
<td
	{$cell_grid_c53}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c53" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text12" {$item_text12} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	5</span>
	
								</td>
			{END cellblock_grid_c53}
			 
																

{BEGIN cellblock_grid_c56}
<td
	{$cell_grid_c56}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="4"		data-cellId="grid_c56" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet23" {$item_snippet23} data-pageid="{$pageid}" >
{$event 192274}
</span>	
								</td>
			{END cellblock_grid_c56}
								</tr>
	 
	 
														<tr {$row_grid_14} >
										

{BEGIN cellblock_grid_c59}
<td
	{$cell_grid_c59}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c59" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text13" {$item_text13} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	a)</span>
	
								</td>
			{END cellblock_grid_c59}
			 
																

{BEGIN cellblock_grid_c58}
<td
	{$cell_grid_c58}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c58" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet24" {$item_snippet24} data-pageid="{$pageid}" >
{$event 192209}
</span>											<span data-itemtype="snippet" data-itemid="snippet25" {$item_snippet25} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192414}
</span>											{BEGIN measure9_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="measure9" data-fieldname="measure9" >
		{$measure9_value}	</div>
{END measure9_fieldblock}
											<span data-itemtype="text" data-itemid="text23" {$item_text23} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark9_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark9" data-fieldname="remark9" >
		{$remark9_value}	</div>
{END remark9_fieldblock}
	
								</td>
			{END cellblock_grid_c58}
								</tr>
	 
	 
														<tr {$row_grid_15} >
										

{BEGIN cellblock_grid_c60}
<td
	{$cell_grid_c60}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c60" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text14" {$item_text14} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	b)</span>
	
								</td>
			{END cellblock_grid_c60}
			 
																

{BEGIN cellblock_grid_c57}
<td
	{$cell_grid_c57}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c57" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet26" {$item_snippet26} data-pageid="{$pageid}" >
{$event 192244}
</span>											<span data-itemtype="snippet" data-itemid="snippet27" {$item_snippet27} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192467}
</span>											{BEGIN measure10_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="measure10" data-fieldname="measure10" >
		{$measure10_value}	</div>
{END measure10_fieldblock}
											<span data-itemtype="text" data-itemid="text22" {$item_text22} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark10_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark10" data-fieldname="remark10" >
		{$remark10_value}	</div>
{END remark10_fieldblock}
	
								</td>
			{END cellblock_grid_c57}
								</tr>
	 
	 
														<tr {$row_grid_16} >
										

{BEGIN cellblock_grid_c62}
<td
	{$cell_grid_c62}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c62" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text15" {$item_text15} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	c)</span>
	
								</td>
			{END cellblock_grid_c62}
			 
																

{BEGIN cellblock_grid_c63}
<td
	{$cell_grid_c63}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c63" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet28" {$item_snippet28} data-pageid="{$pageid}" >
{$event 192275}
</span>											<span data-itemtype="snippet" data-itemid="snippet29" {$item_snippet29} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192434}
</span>											<span data-itemtype="snippet" data-itemid="snippet30" {$item_snippet30} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192525}
</span>											<span data-itemtype="snippet" data-itemid="snippet31" {$item_snippet31} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192300}
</span>											{BEGIN measure11_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="measure11" data-fieldname="measure11" >
		{$measure11_value}	</div>
{END measure11_fieldblock}
											<span data-itemtype="text" data-itemid="text21" {$item_text21} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark11_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark11" data-fieldname="remark11" >
		{$remark11_value}	</div>
{END remark11_fieldblock}
	
								</td>
			{END cellblock_grid_c63}
								</tr>
	 
	 
														<tr {$row_grid_17} >
										

{BEGIN cellblock_grid_c61}
<td
	{$cell_grid_c61}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c61" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text16" {$item_text16} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	6</span>
	
								</td>
			{END cellblock_grid_c61}
			 
																

{BEGIN cellblock_grid_c64}
<td
	{$cell_grid_c64}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="4"		data-cellId="grid_c64" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet32" {$item_snippet32} data-pageid="{$pageid}" >
{$event 192451}
</span>	
								</td>
			{END cellblock_grid_c64}
								</tr>
	 
	 
														<tr {$row_grid_18} >
										

{BEGIN cellblock_grid_c67}
<td
	{$cell_grid_c67}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c67" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text17" {$item_text17} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	a)</span>
	
								</td>
			{END cellblock_grid_c67}
			 
																

{BEGIN cellblock_grid_c66}
<td
	{$cell_grid_c66}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c66" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet33" {$item_snippet33} data-pageid="{$pageid}" >
{$event 192206}
</span>											<span data-itemtype="snippet" data-itemid="snippet34" {$item_snippet34} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192407}
</span>											{BEGIN measure12_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="measure12" data-fieldname="measure12" >
		{$measure12_value}	</div>
{END measure12_fieldblock}
											<span data-itemtype="text" data-itemid="text19" {$item_text19} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark12_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark12" data-fieldname="remark12" >
		{$remark12_value}	</div>
{END remark12_fieldblock}
	
								</td>
			{END cellblock_grid_c66}
								</tr>
	 
	 
														<tr {$row_grid_19} >
										

{BEGIN cellblock_grid_c68}
<td
	{$cell_grid_c68}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c68" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text18" {$item_text18} data-pageid="{$pageid}" data-page="cdd_measures_view" > 
	b)</span>
	
								</td>
			{END cellblock_grid_c68}
			 
																

{BEGIN cellblock_grid_c65}
<td
	{$cell_grid_c65}
	class=" r-ori-vert"
	
			
	ocolspan="4"		data-cellId="grid_c65" data-pageid="{$pageid}" data-page="cdd_measures_view"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet35" {$item_snippet35} data-pageid="{$pageid}" >
{$event 192249}
</span>											<span data-itemtype="snippet" data-itemid="snippet36" {$item_snippet36} data-pageid="{$pageid}" data-page="cdd_measures_view" >
{$event 192474}
</span>											{BEGIN measure13_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="measure13" data-fieldname="measure13" >
		{$measure13_value}	</div>
{END measure13_fieldblock}
											<span data-itemtype="text" data-itemid="text20" {$item_text20} data-pageid="{$pageid}" > 
	Remark</span>
											{BEGIN remark13_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-page="cdd_measures_view" data-field="remark13" data-fieldname="remark13" >
		{$remark13_value}	</div>
{END remark13_fieldblock}
	
								</td>
			{END cellblock_grid_c65}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_grid_c69}
<td
	{$cell_grid_c69}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c69" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c69}
			 
		
							

{BEGIN cellblock_grid_c70}
<td
	{$cell_grid_c70}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c70" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c70}
			 
		
							

{BEGIN cellblock_grid_c72}
<td
	{$cell_grid_c72}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c72" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c72}
			 
		
							

{BEGIN cellblock_grid_c71}
<td
	{$cell_grid_c71}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c71" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c71}
			 
		
							

{BEGIN cellblock_grid_c73}
<td
	{$cell_grid_c73}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c73" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c73}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="5"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
					<span class=""></span>
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="cdd_measures_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
