<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel cdd_measures_admin search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label cdd_measures_admin id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN id_cddmeasures_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cddmeasures}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_cddmeasures{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_cddmeasures" data-fieldname="id_cddmeasures" >


	<label class="r-search-label control-label" for="{$labelfor_id_cddmeasures}">
		{$label cdd_measures_admin id_cddmeasures }	</label>
	<div class="r-search-option">
		{$searchtype_id_cddmeasures}
	</div>
	<div class="r-search-field">
		{$id_cddmeasures_editcontrol}	</div>
	<div class="r-search-field">
		{$id_cddmeasures_editcontrol1}
	</div>
	
</div>

{END id_cddmeasures_fieldblock}
											
{BEGIN measure_result_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure_result}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure_result{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="measure_result" data-fieldname="measure_result" >


	<label class="r-search-label control-label" for="{$labelfor_measure_result}">
		{$label cdd_measures_admin measure_result }	</label>
	<div class="r-search-option">
		{$searchtype_measure_result}
	</div>
	<div class="r-search-field">
		{$measure_result_editcontrol}	</div>
	<div class="r-search-field">
		{$measure_result_editcontrol1}
	</div>
	
</div>

{END measure_result_fieldblock}
											
{BEGIN measure10_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure10}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure10{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="measure10" data-fieldname="measure10" >


	<label class="r-search-label control-label" for="{$labelfor_measure10}">
		{$label cdd_measures_admin measure10 }	</label>
	<div class="r-search-option">
		{$searchtype_measure10}
	</div>
	<div class="r-search-field">
		{$measure10_editcontrol}	</div>
	<div class="r-search-field">
		{$measure10_editcontrol1}
	</div>
	
</div>

{END measure10_fieldblock}
											
{BEGIN measure11_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure11}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure11{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="measure11" data-fieldname="measure11" >


	<label class="r-search-label control-label" for="{$labelfor_measure11}">
		{$label cdd_measures_admin measure11 }	</label>
	<div class="r-search-option">
		{$searchtype_measure11}
	</div>
	<div class="r-search-field">
		{$measure11_editcontrol}	</div>
	<div class="r-search-field">
		{$measure11_editcontrol1}
	</div>
	
</div>

{END measure11_fieldblock}
											
{BEGIN measure12_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure12}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure12{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="measure12" data-fieldname="measure12" >


	<label class="r-search-label control-label" for="{$labelfor_measure12}">
		{$label cdd_measures_admin measure12 }	</label>
	<div class="r-search-option">
		{$searchtype_measure12}
	</div>
	<div class="r-search-field">
		{$measure12_editcontrol}	</div>
	<div class="r-search-field">
		{$measure12_editcontrol1}
	</div>
	
</div>

{END measure12_fieldblock}
											
{BEGIN measure13_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure13}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure13{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="measure13" data-fieldname="measure13" >


	<label class="r-search-label control-label" for="{$labelfor_measure13}">
		{$label cdd_measures_admin measure13 }	</label>
	<div class="r-search-option">
		{$searchtype_measure13}
	</div>
	<div class="r-search-field">
		{$measure13_editcontrol}	</div>
	<div class="r-search-field">
		{$measure13_editcontrol1}
	</div>
	
</div>

{END measure13_fieldblock}
											
{BEGIN remark10_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark10}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark10{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="remark10" data-fieldname="remark10" >


	<label class="r-search-label control-label" for="{$labelfor_remark10}">
		{$label cdd_measures_admin remark10 }	</label>
	<div class="r-search-option">
		{$searchtype_remark10}
	</div>
	<div class="r-search-field">
		{$remark10_editcontrol}	</div>
	<div class="r-search-field">
		{$remark10_editcontrol1}
	</div>
	
</div>

{END remark10_fieldblock}
											
{BEGIN remark11_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark11}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark11{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="remark11" data-fieldname="remark11" >


	<label class="r-search-label control-label" for="{$labelfor_remark11}">
		{$label cdd_measures_admin remark11 }	</label>
	<div class="r-search-option">
		{$searchtype_remark11}
	</div>
	<div class="r-search-field">
		{$remark11_editcontrol}	</div>
	<div class="r-search-field">
		{$remark11_editcontrol1}
	</div>
	
</div>

{END remark11_fieldblock}
											
{BEGIN remark12_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark12}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark12{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="remark12" data-fieldname="remark12" >


	<label class="r-search-label control-label" for="{$labelfor_remark12}">
		{$label cdd_measures_admin remark12 }	</label>
	<div class="r-search-option">
		{$searchtype_remark12}
	</div>
	<div class="r-search-field">
		{$remark12_editcontrol}	</div>
	<div class="r-search-field">
		{$remark12_editcontrol1}
	</div>
	
</div>

{END remark12_fieldblock}
											
{BEGIN remark13_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark13}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark13{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="remark13" data-fieldname="remark13" >


	<label class="r-search-label control-label" for="{$labelfor_remark13}">
		{$label cdd_measures_admin remark13 }	</label>
	<div class="r-search-option">
		{$searchtype_remark13}
	</div>
	<div class="r-search-field">
		{$remark13_editcontrol}	</div>
	<div class="r-search-field">
		{$remark13_editcontrol1}
	</div>
	
</div>

{END remark13_fieldblock}
											
{BEGIN cdd_measure_customer_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cdd_measure_customer}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cdd_measure_customer{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="cdd_measure_customer" data-fieldname="cdd_measure_customer" >


	<label class="r-search-label control-label" for="{$labelfor_cdd_measure_customer}">
		{$label cdd_measures_admin cdd_measure_customer }	</label>
	<div class="r-search-option">
		{$searchtype_cdd_measure_customer}
	</div>
	<div class="r-search-field">
		{$cdd_measure_customer_editcontrol}	</div>
	<div class="r-search-field">
		{$cdd_measure_customer_editcontrol1}
	</div>
	
</div>

{END cdd_measure_customer_fieldblock}
											
{BEGIN checked_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_checked_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="checked_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="checked_by" data-fieldname="checked_by" >


	<label class="r-search-label control-label" for="{$labelfor_checked_by}">
		{$label cdd_measures_admin checked_by }	</label>
	<div class="r-search-option">
		{$searchtype_checked_by}
	</div>
	<div class="r-search-field">
		{$checked_by_editcontrol}	</div>
	<div class="r-search-field">
		{$checked_by_editcontrol1}
	</div>
	
</div>

{END checked_by_fieldblock}
											
{BEGIN checked_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_checked_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="checked_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="checked_date" data-fieldname="checked_date" >


	<label class="r-search-label control-label" for="{$labelfor_checked_date}">
		{$label cdd_measures_admin checked_date }	</label>
	<div class="r-search-option">
		{$searchtype_checked_date}
	</div>
	<div class="r-search-field">
		{$checked_date_editcontrol}	</div>
	<div class="r-search-field">
		{$checked_date_editcontrol1}
	</div>
	
</div>

{END checked_date_fieldblock}
											
{BEGIN representing_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_representing}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="representing{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="representing" data-fieldname="representing" >


	<label class="r-search-label control-label" for="{$labelfor_representing}">
		{$label cdd_measures_admin representing }	</label>
	<div class="r-search-option">
		{$searchtype_representing}
	</div>
	<div class="r-search-field">
		{$representing_editcontrol}	</div>
	<div class="r-search-field">
		{$representing_editcontrol1}
	</div>
	
</div>

{END representing_fieldblock}
											
{BEGIN customer_nric_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_customer_nric}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="customer_nric{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="customer_nric" data-fieldname="customer_nric" >


	<label class="r-search-label control-label" for="{$labelfor_customer_nric}">
		{$label cdd_measures_admin customer_nric }	</label>
	<div class="r-search-option">
		{$searchtype_customer_nric}
	</div>
	<div class="r-search-field">
		{$customer_nric_editcontrol}	</div>
	<div class="r-search-field">
		{$customer_nric_editcontrol1}
	</div>
	
</div>

{END customer_nric_fieldblock}
											
{BEGIN measure1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="measure1" data-fieldname="measure1" >


	<label class="r-search-label control-label" for="{$labelfor_measure1}">
		{$label cdd_measures_admin measure1 }	</label>
	<div class="r-search-option">
		{$searchtype_measure1}
	</div>
	<div class="r-search-field">
		{$measure1_editcontrol}	</div>
	<div class="r-search-field">
		{$measure1_editcontrol1}
	</div>
	
</div>

{END measure1_fieldblock}
											
{BEGIN remark1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="remark1" data-fieldname="remark1" >


	<label class="r-search-label control-label" for="{$labelfor_remark1}">
		{$label cdd_measures_admin remark1 }	</label>
	<div class="r-search-option">
		{$searchtype_remark1}
	</div>
	<div class="r-search-field">
		{$remark1_editcontrol}	</div>
	<div class="r-search-field">
		{$remark1_editcontrol1}
	</div>
	
</div>

{END remark1_fieldblock}
											
{BEGIN measure2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="measure2" data-fieldname="measure2" >


	<label class="r-search-label control-label" for="{$labelfor_measure2}">
		{$label cdd_measures_admin measure2 }	</label>
	<div class="r-search-option">
		{$searchtype_measure2}
	</div>
	<div class="r-search-field">
		{$measure2_editcontrol}	</div>
	<div class="r-search-field">
		{$measure2_editcontrol1}
	</div>
	
</div>

{END measure2_fieldblock}
											
{BEGIN remark2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="remark2" data-fieldname="remark2" >


	<label class="r-search-label control-label" for="{$labelfor_remark2}">
		{$label cdd_measures_admin remark2 }	</label>
	<div class="r-search-option">
		{$searchtype_remark2}
	</div>
	<div class="r-search-field">
		{$remark2_editcontrol}	</div>
	<div class="r-search-field">
		{$remark2_editcontrol1}
	</div>
	
</div>

{END remark2_fieldblock}
											
{BEGIN measure3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="measure3" data-fieldname="measure3" >


	<label class="r-search-label control-label" for="{$labelfor_measure3}">
		{$label cdd_measures_admin measure3 }	</label>
	<div class="r-search-option">
		{$searchtype_measure3}
	</div>
	<div class="r-search-field">
		{$measure3_editcontrol}	</div>
	<div class="r-search-field">
		{$measure3_editcontrol1}
	</div>
	
</div>

{END measure3_fieldblock}
											
{BEGIN remark3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="remark3" data-fieldname="remark3" >


	<label class="r-search-label control-label" for="{$labelfor_remark3}">
		{$label cdd_measures_admin remark3 }	</label>
	<div class="r-search-option">
		{$searchtype_remark3}
	</div>
	<div class="r-search-field">
		{$remark3_editcontrol}	</div>
	<div class="r-search-field">
		{$remark3_editcontrol1}
	</div>
	
</div>

{END remark3_fieldblock}
											
{BEGIN measure4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="measure4" data-fieldname="measure4" >


	<label class="r-search-label control-label" for="{$labelfor_measure4}">
		{$label cdd_measures_admin measure4 }	</label>
	<div class="r-search-option">
		{$searchtype_measure4}
	</div>
	<div class="r-search-field">
		{$measure4_editcontrol}	</div>
	<div class="r-search-field">
		{$measure4_editcontrol1}
	</div>
	
</div>

{END measure4_fieldblock}
											
{BEGIN remark4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="remark4" data-fieldname="remark4" >


	<label class="r-search-label control-label" for="{$labelfor_remark4}">
		{$label cdd_measures_admin remark4 }	</label>
	<div class="r-search-option">
		{$searchtype_remark4}
	</div>
	<div class="r-search-field">
		{$remark4_editcontrol}	</div>
	<div class="r-search-field">
		{$remark4_editcontrol1}
	</div>
	
</div>

{END remark4_fieldblock}
											
{BEGIN measure5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure5}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="measure5" data-fieldname="measure5" >


	<label class="r-search-label control-label" for="{$labelfor_measure5}">
		{$label cdd_measures_admin measure5 }	</label>
	<div class="r-search-option">
		{$searchtype_measure5}
	</div>
	<div class="r-search-field">
		{$measure5_editcontrol}	</div>
	<div class="r-search-field">
		{$measure5_editcontrol1}
	</div>
	
</div>

{END measure5_fieldblock}
											
{BEGIN remark5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark5}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="remark5" data-fieldname="remark5" >


	<label class="r-search-label control-label" for="{$labelfor_remark5}">
		{$label cdd_measures_admin remark5 }	</label>
	<div class="r-search-option">
		{$searchtype_remark5}
	</div>
	<div class="r-search-field">
		{$remark5_editcontrol}	</div>
	<div class="r-search-field">
		{$remark5_editcontrol1}
	</div>
	
</div>

{END remark5_fieldblock}
											
{BEGIN measure6_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure6}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure6{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="measure6" data-fieldname="measure6" >


	<label class="r-search-label control-label" for="{$labelfor_measure6}">
		{$label cdd_measures_admin measure6 }	</label>
	<div class="r-search-option">
		{$searchtype_measure6}
	</div>
	<div class="r-search-field">
		{$measure6_editcontrol}	</div>
	<div class="r-search-field">
		{$measure6_editcontrol1}
	</div>
	
</div>

{END measure6_fieldblock}
											
{BEGIN remark6_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark6}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark6{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="remark6" data-fieldname="remark6" >


	<label class="r-search-label control-label" for="{$labelfor_remark6}">
		{$label cdd_measures_admin remark6 }	</label>
	<div class="r-search-option">
		{$searchtype_remark6}
	</div>
	<div class="r-search-field">
		{$remark6_editcontrol}	</div>
	<div class="r-search-field">
		{$remark6_editcontrol1}
	</div>
	
</div>

{END remark6_fieldblock}
											
{BEGIN measure7_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure7}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure7{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="measure7" data-fieldname="measure7" >


	<label class="r-search-label control-label" for="{$labelfor_measure7}">
		{$label cdd_measures_admin measure7 }	</label>
	<div class="r-search-option">
		{$searchtype_measure7}
	</div>
	<div class="r-search-field">
		{$measure7_editcontrol}	</div>
	<div class="r-search-field">
		{$measure7_editcontrol1}
	</div>
	
</div>

{END measure7_fieldblock}
											
{BEGIN remark7_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark7}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark7{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="remark7" data-fieldname="remark7" >


	<label class="r-search-label control-label" for="{$labelfor_remark7}">
		{$label cdd_measures_admin remark7 }	</label>
	<div class="r-search-option">
		{$searchtype_remark7}
	</div>
	<div class="r-search-field">
		{$remark7_editcontrol}	</div>
	<div class="r-search-field">
		{$remark7_editcontrol1}
	</div>
	
</div>

{END remark7_fieldblock}
											
{BEGIN measure8_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure8}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure8{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="measure8" data-fieldname="measure8" >


	<label class="r-search-label control-label" for="{$labelfor_measure8}">
		{$label cdd_measures_admin measure8 }	</label>
	<div class="r-search-option">
		{$searchtype_measure8}
	</div>
	<div class="r-search-field">
		{$measure8_editcontrol}	</div>
	<div class="r-search-field">
		{$measure8_editcontrol1}
	</div>
	
</div>

{END measure8_fieldblock}
											
{BEGIN remark8_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark8}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark8{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="remark8" data-fieldname="remark8" >


	<label class="r-search-label control-label" for="{$labelfor_remark8}">
		{$label cdd_measures_admin remark8 }	</label>
	<div class="r-search-option">
		{$searchtype_remark8}
	</div>
	<div class="r-search-field">
		{$remark8_editcontrol}	</div>
	<div class="r-search-field">
		{$remark8_editcontrol1}
	</div>
	
</div>

{END remark8_fieldblock}
											
{BEGIN measure9_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_measure9}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="measure9{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="measure9" data-fieldname="measure9" >


	<label class="r-search-label control-label" for="{$labelfor_measure9}">
		{$label cdd_measures_admin measure9 }	</label>
	<div class="r-search-option">
		{$searchtype_measure9}
	</div>
	<div class="r-search-field">
		{$measure9_editcontrol}	</div>
	<div class="r-search-field">
		{$measure9_editcontrol1}
	</div>
	
</div>

{END measure9_fieldblock}
											
{BEGIN remark9_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_remark9}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="remark9{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="remark9" data-fieldname="remark9" >


	<label class="r-search-label control-label" for="{$labelfor_remark9}">
		{$label cdd_measures_admin remark9 }	</label>
	<div class="r-search-option">
		{$searchtype_remark9}
	</div>
	<div class="r-search-field">
		{$remark9_editcontrol}	</div>
	<div class="r-search-field">
		{$remark9_editcontrol1}
	</div>
	
</div>

{END remark9_fieldblock}
											
{BEGIN customer_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_customer_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="customer_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="customer_type" data-fieldname="customer_type" >


	<label class="r-search-label control-label" for="{$labelfor_customer_type}">
		{$label cdd_measures_admin customer_type }	</label>
	<div class="r-search-option">
		{$searchtype_customer_type}
	</div>
	<div class="r-search-field">
		{$customer_type_editcontrol}	</div>
	<div class="r-search-field">
		{$customer_type_editcontrol1}
	</div>
	
</div>

{END customer_type_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
