<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="3"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel contacts view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="3"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		
		data-v-width="3"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN id_type_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="id_type" data-fieldname="id_type">{BEGIN id_type_label}
		{$id_type_forward_control}
		{$label contacts id_type }{END id_type_label}
	</label>
{END id_type_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN id_type_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id_type" data-fieldname="id_type" >
		{$id_type_value}	</div>
{END id_type_fieldblock}
	
								</td>
			{END cellblock_grid_c2}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN country_incorporation_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="country_incorporation" data-fieldname="country_incorporation">{BEGIN country_incorporation_label}
		{$country_incorporation_forward_control}
		{$label contacts country_incorporation }{END country_incorporation_label}
	</label>
{END country_incorporation_fieldblock}
	
								</td>
			{END cellblock_grid_c}
			 
																

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN country_incorporation_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="country_incorporation" data-fieldname="country_incorporation" >
		{$country_incorporation_value}	</div>
{END country_incorporation_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN registration_date_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="registration_date" data-fieldname="registration_date">{BEGIN registration_date_label}
		{$registration_date_forward_control}
		{$label contacts registration_date }{END registration_date_label}
	</label>
{END registration_date_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
			 
																

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN registration_date_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="registration_date" data-fieldname="registration_date" >
		{$registration_date_value}	</div>
{END registration_date_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contact_person_contact_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="contact_person_contact" data-fieldname="contact_person_contact">{BEGIN contact_person_contact_label}
		{$contact_person_contact_forward_control}
		{$label contacts contact_person_contact }{END contact_person_contact_label}
	</label>
{END contact_person_contact_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
			 
																

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contact_person_contact_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="contact_person_contact" data-fieldname="contact_person_contact" >
		{$contact_person_contact_value}	</div>
{END contact_person_contact_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contact_person_id_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="contact_person_id" data-fieldname="contact_person_id">{BEGIN contact_person_id_label}
		{$contact_person_id_forward_control}
		{$label contacts contact_person_id }{END contact_person_id_label}
	</label>
{END contact_person_id_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
			 
																

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contact_person_id_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="contact_person_id" data-fieldname="contact_person_id" >
		{$contact_person_id_value}	</div>
{END contact_person_id_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN nationality_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="nationality" data-fieldname="nationality">{BEGIN nationality_label}
		{$nationality_forward_control}
		{$label contacts nationality }{END nationality_label}
	</label>
{END nationality_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
			 
																

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN nationality_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="nationality" data-fieldname="nationality" >
		{$nationality_value}	</div>
{END nationality_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
								</tr>
	 
	 
														<tr {$row_grid_6} >
										

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN name_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="name" data-fieldname="name">{BEGIN name_label}
		{$name_forward_control}
		{$label contacts name }{END name_label}
	</label>
{END name_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
			 
																

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN name_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >
		{$name_value}	</div>
{END name_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
								</tr>
	 
	 
														<tr {$row_grid_7} >
										

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN nric_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="nric" data-fieldname="nric">{BEGIN nric_label}
		{$nric_forward_control}
		{$label contacts nric }{END nric_label}
	</label>
{END nric_fieldblock}
	
								</td>
			{END cellblock_grid_c15}
			 
																

{BEGIN cellblock_grid_c16}
<td
	{$cell_grid_c16}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c16" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN nric_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="nric" data-fieldname="nric" >
		{$nric_value}	</div>
{END nric_fieldblock}
	
								</td>
			{END cellblock_grid_c16}
								</tr>
	 
	 
														<tr {$row_grid_8} >
										

{BEGIN cellblock_grid_c17}
<td
	{$cell_grid_c17}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c17" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN address_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="address" data-fieldname="address">{BEGIN address_label}
		{$address_forward_control}
		{$label contacts address }{END address_label}
	</label>
{END address_fieldblock}
	
								</td>
			{END cellblock_grid_c17}
			 
																

{BEGIN cellblock_grid_c18}
<td
	{$cell_grid_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c18" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN address_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="address" data-fieldname="address" >
		{$address_value}	</div>
{END address_fieldblock}
	
								</td>
			{END cellblock_grid_c18}
								</tr>
	 
	 
														<tr {$row_grid_9} >
										

{BEGIN cellblock_grid_c19}
<td
	{$cell_grid_c19}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c19" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN postal_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="postal" data-fieldname="postal">{BEGIN postal_label}
		{$postal_forward_control}
		{$label contacts postal }{END postal_label}
	</label>
{END postal_fieldblock}
	
								</td>
			{END cellblock_grid_c19}
			 
																

{BEGIN cellblock_grid_c20}
<td
	{$cell_grid_c20}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c20" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN postal_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="postal" data-fieldname="postal" >
		{$postal_value}	</div>
{END postal_fieldblock}
	
								</td>
			{END cellblock_grid_c20}
								</tr>
	 
	 
														<tr {$row_grid_10} >
										

{BEGIN cellblock_grid_c21}
<td
	{$cell_grid_c21}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c21" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN tel_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="tel" data-fieldname="tel">{BEGIN tel_label}
		{$tel_forward_control}
		{$label contacts tel }{END tel_label}
	</label>
{END tel_fieldblock}
	
								</td>
			{END cellblock_grid_c21}
			 
																

{BEGIN cellblock_grid_c22}
<td
	{$cell_grid_c22}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c22" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN tel_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="tel" data-fieldname="tel" >
		{$tel_value}	</div>
{END tel_fieldblock}
	
								</td>
			{END cellblock_grid_c22}
								</tr>
	 
	 
														<tr {$row_grid_11} >
										

{BEGIN cellblock_grid_c23}
<td
	{$cell_grid_c23}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c23" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN mobile_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="mobile" data-fieldname="mobile">{BEGIN mobile_label}
		{$mobile_forward_control}
		{$label contacts mobile }{END mobile_label}
	</label>
{END mobile_fieldblock}
	
								</td>
			{END cellblock_grid_c23}
			 
																

{BEGIN cellblock_grid_c24}
<td
	{$cell_grid_c24}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c24" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN mobile_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="mobile" data-fieldname="mobile" >
		{$mobile_value}	</div>
{END mobile_fieldblock}
	
								</td>
			{END cellblock_grid_c24}
								</tr>
	 
	 
														<tr {$row_grid_12} >
										

{BEGIN cellblock_grid_c25}
<td
	{$cell_grid_c25}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c25" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN email_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="email" data-fieldname="email">{BEGIN email_label}
		{$email_forward_control}
		{$label contacts email }{END email_label}
	</label>
{END email_fieldblock}
	
								</td>
			{END cellblock_grid_c25}
			 
																

{BEGIN cellblock_grid_c26}
<td
	{$cell_grid_c26}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c26" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN email_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >
		{$email_value}	</div>
{END email_fieldblock}
	
								</td>
			{END cellblock_grid_c26}
								</tr>
	 
	 
														<tr {$row_grid_13} >
										

{BEGIN cellblock_grid_c27}
<td
	{$cell_grid_c27}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c27" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN office_tel_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="office_tel" data-fieldname="office_tel">{BEGIN office_tel_label}
		{$office_tel_forward_control}
		{$label contacts office_tel }{END office_tel_label}
	</label>
{END office_tel_fieldblock}
	
								</td>
			{END cellblock_grid_c27}
			 
																

{BEGIN cellblock_grid_c28}
<td
	{$cell_grid_c28}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c28" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN office_tel_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="office_tel" data-fieldname="office_tel" >
		{$office_tel_value}	</div>
{END office_tel_fieldblock}
	
								</td>
			{END cellblock_grid_c28}
								</tr>
	 
	 
														<tr {$row_grid_14} >
										

{BEGIN cellblock_grid_c29}
<td
	{$cell_grid_c29}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c29" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN biz_email_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="biz_email" data-fieldname="biz_email">{BEGIN biz_email_label}
		{$biz_email_forward_control}
		{$label contacts biz_email }{END biz_email_label}
	</label>
{END biz_email_fieldblock}
	
								</td>
			{END cellblock_grid_c29}
			 
																

{BEGIN cellblock_grid_c30}
<td
	{$cell_grid_c30}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c30" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN biz_email_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="biz_email" data-fieldname="biz_email" >
		{$biz_email_value}	</div>
{END biz_email_fieldblock}
	
								</td>
			{END cellblock_grid_c30}
								</tr>
	 
	 
														<tr {$row_grid_15} >
										

{BEGIN cellblock_grid_c31}
<td
	{$cell_grid_c31}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c31" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contact_person_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="contact_person" data-fieldname="contact_person">{BEGIN contact_person_label}
		{$contact_person_forward_control}
		{$label contacts contact_person }{END contact_person_label}
	</label>
{END contact_person_fieldblock}
	
								</td>
			{END cellblock_grid_c31}
			 
																

{BEGIN cellblock_grid_c32}
<td
	{$cell_grid_c32}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c32" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contact_person_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="contact_person" data-fieldname="contact_person" >
		{$contact_person_value}	</div>
{END contact_person_fieldblock}
	
								</td>
			{END cellblock_grid_c32}
								</tr>
	 
	 
														<tr {$row_grid_16} >
										

{BEGIN cellblock_grid_c33}
<td
	{$cell_grid_c33}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c33" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contact_email_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="contact_email" data-fieldname="contact_email">{BEGIN contact_email_label}
		{$contact_email_forward_control}
		{$label contacts contact_email }{END contact_email_label}
	</label>
{END contact_email_fieldblock}
	
								</td>
			{END cellblock_grid_c33}
			 
																

{BEGIN cellblock_grid_c34}
<td
	{$cell_grid_c34}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c34" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contact_email_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="contact_email" data-fieldname="contact_email" >
		{$contact_email_value}	</div>
{END contact_email_fieldblock}
	
								</td>
			{END cellblock_grid_c34}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="3"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		{BEGIN prev_button}
<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
{END prev_button}
	 
		{BEGIN next_button}
<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
{END next_button}
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="contacts_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
