<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel cpd_trainings search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN total_hour_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_hour}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_hour{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="total_hour" data-fieldname="total_hour" >


	<label class="r-search-label control-label" for="{$labelfor_total_hour}">
		{$label cpd_trainings total_hour }	</label>
	<div class="r-search-option">
		{$searchtype_total_hour}
	</div>
	<div class="r-search-field">
		{$total_hour_editcontrol}	</div>
	<div class="r-search-field">
		{$total_hour_editcontrol1}
	</div>
	
</div>

{END total_hour_fieldblock}
											
{BEGIN cpd_hour_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cpd_hour}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cpd_hour{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="cpd_hour" data-fieldname="cpd_hour" >


	<label class="r-search-label control-label" for="{$labelfor_cpd_hour}">
		{$label cpd_trainings cpd_hour }	</label>
	<div class="r-search-option">
		{$searchtype_cpd_hour}
	</div>
	<div class="r-search-field">
		{$cpd_hour_editcontrol}	</div>
	<div class="r-search-field">
		{$cpd_hour_editcontrol1}
	</div>
	
</div>

{END cpd_hour_fieldblock}
											
{BEGIN provider_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_provider}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="provider{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="provider" data-fieldname="provider" >


	<label class="r-search-label control-label" for="{$labelfor_provider}">
		{$label cpd_trainings provider }	</label>
	<div class="r-search-option">
		{$searchtype_provider}
	</div>
	<div class="r-search-field">
		{$provider_editcontrol}	</div>
	<div class="r-search-field">
		{$provider_editcontrol1}
	</div>
	
</div>

{END provider_fieldblock}
											
{BEGIN activity_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_activity}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="activity{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="activity" data-fieldname="activity" >


	<label class="r-search-label control-label" for="{$labelfor_activity}">
		{$label cpd_trainings activity }	</label>
	<div class="r-search-option">
		{$searchtype_activity}
	</div>
	<div class="r-search-field">
		{$activity_editcontrol}	</div>
	<div class="r-search-field">
		{$activity_editcontrol1}
	</div>
	
</div>

{END activity_fieldblock}
											
{BEGIN startdate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_startdate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="startdate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="startdate" data-fieldname="startdate" >


	<label class="r-search-label control-label" for="{$labelfor_startdate}">
		{$label cpd_trainings startdate }	</label>
	<div class="r-search-option">
		{$searchtype_startdate}
	</div>
	<div class="r-search-field">
		{$startdate_editcontrol}	</div>
	<div class="r-search-field">
		{$startdate_editcontrol1}
	</div>
	
</div>

{END startdate_fieldblock}
											
{BEGIN enddate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_enddate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="enddate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="enddate" data-fieldname="enddate" >


	<label class="r-search-label control-label" for="{$labelfor_enddate}">
		{$label cpd_trainings enddate }	</label>
	<div class="r-search-option">
		{$searchtype_enddate}
	</div>
	<div class="r-search-field">
		{$enddate_editcontrol}	</div>
	<div class="r-search-field">
		{$enddate_editcontrol1}
	</div>
	
</div>

{END enddate_fieldblock}
											
{BEGIN doc_upload_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_upload}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doc_upload{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="doc_upload" data-fieldname="doc_upload" >


	<label class="r-search-label control-label" for="{$labelfor_doc_upload}">
		{$label cpd_trainings doc_upload }	</label>
	<div class="r-search-option">
		{$searchtype_doc_upload}
	</div>
	<div class="r-search-field">
		{$doc_upload_editcontrol}	</div>
	<div class="r-search-field">
		{$doc_upload_editcontrol1}
	</div>
	
</div>

{END doc_upload_fieldblock}
											
{BEGIN cost_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cost}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cost{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="cost" data-fieldname="cost" >


	<label class="r-search-label control-label" for="{$labelfor_cost}">
		{$label cpd_trainings cost }	</label>
	<div class="r-search-option">
		{$searchtype_cost}
	</div>
	<div class="r-search-field">
		{$cost_editcontrol}	</div>
	<div class="r-search-field">
		{$cost_editcontrol1}
	</div>
	
</div>

{END cost_fieldblock}
											
{BEGIN cea_reg_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cea_reg}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cea_reg{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="cea_reg" data-fieldname="cea_reg" >


	<label class="r-search-label control-label" for="{$labelfor_cea_reg}">
		{$label cpd_trainings cea_reg }	</label>
	<div class="r-search-option">
		{$searchtype_cea_reg}
	</div>
	<div class="r-search-field">
		{$cea_reg_editcontrol}	</div>
	<div class="r-search-field">
		{$cea_reg_editcontrol1}
	</div>
	
</div>

{END cea_reg_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label cpd_trainings name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN cpd_recordid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cpd_recordid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cpd_recordid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="cpd_recordid" data-fieldname="cpd_recordid" >


	<label class="r-search-label control-label" for="{$labelfor_cpd_recordid}">
		{$label cpd_trainings cpd_recordid }	</label>
	<div class="r-search-option">
		{$searchtype_cpd_recordid}
	</div>
	<div class="r-search-field">
		{$cpd_recordid_editcontrol}	</div>
	<div class="r-search-field">
		{$cpd_recordid_editcontrol1}
	</div>
	
</div>

{END cpd_recordid_fieldblock}
											
{BEGIN period_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_period}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="period{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="period" data-fieldname="period" >


	<label class="r-search-label control-label" for="{$labelfor_period}">
		{$label cpd_trainings period }	</label>
	<div class="r-search-option">
		{$searchtype_period}
	</div>
	<div class="r-search-field">
		{$period_editcontrol}	</div>
	<div class="r-search-field">
		{$period_editcontrol1}
	</div>
	
</div>

{END period_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
