<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel cpd_trainers add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN dateupdated_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dateupdated}  r-vertical-field" 
	data-signal-error-for="dateupdated{$id}" {$required_attr_dateupdated}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="dateupdated" data-fieldname="dateupdated" >

	<label class="r-edit-label control-label {$dateupdated_label_class}" for="{$labelfor_dateupdated}">
		{BEGIN dateupdated_label}
			{$dateupdated_forward_control}
			{$label cpd_trainers dateupdated }			{END dateupdated_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$dateupdated_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="dateupdated" {$tooltipAttr cpd_trainers dateupdated } >
		<div class="text-muted" >
		{$tooltip cpd_trainers dateupdated }		</div>
	</div>
	</div>


{END dateupdated_fieldblock}
											
{BEGIN cpd_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cpd_type}  r-vertical-field" 
	data-signal-error-for="cpd_type{$id}" {$required_attr_cpd_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="cpd_type" data-fieldname="cpd_type" >

	<label class="r-edit-label control-label {$cpd_type_label_class}" for="{$labelfor_cpd_type}">
		{BEGIN cpd_type_label}
			{$cpd_type_forward_control}
			{$label cpd_trainers cpd_type }			{END cpd_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cpd_type_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="cpd_type" {$tooltipAttr cpd_trainers cpd_type } >
		<div class="text-muted" >
		{$tooltip cpd_trainers cpd_type }		</div>
	</div>
	</div>


{END cpd_type_fieldblock}
											
{BEGIN cpd_hour_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cpd_hour}  r-vertical-field" 
	data-signal-error-for="cpd_hour{$id}" {$required_attr_cpd_hour}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="cpd_hour" data-fieldname="cpd_hour" >

	<label class="r-edit-label control-label {$cpd_hour_label_class}" for="{$labelfor_cpd_hour}">
		{BEGIN cpd_hour_label}
			{$cpd_hour_forward_control}
			{$label cpd_trainers cpd_hour }			{END cpd_hour_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cpd_hour_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="cpd_hour" {$tooltipAttr cpd_trainers cpd_hour } >
		<div class="text-muted" >
		{$tooltip cpd_trainers cpd_hour }		</div>
	</div>
	</div>


{END cpd_hour_fieldblock}
											
{BEGIN period_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_period}  r-vertical-field" 
	data-signal-error-for="period{$id}" {$required_attr_period}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="period" data-fieldname="period" >

	<label class="r-edit-label control-label {$period_label_class}" for="{$labelfor_period}">
		{BEGIN period_label}
			{$period_forward_control}
			{$label cpd_trainers period }			{END period_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$period_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="period" {$tooltipAttr cpd_trainers period } >
		<div class="text-muted" >
		{$tooltip cpd_trainers period }		</div>
	</div>
	</div>


{END period_fieldblock}
											
{BEGIN provider_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_provider}  r-vertical-field" 
	data-signal-error-for="provider{$id}" {$required_attr_provider}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="provider" data-fieldname="provider" >

	<label class="r-edit-label control-label {$provider_label_class}" for="{$labelfor_provider}">
		{BEGIN provider_label}
			{$provider_forward_control}
			{$label cpd_trainers provider }			{END provider_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$provider_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="provider" {$tooltipAttr cpd_trainers provider } >
		<div class="text-muted" >
		{$tooltip cpd_trainers provider }		</div>
	</div>
	</div>


{END provider_fieldblock}
											
{BEGIN activity_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_activity}  r-vertical-field" 
	data-signal-error-for="activity{$id}" {$required_attr_activity}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="activity" data-fieldname="activity" >

	<label class="r-edit-label control-label {$activity_label_class}" for="{$labelfor_activity}">
		{BEGIN activity_label}
			{$activity_forward_control}
			{$label cpd_trainers activity }			{END activity_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$activity_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="activity" {$tooltipAttr cpd_trainers activity } >
		<div class="text-muted" >
		{$tooltip cpd_trainers activity }		</div>
	</div>
	</div>


{END activity_fieldblock}
											
{BEGIN startdate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_startdate}  r-vertical-field" 
	data-signal-error-for="startdate{$id}" {$required_attr_startdate}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="startdate" data-fieldname="startdate" >

	<label class="r-edit-label control-label {$startdate_label_class}" for="{$labelfor_startdate}">
		{BEGIN startdate_label}
			{$startdate_forward_control}
			{$label cpd_trainers startdate }			{END startdate_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$startdate_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="startdate" {$tooltipAttr cpd_trainers startdate } >
		<div class="text-muted" >
		{$tooltip cpd_trainers startdate }		</div>
	</div>
	</div>


{END startdate_fieldblock}
											
{BEGIN enddate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_enddate}  r-vertical-field" 
	data-signal-error-for="enddate{$id}" {$required_attr_enddate}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="enddate" data-fieldname="enddate" >

	<label class="r-edit-label control-label {$enddate_label_class}" for="{$labelfor_enddate}">
		{BEGIN enddate_label}
			{$enddate_forward_control}
			{$label cpd_trainers enddate }			{END enddate_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$enddate_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="enddate" {$tooltipAttr cpd_trainers enddate } >
		<div class="text-muted" >
		{$tooltip cpd_trainers enddate }		</div>
	</div>
	</div>


{END enddate_fieldblock}
											
{BEGIN doc_upload_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_upload}  r-vertical-field" 
	data-signal-error-for="doc_upload{$id}" {$required_attr_doc_upload}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="doc_upload" data-fieldname="doc_upload" >

	<label class="r-edit-label control-label {$doc_upload_label_class}" for="{$labelfor_doc_upload}">
		{BEGIN doc_upload_label}
			{$doc_upload_forward_control}
			{$label cpd_trainers doc_upload }			{END doc_upload_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$doc_upload_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="doc_upload" {$tooltipAttr cpd_trainers doc_upload } >
		<div class="text-muted" >
		{$tooltip cpd_trainers doc_upload }		</div>
	</div>
	</div>


{END doc_upload_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
	 
		{BEGIN reset_button}
<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							{mlang_message RESET}			</a>
</span>
{END reset_button}
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
