<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel eat_users search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN active_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_active}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="active{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="active" data-fieldname="active" >


	<label class="r-search-label control-label" for="{$labelfor_active}">
		{$label eat_users active }	</label>
	<div class="r-search-option">
		{$searchtype_active}
	</div>
	<div class="r-search-field">
		{$active_editcontrol}	</div>
	<div class="r-search-field">
		{$active_editcontrol1}
	</div>
	
</div>

{END active_fieldblock}
											
{BEGIN company_dbname_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_company_dbname}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="company_dbname{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="company_dbname" data-fieldname="company_dbname" >


	<label class="r-search-label control-label" for="{$labelfor_company_dbname}">
		{$label eat_users company_dbname }	</label>
	<div class="r-search-option">
		{$searchtype_company_dbname}
	</div>
	<div class="r-search-field">
		{$company_dbname_editcontrol}	</div>
	<div class="r-search-field">
		{$company_dbname_editcontrol1}
	</div>
	
</div>

{END company_dbname_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label eat_users email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN password_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_password}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="password{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="password" data-fieldname="password" >


	<label class="r-search-label control-label" for="{$labelfor_password}">
		{$label eat_users password }	</label>
	<div class="r-search-option">
		{$searchtype_password}
	</div>
	<div class="r-search-field">
		{$password_editcontrol}	</div>
	<div class="r-search-field">
		{$password_editcontrol1}
	</div>
	
</div>

{END password_fieldblock}
											
{BEGIN signup_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_signup_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="signup_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="signup_date" data-fieldname="signup_date" >


	<label class="r-search-label control-label" for="{$labelfor_signup_date}">
		{$label eat_users signup_date }	</label>
	<div class="r-search-option">
		{$searchtype_signup_date}
	</div>
	<div class="r-search-field">
		{$signup_date_editcontrol}	</div>
	<div class="r-search-field">
		{$signup_date_editcontrol1}
	</div>
	
</div>

{END signup_date_fieldblock}
											
{BEGIN user_group_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_user_group}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="user_group{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="user_group" data-fieldname="user_group" >


	<label class="r-search-label control-label" for="{$labelfor_user_group}">
		{$label eat_users user_group }	</label>
	<div class="r-search-option">
		{$searchtype_user_group}
	</div>
	<div class="r-search-field">
		{$user_group_editcontrol}	</div>
	<div class="r-search-field">
		{$user_group_editcontrol1}
	</div>
	
</div>

{END user_group_fieldblock}
											
{BEGIN user_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_user_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="user_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="user_status" data-fieldname="user_status" >


	<label class="r-search-label control-label" for="{$labelfor_user_status}">
		{$label eat_users user_status }	</label>
	<div class="r-search-option">
		{$searchtype_user_status}
	</div>
	<div class="r-search-field">
		{$user_status_editcontrol}	</div>
	<div class="r-search-field">
		{$user_status_editcontrol1}
	</div>
	
</div>

{END user_status_fieldblock}
											
{BEGIN username_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_username}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="username{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="username" data-fieldname="username" >


	<label class="r-search-label control-label" for="{$labelfor_username}">
		{$label eat_users username }	</label>
	<div class="r-search-option">
		{$searchtype_username}
	</div>
	<div class="r-search-field">
		{$username_editcontrol}	</div>
	<div class="r-search-field">
		{$username_editcontrol1}
	</div>
	
</div>

{END username_fieldblock}
											
{BEGIN biz_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_biz_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="biz_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="biz_name" data-fieldname="biz_name" >


	<label class="r-search-label control-label" for="{$labelfor_biz_name}">
		{$label eat_users biz_name }	</label>
	<div class="r-search-option">
		{$searchtype_biz_name}
	</div>
	<div class="r-search-field">
		{$biz_name_editcontrol}	</div>
	<div class="r-search-field">
		{$biz_name_editcontrol1}
	</div>
	
</div>

{END biz_name_fieldblock}
											
{BEGIN full_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_full_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="full_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="full_name" data-fieldname="full_name" >


	<label class="r-search-label control-label" for="{$labelfor_full_name}">
		{$label eat_users full_name }	</label>
	<div class="r-search-option">
		{$searchtype_full_name}
	</div>
	<div class="r-search-field">
		{$full_name_editcontrol}	</div>
	<div class="r-search-field">
		{$full_name_editcontrol1}
	</div>
	
</div>

{END full_name_fieldblock}
											
{BEGIN mobile_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mobile}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mobile{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="mobile" data-fieldname="mobile" >


	<label class="r-search-label control-label" for="{$labelfor_mobile}">
		{$label eat_users mobile }	</label>
	<div class="r-search-option">
		{$searchtype_mobile}
	</div>
	<div class="r-search-field">
		{$mobile_editcontrol}	</div>
	<div class="r-search-field">
		{$mobile_editcontrol1}
	</div>
	
</div>

{END mobile_fieldblock}
											
{BEGIN bank_ac_no_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_ac_no}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bank_ac_no{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="bank_ac_no" data-fieldname="bank_ac_no" >


	<label class="r-search-label control-label" for="{$labelfor_bank_ac_no}">
		{$label eat_users bank_ac_no }	</label>
	<div class="r-search-option">
		{$searchtype_bank_ac_no}
	</div>
	<div class="r-search-field">
		{$bank_ac_no_editcontrol}	</div>
	<div class="r-search-field">
		{$bank_ac_no_editcontrol1}
	</div>
	
</div>

{END bank_ac_no_fieldblock}
											
{BEGIN bank_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bank_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="bank_name" data-fieldname="bank_name" >


	<label class="r-search-label control-label" for="{$labelfor_bank_name}">
		{$label eat_users bank_name }	</label>
	<div class="r-search-option">
		{$searchtype_bank_name}
	</div>
	<div class="r-search-field">
		{$bank_name_editcontrol}	</div>
	<div class="r-search-field">
		{$bank_name_editcontrol1}
	</div>
	
</div>

{END bank_name_fieldblock}
											
{BEGIN date_of_birth_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_date_of_birth}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="date_of_birth{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="date_of_birth" data-fieldname="date_of_birth" >


	<label class="r-search-label control-label" for="{$labelfor_date_of_birth}">
		{$label eat_users date_of_birth }	</label>
	<div class="r-search-option">
		{$searchtype_date_of_birth}
	</div>
	<div class="r-search-field">
		{$date_of_birth_editcontrol}	</div>
	<div class="r-search-field">
		{$date_of_birth_editcontrol1}
	</div>
	
</div>

{END date_of_birth_fieldblock}
											
{BEGIN entry_year_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entry_year}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entry_year{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="entry_year" data-fieldname="entry_year" >


	<label class="r-search-label control-label" for="{$labelfor_entry_year}">
		{$label eat_users entry_year }	</label>
	<div class="r-search-option">
		{$searchtype_entry_year}
	</div>
	<div class="r-search-field">
		{$entry_year_editcontrol}	</div>
	<div class="r-search-field">
		{$entry_year_editcontrol1}
	</div>
	
</div>

{END entry_year_fieldblock}
											
{BEGIN home_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_home_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="home_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="home_address" data-fieldname="home_address" >


	<label class="r-search-label control-label" for="{$labelfor_home_address}">
		{$label eat_users home_address }	</label>
	<div class="r-search-option">
		{$searchtype_home_address}
	</div>
	<div class="r-search-field">
		{$home_address_editcontrol}	</div>
	<div class="r-search-field">
		{$home_address_editcontrol1}
	</div>
	
</div>

{END home_address_fieldblock}
											
{BEGIN home_tel_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_home_tel}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="home_tel{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="home_tel" data-fieldname="home_tel" >


	<label class="r-search-label control-label" for="{$labelfor_home_tel}">
		{$label eat_users home_tel }	</label>
	<div class="r-search-option">
		{$searchtype_home_tel}
	</div>
	<div class="r-search-field">
		{$home_tel_editcontrol}	</div>
	<div class="r-search-field">
		{$home_tel_editcontrol1}
	</div>
	
</div>

{END home_tel_fieldblock}
											
{BEGIN nric_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nric}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nric{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="nric" data-fieldname="nric" >


	<label class="r-search-label control-label" for="{$labelfor_nric}">
		{$label eat_users nric }	</label>
	<div class="r-search-option">
		{$searchtype_nric}
	</div>
	<div class="r-search-field">
		{$nric_editcontrol}	</div>
	<div class="r-search-field">
		{$nric_editcontrol1}
	</div>
	
</div>

{END nric_fieldblock}
											
{BEGIN agency_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_agency}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="agency{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="agency" data-fieldname="agency" >


	<label class="r-search-label control-label" for="{$labelfor_agency}">
		{$label eat_users agency }	</label>
	<div class="r-search-option">
		{$searchtype_agency}
	</div>
	<div class="r-search-field">
		{$agency_editcontrol}	</div>
	<div class="r-search-field">
		{$agency_editcontrol1}
	</div>
	
</div>

{END agency_fieldblock}
											
{BEGIN cut_to_agency_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cut_to_agency}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cut_to_agency{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="cut_to_agency" data-fieldname="cut_to_agency" >


	<label class="r-search-label control-label" for="{$labelfor_cut_to_agency}">
		{$label eat_users cut_to_agency }	</label>
	<div class="r-search-option">
		{$searchtype_cut_to_agency}
	</div>
	<div class="r-search-field">
		{$cut_to_agency_editcontrol}	</div>
	<div class="r-search-field">
		{$cut_to_agency_editcontrol1}
	</div>
	
</div>

{END cut_to_agency_fieldblock}
											
{BEGIN salesperson_share_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_salesperson_share}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="salesperson_share{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="salesperson_share" data-fieldname="salesperson_share" >


	<label class="r-search-label control-label" for="{$labelfor_salesperson_share}">
		{$label eat_users salesperson_share }	</label>
	<div class="r-search-option">
		{$searchtype_salesperson_share}
	</div>
	<div class="r-search-field">
		{$salesperson_share_editcontrol}	</div>
	<div class="r-search-field">
		{$salesperson_share_editcontrol1}
	</div>
	
</div>

{END salesperson_share_fieldblock}
											
{BEGIN agency_cea_reg_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_agency_cea_reg}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="agency_cea_reg{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="agency_cea_reg" data-fieldname="agency_cea_reg" >


	<label class="r-search-label control-label" for="{$labelfor_agency_cea_reg}">
		{$label eat_users agency_cea_reg }	</label>
	<div class="r-search-option">
		{$searchtype_agency_cea_reg}
	</div>
	<div class="r-search-field">
		{$agency_cea_reg_editcontrol}	</div>
	<div class="r-search-field">
		{$agency_cea_reg_editcontrol1}
	</div>
	
</div>

{END agency_cea_reg_fieldblock}
											
{BEGIN destination_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_destination}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="destination{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="destination" data-fieldname="destination" >


	<label class="r-search-label control-label" for="{$labelfor_destination}">
		{$label eat_users destination }	</label>
	<div class="r-search-option">
		{$searchtype_destination}
	</div>
	<div class="r-search-field">
		{$destination_editcontrol}	</div>
	<div class="r-search-field">
		{$destination_editcontrol1}
	</div>
	
</div>

{END destination_fieldblock}
											
{BEGIN eatuser_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_eatuser_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="eatuser_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="eatuser_id" data-fieldname="eatuser_id" >


	<label class="r-search-label control-label" for="{$labelfor_eatuser_id}">
		{$label eat_users eatuser_id }	</label>
	<div class="r-search-option">
		{$searchtype_eatuser_id}
	</div>
	<div class="r-search-field">
		{$eatuser_id_editcontrol}	</div>
	<div class="r-search-field">
		{$eatuser_id_editcontrol1}
	</div>
	
</div>

{END eatuser_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
