<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel external_party view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN username_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_username}  r-vertical-field" 
	data-signal-error-for="username{$id}" {$required_attr_username}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="username" data-fieldname="username" >

	<label class="r-edit-label control-label {$username_label_class}" for="{$labelfor_username}">
		{BEGIN username_label}
			{$username_forward_control}
			{$label external_party username }			{END username_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$username_value}	</div>
	</div>


{END username_fieldblock}
											
{BEGIN category_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_category}  r-vertical-field" 
	data-signal-error-for="category{$id}" {$required_attr_category}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="category" data-fieldname="category" >

	<label class="r-edit-label control-label {$category_label_class}" for="{$labelfor_category}">
		{BEGIN category_label}
			{$category_forward_control}
			{$label external_party category }			{END category_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$category_value}	</div>
	</div>


{END category_fieldblock}
											
{BEGIN prop_address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_address}  r-vertical-field" 
	data-signal-error-for="prop_address{$id}" {$required_attr_prop_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address" >

	<label class="r-edit-label control-label {$prop_address_label_class}" for="{$labelfor_prop_address}">
		{BEGIN prop_address_label}
			{$prop_address_forward_control}
			{$label external_party prop_address }			{END prop_address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$prop_address_value}	</div>
	</div>


{END prop_address_fieldblock}
											
{BEGIN name_ext_party_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_name_ext_party}  r-vertical-field" 
	data-signal-error-for="name_ext_party{$id}" {$required_attr_name_ext_party}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="name_ext_party" data-fieldname="name_ext_party" >

	<label class="r-edit-label control-label {$name_ext_party_label_class}" for="{$labelfor_name_ext_party}">
		{BEGIN name_ext_party_label}
			{$name_ext_party_forward_control}
			{$label external_party name_ext_party }			{END name_ext_party_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$name_ext_party_value}	</div>
	</div>


{END name_ext_party_fieldblock}
											
{BEGIN identification_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_identification}  r-vertical-field" 
	data-signal-error-for="identification{$id}" {$required_attr_identification}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="identification" data-fieldname="identification" >

	<label class="r-edit-label control-label {$identification_label_class}" for="{$labelfor_identification}">
		{BEGIN identification_label}
			{$identification_forward_control}
			{$label external_party identification }			{END identification_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$identification_value}	</div>
	</div>


{END identification_fieldblock}
											
{BEGIN role_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_role}  r-vertical-field" 
	data-signal-error-for="role{$id}" {$required_attr_role}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="role" data-fieldname="role" >

	<label class="r-edit-label control-label {$role_label_class}" for="{$labelfor_role}">
		{BEGIN role_label}
			{$role_forward_control}
			{$label external_party role }			{END role_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$role_value}	</div>
	</div>


{END role_fieldblock}
											
{BEGIN mobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mobile}  r-vertical-field" 
	data-signal-error-for="mobile{$id}" {$required_attr_mobile}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="mobile" data-fieldname="mobile" >

	<label class="r-edit-label control-label {$mobile_label_class}" for="{$labelfor_mobile}">
		{BEGIN mobile_label}
			{$mobile_forward_control}
			{$label external_party mobile }			{END mobile_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$mobile_value}	</div>
	</div>


{END mobile_fieldblock}
											
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" 
	data-signal-error-for="email{$id}" {$required_attr_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >

	<label class="r-edit-label control-label {$email_label_class}" for="{$labelfor_email}">
		{BEGIN email_label}
			{$email_forward_control}
			{$label external_party email }			{END email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$email_value}	</div>
	</div>


{END email_fieldblock}
											
{BEGIN address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_address}  r-vertical-field" 
	data-signal-error-for="address{$id}" {$required_attr_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="address" data-fieldname="address" >

	<label class="r-edit-label control-label {$address_label_class}" for="{$labelfor_address}">
		{BEGIN address_label}
			{$address_forward_control}
			{$label external_party address }			{END address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$address_value}	</div>
	</div>


{END address_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN gst_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_gst}  r-vertical-field" 
	data-signal-error-for="gst{$id}" {$required_attr_gst}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="gst" data-fieldname="gst" >

	<label class="r-edit-label control-label {$gst_label_class}" for="{$labelfor_gst}">
		{BEGIN gst_label}
			{$gst_forward_control}
			{$label external_party gst }			{END gst_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$gst_value}	</div>
	</div>


{END gst_fieldblock}
											
{BEGIN gst_include_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_gst_include}  r-vertical-field" 
	data-signal-error-for="gst_include{$id}" {$required_attr_gst_include}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="gst_include" data-fieldname="gst_include" >

	<label class="r-edit-label control-label {$gst_include_label_class}" for="{$labelfor_gst_include}">
		{BEGIN gst_include_label}
			{$gst_include_forward_control}
			{$label external_party gst_include }			{END gst_include_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$gst_include_value}	</div>
	</div>


{END gst_include_fieldblock}
											
{BEGIN comm_tp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_comm_tp}  r-vertical-field" 
	data-signal-error-for="comm_tp{$id}" {$required_attr_comm_tp}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="comm_tp" data-fieldname="comm_tp" >

	<label class="r-edit-label control-label {$comm_tp_label_class}" for="{$labelfor_comm_tp}">
		{BEGIN comm_tp_label}
			{$comm_tp_forward_control}
			{$label external_party comm_tp }			{END comm_tp_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$comm_tp_value}	</div>
	</div>


{END comm_tp_fieldblock}
											
{BEGIN comm_percent_tp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_comm_percent_tp}  r-vertical-field" 
	data-signal-error-for="comm_percent_tp{$id}" {$required_attr_comm_percent_tp}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="comm_percent_tp" data-fieldname="comm_percent_tp" >

	<label class="r-edit-label control-label {$comm_percent_tp_label_class}" for="{$labelfor_comm_percent_tp}">
		{BEGIN comm_percent_tp_label}
			{$comm_percent_tp_forward_control}
			{$label external_party comm_percent_tp }			{END comm_percent_tp_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$comm_percent_tp_value}	</div>
	</div>


{END comm_percent_tp_fieldblock}
											
{BEGIN gross_tp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_gross_tp}  r-vertical-field" 
	data-signal-error-for="gross_tp{$id}" {$required_attr_gross_tp}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="gross_tp" data-fieldname="gross_tp" >

	<label class="r-edit-label control-label {$gross_tp_label_class}" for="{$labelfor_gross_tp}">
		{BEGIN gross_tp_label}
			{$gross_tp_forward_control}
			{$label external_party gross_tp }			{END gross_tp_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$gross_tp_value}	</div>
	</div>


{END gross_tp_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		{BEGIN prev_button}
<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
{END prev_button}
	 
		{BEGIN next_button}
<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
{END next_button}
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
