<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>
	<body class="{$stylename} function-list"  >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				data-fixed 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_forms_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav navbar-nav" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{BEGIN item_haschildren2} dropdown {END item_haschildren2} 
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h data-menu-top >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-bottom"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{BEGIN item_haschildren2} dropdown {END item_haschildren2}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{BEGIN item_haschildren3} dropdown {END item_haschildren3}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{BEGIN item_haschildren4} dropdown {END item_haschildren4}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{BEGIN item_haschildren5} dropdown {END item_haschildren5}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_forms_main}
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="{mlang_message SHOW_ALL}">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		{mlang_message DELETE_SELECTED}		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="form_all_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		{mlang_message ADVANCED_SEARCH}		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		{mlang_message SHOW_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		{mlang_message HIDE_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							{mlang_message LOGIN}			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$mlp_push}{$mlparam username var username}{$mltext %username%}{$mlp_pop}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		{mlang_message USERINFO}		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		{mlang_message LOG_OUT}		
		</a>
	</li>
{END logoutbutton}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		{mlang_message CHANGE_PASSWORD}		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}		</div>					</div>
			</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_left_0} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c1" data-pageid="{$pageid}">
 
<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}"	 >

	<div class="panel-heading">
		<div class="btn-group r-sp-addfield" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{mlang_message SEARCH_IN}			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group r-sp-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>{mlang_message SEARCH_SHOW_OPTIONS_BUTTON}</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ALL_CONDITIONS}</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ANY_CONDITIONS}</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>{mlang_message HIDE}</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_category}


		<div class="form-group srchPanelRow {$filterRow_class_category}" {$filterRow_attrs_category}>
			<label>{$label form_all category }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_category}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_category}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_category}</span>
						</div>
		{END searchCtrlBlock_category}
																{BEGIN searchCtrlBlock_expected_sale_price_text}


		<div class="form-group srchPanelRow {$filterRow_class_expected_sale_price_text}" {$filterRow_attrs_expected_sale_price_text}>
			<label>{$label form_all expected_sale_price_text }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_expected_sale_price_text}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_expected_sale_price_text}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_expected_sale_price_text}</span>
						</div>
		{END searchCtrlBlock_expected_sale_price_text}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>{mlang_message SEARCH}</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>{mlang_message SHOW_ALL}</button>
	</div>
</div>
<!-- End Search panel content -->
</td>
							</tr>
											<tr {$row_left_1} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c2" data-pageid="{$pageid}">
 
<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
	<div class="filterPanelContainer {$filterPanelStateClass}" 
			>
	<!-- Begin Filter panel content -->






{BEGIN filter_control_status}

	<div class="panel panel-info filter-field filter-status-container">
		<div class="panel-heading filter-expander">
													<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>

		
			{BEGIN clearLink_status}
			<a href="#" class="filter-clear filter-clear-status" title="{mlang_message FILTER_CLEAR}">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_status}
			{$label form_all status }		</div>
		<ul class="list-group">
					{BEGIN filterCtrlBlock_status}
		<li class="list-group-item filter-values filter-values-status {$collapsedClass_status} {$visibilityClass_status}">
			{$status_filter}
						
					</li>
		{END filterCtrlBlock_status}

			{BEGIN filter_button_showmore_status}
		<li class="list-group-item filter-show-more {$collapsedClass_status} {$showMoreBtnClass_status}">
			<a class="filter-show-more-link filterShowMore_status" href="#">{$show_n_more_status}</a>
		</li>
		{END filter_button_showmore_status}
	


	

			</ul>
	</div>

{END filter_control_status}



	<!-- End Filter panel content -->
	</div>
</div></td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							{mlang_message DELETE}			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>		</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_form"]:before {
		content: "{$label form_all id_form}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="category"]:before {
		content: "{$label form_all category}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="salesperson"]:before {
		content: "{$label form_all salesperson}";
	}
																[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="date_agreement"]:before {
		content: "{$label form_all date_agreement}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="title"]:before {
		content: "{$label form_all title}";
	}
																																																											[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="date_sign"]:before {
		content: "{$label form_all date_sign}";
	}
															[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="expected_sale_price_text"]:before {
		content: "{$label form_all expected_sale_price_text}";
	}
																																						}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" class=" table table-striped table-hover r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
									{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_form_class}	"

			data-field="id_form"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_form_fieldheadercolumn}
	{BEGIN id_form_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_form" data-fieldname="id_form" 

			{$id_form_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label form_all id_form }</span>
					{$arrow_icon_id_form}
			</span>
	</span>
	{END id_form_fieldheader}
{END id_form_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_agreement_class}	"

			data-field="date_agreement"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_agreement_fieldheadercolumn}
	{BEGIN date_agreement_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_agreement" data-fieldname="date_agreement" 

			{$date_agreement_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label form_all date_agreement }</span>
					{$arrow_icon_date_agreement}
			</span>
	</span>
	{END date_agreement_fieldheader}
{END date_agreement_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$title_class}	"

			data-field="title"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN title_fieldheadercolumn}
	{BEGIN title_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="title" data-fieldname="title" 

			{$title_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label form_all title }</span>
					{$arrow_icon_title}
			</span>
	</span>
	{END title_fieldheader}
{END title_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$salesperson_class}	"

			data-field="salesperson"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN salesperson_fieldheadercolumn}
	{BEGIN salesperson_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="salesperson" data-fieldname="salesperson" 

			{$salesperson_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label form_all salesperson }</span>
					{$arrow_icon_salesperson}
			</span>
	</span>
	{END salesperson_fieldheader}
{END salesperson_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_sign_class}	"

			data-field="date_sign"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_sign_fieldheadercolumn}
	{BEGIN date_sign_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_sign" data-fieldname="date_sign" 

			{$date_sign_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label form_all date_sign }</span>
					{$arrow_icon_date_sign}
			</span>
	</span>
	{END date_sign_fieldheader}
{END date_sign_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$category_class}	"

			data-field="category"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN category_fieldheadercolumn}
	{BEGIN category_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="category" data-fieldname="category" 

			{$category_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label form_all category }</span>
					{$arrow_icon_category}
			</span>
	</span>
	{END category_fieldheader}
{END category_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$expected_sale_price_text_class}	"

			data-field="expected_sale_price_text"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN expected_sale_price_text_fieldheadercolumn}
	{BEGIN expected_sale_price_text_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="expected_sale_price_text" data-fieldname="expected_sale_price_text" 

			{$expected_sale_price_text_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label form_all expected_sale_price_text }</span>
					{$arrow_icon_expected_sale_price_text}
			</span>
	</span>
	{END expected_sale_price_text_fieldheader}
{END expected_sale_price_text_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="{mlang_message EDIT}" class="btn-link   
	 glyphicon glyphicon-pencil" href="form_all_edit.php?{$editlink}" {$editlink_attrs} title="{mlang_message EDIT}" >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="{mlang_message VIEW_RECORD}" class="btn-link   
	 glyphicon glyphicon-search" href="form_all_view.php?{$editlink}" {$viewlink_attrs} title="{mlang_message VIEW}" >		
				
								</a>
</span>
{END view_link}
{END view_column}
	
	</td>
	{END cellblock_grid_cell_icons}
									{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_form_class}	"

			data-field="id_form"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_form_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_form" data-fieldname="id_form" data-default-width >
{$id_form_value}
</span>
{END id_form_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_agreement_class}	"

			data-field="date_agreement"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_agreement_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_agreement" data-fieldname="date_agreement" data-default-width >
{$date_agreement_value}
</span>
{END date_agreement_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$title_class}	"

			data-field="title"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN title_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="title" data-fieldname="title" data-default-width >
{$title_value}
</span>
{END title_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$salesperson_class}	"

			data-field="salesperson"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN salesperson_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="salesperson" data-fieldname="salesperson" data-default-width >
{$salesperson_value}
</span>
{END salesperson_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_sign_class}	"

			data-field="date_sign"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_sign_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_sign" data-fieldname="date_sign" data-default-width >
{$date_sign_value}
</span>
{END date_sign_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$category_class}	"

			data-field="category"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN category_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="category" data-fieldname="category" data-default-width >
{$category_value}
</span>
{END category_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$expected_sale_price_text_class}	"

			data-field="expected_sale_price_text"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN expected_sale_price_text_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="expected_sale_price_text" data-fieldname="expected_sale_price_text" data-default-width >
{$expected_sale_price_text_value}
</span>
{END expected_sale_price_text_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
									{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_form_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_agreement_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$title_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$salesperson_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_sign_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$category_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$expected_sale_price_text_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="form_all_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




											
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
