<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel form5 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label form5 id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN id_tx_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_tx}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_tx{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_tx" data-fieldname="id_tx" >


	<label class="r-search-label control-label" for="{$labelfor_id_tx}">
		{$label form5 id_tx }	</label>
	<div class="r-search-option">
		{$searchtype_id_tx}
	</div>
	<div class="r-search-field">
		{$id_tx_editcontrol}	</div>
	<div class="r-search-field">
		{$id_tx_editcontrol1}
	</div>
	
</div>

{END id_tx_fieldblock}
											
{BEGIN representing_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_representing}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="representing{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="representing" data-fieldname="representing" >


	<label class="r-search-label control-label" for="{$labelfor_representing}">
		{$label form5 representing }	</label>
	<div class="r-search-option">
		{$searchtype_representing}
	</div>
	<div class="r-search-field">
		{$representing_editcontrol}	</div>
	<div class="r-search-field">
		{$representing_editcontrol1}
	</div>
	
</div>

{END representing_fieldblock}
											
{BEGIN id_form_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_form}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_form{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="id_form" data-fieldname="id_form" >


	<label class="r-search-label control-label" for="{$labelfor_id_form}">
		{$label form5 id_form }	</label>
	<div class="r-search-option">
		{$searchtype_id_form}
	</div>
	<div class="r-search-field">
		{$id_form_editcontrol}	</div>
	<div class="r-search-field">
		{$id_form_editcontrol1}
	</div>
	
</div>

{END id_form_fieldblock}
											
{BEGIN estateagent_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estateagent}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estateagent{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="estateagent" data-fieldname="estateagent" >


	<label class="r-search-label control-label" for="{$labelfor_estateagent}">
		{$label form5 estateagent }	</label>
	<div class="r-search-option">
		{$searchtype_estateagent}
	</div>
	<div class="r-search-field">
		{$estateagent_editcontrol}	</div>
	<div class="r-search-field">
		{$estateagent_editcontrol1}
	</div>
	
</div>

{END estateagent_fieldblock}
											
{BEGIN estateagent_cea_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estateagent_cea}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estateagent_cea{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="estateagent_cea" data-fieldname="estateagent_cea" >


	<label class="r-search-label control-label" for="{$labelfor_estateagent_cea}">
		{$label form5 estateagent_cea }	</label>
	<div class="r-search-option">
		{$searchtype_estateagent_cea}
	</div>
	<div class="r-search-field">
		{$estateagent_cea_editcontrol}	</div>
	<div class="r-search-field">
		{$estateagent_cea_editcontrol1}
	</div>
	
</div>

{END estateagent_cea_fieldblock}
											
{BEGIN property_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_property_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="property_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="property_address" data-fieldname="property_address" >


	<label class="r-search-label control-label" for="{$labelfor_property_address}">
		{$label form5 property_address }	</label>
	<div class="r-search-option">
		{$searchtype_property_address}
	</div>
	<div class="r-search-field">
		{$property_address_editcontrol}	</div>
	<div class="r-search-field">
		{$property_address_editcontrol1}
	</div>
	
</div>

{END property_address_fieldblock}
											
{BEGIN date_agreement_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_date_agreement}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="date_agreement{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="date_agreement" data-fieldname="date_agreement" >


	<label class="r-search-label control-label" for="{$labelfor_date_agreement}">
		{$label form5 date_agreement }	</label>
	<div class="r-search-option">
		{$searchtype_date_agreement}
	</div>
	<div class="r-search-field">
		{$date_agreement_editcontrol}	</div>
	<div class="r-search-field">
		{$date_agreement_editcontrol1}
	</div>
	
</div>

{END date_agreement_fieldblock}
											
{BEGIN seller1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_seller1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="seller1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="seller1" data-fieldname="seller1" >


	<label class="r-search-label control-label" for="{$labelfor_seller1}">
		{$label form5 seller1 }	</label>
	<div class="r-search-option">
		{$searchtype_seller1}
	</div>
	<div class="r-search-field">
		{$seller1_editcontrol}	</div>
	<div class="r-search-field">
		{$seller1_editcontrol1}
	</div>
	
</div>

{END seller1_fieldblock}
											
{BEGIN seller1_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_seller1_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="seller1_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="seller1_id" data-fieldname="seller1_id" >


	<label class="r-search-label control-label" for="{$labelfor_seller1_id}">
		{$label form5 seller1_id }	</label>
	<div class="r-search-option">
		{$searchtype_seller1_id}
	</div>
	<div class="r-search-field">
		{$seller1_id_editcontrol}	</div>
	<div class="r-search-field">
		{$seller1_id_editcontrol1}
	</div>
	
</div>

{END seller1_id_fieldblock}
											
{BEGIN seller2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_seller2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="seller2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="seller2" data-fieldname="seller2" >


	<label class="r-search-label control-label" for="{$labelfor_seller2}">
		{$label form5 seller2 }	</label>
	<div class="r-search-option">
		{$searchtype_seller2}
	</div>
	<div class="r-search-field">
		{$seller2_editcontrol}	</div>
	<div class="r-search-field">
		{$seller2_editcontrol1}
	</div>
	
</div>

{END seller2_fieldblock}
											
{BEGIN seller2_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_seller2_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="seller2_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="seller2_id" data-fieldname="seller2_id" >


	<label class="r-search-label control-label" for="{$labelfor_seller2_id}">
		{$label form5 seller2_id }	</label>
	<div class="r-search-option">
		{$searchtype_seller2_id}
	</div>
	<div class="r-search-field">
		{$seller2_id_editcontrol}	</div>
	<div class="r-search-field">
		{$seller2_id_editcontrol1}
	</div>
	
</div>

{END seller2_id_fieldblock}
											
{BEGIN seller3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_seller3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="seller3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="seller3" data-fieldname="seller3" >


	<label class="r-search-label control-label" for="{$labelfor_seller3}">
		{$label form5 seller3 }	</label>
	<div class="r-search-option">
		{$searchtype_seller3}
	</div>
	<div class="r-search-field">
		{$seller3_editcontrol}	</div>
	<div class="r-search-field">
		{$seller3_editcontrol1}
	</div>
	
</div>

{END seller3_fieldblock}
											
{BEGIN seller3_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_seller3_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="seller3_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="seller3_id" data-fieldname="seller3_id" >


	<label class="r-search-label control-label" for="{$labelfor_seller3_id}">
		{$label form5 seller3_id }	</label>
	<div class="r-search-option">
		{$searchtype_seller3_id}
	</div>
	<div class="r-search-field">
		{$seller3_id_editcontrol}	</div>
	<div class="r-search-field">
		{$seller3_id_editcontrol1}
	</div>
	
</div>

{END seller3_id_fieldblock}
											
{BEGIN seller4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_seller4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="seller4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="seller4" data-fieldname="seller4" >


	<label class="r-search-label control-label" for="{$labelfor_seller4}">
		{$label form5 seller4 }	</label>
	<div class="r-search-option">
		{$searchtype_seller4}
	</div>
	<div class="r-search-field">
		{$seller4_editcontrol}	</div>
	<div class="r-search-field">
		{$seller4_editcontrol1}
	</div>
	
</div>

{END seller4_fieldblock}
											
{BEGIN seller4_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_seller4_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="seller4_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="seller4_id" data-fieldname="seller4_id" >


	<label class="r-search-label control-label" for="{$labelfor_seller4_id}">
		{$label form5 seller4_id }	</label>
	<div class="r-search-option">
		{$searchtype_seller4_id}
	</div>
	<div class="r-search-field">
		{$seller4_id_editcontrol}	</div>
	<div class="r-search-field">
		{$seller4_id_editcontrol1}
	</div>
	
</div>

{END seller4_id_fieldblock}
											
{BEGIN agency_or_salesperson_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_agency_or_salesperson}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="agency_or_salesperson{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="agency_or_salesperson" data-fieldname="agency_or_salesperson" >


	<label class="r-search-label control-label" for="{$labelfor_agency_or_salesperson}">
		{$label form5 agency_or_salesperson }	</label>
	<div class="r-search-option">
		{$searchtype_agency_or_salesperson}
	</div>
	<div class="r-search-field">
		{$agency_or_salesperson_editcontrol}	</div>
	<div class="r-search-field">
		{$agency_or_salesperson_editcontrol1}
	</div>
	
</div>

{END agency_or_salesperson_fieldblock}
											
{BEGIN salesperson_ic_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_salesperson_ic}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="salesperson_ic{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="salesperson_ic" data-fieldname="salesperson_ic" >


	<label class="r-search-label control-label" for="{$labelfor_salesperson_ic}">
		{$label form5 salesperson_ic }	</label>
	<div class="r-search-option">
		{$searchtype_salesperson_ic}
	</div>
	<div class="r-search-field">
		{$salesperson_ic_editcontrol}	</div>
	<div class="r-search-field">
		{$salesperson_ic_editcontrol1}
	</div>
	
</div>

{END salesperson_ic_fieldblock}
											
{BEGIN salesperson_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_salesperson}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="salesperson{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="salesperson" data-fieldname="salesperson" >


	<label class="r-search-label control-label" for="{$labelfor_salesperson}">
		{$label form5 salesperson }	</label>
	<div class="r-search-option">
		{$searchtype_salesperson}
	</div>
	<div class="r-search-field">
		{$salesperson_editcontrol}	</div>
	<div class="r-search-field">
		{$salesperson_editcontrol1}
	</div>
	
</div>

{END salesperson_fieldblock}
											
{BEGIN salesperson_cea_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_salesperson_cea}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="salesperson_cea{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="salesperson_cea" data-fieldname="salesperson_cea" >


	<label class="r-search-label control-label" for="{$labelfor_salesperson_cea}">
		{$label form5 salesperson_cea }	</label>
	<div class="r-search-option">
		{$searchtype_salesperson_cea}
	</div>
	<div class="r-search-field">
		{$salesperson_cea_editcontrol}	</div>
	<div class="r-search-field">
		{$salesperson_cea_editcontrol1}
	</div>
	
</div>

{END salesperson_cea_fieldblock}
											
{BEGIN salesperson_contact_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_salesperson_contact}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="salesperson_contact{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="salesperson_contact" data-fieldname="salesperson_contact" >


	<label class="r-search-label control-label" for="{$labelfor_salesperson_contact}">
		{$label form5 salesperson_contact }	</label>
	<div class="r-search-option">
		{$searchtype_salesperson_contact}
	</div>
	<div class="r-search-field">
		{$salesperson_contact_editcontrol}	</div>
	<div class="r-search-field">
		{$salesperson_contact_editcontrol1}
	</div>
	
</div>

{END salesperson_contact_fieldblock}
											
{BEGIN category_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_category}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="category{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="category" data-fieldname="category" >


	<label class="r-search-label control-label" for="{$labelfor_category}">
		{$label form5 category }	</label>
	<div class="r-search-option">
		{$searchtype_category}
	</div>
	<div class="r-search-field">
		{$category_editcontrol}	</div>
	<div class="r-search-field">
		{$category_editcontrol1}
	</div>
	
</div>

{END category_fieldblock}
											
{BEGIN sign1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="sign1" data-fieldname="sign1" >


	<label class="r-search-label control-label" for="{$labelfor_sign1}">
		{$label form5 sign1 }	</label>
	<div class="r-search-option">
		{$searchtype_sign1}
	</div>
	<div class="r-search-field">
		{$sign1_editcontrol}	</div>
	<div class="r-search-field">
		{$sign1_editcontrol1}
	</div>
	
</div>

{END sign1_fieldblock}
											
{BEGIN sign2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="sign2" data-fieldname="sign2" >


	<label class="r-search-label control-label" for="{$labelfor_sign2}">
		{$label form5 sign2 }	</label>
	<div class="r-search-option">
		{$searchtype_sign2}
	</div>
	<div class="r-search-field">
		{$sign2_editcontrol}	</div>
	<div class="r-search-field">
		{$sign2_editcontrol1}
	</div>
	
</div>

{END sign2_fieldblock}
											
{BEGIN sign3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="sign3" data-fieldname="sign3" >


	<label class="r-search-label control-label" for="{$labelfor_sign3}">
		{$label form5 sign3 }	</label>
	<div class="r-search-option">
		{$searchtype_sign3}
	</div>
	<div class="r-search-field">
		{$sign3_editcontrol}	</div>
	<div class="r-search-field">
		{$sign3_editcontrol1}
	</div>
	
</div>

{END sign3_fieldblock}
											
{BEGIN sign4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="sign4" data-fieldname="sign4" >


	<label class="r-search-label control-label" for="{$labelfor_sign4}">
		{$label form5 sign4 }	</label>
	<div class="r-search-option">
		{$searchtype_sign4}
	</div>
	<div class="r-search-field">
		{$sign4_editcontrol}	</div>
	<div class="r-search-field">
		{$sign4_editcontrol1}
	</div>
	
</div>

{END sign4_fieldblock}
											
{BEGIN sign5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign5}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="sign5" data-fieldname="sign5" >


	<label class="r-search-label control-label" for="{$labelfor_sign5}">
		{$label form5 sign5 }	</label>
	<div class="r-search-option">
		{$searchtype_sign5}
	</div>
	<div class="r-search-field">
		{$sign5_editcontrol}	</div>
	<div class="r-search-field">
		{$sign5_editcontrol1}
	</div>
	
</div>

{END sign5_fieldblock}
											
{BEGIN sign6_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign6}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign6{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="sign6" data-fieldname="sign6" >


	<label class="r-search-label control-label" for="{$labelfor_sign6}">
		{$label form5 sign6 }	</label>
	<div class="r-search-option">
		{$searchtype_sign6}
	</div>
	<div class="r-search-field">
		{$sign6_editcontrol}	</div>
	<div class="r-search-field">
		{$sign6_editcontrol1}
	</div>
	
</div>

{END sign6_fieldblock}
											
{BEGIN estateagent_address2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estateagent_address2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estateagent_address2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="estateagent_address2" data-fieldname="estateagent_address2" >


	<label class="r-search-label control-label" for="{$labelfor_estateagent_address2}">
		{$label form5 estateagent_address2 }	</label>
	<div class="r-search-option">
		{$searchtype_estateagent_address2}
	</div>
	<div class="r-search-field">
		{$estateagent_address2_editcontrol}	</div>
	<div class="r-search-field">
		{$estateagent_address2_editcontrol1}
	</div>
	
</div>

{END estateagent_address2_fieldblock}
											
{BEGIN sign7_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign7}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign7{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="sign7" data-fieldname="sign7" >


	<label class="r-search-label control-label" for="{$labelfor_sign7}">
		{$label form5 sign7 }	</label>
	<div class="r-search-option">
		{$searchtype_sign7}
	</div>
	<div class="r-search-field">
		{$sign7_editcontrol}	</div>
	<div class="r-search-field">
		{$sign7_editcontrol1}
	</div>
	
</div>

{END sign7_fieldblock}
											
{BEGIN expected_sale_price_text_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_expected_sale_price_text}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="expected_sale_price_text{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="expected_sale_price_text" data-fieldname="expected_sale_price_text" >


	<label class="r-search-label control-label" for="{$labelfor_expected_sale_price_text}">
		{$label form5 expected_sale_price_text }	</label>
	<div class="r-search-option">
		{$searchtype_expected_sale_price_text}
	</div>
	<div class="r-search-field">
		{$expected_sale_price_text_editcontrol}	</div>
	<div class="r-search-field">
		{$expected_sale_price_text_editcontrol1}
	</div>
	
</div>

{END expected_sale_price_text_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
