<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel forms search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_tx_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_tx}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_tx{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_tx" data-fieldname="id_tx" >


	<label class="r-search-label control-label" for="{$labelfor_id_tx}">
		{$label forms id_tx }	</label>
	<div class="r-search-option">
		{$searchtype_id_tx}
	</div>
	<div class="r-search-field">
		{$id_tx_editcontrol}	</div>
	<div class="r-search-field">
		{$id_tx_editcontrol1}
	</div>
	
</div>

{END id_tx_fieldblock}
											
{BEGIN representing_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_representing}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="representing{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="representing" data-fieldname="representing" >


	<label class="r-search-label control-label" for="{$labelfor_representing}">
		{$label forms representing }	</label>
	<div class="r-search-option">
		{$searchtype_representing}
	</div>
	<div class="r-search-field">
		{$representing_editcontrol}	</div>
	<div class="r-search-field">
		{$representing_editcontrol1}
	</div>
	
</div>

{END representing_fieldblock}
											
{BEGIN id_form_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_form}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_form{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="id_form" data-fieldname="id_form" >


	<label class="r-search-label control-label" for="{$labelfor_id_form}">
		{$label forms id_form }	</label>
	<div class="r-search-option">
		{$searchtype_id_form}
	</div>
	<div class="r-search-field">
		{$id_form_editcontrol}	</div>
	<div class="r-search-field">
		{$id_form_editcontrol1}
	</div>
	
</div>

{END id_form_fieldblock}
											
{BEGIN date_agreement_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_date_agreement}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="date_agreement{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="date_agreement" data-fieldname="date_agreement" >


	<label class="r-search-label control-label" for="{$labelfor_date_agreement}">
		{$label forms date_agreement }	</label>
	<div class="r-search-option">
		{$searchtype_date_agreement}
	</div>
	<div class="r-search-field">
		{$date_agreement_editcontrol}	</div>
	<div class="r-search-field">
		{$date_agreement_editcontrol1}
	</div>
	
</div>

{END date_agreement_fieldblock}
											
{BEGIN title_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_title}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="title{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="title" data-fieldname="title" >


	<label class="r-search-label control-label" for="{$labelfor_title}">
		{$label forms title }	</label>
	<div class="r-search-option">
		{$searchtype_title}
	</div>
	<div class="r-search-field">
		{$title_editcontrol}	</div>
	<div class="r-search-field">
		{$title_editcontrol1}
	</div>
	
</div>

{END title_fieldblock}
											
{BEGIN category_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_category}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="category{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="category" data-fieldname="category" >


	<label class="r-search-label control-label" for="{$labelfor_category}">
		{$label forms category }	</label>
	<div class="r-search-option">
		{$searchtype_category}
	</div>
	<div class="r-search-field">
		{$category_editcontrol}	</div>
	<div class="r-search-field">
		{$category_editcontrol1}
	</div>
	
</div>

{END category_fieldblock}
											
{BEGIN sign1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="sign1" data-fieldname="sign1" >


	<label class="r-search-label control-label" for="{$labelfor_sign1}">
		{$label forms sign1 }	</label>
	<div class="r-search-option">
		{$searchtype_sign1}
	</div>
	<div class="r-search-field">
		{$sign1_editcontrol}	</div>
	<div class="r-search-field">
		{$sign1_editcontrol1}
	</div>
	
</div>

{END sign1_fieldblock}
											
{BEGIN sign2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="sign2" data-fieldname="sign2" >


	<label class="r-search-label control-label" for="{$labelfor_sign2}">
		{$label forms sign2 }	</label>
	<div class="r-search-option">
		{$searchtype_sign2}
	</div>
	<div class="r-search-field">
		{$sign2_editcontrol}	</div>
	<div class="r-search-field">
		{$sign2_editcontrol1}
	</div>
	
</div>

{END sign2_fieldblock}
											
{BEGIN sign3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="sign3" data-fieldname="sign3" >


	<label class="r-search-label control-label" for="{$labelfor_sign3}">
		{$label forms sign3 }	</label>
	<div class="r-search-option">
		{$searchtype_sign3}
	</div>
	<div class="r-search-field">
		{$sign3_editcontrol}	</div>
	<div class="r-search-field">
		{$sign3_editcontrol1}
	</div>
	
</div>

{END sign3_fieldblock}
											
{BEGIN sign4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="sign4" data-fieldname="sign4" >


	<label class="r-search-label control-label" for="{$labelfor_sign4}">
		{$label forms sign4 }	</label>
	<div class="r-search-option">
		{$searchtype_sign4}
	</div>
	<div class="r-search-field">
		{$sign4_editcontrol}	</div>
	<div class="r-search-field">
		{$sign4_editcontrol1}
	</div>
	
</div>

{END sign4_fieldblock}
											
{BEGIN sign5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign5}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="sign5" data-fieldname="sign5" >


	<label class="r-search-label control-label" for="{$labelfor_sign5}">
		{$label forms sign5 }	</label>
	<div class="r-search-option">
		{$searchtype_sign5}
	</div>
	<div class="r-search-field">
		{$sign5_editcontrol}	</div>
	<div class="r-search-field">
		{$sign5_editcontrol1}
	</div>
	
</div>

{END sign5_fieldblock}
											
{BEGIN sign6_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign6}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign6{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="sign6" data-fieldname="sign6" >


	<label class="r-search-label control-label" for="{$labelfor_sign6}">
		{$label forms sign6 }	</label>
	<div class="r-search-option">
		{$searchtype_sign6}
	</div>
	<div class="r-search-field">
		{$sign6_editcontrol}	</div>
	<div class="r-search-field">
		{$sign6_editcontrol1}
	</div>
	
</div>

{END sign6_fieldblock}
											
{BEGIN sign7_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign7}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign7{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="sign7" data-fieldname="sign7" >


	<label class="r-search-label control-label" for="{$labelfor_sign7}">
		{$label forms sign7 }	</label>
	<div class="r-search-option">
		{$searchtype_sign7}
	</div>
	<div class="r-search-field">
		{$sign7_editcontrol}	</div>
	<div class="r-search-field">
		{$sign7_editcontrol1}
	</div>
	
</div>

{END sign7_fieldblock}
											
{BEGIN sign8_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign8}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign8{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="sign8" data-fieldname="sign8" >


	<label class="r-search-label control-label" for="{$labelfor_sign8}">
		{$label forms sign8 }	</label>
	<div class="r-search-option">
		{$searchtype_sign8}
	</div>
	<div class="r-search-field">
		{$sign8_editcontrol}	</div>
	<div class="r-search-field">
		{$sign8_editcontrol1}
	</div>
	
</div>

{END sign8_fieldblock}
											
{BEGIN sign_landlord1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_landlord1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_landlord1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="sign_landlord1" data-fieldname="sign_landlord1" >


	<label class="r-search-label control-label" for="{$labelfor_sign_landlord1}">
		{$label forms sign_landlord1 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_landlord1}
	</div>
	<div class="r-search-field">
		{$sign_landlord1_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_landlord1_editcontrol1}
	</div>
	
</div>

{END sign_landlord1_fieldblock}
											
{BEGIN sign_landlord2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_landlord2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_landlord2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="sign_landlord2" data-fieldname="sign_landlord2" >


	<label class="r-search-label control-label" for="{$labelfor_sign_landlord2}">
		{$label forms sign_landlord2 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_landlord2}
	</div>
	<div class="r-search-field">
		{$sign_landlord2_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_landlord2_editcontrol1}
	</div>
	
</div>

{END sign_landlord2_fieldblock}
											
{BEGIN sign_landlord3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_landlord3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_landlord3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="sign_landlord3" data-fieldname="sign_landlord3" >


	<label class="r-search-label control-label" for="{$labelfor_sign_landlord3}">
		{$label forms sign_landlord3 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_landlord3}
	</div>
	<div class="r-search-field">
		{$sign_landlord3_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_landlord3_editcontrol1}
	</div>
	
</div>

{END sign_landlord3_fieldblock}
											
{BEGIN sign_landlord4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_landlord4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_landlord4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="sign_landlord4" data-fieldname="sign_landlord4" >


	<label class="r-search-label control-label" for="{$labelfor_sign_landlord4}">
		{$label forms sign_landlord4 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_landlord4}
	</div>
	<div class="r-search-field">
		{$sign_landlord4_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_landlord4_editcontrol1}
	</div>
	
</div>

{END sign_landlord4_fieldblock}
											
{BEGIN sign_tenant1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_tenant1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_tenant1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="sign_tenant1" data-fieldname="sign_tenant1" >


	<label class="r-search-label control-label" for="{$labelfor_sign_tenant1}">
		{$label forms sign_tenant1 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_tenant1}
	</div>
	<div class="r-search-field">
		{$sign_tenant1_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_tenant1_editcontrol1}
	</div>
	
</div>

{END sign_tenant1_fieldblock}
											
{BEGIN sign_tenant2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_tenant2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_tenant2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="sign_tenant2" data-fieldname="sign_tenant2" >


	<label class="r-search-label control-label" for="{$labelfor_sign_tenant2}">
		{$label forms sign_tenant2 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_tenant2}
	</div>
	<div class="r-search-field">
		{$sign_tenant2_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_tenant2_editcontrol1}
	</div>
	
</div>

{END sign_tenant2_fieldblock}
											
{BEGIN sign_tenant3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_tenant3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_tenant3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="sign_tenant3" data-fieldname="sign_tenant3" >


	<label class="r-search-label control-label" for="{$labelfor_sign_tenant3}">
		{$label forms sign_tenant3 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_tenant3}
	</div>
	<div class="r-search-field">
		{$sign_tenant3_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_tenant3_editcontrol1}
	</div>
	
</div>

{END sign_tenant3_fieldblock}
											
{BEGIN sign_tenant4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_tenant4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_tenant4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="sign_tenant4" data-fieldname="sign_tenant4" >


	<label class="r-search-label control-label" for="{$labelfor_sign_tenant4}">
		{$label forms sign_tenant4 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_tenant4}
	</div>
	<div class="r-search-field">
		{$sign_tenant4_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_tenant4_editcontrol1}
	</div>
	
</div>

{END sign_tenant4_fieldblock}
											
{BEGIN sign_buyer2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_buyer2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_buyer2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="sign_buyer2" data-fieldname="sign_buyer2" >


	<label class="r-search-label control-label" for="{$labelfor_sign_buyer2}">
		{$label forms sign_buyer2 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_buyer2}
	</div>
	<div class="r-search-field">
		{$sign_buyer2_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_buyer2_editcontrol1}
	</div>
	
</div>

{END sign_buyer2_fieldblock}
											
{BEGIN sign_buyer3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_buyer3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_buyer3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="sign_buyer3" data-fieldname="sign_buyer3" >


	<label class="r-search-label control-label" for="{$labelfor_sign_buyer3}">
		{$label forms sign_buyer3 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_buyer3}
	</div>
	<div class="r-search-field">
		{$sign_buyer3_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_buyer3_editcontrol1}
	</div>
	
</div>

{END sign_buyer3_fieldblock}
											
{BEGIN sign_buyer4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_buyer4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_buyer4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="sign_buyer4" data-fieldname="sign_buyer4" >


	<label class="r-search-label control-label" for="{$labelfor_sign_buyer4}">
		{$label forms sign_buyer4 }	</label>
	<div class="r-search-option">
		{$searchtype_sign_buyer4}
	</div>
	<div class="r-search-field">
		{$sign_buyer4_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_buyer4_editcontrol1}
	</div>
	
</div>

{END sign_buyer4_fieldblock}
											
{BEGIN estateagent_address2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estateagent_address2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estateagent_address2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="estateagent_address2" data-fieldname="estateagent_address2" >


	<label class="r-search-label control-label" for="{$labelfor_estateagent_address2}">
		{$label forms estateagent_address2 }	</label>
	<div class="r-search-option">
		{$searchtype_estateagent_address2}
	</div>
	<div class="r-search-field">
		{$estateagent_address2_editcontrol}	</div>
	<div class="r-search-field">
		{$estateagent_address2_editcontrol1}
	</div>
	
</div>

{END estateagent_address2_fieldblock}
											
{BEGIN expected_sale_price_text_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_expected_sale_price_text}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="expected_sale_price_text{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="expected_sale_price_text" data-fieldname="expected_sale_price_text" >


	<label class="r-search-label control-label" for="{$labelfor_expected_sale_price_text}">
		{$label forms expected_sale_price_text }	</label>
	<div class="r-search-option">
		{$searchtype_expected_sale_price_text}
	</div>
	<div class="r-search-field">
		{$expected_sale_price_text_editcontrol}	</div>
	<div class="r-search-field">
		{$expected_sale_price_text_editcontrol1}
	</div>
	
</div>

{END expected_sale_price_text_fieldblock}
											
{BEGIN sign9_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign9}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign9{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="sign9" data-fieldname="sign9" >


	<label class="r-search-label control-label" for="{$labelfor_sign9}">
		{$label forms sign9 }	</label>
	<div class="r-search-option">
		{$searchtype_sign9}
	</div>
	<div class="r-search-field">
		{$sign9_editcontrol}	</div>
	<div class="r-search-field">
		{$sign9_editcontrol1}
	</div>
	
</div>

{END sign9_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
