<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel my_comm_admin print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									
{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<div data-vcolumns=1 class="r-fluid r-grid-vertical bs-grid-vertical" data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	{BEGIN grid_record}
	{BEGIN grid_vrecord}
	<div class="r-record-body {$rowclass}" {$rowattrs} {$rowstyle} data-record-id="{$recId}">
		<div class="panel panel-default" {$recordattrs}>
											{BEGIN grid_recordheader}
			<div class="panel-heading">
					
	
				<table data-width="2" class="header-table">
				 
										<tr>
						 
							<td 
	class=" r-ori-vert			"
	colspan="2"		 
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}">
</td>
											</tr>
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
													</table>

					</div>
		{END grid_recordheader}
									
			<div class="panel-body">					
					
	
				<table data-width="2" >
				 
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$id_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id" data-fieldname="id" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin id }</span>
			</span>
	</span>
{END id_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$id_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id" data-fieldname="id" data-default-width >
{$id_value}
</span>
{END id_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label1" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN date_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date" data-fieldname="date" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin date }</span>
			</span>
	</span>
{END date_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date" data-fieldname="date" data-default-width >
{$date_value}
</span>
{END date_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$category_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label2" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN category_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="category" data-fieldname="category" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin category }</span>
			</span>
	</span>
{END category_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$category_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN category_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="category" data-fieldname="category" data-default-width >
{$category_value}
</span>
{END category_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$prop_type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label3" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN prop_type_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prop_type" data-fieldname="prop_type" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin prop_type }</span>
			</span>
	</span>
{END prop_type_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$prop_type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN prop_type_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prop_type" data-fieldname="prop_type" data-default-width >
{$prop_type_value}
</span>
{END prop_type_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Prop_kind_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label4" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Prop_kind_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Prop_kind" data-fieldname="Prop_kind" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin Prop_kind }</span>
			</span>
	</span>
{END Prop_kind_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Prop_kind_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Prop_kind_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Prop_kind" data-fieldname="Prop_kind" data-default-width >
{$Prop_kind_value}
</span>
{END Prop_kind_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$prop_address_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label5" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN prop_address_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prop_address" data-fieldname="prop_address" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin prop_address }</span>
			</span>
	</span>
{END prop_address_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$prop_address_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN prop_address_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prop_address" data-fieldname="prop_address" data-default-width >
{$prop_address_value}
</span>
{END prop_address_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$prop_postal_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label6" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN prop_postal_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prop_postal" data-fieldname="prop_postal" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin prop_postal }</span>
			</span>
	</span>
{END prop_postal_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$prop_postal_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN prop_postal_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prop_postal" data-fieldname="prop_postal" data-default-width >
{$prop_postal_value}
</span>
{END prop_postal_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$prop_name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label7" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN prop_name_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prop_name" data-fieldname="prop_name" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin prop_name }</span>
			</span>
	</span>
{END prop_name_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$prop_name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN prop_name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prop_name" data-fieldname="prop_name" data-default-width >
{$prop_name_value}
</span>
{END prop_name_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$transacted_price_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label8" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN transacted_price_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="transacted_price" data-fieldname="transacted_price" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin transacted_price }</span>
			</span>
	</span>
{END transacted_price_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$transacted_price_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN transacted_price_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="transacted_price" data-fieldname="transacted_price" data-default-width >
{$transacted_price_value}
</span>
{END transacted_price_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$comm_earned_salesperson_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label9" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN comm_earned_salesperson_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="comm_earned_salesperson" data-fieldname="comm_earned_salesperson" 

	
	
	>
	<span class="text-label">
		<span>{$label my_comm_admin comm_earned_salesperson }</span>
			</span>
	</span>
{END comm_earned_salesperson_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$comm_earned_salesperson_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN comm_earned_salesperson_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="comm_earned_salesperson" data-fieldname="comm_earned_salesperson" data-default-width >
{$comm_earned_salesperson_value}
</span>
{END comm_earned_salesperson_fieldcolumn}</td>
											</tr>
									 
													</table>

				
			</div>				
									
		</div>
</div>
		

 
			{END grid_vrecord}
	{END grid_record}
{END grid_row}
</div>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
