<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel pii_agency search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label pii_agency id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN docuserid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_docuserid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="docuserid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="docuserid" data-fieldname="docuserid" >


	<label class="r-search-label control-label" for="{$labelfor_docuserid}">
		{$label pii_agency docuserid }	</label>
	<div class="r-search-option">
		{$searchtype_docuserid}
	</div>
	<div class="r-search-field">
		{$docuserid_editcontrol}	</div>
	<div class="r-search-field">
		{$docuserid_editcontrol1}
	</div>
	
</div>

{END docuserid_fieldblock}
											
{BEGIN filenames_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_filenames}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="filenames{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="filenames" data-fieldname="filenames" >


	<label class="r-search-label control-label" for="{$labelfor_filenames}">
		{$label pii_agency filenames }	</label>
	<div class="r-search-option">
		{$searchtype_filenames}
	</div>
	<div class="r-search-field">
		{$filenames_editcontrol}	</div>
	<div class="r-search-field">
		{$filenames_editcontrol1}
	</div>
	
</div>

{END filenames_fieldblock}
											
{BEGIN insured_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_insured}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="insured{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="insured" data-fieldname="insured" >


	<label class="r-search-label control-label" for="{$labelfor_insured}">
		{$label pii_agency insured }	</label>
	<div class="r-search-option">
		{$searchtype_insured}
	</div>
	<div class="r-search-field">
		{$insured_editcontrol}	</div>
	<div class="r-search-field">
		{$insured_editcontrol1}
	</div>
	
</div>

{END insured_fieldblock}
											
{BEGIN category_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_category}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="category{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="category" data-fieldname="category" >


	<label class="r-search-label control-label" for="{$labelfor_category}">
		{$label pii_agency category }	</label>
	<div class="r-search-option">
		{$searchtype_category}
	</div>
	<div class="r-search-field">
		{$category_editcontrol}	</div>
	<div class="r-search-field">
		{$category_editcontrol1}
	</div>
	
</div>

{END category_fieldblock}
											
{BEGIN from_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_from_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="from_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="from_date" data-fieldname="from_date" >


	<label class="r-search-label control-label" for="{$labelfor_from_date}">
		{$label pii_agency from_date }	</label>
	<div class="r-search-option">
		{$searchtype_from_date}
	</div>
	<div class="r-search-field">
		{$from_date_editcontrol}	</div>
	<div class="r-search-field">
		{$from_date_editcontrol1}
	</div>
	
</div>

{END from_date_fieldblock}
											
{BEGIN to_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_to_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="to_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="to_date" data-fieldname="to_date" >


	<label class="r-search-label control-label" for="{$labelfor_to_date}">
		{$label pii_agency to_date }	</label>
	<div class="r-search-option">
		{$searchtype_to_date}
	</div>
	<div class="r-search-field">
		{$to_date_editcontrol}	</div>
	<div class="r-search-field">
		{$to_date_editcontrol1}
	</div>
	
</div>

{END to_date_fieldblock}
											
{BEGIN insurer_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_insurer}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="insurer{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="insurer" data-fieldname="insurer" >


	<label class="r-search-label control-label" for="{$labelfor_insurer}">
		{$label pii_agency insurer }	</label>
	<div class="r-search-option">
		{$searchtype_insurer}
	</div>
	<div class="r-search-field">
		{$insurer_editcontrol}	</div>
	<div class="r-search-field">
		{$insurer_editcontrol1}
	</div>
	
</div>

{END insurer_fieldblock}
											
{BEGIN premium_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_premium}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="premium{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="premium" data-fieldname="premium" >


	<label class="r-search-label control-label" for="{$labelfor_premium}">
		{$label pii_agency premium }	</label>
	<div class="r-search-option">
		{$searchtype_premium}
	</div>
	<div class="r-search-field">
		{$premium_editcontrol}	</div>
	<div class="r-search-field">
		{$premium_editcontrol1}
	</div>
	
</div>

{END premium_fieldblock}
											
{BEGIN policy_no_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_policy_no}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="policy_no{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="policy_no" data-fieldname="policy_no" >


	<label class="r-search-label control-label" for="{$labelfor_policy_no}">
		{$label pii_agency policy_no }	</label>
	<div class="r-search-option">
		{$searchtype_policy_no}
	</div>
	<div class="r-search-field">
		{$policy_no_editcontrol}	</div>
	<div class="r-search-field">
		{$policy_no_editcontrol1}
	</div>
	
</div>

{END policy_no_fieldblock}
											
{BEGIN policy_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_policy}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="policy{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="policy" data-fieldname="policy" >


	<label class="r-search-label control-label" for="{$labelfor_policy}">
		{$label pii_agency policy }	</label>
	<div class="r-search-option">
		{$searchtype_policy}
	</div>
	<div class="r-search-field">
		{$policy_editcontrol}	</div>
	<div class="r-search-field">
		{$policy_editcontrol1}
	</div>
	
</div>

{END policy_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
