<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel pii_agency_user view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN insured_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_insured}  r-vertical-field" 
	data-signal-error-for="insured{$id}" {$required_attr_insured}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="insured" data-fieldname="insured" >

	<label class="r-edit-label control-label {$insured_label_class}" for="{$labelfor_insured}">
		{BEGIN insured_label}
			{$insured_forward_control}
			{$label pii_agency_user insured }			{END insured_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$insured_value}	</div>
	</div>


{END insured_fieldblock}
											
{BEGIN category_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_category}  r-vertical-field" 
	data-signal-error-for="category{$id}" {$required_attr_category}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="category" data-fieldname="category" >

	<label class="r-edit-label control-label {$category_label_class}" for="{$labelfor_category}">
		{BEGIN category_label}
			{$category_forward_control}
			{$label pii_agency_user category }			{END category_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$category_value}	</div>
	</div>


{END category_fieldblock}
											
{BEGIN from_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_from_date}  r-vertical-field" 
	data-signal-error-for="from_date{$id}" {$required_attr_from_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="from_date" data-fieldname="from_date" >

	<label class="r-edit-label control-label {$from_date_label_class}" for="{$labelfor_from_date}">
		{BEGIN from_date_label}
			{$from_date_forward_control}
			{$label pii_agency_user from_date }			{END from_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$from_date_value}	</div>
	</div>


{END from_date_fieldblock}
											
{BEGIN to_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_to_date}  r-vertical-field" 
	data-signal-error-for="to_date{$id}" {$required_attr_to_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="to_date" data-fieldname="to_date" >

	<label class="r-edit-label control-label {$to_date_label_class}" for="{$labelfor_to_date}">
		{BEGIN to_date_label}
			{$to_date_forward_control}
			{$label pii_agency_user to_date }			{END to_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$to_date_value}	</div>
	</div>


{END to_date_fieldblock}
											
{BEGIN insurer_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_insurer}  r-vertical-field" 
	data-signal-error-for="insurer{$id}" {$required_attr_insurer}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="insurer" data-fieldname="insurer" >

	<label class="r-edit-label control-label {$insurer_label_class}" for="{$labelfor_insurer}">
		{BEGIN insurer_label}
			{$insurer_forward_control}
			{$label pii_agency_user insurer }			{END insurer_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$insurer_value}	</div>
	</div>


{END insurer_fieldblock}
											
{BEGIN policy_no_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_policy_no}  r-vertical-field" 
	data-signal-error-for="policy_no{$id}" {$required_attr_policy_no}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="policy_no" data-fieldname="policy_no" >

	<label class="r-edit-label control-label {$policy_no_label_class}" for="{$labelfor_policy_no}">
		{BEGIN policy_no_label}
			{$policy_no_forward_control}
			{$label pii_agency_user policy_no }			{END policy_no_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$policy_no_value}	</div>
	</div>


{END policy_no_fieldblock}
											
{BEGIN policy_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_policy}  r-vertical-field" 
	data-signal-error-for="policy{$id}" {$required_attr_policy}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="policy" data-fieldname="policy" >

	<label class="r-edit-label control-label {$policy_label_class}" for="{$labelfor_policy}">
		{BEGIN policy_label}
			{$policy_forward_control}
			{$label pii_agency_user policy }			{END policy_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$policy_value}	</div>
	</div>


{END policy_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		{BEGIN prev_button}
<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
{END prev_button}
	 
		{BEGIN next_button}
<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
{END next_button}
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
