<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel properties_owner search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label properties_owner name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="address" data-fieldname="address" >


	<label class="r-search-label control-label" for="{$labelfor_address}">
		{$label properties_owner address }	</label>
	<div class="r-search-option">
		{$searchtype_address}
	</div>
	<div class="r-search-field">
		{$address_editcontrol}	</div>
	<div class="r-search-field">
		{$address_editcontrol1}
	</div>
	
</div>

{END address_fieldblock}
											
{BEGIN nric_reg_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nric_reg}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nric_reg{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="nric_reg" data-fieldname="nric_reg" >


	<label class="r-search-label control-label" for="{$labelfor_nric_reg}">
		{$label properties_owner nric_reg }	</label>
	<div class="r-search-option">
		{$searchtype_nric_reg}
	</div>
	<div class="r-search-field">
		{$nric_reg_editcontrol}	</div>
	<div class="r-search-field">
		{$nric_reg_editcontrol1}
	</div>
	
</div>

{END nric_reg_fieldblock}
											
{BEGIN nric_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nric}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nric{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="nric" data-fieldname="nric" >


	<label class="r-search-label control-label" for="{$labelfor_nric}">
		{$label properties_owner nric }	</label>
	<div class="r-search-option">
		{$searchtype_nric}
	</div>
	<div class="r-search-field">
		{$nric_editcontrol}	</div>
	<div class="r-search-field">
		{$nric_editcontrol1}
	</div>
	
</div>

{END nric_fieldblock}
											
{BEGIN mobile_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mobile}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mobile{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="mobile" data-fieldname="mobile" >


	<label class="r-search-label control-label" for="{$labelfor_mobile}">
		{$label properties_owner mobile }	</label>
	<div class="r-search-option">
		{$searchtype_mobile}
	</div>
	<div class="r-search-field">
		{$mobile_editcontrol}	</div>
	<div class="r-search-field">
		{$mobile_editcontrol1}
	</div>
	
</div>

{END mobile_fieldblock}
											
{BEGIN cus_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cus_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cus_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="cus_type" data-fieldname="cus_type" >


	<label class="r-search-label control-label" for="{$labelfor_cus_type}">
		{$label properties_owner cus_type }	</label>
	<div class="r-search-option">
		{$searchtype_cus_type}
	</div>
	<div class="r-search-field">
		{$cus_type_editcontrol}	</div>
	<div class="r-search-field">
		{$cus_type_editcontrol1}
	</div>
	
</div>

{END cus_type_fieldblock}
											
{BEGIN contact_person_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_person{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="contact_person" data-fieldname="contact_person" >


	<label class="r-search-label control-label" for="{$labelfor_contact_person}">
		{$label properties_owner contact_person }	</label>
	<div class="r-search-option">
		{$searchtype_contact_person}
	</div>
	<div class="r-search-field">
		{$contact_person_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_person_editcontrol1}
	</div>
	
</div>

{END contact_person_fieldblock}
											
{BEGIN contact_person_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_person_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="contact_person_id" data-fieldname="contact_person_id" >


	<label class="r-search-label control-label" for="{$labelfor_contact_person_id}">
		{$label properties_owner contact_person_id }	</label>
	<div class="r-search-option">
		{$searchtype_contact_person_id}
	</div>
	<div class="r-search-field">
		{$contact_person_id_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_person_id_editcontrol1}
	</div>
	
</div>

{END contact_person_id_fieldblock}
											
{BEGIN owner_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_owner_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="owner_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="owner_type" data-fieldname="owner_type" >


	<label class="r-search-label control-label" for="{$labelfor_owner_type}">
		{$label properties_owner owner_type }	</label>
	<div class="r-search-option">
		{$searchtype_owner_type}
	</div>
	<div class="r-search-field">
		{$owner_type_editcontrol}	</div>
	<div class="r-search-field">
		{$owner_type_editcontrol1}
	</div>
	
</div>

{END owner_type_fieldblock}
											
{BEGIN ownership_kind_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ownership_kind}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ownership_kind{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="ownership_kind" data-fieldname="ownership_kind" >


	<label class="r-search-label control-label" for="{$labelfor_ownership_kind}">
		{$label properties_owner ownership_kind }	</label>
	<div class="r-search-option">
		{$searchtype_ownership_kind}
	</div>
	<div class="r-search-field">
		{$ownership_kind_editcontrol}	</div>
	<div class="r-search-field">
		{$ownership_kind_editcontrol1}
	</div>
	
</div>

{END ownership_kind_fieldblock}
											
{BEGIN purchase_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_purchase_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="purchase_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="purchase_at" data-fieldname="purchase_at" >


	<label class="r-search-label control-label" for="{$labelfor_purchase_at}">
		{$label properties_owner purchase_at }	</label>
	<div class="r-search-option">
		{$searchtype_purchase_at}
	</div>
	<div class="r-search-field">
		{$purchase_at_editcontrol}	</div>
	<div class="r-search-field">
		{$purchase_at_editcontrol1}
	</div>
	
</div>

{END purchase_at_fieldblock}
											
{BEGIN purchase_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_purchase_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="purchase_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="purchase_date" data-fieldname="purchase_date" >


	<label class="r-search-label control-label" for="{$labelfor_purchase_date}">
		{$label properties_owner purchase_date }	</label>
	<div class="r-search-option">
		{$searchtype_purchase_date}
	</div>
	<div class="r-search-field">
		{$purchase_date_editcontrol}	</div>
	<div class="r-search-field">
		{$purchase_date_editcontrol1}
	</div>
	
</div>

{END purchase_date_fieldblock}
											
{BEGIN sold_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sold_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sold_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="sold_at" data-fieldname="sold_at" >


	<label class="r-search-label control-label" for="{$labelfor_sold_at}">
		{$label properties_owner sold_at }	</label>
	<div class="r-search-option">
		{$searchtype_sold_at}
	</div>
	<div class="r-search-field">
		{$sold_at_editcontrol}	</div>
	<div class="r-search-field">
		{$sold_at_editcontrol1}
	</div>
	
</div>

{END sold_at_fieldblock}
											
{BEGIN sold_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sold_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sold_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="sold_date" data-fieldname="sold_date" >


	<label class="r-search-label control-label" for="{$labelfor_sold_date}">
		{$label properties_owner sold_date }	</label>
	<div class="r-search-option">
		{$searchtype_sold_date}
	</div>
	<div class="r-search-field">
		{$sold_date_editcontrol}	</div>
	<div class="r-search-field">
		{$sold_date_editcontrol1}
	</div>
	
</div>

{END sold_date_fieldblock}
											
{BEGIN allemails_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_allemails}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="allemails{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="allemails" data-fieldname="allemails" >


	<label class="r-search-label control-label" for="{$labelfor_allemails}">
		{$label properties_owner allemails }	</label>
	<div class="r-search-option">
		{$searchtype_allemails}
	</div>
	<div class="r-search-field">
		{$allemails_editcontrol}	</div>
	<div class="r-search-field">
		{$allemails_editcontrol1}
	</div>
	
</div>

{END allemails_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
