<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel properties edit}</h2>
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="properties_view.php?{$editlink}" {$view_page_button_attrs}>{mlang_message VIEW}</a>
{END message_view_page_button}
</div>
</div>
			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		
		data-v-width="5"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN types_fieldblock}
	<div class="r-edit-label" data-signal-error-for="types{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="types" data-fieldname="types" {$required_attr_types}>
		<label class="r-edit-label control-label {$types_label_class}" for="{$labelfor_types}">
			{BEGIN types_label}
				{$types_forward_control}
				{$label properties types }			{END types_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END types_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN types_fieldblock}
	<div class="r-edit-field" data-signal-error-for="types{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-page="properties_edit" data-field="types" data-fieldname="types" {$required_attr_types}>
		{$types_editcontrol}	</div>
{END types_fieldblock}
	
								</td>
			{END cellblock_grid_c2}
			 
		
							

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN kind_fieldblock}
	<div class="r-edit-label" data-signal-error-for="kind{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="kind" data-fieldname="kind" {$required_attr_kind}>
		<label class="r-edit-label control-label {$kind_label_class}" for="{$labelfor_kind}">
			{BEGIN kind_label}
				{$kind_forward_control}
				{$label properties kind }			{END kind_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END kind_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
			 
																

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN kind_fieldblock}
	<div class="r-edit-field" data-signal-error-for="kind{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-page="properties_edit" data-field="kind" data-fieldname="kind" {$required_attr_kind}>
		{$kind_editcontrol}	</div>
{END kind_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
		
							

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c6}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN hdb_town_fieldblock}
	<div class="r-edit-label" data-signal-error-for="hdb_town{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="hdb_town" data-fieldname="hdb_town" {$required_attr_hdb_town}>
		<label class="r-edit-label control-label {$hdb_town_label_class}" for="{$labelfor_hdb_town}">
			{BEGIN hdb_town_label}
				{$hdb_town_forward_control}
				{$label properties hdb_town }			{END hdb_town_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END hdb_town_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
			 
																

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN hdb_town_fieldblock}
	<div class="r-edit-field" data-signal-error-for="hdb_town{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-page="properties_edit" data-field="hdb_town" data-fieldname="hdb_town" {$required_attr_hdb_town}>
		{$hdb_town_editcontrol}	</div>
{END hdb_town_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
			 
		
							

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c9}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN hdb_scheme_fieldblock}
	<div class="r-edit-label" data-signal-error-for="hdb_scheme{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="hdb_scheme" data-fieldname="hdb_scheme" {$required_attr_hdb_scheme}>
		<label class="r-edit-label control-label {$hdb_scheme_label_class}" for="{$labelfor_hdb_scheme}">
			{BEGIN hdb_scheme_label}
				{$hdb_scheme_forward_control}
				{$label properties hdb_scheme }			{END hdb_scheme_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END hdb_scheme_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
			 
																

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN hdb_scheme_fieldblock}
	<div class="r-edit-field" data-signal-error-for="hdb_scheme{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-page="properties_edit" data-field="hdb_scheme" data-fieldname="hdb_scheme" {$required_attr_hdb_scheme}>
		{$hdb_scheme_editcontrol}	</div>
{END hdb_scheme_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
			 
		
							

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c12}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_address_fieldblock}
	<div class="r-edit-label" data-signal-error-for="prop_address{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address" {$required_attr_prop_address}>
		<label class="r-edit-label control-label {$prop_address_label_class}" for="{$labelfor_prop_address}">
			{BEGIN prop_address_label}
				{$prop_address_forward_control}
				{$label properties prop_address }			{END prop_address_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END prop_address_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
			 
																

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_address_fieldblock}
	<div class="r-edit-field" data-signal-error-for="prop_address{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-page="properties_edit" data-field="prop_address" data-fieldname="prop_address" {$required_attr_prop_address}>
		{$prop_address_editcontrol}	</div>
{END prop_address_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
			 
		
							

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c15}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c16}
<td
	{$cell_grid_c16}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c16" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_postal_fieldblock}
	<div class="r-edit-label" data-signal-error-for="prop_postal{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="prop_postal" data-fieldname="prop_postal" {$required_attr_prop_postal}>
		<label class="r-edit-label control-label {$prop_postal_label_class}" for="{$labelfor_prop_postal}">
			{BEGIN prop_postal_label}
				{$prop_postal_forward_control}
				{$label properties prop_postal }			{END prop_postal_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END prop_postal_fieldblock}
	
								</td>
			{END cellblock_grid_c16}
			 
																

{BEGIN cellblock_grid_c17}
<td
	{$cell_grid_c17}
	class=""
	
			
			data-cellId="grid_c17" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_postal_fieldblock}
	<div class="r-edit-field" data-signal-error-for="prop_postal{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-page="properties_edit" data-field="prop_postal" data-fieldname="prop_postal" data-before-same-field {$required_attr_prop_postal}>
		{$prop_postal_editcontrol}	</div>
{END prop_postal_fieldblock}
											<span data-itemtype="custom_button" data-itemid="custom_button1" {$item_custom_button1} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Find_Address_prop" data-event="192357" href="javascript:void(0)" typeid="ib" >
					<span class=""></span>
							Find Address			</a>
</span>
	
								</td>
			{END cellblock_grid_c17}
			 
		
							

{BEGIN cellblock_grid_c18}
<td
	{$cell_grid_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c18" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c18}
								</tr>
	 
	 
														<tr {$row_grid_6} >
										

{BEGIN cellblock_grid_c19}
<td
	{$cell_grid_c19}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c19" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_name_fieldblock}
	<div class="r-edit-label" data-signal-error-for="prop_name{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="prop_name" data-fieldname="prop_name" {$required_attr_prop_name}>
		<label class="r-edit-label control-label {$prop_name_label_class}" for="{$labelfor_prop_name}">
			{BEGIN prop_name_label}
				{$prop_name_forward_control}
				{$label properties prop_name }			{END prop_name_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END prop_name_fieldblock}
	
								</td>
			{END cellblock_grid_c19}
			 
																

{BEGIN cellblock_grid_c20}
<td
	{$cell_grid_c20}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c20" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_name_fieldblock}
	<div class="r-edit-field" data-signal-error-for="prop_name{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-page="properties_edit" data-field="prop_name" data-fieldname="prop_name" {$required_attr_prop_name}>
		{$prop_name_editcontrol}	</div>
{END prop_name_fieldblock}
	
								</td>
			{END cellblock_grid_c20}
			 
		
							

{BEGIN cellblock_grid_c21}
<td
	{$cell_grid_c21}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c21" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c21}
								</tr>
	 
	 
														<tr {$row_grid_7} >
										

{BEGIN cellblock_grid_c22}
<td
	{$cell_grid_c22}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c22" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN land_size_fieldblock}
	<div class="r-edit-label" data-signal-error-for="land_size{$id}" data-itemtype="edit_field_label" data-itemid="edit_field_label" {$item_edit_field_label} data-pageid="{$pageid}" data-field="land_size" data-fieldname="land_size" {$required_attr_land_size}>
		<label class="r-edit-label control-label {$land_size_label_class}" for="{$labelfor_land_size}">
			{BEGIN land_size_label}
				{$land_size_forward_control}
				{$label properties land_size }			{END land_size_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END land_size_fieldblock}
	
								</td>
			{END cellblock_grid_c22}
			 
																

{BEGIN cellblock_grid_c23}
<td
	{$cell_grid_c23}
	class=""
	
			
			data-cellId="grid_c23" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN land_size_fieldblock}
	<div class="r-edit-field" data-signal-error-for="land_size{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-page="properties_edit" data-field="land_size" data-fieldname="land_size" {$required_attr_land_size}>
		{$land_size_editcontrol}	</div>
{END land_size_fieldblock}
											{BEGIN land_size_unit_fieldblock}
	<div class="r-edit-field" data-signal-error-for="land_size_unit{$id}" data-itemtype="edit_field" data-itemid="land_size_unit" {$item_land_size_unit} data-pageid="{$pageid}" data-page="properties_edit" data-field="land_size_unit" data-fieldname="land_size_unit" {$required_attr_land_size_unit}>
		{$land_size_unit_editcontrol}	</div>
{END land_size_unit_fieldblock}
	
								</td>
			{END cellblock_grid_c23}
			 
		
							

{BEGIN cellblock_grid_c24}
<td
	{$cell_grid_c24}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c24" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c24}
								</tr>
	 
	 
														<tr {$row_grid_8} >
										

{BEGIN cellblock_grid_c28}
<td
	{$cell_grid_c28}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c28" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN builtup_fieldblock}
	<div class="r-edit-label" data-signal-error-for="builtup{$id}" data-itemtype="edit_field_label" data-itemid="edit_field_label1" {$item_edit_field_label1} data-pageid="{$pageid}" data-field="builtup" data-fieldname="builtup" {$required_attr_builtup}>
		<label class="r-edit-label control-label {$builtup_label_class}" for="{$labelfor_builtup}">
			{BEGIN builtup_label}
				{$builtup_forward_control}
				{$label properties builtup }			{END builtup_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END builtup_fieldblock}
	
								</td>
			{END cellblock_grid_c28}
			 
																

{BEGIN cellblock_grid_c29}
<td
	{$cell_grid_c29}
	class=""
	
			
			data-cellId="grid_c29" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN builtup_fieldblock}
	<div class="r-edit-field" data-signal-error-for="builtup{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-page="properties_edit" data-field="builtup" data-fieldname="builtup" {$required_attr_builtup}>
		{$builtup_editcontrol}	</div>
{END builtup_fieldblock}
											{BEGIN builtup_unit_fieldblock}
	<div class="r-edit-field" data-signal-error-for="builtup_unit{$id}" data-itemtype="edit_field" data-itemid="builtup_unit" {$item_builtup_unit} data-pageid="{$pageid}" data-page="properties_edit" data-field="builtup_unit" data-fieldname="builtup_unit" {$required_attr_builtup_unit}>
		{$builtup_unit_editcontrol}	</div>
{END builtup_unit_fieldblock}
	
								</td>
			{END cellblock_grid_c29}
			 
		
							

{BEGIN cellblock_grid_c30}
<td
	{$cell_grid_c30}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c30" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c30}
								</tr>
	 
	 
														<tr {$row_grid_9} >
										

{BEGIN cellblock_grid_c34}
<td
	{$cell_grid_c34}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c34" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN tenure_fieldblock}
	<div class="r-edit-label" data-signal-error-for="tenure{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="tenure" data-fieldname="tenure" {$required_attr_tenure}>
		<label class="r-edit-label control-label {$tenure_label_class}" for="{$labelfor_tenure}">
			{BEGIN tenure_label}
				{$tenure_forward_control}
				{$label properties tenure }			{END tenure_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END tenure_fieldblock}
	
								</td>
			{END cellblock_grid_c34}
			 
																

{BEGIN cellblock_grid_c35}
<td
	{$cell_grid_c35}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c35" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN tenure_fieldblock}
	<div class="r-edit-field" data-signal-error-for="tenure{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-page="properties_edit" data-field="tenure" data-fieldname="tenure" {$required_attr_tenure}>
		{$tenure_editcontrol}	</div>
{END tenure_fieldblock}
	
								</td>
			{END cellblock_grid_c35}
			 
		
							

{BEGIN cellblock_grid_c36}
<td
	{$cell_grid_c36}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c36" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c36}
								</tr>
	 
	 
														<tr {$row_grid_10} >
										

{BEGIN cellblock_grid_c37}
<td
	{$cell_grid_c37}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c37" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN year_built_fieldblock}
	<div class="r-edit-label" data-signal-error-for="year_built{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="year_built" data-fieldname="year_built" {$required_attr_year_built}>
		<label class="r-edit-label control-label {$year_built_label_class}" for="{$labelfor_year_built}">
			{BEGIN year_built_label}
				{$year_built_forward_control}
				{$label properties year_built }			{END year_built_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END year_built_fieldblock}
	
								</td>
			{END cellblock_grid_c37}
			 
																

{BEGIN cellblock_grid_c38}
<td
	{$cell_grid_c38}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c38" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN year_built_fieldblock}
	<div class="r-edit-field" data-signal-error-for="year_built{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-page="properties_edit" data-field="year_built" data-fieldname="year_built" data-before-same-field {$required_attr_year_built}>
		{$year_built_editcontrol}	</div>
{END year_built_fieldblock}
											{BEGIN year_built_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="year_built{$id}" data-itemtype="edit_field_tooltip" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="year_built" data-fieldname="year_built" >
		<div data-helpfor="year_built" {$tooltipAttr properties year_built } >
			<div class="text-muted">{$tooltip properties year_built }</div>
		</div>
	</div>
{END year_built_fieldblock}
	
								</td>
			{END cellblock_grid_c38}
			 
		
							

{BEGIN cellblock_grid_c39}
<td
	{$cell_grid_c39}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c39" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c39}
								</tr>
	 
	 
														<tr {$row_grid_11} >
										

{BEGIN cellblock_grid_c40}
<td
	{$cell_grid_c40}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c40" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN TOP_fieldblock}
	<div class="r-edit-label" data-signal-error-for="TOP{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="TOP" data-fieldname="TOP" {$required_attr_TOP}>
		<label class="r-edit-label control-label {$TOP_label_class}" for="{$labelfor_TOP}">
			{BEGIN TOP_label}
				{$TOP_forward_control}
				{$label properties TOP }			{END TOP_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END TOP_fieldblock}
	
								</td>
			{END cellblock_grid_c40}
			 
																

{BEGIN cellblock_grid_c41}
<td
	{$cell_grid_c41}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c41" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN TOP_fieldblock}
	<div class="r-edit-field" data-signal-error-for="TOP{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-page="properties_edit" data-field="TOP" data-fieldname="TOP" data-before-same-field {$required_attr_TOP}>
		{$TOP_editcontrol}	</div>
{END TOP_fieldblock}
											{BEGIN TOP_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="TOP{$id}" data-itemtype="edit_field_tooltip" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="TOP" data-fieldname="TOP" >
		<div data-helpfor="TOP" {$tooltipAttr properties TOP } >
			<div class="text-muted">{$tooltip properties TOP }</div>
		</div>
	</div>
{END TOP_fieldblock}
	
								</td>
			{END cellblock_grid_c41}
			 
		
							

{BEGIN cellblock_grid_c42}
<td
	{$cell_grid_c42}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c42" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c42}
								</tr>
	 
	 
														<tr {$row_grid_12} >
										

{BEGIN cellblock_grid_c25}
<td
	{$cell_grid_c25}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c25" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN photos_fieldblock}
	<div class="r-edit-label" data-signal-error-for="photos{$id}" data-itemtype="edit_field_label" data-itemid="edit_field_label2" {$item_edit_field_label2} data-pageid="{$pageid}" data-field="photos" data-fieldname="photos" {$required_attr_photos}>
		<label class="r-edit-label control-label {$photos_label_class}" for="{$labelfor_photos}">
			{BEGIN photos_label}
				{$photos_forward_control}
				{$label properties photos }			{END photos_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END photos_fieldblock}
	
								</td>
			{END cellblock_grid_c25}
			 
																

{BEGIN cellblock_grid_c26}
<td
	{$cell_grid_c26}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c26" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN photos_fieldblock}
	<div class="r-edit-field" data-signal-error-for="photos{$id}" data-itemtype="edit_field" data-itemid="edit_field" {$item_edit_field} data-pageid="{$pageid}" data-field="photos" data-fieldname="photos" {$required_attr_photos}>
		{$photos_editcontrol}	</div>
{END photos_fieldblock}
	
								</td>
			{END cellblock_grid_c26}
			 
		
							

{BEGIN cellblock_grid_c27}
<td
	{$cell_grid_c27}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c27" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c27}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		{BEGIN prev_button}
<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
{END prev_button}
	 
		{BEGIN next_button}
<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
{END next_button}
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN reset_button}
	<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
{END reset_button}
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="properties_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		{mlang_message VIEW}		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
