<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel prop_cust view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 
	data-signal-error-for="name{$id}" {$required_attr_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >

	<label class="r-edit-label control-label {$name_label_class}" for="{$labelfor_name}">
		{BEGIN name_label}
			{$name_forward_control}
			{$label prop_cust name }			{END name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$name_value}	</div>
	</div>


{END name_fieldblock}
											
{BEGIN owner_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_owner_type}  r-horizontal-field form-horizontal" 
	data-signal-error-for="owner_type{$id}" {$required_attr_owner_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="owner_type" data-fieldname="owner_type" >

	<label class="r-edit-label control-label {$owner_type_label_class}" for="{$labelfor_owner_type}">
		{BEGIN owner_type_label}
			{$owner_type_forward_control}
			{$label prop_cust owner_type }			{END owner_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$owner_type_value}	</div>
	</div>


{END owner_type_fieldblock}
											
{BEGIN ownership_kind_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ownership_kind}  r-horizontal-field form-horizontal" 
	data-signal-error-for="ownership_kind{$id}" {$required_attr_ownership_kind}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="ownership_kind" data-fieldname="ownership_kind" >

	<label class="r-edit-label control-label {$ownership_kind_label_class}" for="{$labelfor_ownership_kind}">
		{BEGIN ownership_kind_label}
			{$ownership_kind_forward_control}
			{$label prop_cust ownership_kind }			{END ownership_kind_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ownership_kind_value}	</div>
	</div>


{END ownership_kind_fieldblock}
											
{BEGIN nric_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nric}  r-horizontal-field form-horizontal" 
	data-signal-error-for="nric{$id}" {$required_attr_nric}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="nric" data-fieldname="nric" >

	<label class="r-edit-label control-label {$nric_label_class}" for="{$labelfor_nric}">
		{BEGIN nric_label}
			{$nric_forward_control}
			{$label prop_cust nric }			{END nric_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$nric_value}	</div>
	</div>


{END nric_fieldblock}
											
{BEGIN id_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_type}  r-horizontal-field form-horizontal" 
	data-signal-error-for="id_type{$id}" {$required_attr_id_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="id_type" data-fieldname="id_type" >

	<label class="r-edit-label control-label {$id_type_label_class}" for="{$labelfor_id_type}">
		{BEGIN id_type_label}
			{$id_type_forward_control}
			{$label prop_cust id_type }			{END id_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$id_type_value}	</div>
	</div>


{END id_type_fieldblock}
											
{BEGIN address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_address}  r-horizontal-field form-horizontal" 
	data-signal-error-for="address{$id}" {$required_attr_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="address" data-fieldname="address" >

	<label class="r-edit-label control-label {$address_label_class}" for="{$labelfor_address}">
		{BEGIN address_label}
			{$address_forward_control}
			{$label prop_cust address }			{END address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$address_value}	</div>
	</div>


{END address_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section_individual" {$item_section_individual} data-pageid="{$pageid}" data-page="prop_cust_view">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} 
			data-toggle="collapse"  

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Individual			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c3}
<td
	{$cell_section_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN nationality_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nationality}  r-horizontal-field form-horizontal" 
	data-signal-error-for="nationality{$id}" {$required_attr_nationality}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="nationality" data-fieldname="nationality" >

	<label class="r-edit-label control-label {$nationality_label_class}" for="{$labelfor_nationality}">
		{BEGIN nationality_label}
			{$nationality_forward_control}
			{$label prop_cust nationality }			{END nationality_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$nationality_value}	</div>
	</div>


{END nationality_fieldblock}
											
{BEGIN gender_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_gender}  r-horizontal-field form-horizontal" 
	data-signal-error-for="gender{$id}" {$required_attr_gender}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="gender" data-fieldname="gender" >

	<label class="r-edit-label control-label {$gender_label_class}" for="{$labelfor_gender}">
		{BEGIN gender_label}
			{$gender_forward_control}
			{$label prop_cust gender }			{END gender_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$gender_value}	</div>
	</div>


{END gender_fieldblock}
											
{BEGIN dob_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dob}  r-horizontal-field form-horizontal" 
	data-signal-error-for="dob{$id}" {$required_attr_dob}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="dob" data-fieldname="dob" >

	<label class="r-edit-label control-label {$dob_label_class}" for="{$labelfor_dob}">
		{BEGIN dob_label}
			{$dob_forward_control}
			{$label prop_cust dob }			{END dob_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$dob_value}	</div>
	</div>


{END dob_fieldblock}
											
{BEGIN occupation_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_occupation}  r-horizontal-field form-horizontal" 
	data-signal-error-for="occupation{$id}" {$required_attr_occupation}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="occupation" data-fieldname="occupation" >

	<label class="r-edit-label control-label {$occupation_label_class}" for="{$labelfor_occupation}">
		{BEGIN occupation_label}
			{$occupation_forward_control}
			{$label prop_cust occupation }			{END occupation_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$occupation_value}	</div>
	</div>


{END occupation_fieldblock}
											
{BEGIN mobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mobile}  r-horizontal-field form-horizontal" 
	data-signal-error-for="mobile{$id}" {$required_attr_mobile}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="mobile" data-fieldname="mobile" >

	<label class="r-edit-label control-label {$mobile_label_class}" for="{$labelfor_mobile}">
		{BEGIN mobile_label}
			{$mobile_forward_control}
			{$label prop_cust mobile }			{END mobile_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$mobile_value}	</div>
	</div>


{END mobile_fieldblock}
											
{BEGIN tel_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tel}  r-horizontal-field form-horizontal" 
	data-signal-error-for="tel{$id}" {$required_attr_tel}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="tel" data-fieldname="tel" >

	<label class="r-edit-label control-label {$tel_label_class}" for="{$labelfor_tel}">
		{BEGIN tel_label}
			{$tel_forward_control}
			{$label prop_cust tel }			{END tel_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tel_value}	</div>
	</div>


{END tel_fieldblock}
											
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 
	data-signal-error-for="email{$id}" {$required_attr_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >

	<label class="r-edit-label control-label {$email_label_class}" for="{$labelfor_email}">
		{BEGIN email_label}
			{$email_forward_control}
			{$label prop_cust email }			{END email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$email_value}	</div>
	</div>


{END email_fieldblock}
	
								</td>
			{END cellblock_section_c3}
								</tr>
			</tbody></table>
{END section_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section_entity" {$item_section_entity} data-pageid="{$pageid}" data-page="prop_cust_view">
		<div class="panel-heading" role="tab" {$section_section2_headattrs} 
			data-toggle="collapse"  

				href="#section2{$pageid}" aria-expanded="true" aria-controls="section2"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Entity			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section2_xtrclass}" role="tabpanel"  {$section_section2_attrs}

				id="section2{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN country_incorporation_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_country_incorporation}  r-horizontal-field form-horizontal" 
	data-signal-error-for="country_incorporation{$id}" {$required_attr_country_incorporation}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="country_incorporation" data-fieldname="country_incorporation" >

	<label class="r-edit-label control-label {$country_incorporation_label_class}" for="{$labelfor_country_incorporation}">
		{BEGIN country_incorporation_label}
			{$country_incorporation_forward_control}
			{$label prop_cust country_incorporation }			{END country_incorporation_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$country_incorporation_value}	</div>
	</div>


{END country_incorporation_fieldblock}
											
{BEGIN reg_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_reg_date}  r-horizontal-field form-horizontal" 
	data-signal-error-for="reg_date{$id}" {$required_attr_reg_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="reg_date" data-fieldname="reg_date" >

	<label class="r-edit-label control-label {$reg_date_label_class}" for="{$labelfor_reg_date}">
		{BEGIN reg_date_label}
			{$reg_date_forward_control}
			{$label prop_cust reg_date }			{END reg_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$reg_date_value}	</div>
	</div>


{END reg_date_fieldblock}
											
{BEGIN trade_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_trade}  r-horizontal-field form-horizontal" 
	data-signal-error-for="trade{$id}" {$required_attr_trade}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="trade" data-fieldname="trade" >

	<label class="r-edit-label control-label {$trade_label_class}" for="{$labelfor_trade}">
		{BEGIN trade_label}
			{$trade_forward_control}
			{$label prop_cust trade }			{END trade_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$trade_value}	</div>
	</div>


{END trade_fieldblock}
											
{BEGIN office_tel_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_office_tel}  r-horizontal-field form-horizontal" 
	data-signal-error-for="office_tel{$id}" {$required_attr_office_tel}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="office_tel" data-fieldname="office_tel" >

	<label class="r-edit-label control-label {$office_tel_label_class}" for="{$labelfor_office_tel}">
		{BEGIN office_tel_label}
			{$office_tel_forward_control}
			{$label prop_cust office_tel }			{END office_tel_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$office_tel_value}	</div>
	</div>


{END office_tel_fieldblock}
											
{BEGIN biz_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_biz_email}  r-horizontal-field form-horizontal" 
	data-signal-error-for="biz_email{$id}" {$required_attr_biz_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="biz_email" data-fieldname="biz_email" >

	<label class="r-edit-label control-label {$biz_email_label_class}" for="{$labelfor_biz_email}">
		{BEGIN biz_email_label}
			{$biz_email_forward_control}
			{$label prop_cust biz_email }			{END biz_email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$biz_email_value}	</div>
	</div>


{END biz_email_fieldblock}
											
{BEGIN contact_person_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person}  r-horizontal-field form-horizontal" 
	data-signal-error-for="contact_person{$id}" {$required_attr_contact_person}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="contact_person" data-fieldname="contact_person" >

	<label class="r-edit-label control-label {$contact_person_label_class}" for="{$labelfor_contact_person}">
		{BEGIN contact_person_label}
			{$contact_person_forward_control}
			{$label prop_cust contact_person }			{END contact_person_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_person_value}	</div>
	</div>


{END contact_person_fieldblock}
											
{BEGIN contact_person_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person_id}  r-horizontal-field form-horizontal" 
	data-signal-error-for="contact_person_id{$id}" {$required_attr_contact_person_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="contact_person_id" data-fieldname="contact_person_id" >

	<label class="r-edit-label control-label {$contact_person_id_label_class}" for="{$labelfor_contact_person_id}">
		{BEGIN contact_person_id_label}
			{$contact_person_id_forward_control}
			{$label prop_cust contact_person_id }			{END contact_person_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_person_id_value}	</div>
	</div>


{END contact_person_id_fieldblock}
											
{BEGIN destination_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_destination}  r-horizontal-field form-horizontal" 
	data-signal-error-for="destination{$id}" {$required_attr_destination}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="destination" data-fieldname="destination" >

	<label class="r-edit-label control-label {$destination_label_class}" for="{$labelfor_destination}">
		{BEGIN destination_label}
			{$destination_forward_control}
			{$label prop_cust destination }			{END destination_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$destination_value}	</div>
	</div>


{END destination_fieldblock}
											
{BEGIN contact_person_cell_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person_cell}  r-horizontal-field form-horizontal" 
	data-signal-error-for="contact_person_cell{$id}" {$required_attr_contact_person_cell}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="contact_person_cell" data-fieldname="contact_person_cell" >

	<label class="r-edit-label control-label {$contact_person_cell_label_class}" for="{$labelfor_contact_person_cell}">
		{BEGIN contact_person_cell_label}
			{$contact_person_cell_forward_control}
			{$label prop_cust contact_person_cell }			{END contact_person_cell_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_person_cell_value}	</div>
	</div>


{END contact_person_cell_fieldblock}
											
{BEGIN contact_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_email}  r-horizontal-field form-horizontal" 
	data-signal-error-for="contact_email{$id}" {$required_attr_contact_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="contact_email" data-fieldname="contact_email" >

	<label class="r-edit-label control-label {$contact_email_label_class}" for="{$labelfor_contact_email}">
		{BEGIN contact_email_label}
			{$contact_email_forward_control}
			{$label prop_cust contact_email }			{END contact_email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_email_value}	</div>
	</div>


{END contact_email_fieldblock}
											
{BEGIN remarks_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_remarks}  r-horizontal-field form-horizontal" 
	data-signal-error-for="remarks{$id}" {$required_attr_remarks}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="remarks" data-fieldname="remarks" >

	<label class="r-edit-label control-label {$remarks_label_class}" for="{$labelfor_remarks}">
		{BEGIN remarks_label}
			{$remarks_forward_control}
			{$label prop_cust remarks }			{END remarks_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$remarks_value}	</div>
	</div>


{END remarks_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
								</tr>
			</tbody></table>
{END section1_block}
		  </div>
		</div>
	</div>
											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN purchased_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_purchased_at}  r-horizontal-field form-horizontal" 
	data-signal-error-for="purchased_at{$id}" {$required_attr_purchased_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="purchased_at" data-fieldname="purchased_at" >

	<label class="r-edit-label control-label {$purchased_at_label_class}" for="{$labelfor_purchased_at}">
		{BEGIN purchased_at_label}
			{$purchased_at_forward_control}
			{$label prop_cust purchased_at }			{END purchased_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$purchased_at_value}	</div>
	</div>


{END purchased_at_fieldblock}
											
{BEGIN purchase_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_purchase_date}  r-horizontal-field form-horizontal" 
	data-signal-error-for="purchase_date{$id}" {$required_attr_purchase_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="purchase_date" data-fieldname="purchase_date" >

	<label class="r-edit-label control-label {$purchase_date_label_class}" for="{$labelfor_purchase_date}">
		{BEGIN purchase_date_label}
			{$purchase_date_forward_control}
			{$label prop_cust purchase_date }			{END purchase_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$purchase_date_value}	</div>
	</div>


{END purchase_date_fieldblock}
											
{BEGIN sold_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sold_at}  r-horizontal-field form-horizontal" 
	data-signal-error-for="sold_at{$id}" {$required_attr_sold_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="sold_at" data-fieldname="sold_at" >

	<label class="r-edit-label control-label {$sold_at_label_class}" for="{$labelfor_sold_at}">
		{BEGIN sold_at_label}
			{$sold_at_forward_control}
			{$label prop_cust sold_at }			{END sold_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sold_at_value}	</div>
	</div>


{END sold_at_fieldblock}
											
{BEGIN sold_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sold_date}  r-horizontal-field form-horizontal" 
	data-signal-error-for="sold_date{$id}" {$required_attr_sold_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="sold_date" data-fieldname="sold_date" >

	<label class="r-edit-label control-label {$sold_date_label_class}" for="{$labelfor_sold_date}">
		{BEGIN sold_date_label}
			{$sold_date_forward_control}
			{$label prop_cust sold_date }			{END sold_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sold_date_value}	</div>
	</div>


{END sold_date_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		{BEGIN prev_button}
<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
{END prev_button}
	 
		{BEGIN next_button}
<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
{END next_button}
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="prop_cust_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
