<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel properties view}</h2>
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c19}
<td
	{$cell_grid_c19}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c19" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN agentid_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label1" {$item_edit_field_label1} data-pageid="{$pageid}" data-field="agentid" data-fieldname="agentid">{BEGIN agentid_label}
		{$agentid_forward_control}
		{$label properties agentid }{END agentid_label}
	</label>
{END agentid_fieldblock}
	
								</td>
			{END cellblock_grid_c19}
			 
																

{BEGIN cellblock_grid_c20}
<td
	{$cell_grid_c20}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c20" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN agentid_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="edit_field1" {$item_edit_field1} data-pageid="{$pageid}" data-field="agentid" data-fieldname="agentid" >
		{$agentid_value}	</div>
{END agentid_fieldblock}
	
								</td>
			{END cellblock_grid_c20}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN types_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="types" data-fieldname="types">{BEGIN types_label}
		{$types_forward_control}
		{$label properties types }{END types_label}
	</label>
{END types_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN types_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="types" data-fieldname="types" >
		{$types_value}	</div>
{END types_fieldblock}
	
								</td>
			{END cellblock_grid_c2}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN kind_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="kind" data-fieldname="kind">{BEGIN kind_label}
		{$kind_forward_control}
		{$label properties kind }{END kind_label}
	</label>
{END kind_fieldblock}
	
								</td>
			{END cellblock_grid_c}
			 
																

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN kind_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="kind" data-fieldname="kind" >
		{$kind_value}	</div>
{END kind_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN hdb_town_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="hdb_town" data-fieldname="hdb_town">{BEGIN hdb_town_label}
		{$hdb_town_forward_control}
		{$label properties hdb_town }{END hdb_town_label}
	</label>
{END hdb_town_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
			 
																

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN hdb_town_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="hdb_town" data-fieldname="hdb_town" >
		{$hdb_town_value}	</div>
{END hdb_town_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN hdb_scheme_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="hdb_scheme" data-fieldname="hdb_scheme">{BEGIN hdb_scheme_label}
		{$hdb_scheme_forward_control}
		{$label properties hdb_scheme }{END hdb_scheme_label}
	</label>
{END hdb_scheme_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
			 
																

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN hdb_scheme_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="hdb_scheme" data-fieldname="hdb_scheme" >
		{$hdb_scheme_value}	</div>
{END hdb_scheme_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_address_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address">{BEGIN prop_address_label}
		{$prop_address_forward_control}
		{$label properties prop_address }{END prop_address_label}
	</label>
{END prop_address_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
			 
																

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_address_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address" >
		{$prop_address_value}	</div>
{END prop_address_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
								</tr>
	 
	 
														<tr {$row_grid_6} >
										

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_name_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="prop_name" data-fieldname="prop_name">{BEGIN prop_name_label}
		{$prop_name_forward_control}
		{$label properties prop_name }{END prop_name_label}
	</label>
{END prop_name_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
			 
																

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN prop_name_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="prop_name" data-fieldname="prop_name" >
		{$prop_name_value}	</div>
{END prop_name_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
								</tr>
	 
	 
														<tr {$row_grid_7} >
										

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN land_size_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="land_size" data-fieldname="land_size">{BEGIN land_size_label}
		{$land_size_forward_control}
		{$label properties land_size }{END land_size_label}
	</label>
{END land_size_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
			 
																

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=""
	
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN land_size_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="land_size" data-fieldname="land_size" >
		{$land_size_value}	</div>
{END land_size_fieldblock}
											{BEGIN land_size_unit_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="land_size_unit" {$item_land_size_unit} data-pageid="{$pageid}" data-field="land_size_unit" data-fieldname="land_size_unit" >
		{$land_size_unit_value}	</div>
{END land_size_unit_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
								</tr>
	 
	 
														<tr {$row_grid_8} >
										

{BEGIN cellblock_grid_c17}
<td
	{$cell_grid_c17}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c17" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN builtup_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="builtup" data-fieldname="builtup">{BEGIN builtup_label}
		{$builtup_forward_control}
		{$label properties builtup }{END builtup_label}
	</label>
{END builtup_fieldblock}
	
								</td>
			{END cellblock_grid_c17}
			 
																

{BEGIN cellblock_grid_c18}
<td
	{$cell_grid_c18}
	class=""
	
			
			data-cellId="grid_c18" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN builtup_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="builtup" data-fieldname="builtup" >
		{$builtup_value}	</div>
{END builtup_fieldblock}
											{BEGIN builtup_unit_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="builtup_unit" {$item_builtup_unit} data-pageid="{$pageid}" data-field="builtup_unit" data-fieldname="builtup_unit" >
		{$builtup_unit_value}	</div>
{END builtup_unit_fieldblock}
	
								</td>
			{END cellblock_grid_c18}
								</tr>
	 
	 
														<tr {$row_grid_9} >
										

{BEGIN cellblock_grid_c21}
<td
	{$cell_grid_c21}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c21" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN tenure_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="tenure" data-fieldname="tenure">{BEGIN tenure_label}
		{$tenure_forward_control}
		{$label properties tenure }{END tenure_label}
	</label>
{END tenure_fieldblock}
	
								</td>
			{END cellblock_grid_c21}
			 
																

{BEGIN cellblock_grid_c22}
<td
	{$cell_grid_c22}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c22" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN tenure_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="tenure" data-fieldname="tenure" >
		{$tenure_value}	</div>
{END tenure_fieldblock}
	
								</td>
			{END cellblock_grid_c22}
								</tr>
	 
	 
														<tr {$row_grid_10} >
										

{BEGIN cellblock_grid_c23}
<td
	{$cell_grid_c23}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c23" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN year_built_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="year_built" data-fieldname="year_built">{BEGIN year_built_label}
		{$year_built_forward_control}
		{$label properties year_built }{END year_built_label}
	</label>
{END year_built_fieldblock}
	
								</td>
			{END cellblock_grid_c23}
			 
																

{BEGIN cellblock_grid_c24}
<td
	{$cell_grid_c24}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c24" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN year_built_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="year_built" data-fieldname="year_built" >
		{$year_built_value}	</div>
{END year_built_fieldblock}
	
								</td>
			{END cellblock_grid_c24}
								</tr>
	 
	 
														<tr {$row_grid_11} >
										

{BEGIN cellblock_grid_c25}
<td
	{$cell_grid_c25}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c25" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN TOP_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="TOP" data-fieldname="TOP">{BEGIN TOP_label}
		{$TOP_forward_control}
		{$label properties TOP }{END TOP_label}
	</label>
{END TOP_fieldblock}
	
								</td>
			{END cellblock_grid_c25}
			 
																

{BEGIN cellblock_grid_c26}
<td
	{$cell_grid_c26}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c26" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN TOP_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="TOP" data-fieldname="TOP" >
		{$TOP_value}	</div>
{END TOP_fieldblock}
	
								</td>
			{END cellblock_grid_c26}
								</tr>
	 
	 
														<tr {$row_grid_12} >
										

{BEGIN cellblock_grid_c29}
<td
	{$cell_grid_c29}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c29" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN photos_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label" {$item_edit_field_label} data-pageid="{$pageid}" data-field="photos" data-fieldname="photos">{BEGIN photos_label}
		{$photos_forward_control}
		{$label properties photos }{END photos_label}
	</label>
{END photos_fieldblock}
	
								</td>
			{END cellblock_grid_c29}
			 
																

{BEGIN cellblock_grid_c30}
<td
	{$cell_grid_c30}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c30" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN photos_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="edit_field" {$item_edit_field} data-pageid="{$pageid}" data-field="photos" data-fieldname="photos" >
		{$photos_value}	</div>
{END photos_fieldblock}
	
								</td>
			{END cellblock_grid_c30}
								</tr>
	 
	 
																</tbody></table>
				
{BEGIN details_prop_cust}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_prop_cust}			
							<span>
					{$detailslButtons_prop_cust}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_prop_cust}
		</div>
	</div>
</div>
{END details_prop_cust}
	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		{BEGIN prev_button}
<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
{END prev_button}
	 
		{BEGIN next_button}
<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
{END next_button}
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="properties_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
								<li data-itemtype="view_pdf" data-itemid="view_pdf" {$item_view_pdf} data-pageid="{$pageid}" data-small >
				<a class="pdflink" data-pdfpage="view" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Properties.pdf" 
data-pagesize="LETTER" 
data-pagetype="view" 
{$pdflink_attrs}  title="" >
				
		{mlang_message PDF_VIEW}		
		</a>
	</li>
					</ul>
	</span>
</span>
		</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
