<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel rental_main_details search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label rental_main_details id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN id_prop_info_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_prop_info}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_prop_info{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_prop_info" data-fieldname="id_prop_info" >


	<label class="r-search-label control-label" for="{$labelfor_id_prop_info}">
		{$label rental_main_details id_prop_info }	</label>
	<div class="r-search-option">
		{$searchtype_id_prop_info}
	</div>
	<div class="r-search-field">
		{$id_prop_info_editcontrol}	</div>
	<div class="r-search-field">
		{$id_prop_info_editcontrol1}
	</div>
	
</div>

{END id_prop_info_fieldblock}
											
{BEGIN id_tx_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_tx}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_tx{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="id_tx" data-fieldname="id_tx" >


	<label class="r-search-label control-label" for="{$labelfor_id_tx}">
		{$label rental_main_details id_tx }	</label>
	<div class="r-search-option">
		{$searchtype_id_tx}
	</div>
	<div class="r-search-field">
		{$id_tx_editcontrol}	</div>
	<div class="r-search-field">
		{$id_tx_editcontrol1}
	</div>
	
</div>

{END id_tx_fieldblock}
											
{BEGIN reminder1_sent_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_reminder1_sent}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="reminder1_sent{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="reminder1_sent" data-fieldname="reminder1_sent" >


	<label class="r-search-label control-label" for="{$labelfor_reminder1_sent}">
		{$label rental_main_details reminder1_sent }	</label>
	<div class="r-search-option">
		{$searchtype_reminder1_sent}
	</div>
	<div class="r-search-field">
		{$reminder1_sent_editcontrol}	</div>
	<div class="r-search-field">
		{$reminder1_sent_editcontrol1}
	</div>
	
</div>

{END reminder1_sent_fieldblock}
											
{BEGIN reminder2_sent_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_reminder2_sent}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="reminder2_sent{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="reminder2_sent" data-fieldname="reminder2_sent" >


	<label class="r-search-label control-label" for="{$labelfor_reminder2_sent}">
		{$label rental_main_details reminder2_sent }	</label>
	<div class="r-search-option">
		{$searchtype_reminder2_sent}
	</div>
	<div class="r-search-field">
		{$reminder2_sent_editcontrol}	</div>
	<div class="r-search-field">
		{$reminder2_sent_editcontrol1}
	</div>
	
</div>

{END reminder2_sent_fieldblock}
											
{BEGIN lease_no_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lease_no}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lease_no{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="lease_no" data-fieldname="lease_no" >


	<label class="r-search-label control-label" for="{$labelfor_lease_no}">
		{$label rental_main_details lease_no }	</label>
	<div class="r-search-option">
		{$searchtype_lease_no}
	</div>
	<div class="r-search-field">
		{$lease_no_editcontrol}	</div>
	<div class="r-search-field">
		{$lease_no_editcontrol1}
	</div>
	
</div>

{END lease_no_fieldblock}
											
{BEGIN prop_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="prop_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address" >


	<label class="r-search-label control-label" for="{$labelfor_prop_address}">
		{$label rental_main_details prop_address }	</label>
	<div class="r-search-option">
		{$searchtype_prop_address}
	</div>
	<div class="r-search-field">
		{$prop_address_editcontrol}	</div>
	<div class="r-search-field">
		{$prop_address_editcontrol1}
	</div>
	
</div>

{END prop_address_fieldblock}
											
{BEGIN tenant_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tenant}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tenant{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="tenant" data-fieldname="tenant" >


	<label class="r-search-label control-label" for="{$labelfor_tenant}">
		{$label rental_main_details tenant }	</label>
	<div class="r-search-option">
		{$searchtype_tenant}
	</div>
	<div class="r-search-field">
		{$tenant_editcontrol}	</div>
	<div class="r-search-field">
		{$tenant_editcontrol1}
	</div>
	
</div>

{END tenant_fieldblock}
											
{BEGIN rent_amt_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rent_amt}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rent_amt{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="rent_amt" data-fieldname="rent_amt" >


	<label class="r-search-label control-label" for="{$labelfor_rent_amt}">
		{$label rental_main_details rent_amt }	</label>
	<div class="r-search-option">
		{$searchtype_rent_amt}
	</div>
	<div class="r-search-field">
		{$rent_amt_editcontrol}	</div>
	<div class="r-search-field">
		{$rent_amt_editcontrol1}
	</div>
	
</div>

{END rent_amt_fieldblock}
											
{BEGIN start_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_start_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="start_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="start_date" data-fieldname="start_date" >


	<label class="r-search-label control-label" for="{$labelfor_start_date}">
		{$label rental_main_details start_date }	</label>
	<div class="r-search-option">
		{$searchtype_start_date}
	</div>
	<div class="r-search-field">
		{$start_date_editcontrol}	</div>
	<div class="r-search-field">
		{$start_date_editcontrol1}
	</div>
	
</div>

{END start_date_fieldblock}
											
{BEGIN end_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_end_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="end_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="end_date" data-fieldname="end_date" >


	<label class="r-search-label control-label" for="{$labelfor_end_date}">
		{$label rental_main_details end_date }	</label>
	<div class="r-search-option">
		{$searchtype_end_date}
	</div>
	<div class="r-search-field">
		{$end_date_editcontrol}	</div>
	<div class="r-search-field">
		{$end_date_editcontrol1}
	</div>
	
</div>

{END end_date_fieldblock}
											
{BEGIN reminder_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_reminder}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="reminder{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="reminder" data-fieldname="reminder" >


	<label class="r-search-label control-label" for="{$labelfor_reminder}">
		{$label rental_main_details reminder }	</label>
	<div class="r-search-option">
		{$searchtype_reminder}
	</div>
	<div class="r-search-field">
		{$reminder_editcontrol}	</div>
	<div class="r-search-field">
		{$reminder_editcontrol1}
	</div>
	
</div>

{END reminder_fieldblock}
											
{BEGIN send_reminder_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_send_reminder_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="send_reminder_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="send_reminder_email" data-fieldname="send_reminder_email" >


	<label class="r-search-label control-label" for="{$labelfor_send_reminder_email}">
		{$label rental_main_details send_reminder_email }	</label>
	<div class="r-search-option">
		{$searchtype_send_reminder_email}
	</div>
	<div class="r-search-field">
		{$send_reminder_email_editcontrol}	</div>
	<div class="r-search-field">
		{$send_reminder_email_editcontrol1}
	</div>
	
</div>

{END send_reminder_email_fieldblock}
											
{BEGIN inventory_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inventory}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inventory{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="inventory" data-fieldname="inventory" >


	<label class="r-search-label control-label" for="{$labelfor_inventory}">
		{$label rental_main_details inventory }	</label>
	<div class="r-search-option">
		{$searchtype_inventory}
	</div>
	<div class="r-search-field">
		{$inventory_editcontrol}	</div>
	<div class="r-search-field">
		{$inventory_editcontrol1}
	</div>
	
</div>

{END inventory_fieldblock}
											
{BEGIN expense_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_expense}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="expense{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="expense" data-fieldname="expense" >


	<label class="r-search-label control-label" for="{$labelfor_expense}">
		{$label rental_main_details expense }	</label>
	<div class="r-search-option">
		{$searchtype_expense}
	</div>
	<div class="r-search-field">
		{$expense_editcontrol}	</div>
	<div class="r-search-field">
		{$expense_editcontrol1}
	</div>
	
</div>

{END expense_fieldblock}
											
{BEGIN doc_upload_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_doc_upload}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="doc_upload{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="doc_upload" data-fieldname="doc_upload" >


	<label class="r-search-label control-label" for="{$labelfor_doc_upload}">
		{$label rental_main_details doc_upload }	</label>
	<div class="r-search-option">
		{$searchtype_doc_upload}
	</div>
	<div class="r-search-field">
		{$doc_upload_editcontrol}	</div>
	<div class="r-search-field">
		{$doc_upload_editcontrol1}
	</div>
	
</div>

{END doc_upload_fieldblock}
											
{BEGIN agent_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_agent_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="agent_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="agent_email" data-fieldname="agent_email" >


	<label class="r-search-label control-label" for="{$labelfor_agent_email}">
		{$label rental_main_details agent_email }	</label>
	<div class="r-search-option">
		{$searchtype_agent_email}
	</div>
	<div class="r-search-field">
		{$agent_email_editcontrol}	</div>
	<div class="r-search-field">
		{$agent_email_editcontrol1}
	</div>
	
</div>

{END agent_email_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
