<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel rental_main_properties view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN title_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_title}  r-vertical-field" 
	data-signal-error-for="title{$id}" {$required_attr_title}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="title" data-fieldname="title" >

	<label class="r-edit-label control-label {$title_label_class}" for="{$labelfor_title}">
		{BEGIN title_label}
			{$title_forward_control}
			{$label rental_main_properties title }			{END title_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$title_value}	</div>
	</div>


{END title_fieldblock}
											
{BEGIN prop_address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_address}  r-vertical-field" 
	data-signal-error-for="prop_address{$id}" {$required_attr_prop_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address" >

	<label class="r-edit-label control-label {$prop_address_label_class}" for="{$labelfor_prop_address}">
		{BEGIN prop_address_label}
			{$prop_address_forward_control}
			{$label rental_main_properties prop_address }			{END prop_address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$prop_address_value}	</div>
	</div>


{END prop_address_fieldblock}
											
{BEGIN types_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_types}  r-vertical-field" 
	data-signal-error-for="types{$id}" {$required_attr_types}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="types" data-fieldname="types" >

	<label class="r-edit-label control-label {$types_label_class}" for="{$labelfor_types}">
		{BEGIN types_label}
			{$types_forward_control}
			{$label rental_main_properties types }			{END types_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$types_value}	</div>
	</div>


{END types_fieldblock}
											
{BEGIN kind_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kind}  r-vertical-field" 
	data-signal-error-for="kind{$id}" {$required_attr_kind}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="kind" data-fieldname="kind" >

	<label class="r-edit-label control-label {$kind_label_class}" for="{$labelfor_kind}">
		{BEGIN kind_label}
			{$kind_forward_control}
			{$label rental_main_properties kind }			{END kind_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$kind_value}	</div>
	</div>


{END kind_fieldblock}
											
{BEGIN hdb_town_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hdb_town}  r-vertical-field" 
	data-signal-error-for="hdb_town{$id}" {$required_attr_hdb_town}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="hdb_town" data-fieldname="hdb_town" >

	<label class="r-edit-label control-label {$hdb_town_label_class}" for="{$labelfor_hdb_town}">
		{BEGIN hdb_town_label}
			{$hdb_town_forward_control}
			{$label rental_main_properties hdb_town }			{END hdb_town_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$hdb_town_value}	</div>
	</div>


{END hdb_town_fieldblock}
											
{BEGIN hdb_scheme_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hdb_scheme}  r-vertical-field" 
	data-signal-error-for="hdb_scheme{$id}" {$required_attr_hdb_scheme}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="hdb_scheme" data-fieldname="hdb_scheme" >

	<label class="r-edit-label control-label {$hdb_scheme_label_class}" for="{$labelfor_hdb_scheme}">
		{BEGIN hdb_scheme_label}
			{$hdb_scheme_forward_control}
			{$label rental_main_properties hdb_scheme }			{END hdb_scheme_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$hdb_scheme_value}	</div>
	</div>


{END hdb_scheme_fieldblock}
											
{BEGIN land_size_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_land_size}  r-vertical-field" 
	data-signal-error-for="land_size{$id}" {$required_attr_land_size}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="land_size" data-fieldname="land_size" >

	<label class="r-edit-label control-label {$land_size_label_class}" for="{$labelfor_land_size}">
		{BEGIN land_size_label}
			{$land_size_forward_control}
			{$label rental_main_properties land_size }			{END land_size_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$land_size_value}	</div>
	</div>


{END land_size_fieldblock}
											
{BEGIN land_size_unit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_land_size_unit}  r-vertical-field" 
	data-signal-error-for="land_size_unit{$id}" {$required_attr_land_size_unit}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="land_size_unit" data-fieldname="land_size_unit" >

	<label class="r-edit-label control-label {$land_size_unit_label_class}" for="{$labelfor_land_size_unit}">
		{BEGIN land_size_unit_label}
			{$land_size_unit_forward_control}
			{$label rental_main_properties land_size_unit }			{END land_size_unit_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$land_size_unit_value}	</div>
	</div>


{END land_size_unit_fieldblock}
											
{BEGIN builtup_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_builtup}  r-vertical-field" 
	data-signal-error-for="builtup{$id}" {$required_attr_builtup}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="builtup" data-fieldname="builtup" >

	<label class="r-edit-label control-label {$builtup_label_class}" for="{$labelfor_builtup}">
		{BEGIN builtup_label}
			{$builtup_forward_control}
			{$label rental_main_properties builtup }			{END builtup_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$builtup_value}	</div>
	</div>


{END builtup_fieldblock}
											
{BEGIN builtup_unit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_builtup_unit}  r-vertical-field" 
	data-signal-error-for="builtup_unit{$id}" {$required_attr_builtup_unit}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="builtup_unit" data-fieldname="builtup_unit" >

	<label class="r-edit-label control-label {$builtup_unit_label_class}" for="{$labelfor_builtup_unit}">
		{BEGIN builtup_unit_label}
			{$builtup_unit_forward_control}
			{$label rental_main_properties builtup_unit }			{END builtup_unit_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$builtup_unit_value}	</div>
	</div>


{END builtup_unit_fieldblock}
											
{BEGIN tenure_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tenure}  r-vertical-field" 
	data-signal-error-for="tenure{$id}" {$required_attr_tenure}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="tenure" data-fieldname="tenure" >

	<label class="r-edit-label control-label {$tenure_label_class}" for="{$labelfor_tenure}">
		{BEGIN tenure_label}
			{$tenure_forward_control}
			{$label rental_main_properties tenure }			{END tenure_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tenure_value}	</div>
	</div>


{END tenure_fieldblock}
											
{BEGIN year_built_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_year_built}  r-vertical-field" 
	data-signal-error-for="year_built{$id}" {$required_attr_year_built}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="year_built" data-fieldname="year_built" >

	<label class="r-edit-label control-label {$year_built_label_class}" for="{$labelfor_year_built}">
		{BEGIN year_built_label}
			{$year_built_forward_control}
			{$label rental_main_properties year_built }			{END year_built_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$year_built_value}	</div>
	</div>


{END year_built_fieldblock}
											
{BEGIN TOP_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TOP}  r-vertical-field" 
	data-signal-error-for="TOP{$id}" {$required_attr_TOP}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="TOP" data-fieldname="TOP" >

	<label class="r-edit-label control-label {$TOP_label_class}" for="{$labelfor_TOP}">
		{BEGIN TOP_label}
			{$TOP_forward_control}
			{$label rental_main_properties TOP }			{END TOP_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$TOP_value}	</div>
	</div>


{END TOP_fieldblock}
											
{BEGIN agent_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_agent}  r-vertical-field" 
	data-signal-error-for="agent{$id}" {$required_attr_agent}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="agent" data-fieldname="agent" >

	<label class="r-edit-label control-label {$agent_label_class}" for="{$labelfor_agent}">
		{BEGIN agent_label}
			{$agent_forward_control}
			{$label rental_main_properties agent }			{END agent_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$agent_value}	</div>
	</div>


{END agent_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		{BEGIN prev_button}
<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
{END prev_button}
	 
		{BEGIN next_button}
<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
{END next_button}
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="rental_main_properties_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
