<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel str search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label str id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN id_tx_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_tx}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_tx{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_tx" data-fieldname="id_tx" >


	<label class="r-search-label control-label" for="{$labelfor_id_tx}">
		{$label str id_tx }	</label>
	<div class="r-search-option">
		{$searchtype_id_tx}
	</div>
	<div class="r-search-field">
		{$id_tx_editcontrol}	</div>
	<div class="r-search-field">
		{$id_tx_editcontrol1}
	</div>
	
</div>

{END id_tx_fieldblock}
											
{BEGIN represnting_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_represnting}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="represnting{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="represnting" data-fieldname="represnting" >


	<label class="r-search-label control-label" for="{$labelfor_represnting}">
		{$label str represnting }	</label>
	<div class="r-search-option">
		{$searchtype_represnting}
	</div>
	<div class="r-search-field">
		{$represnting_editcontrol}	</div>
	<div class="r-search-field">
		{$represnting_editcontrol1}
	</div>
	
</div>

{END represnting_fieldblock}
											
{BEGIN party_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_party_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="party_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="party_id" data-fieldname="party_id" >


	<label class="r-search-label control-label" for="{$labelfor_party_id}">
		{$label str party_id }	</label>
	<div class="r-search-option">
		{$searchtype_party_id}
	</div>
	<div class="r-search-field">
		{$party_id_editcontrol}	</div>
	<div class="r-search-field">
		{$party_id_editcontrol1}
	</div>
	
</div>

{END party_id_fieldblock}
											
{BEGIN filing_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_filing_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="filing_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="filing_date" data-fieldname="filing_date" >


	<label class="r-search-label control-label" for="{$labelfor_filing_date}">
		{$label str filing_date }	</label>
	<div class="r-search-option">
		{$searchtype_filing_date}
	</div>
	<div class="r-search-field">
		{$filing_date_editcontrol}	</div>
	<div class="r-search-field">
		{$filing_date_editcontrol1}
	</div>
	
</div>

{END filing_date_fieldblock}
											
{BEGIN ea_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ea_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ea_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="ea_name" data-fieldname="ea_name" >


	<label class="r-search-label control-label" for="{$labelfor_ea_name}">
		{$label str ea_name }	</label>
	<div class="r-search-option">
		{$searchtype_ea_name}
	</div>
	<div class="r-search-field">
		{$ea_name_editcontrol}	</div>
	<div class="r-search-field">
		{$ea_name_editcontrol1}
	</div>
	
</div>

{END ea_name_fieldblock}
											
{BEGIN ea_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ea_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ea_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="ea_address" data-fieldname="ea_address" >


	<label class="r-search-label control-label" for="{$labelfor_ea_address}">
		{$label str ea_address }	</label>
	<div class="r-search-option">
		{$searchtype_ea_address}
	</div>
	<div class="r-search-field">
		{$ea_address_editcontrol}	</div>
	<div class="r-search-field">
		{$ea_address_editcontrol1}
	</div>
	
</div>

{END ea_address_fieldblock}
											
{BEGIN officer_name1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_officer_name1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="officer_name1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="officer_name1" data-fieldname="officer_name1" >


	<label class="r-search-label control-label" for="{$labelfor_officer_name1}">
		{$label str officer_name1 }	</label>
	<div class="r-search-option">
		{$searchtype_officer_name1}
	</div>
	<div class="r-search-field">
		{$officer_name1_editcontrol}	</div>
	<div class="r-search-field">
		{$officer_name1_editcontrol1}
	</div>
	
</div>

{END officer_name1_fieldblock}
											
{BEGIN customer_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_customer_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="customer_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="customer_type" data-fieldname="customer_type" >


	<label class="r-search-label control-label" for="{$labelfor_customer_type}">
		{$label str customer_type }	</label>
	<div class="r-search-option">
		{$searchtype_customer_type}
	</div>
	<div class="r-search-field">
		{$customer_type_editcontrol}	</div>
	<div class="r-search-field">
		{$customer_type_editcontrol1}
	</div>
	
</div>

{END customer_type_fieldblock}
											
{BEGIN ea_contact_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ea_contact}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ea_contact{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="ea_contact" data-fieldname="ea_contact" >


	<label class="r-search-label control-label" for="{$labelfor_ea_contact}">
		{$label str ea_contact }	</label>
	<div class="r-search-option">
		{$searchtype_ea_contact}
	</div>
	<div class="r-search-field">
		{$ea_contact_editcontrol}	</div>
	<div class="r-search-field">
		{$ea_contact_editcontrol1}
	</div>
	
</div>

{END ea_contact_fieldblock}
											
{BEGIN entity_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entity_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entity_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="entity_name" data-fieldname="entity_name" >


	<label class="r-search-label control-label" for="{$labelfor_entity_name}">
		{$label str entity_name }	</label>
	<div class="r-search-option">
		{$searchtype_entity_name}
	</div>
	<div class="r-search-field">
		{$entity_name_editcontrol}	</div>
	<div class="r-search-field">
		{$entity_name_editcontrol1}
	</div>
	
</div>

{END entity_name_fieldblock}
											
{BEGIN ea_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ea_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ea_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="ea_email" data-fieldname="ea_email" >


	<label class="r-search-label control-label" for="{$labelfor_ea_email}">
		{$label str ea_email }	</label>
	<div class="r-search-option">
		{$searchtype_ea_email}
	</div>
	<div class="r-search-field">
		{$ea_email_editcontrol}	</div>
	<div class="r-search-field">
		{$ea_email_editcontrol1}
	</div>
	
</div>

{END ea_email_fieldblock}
											
{BEGIN reg_no_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_reg_no}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="reg_no{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="reg_no" data-fieldname="reg_no" >


	<label class="r-search-label control-label" for="{$labelfor_reg_no}">
		{$label str reg_no }	</label>
	<div class="r-search-option">
		{$searchtype_reg_no}
	</div>
	<div class="r-search-field">
		{$reg_no_editcontrol}	</div>
	<div class="r-search-field">
		{$reg_no_editcontrol1}
	</div>
	
</div>

{END reg_no_fieldblock}
											
{BEGIN relationship_with_subject_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_relationship_with_subject}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="relationship_with_subject{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="relationship_with_subject" data-fieldname="relationship_with_subject" >


	<label class="r-search-label control-label" for="{$labelfor_relationship_with_subject}">
		{$label str relationship_with_subject }	</label>
	<div class="r-search-option">
		{$searchtype_relationship_with_subject}
	</div>
	<div class="r-search-field">
		{$relationship_with_subject_editcontrol}	</div>
	<div class="r-search-field">
		{$relationship_with_subject_editcontrol1}
	</div>
	
</div>

{END relationship_with_subject_fieldblock}
											
{BEGIN entity_contact_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entity_contact}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entity_contact{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="entity_contact" data-fieldname="entity_contact" >


	<label class="r-search-label control-label" for="{$labelfor_entity_contact}">
		{$label str entity_contact }	</label>
	<div class="r-search-option">
		{$searchtype_entity_contact}
	</div>
	<div class="r-search-field">
		{$entity_contact_editcontrol}	</div>
	<div class="r-search-field">
		{$entity_contact_editcontrol1}
	</div>
	
</div>

{END entity_contact_fieldblock}
											
{BEGIN entity_director_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entity_director_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entity_director_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="entity_director_name" data-fieldname="entity_director_name" >


	<label class="r-search-label control-label" for="{$labelfor_entity_director_name}">
		{$label str entity_director_name }	</label>
	<div class="r-search-option">
		{$searchtype_entity_director_name}
	</div>
	<div class="r-search-field">
		{$entity_director_name_editcontrol}	</div>
	<div class="r-search-field">
		{$entity_director_name_editcontrol1}
	</div>
	
</div>

{END entity_director_name_fieldblock}
											
{BEGIN bo_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bo_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bo_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="bo_name" data-fieldname="bo_name" >


	<label class="r-search-label control-label" for="{$labelfor_bo_name}">
		{$label str bo_name }	</label>
	<div class="r-search-option">
		{$searchtype_bo_name}
	</div>
	<div class="r-search-field">
		{$bo_name_editcontrol}	</div>
	<div class="r-search-field">
		{$bo_name_editcontrol1}
	</div>
	
</div>

{END bo_name_fieldblock}
											
{BEGIN designation1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_designation1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="designation1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="designation1" data-fieldname="designation1" >


	<label class="r-search-label control-label" for="{$labelfor_designation1}">
		{$label str designation1 }	</label>
	<div class="r-search-option">
		{$searchtype_designation1}
	</div>
	<div class="r-search-field">
		{$designation1_editcontrol}	</div>
	<div class="r-search-field">
		{$designation1_editcontrol1}
	</div>
	
</div>

{END designation1_fieldblock}
											
{BEGIN indi_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="indi_name" data-fieldname="indi_name" >


	<label class="r-search-label control-label" for="{$labelfor_indi_name}">
		{$label str indi_name }	</label>
	<div class="r-search-option">
		{$searchtype_indi_name}
	</div>
	<div class="r-search-field">
		{$indi_name_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_name_editcontrol1}
	</div>
	
</div>

{END indi_name_fieldblock}
											
{BEGIN report_ref_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_report_ref}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="report_ref{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="report_ref" data-fieldname="report_ref" >


	<label class="r-search-label control-label" for="{$labelfor_report_ref}">
		{$label str report_ref }	</label>
	<div class="r-search-option">
		{$searchtype_report_ref}
	</div>
	<div class="r-search-field">
		{$report_ref_editcontrol}	</div>
	<div class="r-search-field">
		{$report_ref_editcontrol1}
	</div>
	
</div>

{END report_ref_fieldblock}
											
{BEGIN indi_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="indi_id" data-fieldname="indi_id" >


	<label class="r-search-label control-label" for="{$labelfor_indi_id}">
		{$label str indi_id }	</label>
	<div class="r-search-option">
		{$searchtype_indi_id}
	</div>
	<div class="r-search-field">
		{$indi_id_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_id_editcontrol1}
	</div>
	
</div>

{END indi_id_fieldblock}
											
{BEGIN officer_name2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_officer_name2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="officer_name2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="officer_name2" data-fieldname="officer_name2" >


	<label class="r-search-label control-label" for="{$labelfor_officer_name2}">
		{$label str officer_name2 }	</label>
	<div class="r-search-option">
		{$searchtype_officer_name2}
	</div>
	<div class="r-search-field">
		{$officer_name2_editcontrol}	</div>
	<div class="r-search-field">
		{$officer_name2_editcontrol1}
	</div>
	
</div>

{END officer_name2_fieldblock}
											
{BEGIN indi_nationalty_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_nationalty}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_nationalty{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="indi_nationalty" data-fieldname="indi_nationalty" >


	<label class="r-search-label control-label" for="{$labelfor_indi_nationalty}">
		{$label str indi_nationalty }	</label>
	<div class="r-search-option">
		{$searchtype_indi_nationalty}
	</div>
	<div class="r-search-field">
		{$indi_nationalty_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_nationalty_editcontrol1}
	</div>
	
</div>

{END indi_nationalty_fieldblock}
											
{BEGIN designation2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_designation2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="designation2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="designation2" data-fieldname="designation2" >


	<label class="r-search-label control-label" for="{$labelfor_designation2}">
		{$label str designation2 }	</label>
	<div class="r-search-option">
		{$searchtype_designation2}
	</div>
	<div class="r-search-field">
		{$designation2_editcontrol}	</div>
	<div class="r-search-field">
		{$designation2_editcontrol1}
	</div>
	
</div>

{END designation2_fieldblock}
											
{BEGIN indi_contact_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_contact}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_contact{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="indi_contact" data-fieldname="indi_contact" >


	<label class="r-search-label control-label" for="{$labelfor_indi_contact}">
		{$label str indi_contact }	</label>
	<div class="r-search-option">
		{$searchtype_indi_contact}
	</div>
	<div class="r-search-field">
		{$indi_contact_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_contact_editcontrol1}
	</div>
	
</div>

{END indi_contact_fieldblock}
											
{BEGIN indi_bo_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_bo_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_bo_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="indi_bo_name" data-fieldname="indi_bo_name" >


	<label class="r-search-label control-label" for="{$labelfor_indi_bo_name}">
		{$label str indi_bo_name }	</label>
	<div class="r-search-option">
		{$searchtype_indi_bo_name}
	</div>
	<div class="r-search-field">
		{$indi_bo_name_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_bo_name_editcontrol1}
	</div>
	
</div>

{END indi_bo_name_fieldblock}
											
{BEGIN salesperson_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_salesperson_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="salesperson_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="salesperson_name" data-fieldname="salesperson_name" >


	<label class="r-search-label control-label" for="{$labelfor_salesperson_name}">
		{$label str salesperson_name }	</label>
	<div class="r-search-option">
		{$searchtype_salesperson_name}
	</div>
	<div class="r-search-field">
		{$salesperson_name_editcontrol}	</div>
	<div class="r-search-field">
		{$salesperson_name_editcontrol1}
	</div>
	
</div>

{END salesperson_name_fieldblock}
											
{BEGIN salesperson_nric_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_salesperson_nric}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="salesperson_nric{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="salesperson_nric" data-fieldname="salesperson_nric" >


	<label class="r-search-label control-label" for="{$labelfor_salesperson_nric}">
		{$label str salesperson_nric }	</label>
	<div class="r-search-option">
		{$searchtype_salesperson_nric}
	</div>
	<div class="r-search-field">
		{$salesperson_nric_editcontrol}	</div>
	<div class="r-search-field">
		{$salesperson_nric_editcontrol1}
	</div>
	
</div>

{END salesperson_nric_fieldblock}
											
{BEGIN country_reg_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country_reg}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="country_reg{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="country_reg" data-fieldname="country_reg" >


	<label class="r-search-label control-label" for="{$labelfor_country_reg}">
		{$label str country_reg }	</label>
	<div class="r-search-option">
		{$searchtype_country_reg}
	</div>
	<div class="r-search-field">
		{$country_reg_editcontrol}	</div>
	<div class="r-search-field">
		{$country_reg_editcontrol1}
	</div>
	
</div>

{END country_reg_fieldblock}
											
{BEGIN reg_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_reg_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="reg_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="reg_date" data-fieldname="reg_date" >


	<label class="r-search-label control-label" for="{$labelfor_reg_date}">
		{$label str reg_date }	</label>
	<div class="r-search-option">
		{$searchtype_reg_date}
	</div>
	<div class="r-search-field">
		{$reg_date_editcontrol}	</div>
	<div class="r-search-field">
		{$reg_date_editcontrol1}
	</div>
	
</div>

{END reg_date_fieldblock}
											
{BEGIN entity_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entity_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entity_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="entity_address" data-fieldname="entity_address" >


	<label class="r-search-label control-label" for="{$labelfor_entity_address}">
		{$label str entity_address }	</label>
	<div class="r-search-option">
		{$searchtype_entity_address}
	</div>
	<div class="r-search-field">
		{$entity_address_editcontrol}	</div>
	<div class="r-search-field">
		{$entity_address_editcontrol1}
	</div>
	
</div>

{END entity_address_fieldblock}
											
{BEGIN entity_foreign_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entity_foreign_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entity_foreign_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="entity_foreign_address" data-fieldname="entity_foreign_address" >


	<label class="r-search-label control-label" for="{$labelfor_entity_foreign_address}">
		{$label str entity_foreign_address }	</label>
	<div class="r-search-option">
		{$searchtype_entity_foreign_address}
	</div>
	<div class="r-search-field">
		{$entity_foreign_address_editcontrol}	</div>
	<div class="r-search-field">
		{$entity_foreign_address_editcontrol1}
	</div>
	
</div>

{END entity_foreign_address_fieldblock}
											
{BEGIN biz_activity_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_biz_activity}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="biz_activity{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="biz_activity" data-fieldname="biz_activity" >


	<label class="r-search-label control-label" for="{$labelfor_biz_activity}">
		{$label str biz_activity }	</label>
	<div class="r-search-option">
		{$searchtype_biz_activity}
	</div>
	<div class="r-search-field">
		{$biz_activity_editcontrol}	</div>
	<div class="r-search-field">
		{$biz_activity_editcontrol1}
	</div>
	
</div>

{END biz_activity_fieldblock}
											
{BEGIN indi_dob_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_dob}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_dob{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="indi_dob" data-fieldname="indi_dob" >


	<label class="r-search-label control-label" for="{$labelfor_indi_dob}">
		{$label str indi_dob }	</label>
	<div class="r-search-option">
		{$searchtype_indi_dob}
	</div>
	<div class="r-search-field">
		{$indi_dob_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_dob_editcontrol1}
	</div>
	
</div>

{END indi_dob_fieldblock}
											
{BEGIN indi_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="indi_address" data-fieldname="indi_address" >


	<label class="r-search-label control-label" for="{$labelfor_indi_address}">
		{$label str indi_address }	</label>
	<div class="r-search-option">
		{$searchtype_indi_address}
	</div>
	<div class="r-search-field">
		{$indi_address_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_address_editcontrol1}
	</div>
	
</div>

{END indi_address_fieldblock}
											
{BEGIN indi_address_foreign_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_address_foreign}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_address_foreign{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="indi_address_foreign" data-fieldname="indi_address_foreign" >


	<label class="r-search-label control-label" for="{$labelfor_indi_address_foreign}">
		{$label str indi_address_foreign }	</label>
	<div class="r-search-option">
		{$searchtype_indi_address_foreign}
	</div>
	<div class="r-search-field">
		{$indi_address_foreign_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_address_foreign_editcontrol1}
	</div>
	
</div>

{END indi_address_foreign_fieldblock}
											
{BEGIN indi_occupation_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_occupation}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_occupation{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="indi_occupation" data-fieldname="indi_occupation" >


	<label class="r-search-label control-label" for="{$labelfor_indi_occupation}">
		{$label str indi_occupation }	</label>
	<div class="r-search-option">
		{$searchtype_indi_occupation}
	</div>
	<div class="r-search-field">
		{$indi_occupation_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_occupation_editcontrol1}
	</div>
	
</div>

{END indi_occupation_fieldblock}
											
{BEGIN indi_employer_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_employer}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_employer{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="indi_employer" data-fieldname="indi_employer" >


	<label class="r-search-label control-label" for="{$labelfor_indi_employer}">
		{$label str indi_employer }	</label>
	<div class="r-search-option">
		{$searchtype_indi_employer}
	</div>
	<div class="r-search-field">
		{$indi_employer_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_employer_editcontrol1}
	</div>
	
</div>

{END indi_employer_fieldblock}
											
{BEGIN indi_bank_details_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indi_bank_details}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indi_bank_details{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="indi_bank_details" data-fieldname="indi_bank_details" >


	<label class="r-search-label control-label" for="{$labelfor_indi_bank_details}">
		{$label str indi_bank_details }	</label>
	<div class="r-search-option">
		{$searchtype_indi_bank_details}
	</div>
	<div class="r-search-field">
		{$indi_bank_details_editcontrol}	</div>
	<div class="r-search-field">
		{$indi_bank_details_editcontrol1}
	</div>
	
</div>

{END indi_bank_details_fieldblock}
											
{BEGIN prop_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="prop_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address" >


	<label class="r-search-label control-label" for="{$labelfor_prop_address}">
		{$label str prop_address }	</label>
	<div class="r-search-option">
		{$searchtype_prop_address}
	</div>
	<div class="r-search-field">
		{$prop_address_editcontrol}	</div>
	<div class="r-search-field">
		{$prop_address_editcontrol1}
	</div>
	
</div>

{END prop_address_fieldblock}
											
{BEGIN prop_tenure_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_tenure}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="prop_tenure{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="prop_tenure" data-fieldname="prop_tenure" >


	<label class="r-search-label control-label" for="{$labelfor_prop_tenure}">
		{$label str prop_tenure }	</label>
	<div class="r-search-option">
		{$searchtype_prop_tenure}
	</div>
	<div class="r-search-field">
		{$prop_tenure_editcontrol}	</div>
	<div class="r-search-field">
		{$prop_tenure_editcontrol1}
	</div>
	
</div>

{END prop_tenure_fieldblock}
											
{BEGIN prop_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="prop_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="prop_type" data-fieldname="prop_type" >


	<label class="r-search-label control-label" for="{$labelfor_prop_type}">
		{$label str prop_type }	</label>
	<div class="r-search-option">
		{$searchtype_prop_type}
	</div>
	<div class="r-search-field">
		{$prop_type_editcontrol}	</div>
	<div class="r-search-field">
		{$prop_type_editcontrol1}
	</div>
	
</div>

{END prop_type_fieldblock}
											
{BEGIN transact_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_transact_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="transact_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field42" {$item_integrated_search_field42} data-pageid="{$pageid}" data-field="transact_type" data-fieldname="transact_type" >


	<label class="r-search-label control-label" for="{$labelfor_transact_type}">
		{$label str transact_type }	</label>
	<div class="r-search-option">
		{$searchtype_transact_type}
	</div>
	<div class="r-search-field">
		{$transact_type_editcontrol}	</div>
	<div class="r-search-field">
		{$transact_type_editcontrol1}
	</div>
	
</div>

{END transact_type_fieldblock}
											
{BEGIN transact_price_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_transact_price}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="transact_price{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field43" {$item_integrated_search_field43} data-pageid="{$pageid}" data-field="transact_price" data-fieldname="transact_price" >


	<label class="r-search-label control-label" for="{$labelfor_transact_price}">
		{$label str transact_price }	</label>
	<div class="r-search-option">
		{$searchtype_transact_price}
	</div>
	<div class="r-search-field">
		{$transact_price_editcontrol}	</div>
	<div class="r-search-field">
		{$transact_price_editcontrol1}
	</div>
	
</div>

{END transact_price_fieldblock}
											
{BEGIN valuation_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valuation}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valuation{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field44" {$item_integrated_search_field44} data-pageid="{$pageid}" data-field="valuation" data-fieldname="valuation" >


	<label class="r-search-label control-label" for="{$labelfor_valuation}">
		{$label str valuation }	</label>
	<div class="r-search-option">
		{$searchtype_valuation}
	</div>
	<div class="r-search-field">
		{$valuation_editcontrol}	</div>
	<div class="r-search-field">
		{$valuation_editcontrol1}
	</div>
	
</div>

{END valuation_fieldblock}
											
{BEGIN lease_period_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lease_period}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lease_period{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field45" {$item_integrated_search_field45} data-pageid="{$pageid}" data-field="lease_period" data-fieldname="lease_period" >


	<label class="r-search-label control-label" for="{$labelfor_lease_period}">
		{$label str lease_period }	</label>
	<div class="r-search-option">
		{$searchtype_lease_period}
	</div>
	<div class="r-search-field">
		{$lease_period_editcontrol}	</div>
	<div class="r-search-field">
		{$lease_period_editcontrol1}
	</div>
	
</div>

{END lease_period_fieldblock}
											
{BEGIN deposit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_deposit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="deposit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field46" {$item_integrated_search_field46} data-pageid="{$pageid}" data-field="deposit" data-fieldname="deposit" >


	<label class="r-search-label control-label" for="{$labelfor_deposit}">
		{$label str deposit }	</label>
	<div class="r-search-option">
		{$searchtype_deposit}
	</div>
	<div class="r-search-field">
		{$deposit_editcontrol}	</div>
	<div class="r-search-field">
		{$deposit_editcontrol1}
	</div>
	
</div>

{END deposit_fieldblock}
											
{BEGIN suspicious_amount_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_suspicious_amount}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="suspicious_amount{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field47" {$item_integrated_search_field47} data-pageid="{$pageid}" data-field="suspicious_amount" data-fieldname="suspicious_amount" >


	<label class="r-search-label control-label" for="{$labelfor_suspicious_amount}">
		{$label str suspicious_amount }	</label>
	<div class="r-search-option">
		{$searchtype_suspicious_amount}
	</div>
	<div class="r-search-field">
		{$suspicious_amount_editcontrol}	</div>
	<div class="r-search-field">
		{$suspicious_amount_editcontrol1}
	</div>
	
</div>

{END suspicious_amount_fieldblock}
											
{BEGIN suspicious_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_suspicious_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="suspicious_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field48" {$item_integrated_search_field48} data-pageid="{$pageid}" data-field="suspicious_date" data-fieldname="suspicious_date" >


	<label class="r-search-label control-label" for="{$labelfor_suspicious_date}">
		{$label str suspicious_date }	</label>
	<div class="r-search-option">
		{$searchtype_suspicious_date}
	</div>
	<div class="r-search-field">
		{$suspicious_date_editcontrol}	</div>
	<div class="r-search-field">
		{$suspicious_date_editcontrol1}
	</div>
	
</div>

{END suspicious_date_fieldblock}
											
{BEGIN description_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="description{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field49" {$item_integrated_search_field49} data-pageid="{$pageid}" data-field="description" data-fieldname="description" >


	<label class="r-search-label control-label" for="{$labelfor_description}">
		{$label str description }	</label>
	<div class="r-search-option">
		{$searchtype_description}
	</div>
	<div class="r-search-field">
		{$description_editcontrol}	</div>
	<div class="r-search-field">
		{$description_editcontrol1}
	</div>
	
</div>

{END description_fieldblock}
											
{BEGIN reason_suspicion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_reason_suspicion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="reason_suspicion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field50" {$item_integrated_search_field50} data-pageid="{$pageid}" data-field="reason_suspicion" data-fieldname="reason_suspicion" >


	<label class="r-search-label control-label" for="{$labelfor_reason_suspicion}">
		{$label str reason_suspicion }	</label>
	<div class="r-search-option">
		{$searchtype_reason_suspicion}
	</div>
	<div class="r-search-field">
		{$reason_suspicion_editcontrol}	</div>
	<div class="r-search-field">
		{$reason_suspicion_editcontrol1}
	</div>
	
</div>

{END reason_suspicion_fieldblock}
											
{BEGIN other_info_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_other_info}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="other_info{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field51" {$item_integrated_search_field51} data-pageid="{$pageid}" data-field="other_info" data-fieldname="other_info" >


	<label class="r-search-label control-label" for="{$labelfor_other_info}">
		{$label str other_info }	</label>
	<div class="r-search-option">
		{$searchtype_other_info}
	</div>
	<div class="r-search-field">
		{$other_info_editcontrol}	</div>
	<div class="r-search-field">
		{$other_info_editcontrol1}
	</div>
	
</div>

{END other_info_fieldblock}
											
{BEGIN docs_attach_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_docs_attach}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="docs_attach{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field52" {$item_integrated_search_field52} data-pageid="{$pageid}" data-field="docs_attach" data-fieldname="docs_attach" >


	<label class="r-search-label control-label" for="{$labelfor_docs_attach}">
		{$label str docs_attach }	</label>
	<div class="r-search-option">
		{$searchtype_docs_attach}
	</div>
	<div class="r-search-field">
		{$docs_attach_editcontrol}	</div>
	<div class="r-search-field">
		{$docs_attach_editcontrol1}
	</div>
	
</div>

{END docs_attach_fieldblock}
											
{BEGIN lease_period_unit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lease_period_unit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lease_period_unit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field53" {$item_integrated_search_field53} data-pageid="{$pageid}" data-field="lease_period_unit" data-fieldname="lease_period_unit" >


	<label class="r-search-label control-label" for="{$labelfor_lease_period_unit}">
		{$label str lease_period_unit }	</label>
	<div class="r-search-option">
		{$searchtype_lease_period_unit}
	</div>
	<div class="r-search-field">
		{$lease_period_unit_editcontrol}	</div>
	<div class="r-search-field">
		{$lease_period_unit_editcontrol1}
	</div>
	
</div>

{END lease_period_unit_fieldblock}
											
{BEGIN subject_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_subject_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="subject_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field54" {$item_integrated_search_field54} data-pageid="{$pageid}" data-field="subject_name" data-fieldname="subject_name" >


	<label class="r-search-label control-label" for="{$labelfor_subject_name}">
		{$label str subject_name }	</label>
	<div class="r-search-option">
		{$searchtype_subject_name}
	</div>
	<div class="r-search-field">
		{$subject_name_editcontrol}	</div>
	<div class="r-search-field">
		{$subject_name_editcontrol1}
	</div>
	
</div>

{END subject_name_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
