<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel transaction_party_involved view}</h2>
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list1" {$item_view_back_list1} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		<span data-itemtype="custom_button" data-itemid="custom_button2" {$item_custom_button2} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Print_page" data-event="192403" href="javascript:void(0)" typeid="ib" >
							Print			</a>
</span>
			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN category_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_category}  r-horizontal-field form-horizontal" 
	data-signal-error-for="category{$id}" {$required_attr_category}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="category" data-fieldname="category" >

	<label class="r-edit-label control-label {$category_label_class}" for="{$labelfor_category}">
		{BEGIN category_label}
			{$category_forward_control}
			{$label transaction_party_involved category }			{END category_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$category_value}	</div>
	</div>


{END category_fieldblock}
											
{BEGIN salesperson_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_salesperson_name}  r-horizontal-field form-horizontal" 
	data-signal-error-for="salesperson_name{$id}" {$required_attr_salesperson_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-page="transaction_party_involved_view" data-field="salesperson_name" data-fieldname="salesperson_name" >

	<label class="r-edit-label control-label {$salesperson_name_label_class}" for="{$labelfor_salesperson_name}">
		{BEGIN salesperson_name_label}
			{$salesperson_name_forward_control}
			{$label transaction_party_involved salesperson_name }			{END salesperson_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$salesperson_name_value}	</div>
	</div>


{END salesperson_name_fieldblock}
											
{BEGIN cea_reg_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cea_reg}  r-horizontal-field form-horizontal" 
	data-signal-error-for="cea_reg{$id}" {$required_attr_cea_reg}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="cea_reg" data-fieldname="cea_reg" >

	<label class="r-edit-label control-label {$cea_reg_label_class}" for="{$labelfor_cea_reg}">
		{BEGIN cea_reg_label}
			{$cea_reg_forward_control}
			{$label transaction_party_involved cea_reg }			{END cea_reg_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cea_reg_value}	</div>
	</div>


{END cea_reg_fieldblock}
											
{BEGIN representing_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_representing}  r-horizontal-field form-horizontal" 
	data-signal-error-for="representing{$id}" {$required_attr_representing}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="representing" data-fieldname="representing" >

	<label class="r-edit-label control-label {$representing_label_class}" for="{$labelfor_representing}">
		{BEGIN representing_label}
			{$representing_forward_control}
			{$label transaction_party_involved representing }			{END representing_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$representing_value}	</div>
	</div>


{END representing_fieldblock}
											
{BEGIN sale_price_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sale_price}  r-horizontal-field form-horizontal" 
	data-signal-error-for="sale_price{$id}" {$required_attr_sale_price}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="sale_price" data-fieldname="sale_price" >

	<label class="r-edit-label control-label {$sale_price_label_class}" for="{$labelfor_sale_price}">
		{BEGIN sale_price_label}
			{$sale_price_forward_control}
			{$label transaction_party_involved sale_price }			{END sale_price_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sale_price_value}	</div>
	</div>


{END sale_price_fieldblock}
											
{BEGIN valuation_price_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_valuation_price}  r-horizontal-field form-horizontal" 
	data-signal-error-for="valuation_price{$id}" {$required_attr_valuation_price}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="valuation_price" data-fieldname="valuation_price" >

	<label class="r-edit-label control-label {$valuation_price_label_class}" for="{$labelfor_valuation_price}">
		{BEGIN valuation_price_label}
			{$valuation_price_forward_control}
			{$label transaction_party_involved valuation_price }			{END valuation_price_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$valuation_price_value}	</div>
	</div>


{END valuation_price_fieldblock}
											
{BEGIN agency_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_agency}  r-horizontal-field form-horizontal" 
	data-signal-error-for="agency{$id}" {$required_attr_agency}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="agency" data-fieldname="agency" >

	<label class="r-edit-label control-label {$agency_label_class}" for="{$labelfor_agency}">
		{BEGIN agency_label}
			{$agency_forward_control}
			{$label transaction_party_involved agency }			{END agency_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$agency_value}	</div>
	</div>


{END agency_fieldblock}
											
{BEGIN prop_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_type}  r-horizontal-field form-horizontal" 
	data-signal-error-for="prop_type{$id}" {$required_attr_prop_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="prop_type" data-fieldname="prop_type" >

	<label class="r-edit-label control-label {$prop_type_label_class}" for="{$labelfor_prop_type}">
		{BEGIN prop_type_label}
			{$prop_type_forward_control}
			{$label transaction_party_involved prop_type }			{END prop_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$prop_type_value}	</div>
	</div>


{END prop_type_fieldblock}
											
{BEGIN Prop_kind_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Prop_kind}  r-horizontal-field form-horizontal" 
	data-signal-error-for="Prop_kind{$id}" {$required_attr_Prop_kind}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="Prop_kind" data-fieldname="Prop_kind" >

	<label class="r-edit-label control-label {$Prop_kind_label_class}" for="{$labelfor_Prop_kind}">
		{BEGIN Prop_kind_label}
			{$Prop_kind_forward_control}
			{$label transaction_party_involved Prop_kind }			{END Prop_kind_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Prop_kind_value}	</div>
	</div>


{END Prop_kind_fieldblock}
											
{BEGIN prop_address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_address}  r-horizontal-field form-horizontal" 
	data-signal-error-for="prop_address{$id}" {$required_attr_prop_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address" >

	<label class="r-edit-label control-label {$prop_address_label_class}" for="{$labelfor_prop_address}">
		{BEGIN prop_address_label}
			{$prop_address_forward_control}
			{$label transaction_party_involved prop_address }			{END prop_address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$prop_address_value}	</div>
	</div>


{END prop_address_fieldblock}
											
{BEGIN transacted_price_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_transacted_price}  r-horizontal-field form-horizontal" 
	data-signal-error-for="transacted_price{$id}" {$required_attr_transacted_price}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field51" {$item_integrated_edit_field51} data-pageid="{$pageid}" data-field="transacted_price" data-fieldname="transacted_price" >

	<label class="r-edit-label control-label {$transacted_price_label_class}" for="{$labelfor_transacted_price}">
		{BEGIN transacted_price_label}
			{$transacted_price_forward_control}
			{$label transaction_party_involved transacted_price }			{END transacted_price_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$transacted_price_value}	</div>
	</div>


{END transacted_price_fieldblock}
											
{BEGIN salesperson_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_salesperson_name}  r-horizontal-field form-horizontal" 
	data-signal-error-for="salesperson_name{$id}" {$required_attr_salesperson_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field70" {$item_integrated_edit_field70} data-pageid="{$pageid}" data-page="transaction_party_involved_view" data-field="salesperson_name" data-fieldname="salesperson_name" >

	<label class="r-edit-label control-label {$salesperson_name_label_class}" for="{$labelfor_salesperson_name}">
		{BEGIN salesperson_name_label}
			{$salesperson_name_forward_control}
			{$label transaction_party_involved salesperson_name }			{END salesperson_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$salesperson_name_value}	</div>
	</div>


{END salesperson_name_fieldblock}
											
{BEGIN office_tel_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_office_tel}  r-horizontal-field form-horizontal" 
	data-signal-error-for="office_tel{$id}" {$required_attr_office_tel}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="office_tel" data-fieldname="office_tel" >

	<label class="r-edit-label control-label {$office_tel_label_class}" for="{$labelfor_office_tel}">
		{BEGIN office_tel_label}
			{$office_tel_forward_control}
			{$label transaction_party_involved office_tel }			{END office_tel_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$office_tel_value}	</div>
	</div>


{END office_tel_fieldblock}
											
{BEGIN cus_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cus_type}  r-horizontal-field form-horizontal" 
	data-signal-error-for="cus_type{$id}" {$required_attr_cus_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="cus_type" data-fieldname="cus_type" >

	<label class="r-edit-label control-label {$cus_type_label_class}" for="{$labelfor_cus_type}">
		{BEGIN cus_type_label}
			{$cus_type_forward_control}
			{$label transaction_party_involved cus_type }			{END cus_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cus_type_value}	</div>
	</div>


{END cus_type_fieldblock}
											
{BEGIN trade_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_trade}  r-horizontal-field form-horizontal" 
	data-signal-error-for="trade{$id}" {$required_attr_trade}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="trade" data-fieldname="trade" >

	<label class="r-edit-label control-label {$trade_label_class}" for="{$labelfor_trade}">
		{BEGIN trade_label}
			{$trade_forward_control}
			{$label transaction_party_involved trade }			{END trade_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$trade_value}	</div>
	</div>


{END trade_fieldblock}
											
{BEGIN contact_person_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person}  r-horizontal-field form-horizontal" 
	data-signal-error-for="contact_person{$id}" {$required_attr_contact_person}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="contact_person" data-fieldname="contact_person" >

	<label class="r-edit-label control-label {$contact_person_label_class}" for="{$labelfor_contact_person}">
		{BEGIN contact_person_label}
			{$contact_person_forward_control}
			{$label transaction_party_involved contact_person }			{END contact_person_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_person_value}	</div>
	</div>


{END contact_person_fieldblock}
											
{BEGIN destination_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_destination}  r-horizontal-field form-horizontal" 
	data-signal-error-for="destination{$id}" {$required_attr_destination}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="destination" data-fieldname="destination" >

	<label class="r-edit-label control-label {$destination_label_class}" for="{$labelfor_destination}">
		{BEGIN destination_label}
			{$destination_forward_control}
			{$label transaction_party_involved destination }			{END destination_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$destination_value}	</div>
	</div>


{END destination_fieldblock}
											
{BEGIN contact_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_email}  r-horizontal-field form-horizontal" 
	data-signal-error-for="contact_email{$id}" {$required_attr_contact_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="contact_email" data-fieldname="contact_email" >

	<label class="r-edit-label control-label {$contact_email_label_class}" for="{$labelfor_contact_email}">
		{BEGIN contact_email_label}
			{$contact_email_forward_control}
			{$label transaction_party_involved contact_email }			{END contact_email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_email_value}	</div>
	</div>


{END contact_email_fieldblock}
											
{BEGIN biz_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_biz_email}  r-horizontal-field form-horizontal" 
	data-signal-error-for="biz_email{$id}" {$required_attr_biz_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="biz_email" data-fieldname="biz_email" >

	<label class="r-edit-label control-label {$biz_email_label_class}" for="{$labelfor_biz_email}">
		{BEGIN biz_email_label}
			{$biz_email_forward_control}
			{$label transaction_party_involved biz_email }			{END biz_email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$biz_email_value}	</div>
	</div>


{END biz_email_fieldblock}
											
{BEGIN contact_person_cell_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person_cell}  r-horizontal-field form-horizontal" 
	data-signal-error-for="contact_person_cell{$id}" {$required_attr_contact_person_cell}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="contact_person_cell" data-fieldname="contact_person_cell" >

	<label class="r-edit-label control-label {$contact_person_cell_label_class}" for="{$labelfor_contact_person_cell}">
		{BEGIN contact_person_cell_label}
			{$contact_person_cell_forward_control}
			{$label transaction_party_involved contact_person_cell }			{END contact_person_cell_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_person_cell_value}	</div>
	</div>


{END contact_person_cell_fieldblock}
											
{BEGIN contact_person_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person_id}  r-horizontal-field form-horizontal" 
	data-signal-error-for="contact_person_id{$id}" {$required_attr_contact_person_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="contact_person_id" data-fieldname="contact_person_id" >

	<label class="r-edit-label control-label {$contact_person_id_label_class}" for="{$labelfor_contact_person_id}">
		{BEGIN contact_person_id_label}
			{$contact_person_id_forward_control}
			{$label transaction_party_involved contact_person_id }			{END contact_person_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_person_id_value}	</div>
	</div>


{END contact_person_id_fieldblock}
											
{BEGIN country_incorporation_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_country_incorporation}  r-horizontal-field form-horizontal" 
	data-signal-error-for="country_incorporation{$id}" {$required_attr_country_incorporation}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="country_incorporation" data-fieldname="country_incorporation" >

	<label class="r-edit-label control-label {$country_incorporation_label_class}" for="{$labelfor_country_incorporation}">
		{BEGIN country_incorporation_label}
			{$country_incorporation_forward_control}
			{$label transaction_party_involved country_incorporation }			{END country_incorporation_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$country_incorporation_value}	</div>
	</div>


{END country_incorporation_fieldblock}
											
{BEGIN role_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_role}  r-horizontal-field form-horizontal" 
	data-signal-error-for="role{$id}" {$required_attr_role}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="role" data-fieldname="role" >

	<label class="r-edit-label control-label {$role_label_class}" for="{$labelfor_role}">
		{BEGIN role_label}
			{$role_forward_control}
			{$label transaction_party_involved role }			{END role_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$role_value}	</div>
	</div>


{END role_fieldblock}
											
{BEGIN reg_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_reg_date}  r-horizontal-field form-horizontal" 
	data-signal-error-for="reg_date{$id}" {$required_attr_reg_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="reg_date" data-fieldname="reg_date" >

	<label class="r-edit-label control-label {$reg_date_label_class}" for="{$labelfor_reg_date}">
		{BEGIN reg_date_label}
			{$reg_date_forward_control}
			{$label transaction_party_involved reg_date }			{END reg_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$reg_date_value}	</div>
	</div>


{END reg_date_fieldblock}
											
{BEGIN id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 
	data-signal-error-for="id{$id}" {$required_attr_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >

	<label class="r-edit-label control-label {$id_label_class}" for="{$labelfor_id}">
		{BEGIN id_label}
			{$id_forward_control}
			{$label transaction_party_involved id }			{END id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$id_value}	</div>
	</div>


{END id_fieldblock}
											
{BEGIN rental_price_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rental_price}  r-horizontal-field form-horizontal" 
	data-signal-error-for="rental_price{$id}" {$required_attr_rental_price}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="rental_price" data-fieldname="rental_price" >

	<label class="r-edit-label control-label {$rental_price_label_class}" for="{$labelfor_rental_price}">
		{BEGIN rental_price_label}
			{$rental_price_forward_control}
			{$label transaction_party_involved rental_price }			{END rental_price_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$rental_price_value}	</div>
	</div>


{END rental_price_fieldblock}
											<span data-itemtype="text" data-itemid="text24" {$item_text24} data-pageid="{$pageid}" > 
	<head><SCRIPT src="common.js" type="text/javascript">
    </SCRIPT></head></span>
											<span data-itemtype="text" data-itemid="text15" {$item_text15} data-pageid="{$pageid}" > 
	<!-- Return to Top -->
      <a href="javascript:" id="return-to-top">
        <I class="icon-chevron-up">
        </i>
      </a>
      <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"></span>
											
{BEGIN mobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mobile}  r-horizontal-field form-horizontal" 
	data-signal-error-for="mobile{$id}" {$required_attr_mobile}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="mobile" data-fieldname="mobile" >

	<label class="r-edit-label control-label {$mobile_label_class}" for="{$labelfor_mobile}">
		{BEGIN mobile_label}
			{$mobile_forward_control}
			{$label transaction_party_involved mobile }			{END mobile_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$mobile_value}	</div>
	</div>


{END mobile_fieldblock}
											
{BEGIN name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 
	data-signal-error-for="name{$id}" {$required_attr_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >

	<label class="r-edit-label control-label {$name_label_class}" for="{$labelfor_name}">
		{BEGIN name_label}
			{$name_forward_control}
			{$label transaction_party_involved name }			{END name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$name_value}	</div>
	</div>


{END name_fieldblock}
											
{BEGIN address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_address}  r-horizontal-field form-horizontal" 
	data-signal-error-for="address{$id}" {$required_attr_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="address" data-fieldname="address" >

	<label class="r-edit-label control-label {$address_label_class}" for="{$labelfor_address}">
		{BEGIN address_label}
			{$address_forward_control}
			{$label transaction_party_involved address }			{END address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$address_value}	</div>
	</div>


{END address_fieldblock}
											
{BEGIN nric_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nric}  r-horizontal-field form-horizontal" 
	data-signal-error-for="nric{$id}" {$required_attr_nric}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="nric" data-fieldname="nric" >

	<label class="r-edit-label control-label {$nric_label_class}" for="{$labelfor_nric}">
		{BEGIN nric_label}
			{$nric_forward_control}
			{$label transaction_party_involved nric }			{END nric_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$nric_value}	</div>
	</div>


{END nric_fieldblock}
											
{BEGIN custid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_custid}  r-horizontal-field form-horizontal" 
	data-signal-error-for="custid{$id}" {$required_attr_custid}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="custid" data-fieldname="custid" >

	<label class="r-edit-label control-label {$custid_label_class}" for="{$labelfor_custid}">
		{BEGIN custid_label}
			{$custid_forward_control}
			{$label transaction_party_involved custid }			{END custid_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$custid_value}	</div>
	</div>


{END custid_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	 
		<span data-itemtype="custom_button" data-itemid="custom_button1" {$item_custom_button1} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Print_page" data-event="192403" href="javascript:void(0)" typeid="ib" >
							Print			</a>
</span>
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
		</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
