<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="3"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" data-page="transactions_lcsc_view" >{$pagetitlelabel transactions_lcsc view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="3"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-12
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list1" {$item_view_back_list1} data-pageid="{$pageid}" data-page="transactions_lcsc_view" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		<span data-itemtype="custom_button" data-itemid="custom_button1" {$item_custom_button1} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Back_to_list" data-event="192334" href="javascript:void(0)" typeid="ib" >
							Back			</a>
</span>
	 
		<span data-itemtype="custom_button" data-itemid="tx_view_print1" {$item_tx_view_print1} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Print_page" data-event="192403" href="javascript:void(0)" typeid="ib" >
							Print			</a>
</span>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="3"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text24" {$item_text24} data-pageid="{$pageid}" > 
	<head><SCRIPT src="common.js" type="text/javascript">
    </SCRIPT></head></span>
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class="r-align-left"
	
				data-fullwidth
		
			data-cellId="grid_c13" data-pageid="{$pageid}" data-page="transactions_lcsc_view"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN ID_Tx_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label6" {$item_edit_field_label6} data-pageid="{$pageid}" data-field="ID_Tx" data-fieldname="ID_Tx" data-before-same-field>{BEGIN ID_Tx_label}
		{$ID_Tx_forward_control}
		{$label transactions_lcsc ID_Tx }{END ID_Tx_label}
	</label>
{END ID_Tx_fieldblock}
											{BEGIN ID_Tx_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="ID_Tx" data-fieldname="ID_Tx" >
		{$ID_Tx_value}	</div>
{END ID_Tx_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class="r-align-left"
	
				data-fullwidth
		
			data-cellId="grid_c6" data-pageid="{$pageid}" data-page="transactions_lcsc_view"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN category_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label2" {$item_edit_field_label2} data-pageid="{$pageid}" data-field="category" data-fieldname="category" data-before-same-field>{BEGIN category_label}
		{$category_forward_control}
		{$label transactions_lcsc category }{END category_label}
	</label>
{END category_fieldblock}
											{BEGIN category_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="category" data-fieldname="category" >
		{$category_value}	</div>
{END category_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
								</tr>
	 
	 
																</tbody></table>
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="tx_section" {$item_tx_section} data-pageid="{$pageid}" data-page="transactions_lcsc_view">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} 
			data-toggle="collapse"  

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Transaction Details			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="agency_info_section" {$item_agency_info_section} data-pageid="{$pageid}" data-page="transactions_lcsc_view">
		<div class="panel-heading" role="tab" {$section_section2_headattrs} 
			data-toggle="collapse"  

				href="#section2{$pageid}" aria-expanded="true" aria-controls="section2"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Estate Agent Info			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section2_xtrclass}" role="tabpanel"  {$section_section2_attrs}

				id="section2{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section9_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section9" id="form_section9_{$pageid}" data-makeup="small" {$form_section9} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_section9_0} >
										

{BEGIN cellblock_section9_c3}
<td
	{$cell_section9_c3}
	class=" r-ori-vert"
	
			
			data-cellId="section9_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN agency_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label13" {$item_edit_field_label13} data-pageid="{$pageid}" data-field="agency" data-fieldname="agency" data-before-same-field>{BEGIN agency_label}
		{$agency_forward_control}
		{$label transactions_lcsc agency }{END agency_label}
	</label>
{END agency_fieldblock}
											{BEGIN agency_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="agency" data-fieldname="agency" >
		{$agency_value}	</div>
{END agency_fieldblock}
	
								</td>
			{END cellblock_section9_c3}
			 
																

{BEGIN cellblock_section9_c}
<td
	{$cell_section9_c}
	class=" r-ori-vert"
	
			
			data-cellId="section9_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN agency_cea_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label14" {$item_edit_field_label14} data-pageid="{$pageid}" data-field="agency_cea" data-fieldname="agency_cea" data-before-same-field>{BEGIN agency_cea_label}
		{$agency_cea_forward_control}
		{$label transactions_lcsc agency_cea }{END agency_cea_label}
	</label>
{END agency_cea_fieldblock}
											{BEGIN agency_cea_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="agency_cea" data-fieldname="agency_cea" >
		{$agency_cea_value}	</div>
{END agency_cea_fieldblock}
	
								</td>
			{END cellblock_section9_c}
			 
																

{BEGIN cellblock_section9_c4}
<td
	{$cell_section9_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section9_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN agency_cea_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="edit_field" {$item_edit_field} data-pageid="{$pageid}" data-page="transactions_lcsc_view" data-field="agency_cea" data-fieldname="agency_cea" >
		{$agency_cea_value}	</div>
{END agency_cea_fieldblock}
	
								</td>
			{END cellblock_section9_c4}
								</tr>
			</tbody></table>
{END section9_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="rental_info_section" {$item_rental_info_section} data-pageid="{$pageid}" data-page="transactions_lcsc_view">
		<div class="panel-heading" role="tab" {$section_section3_headattrs} 
			data-toggle="collapse"  

				href="#section3{$pageid}" aria-expanded="true" aria-controls="section3"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Tenancy Input			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section3_xtrclass}" role="tabpanel"  {$section_section3_attrs}

				id="section3{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section7_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section7" id="form_section7_{$pageid}" data-makeup="small" {$form_section7} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_section7_0} >
										

{BEGIN cellblock_section7_c3}
<td
	{$cell_section7_c3}
	class=" r-ori-vert"
	
			
			data-cellId="section7_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN rental_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rental}  r-vertical-field" 
	data-signal-error-for="rental{$id}" {$required_attr_rental}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field39" {$item_integrated_edit_field39} data-pageid="{$pageid}" data-field="rental" data-fieldname="rental" >

	<label class="r-edit-label control-label {$rental_label_class}" for="{$labelfor_rental}">
		{BEGIN rental_label}
			{$rental_forward_control}
			{$label transactions_lcsc rental }			{END rental_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$rental_value}	</div>
	</div>


{END rental_fieldblock}
											
{BEGIN lease_duration_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lease_duration}  r-vertical-field" 
	data-signal-error-for="lease_duration{$id}" {$required_attr_lease_duration}
	data-itemtype="integrated_edit_field" data-itemid="lease_duration" {$item_lease_duration} data-pageid="{$pageid}" data-field="lease_duration" data-fieldname="lease_duration" >

	<label class="r-edit-label control-label {$lease_duration_label_class}" for="{$labelfor_lease_duration}">
		{BEGIN lease_duration_label}
			{$lease_duration_forward_control}
			{$label transactions_lcsc lease_duration }			{END lease_duration_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$lease_duration_value}	</div>
	</div>


{END lease_duration_fieldblock}
											
{BEGIN loi_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_loi_date}  r-vertical-field" 
	data-signal-error-for="loi_date{$id}" {$required_attr_loi_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="loi_date" data-fieldname="loi_date" >

	<label class="r-edit-label control-label {$loi_date_label_class}" for="{$labelfor_loi_date}">
		{BEGIN loi_date_label}
			{$loi_date_forward_control}
			{$label transactions_lcsc loi_date }			{END loi_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$loi_date_value}	</div>
	</div>


{END loi_date_fieldblock}
	
								</td>
			{END cellblock_section7_c3}
			 
																

{BEGIN cellblock_section7_c}
<td
	{$cell_section7_c}
	class=" r-ori-vert"
	
			
			data-cellId="section7_c" data-pageid="{$pageid}" data-page="transactions_lcsc_view"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ta_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ta_date}  r-vertical-field" 
	data-signal-error-for="ta_date{$id}" {$required_attr_ta_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="ta_date" data-fieldname="ta_date" >

	<label class="r-edit-label control-label {$ta_date_label_class}" for="{$labelfor_ta_date}">
		{BEGIN ta_date_label}
			{$ta_date_forward_control}
			{$label transactions_lcsc ta_date }			{END ta_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ta_date_value}	</div>
	</div>


{END ta_date_fieldblock}
											
{BEGIN lease_start_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lease_start_date}  r-vertical-field" 
	data-signal-error-for="lease_start_date{$id}" {$required_attr_lease_start_date}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="lease_start_date" data-fieldname="lease_start_date" >

	<label class="r-edit-label control-label {$lease_start_date_label_class}" for="{$labelfor_lease_start_date}">
		{BEGIN lease_start_date_label}
			{$lease_start_date_forward_control}
			{$label transactions_lcsc lease_start_date }			{END lease_start_date_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$lease_start_date_value}	</div>
	</div>


{END lease_start_date_fieldblock}
											
{BEGIN lease_expiry_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lease_expiry}  r-vertical-field" 
	data-signal-error-for="lease_expiry{$id}" {$required_attr_lease_expiry}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="lease_expiry" data-fieldname="lease_expiry" >

	<label class="r-edit-label control-label {$lease_expiry_label_class}" for="{$labelfor_lease_expiry}">
		{BEGIN lease_expiry_label}
			{$lease_expiry_forward_control}
			{$label transactions_lcsc lease_expiry }			{END lease_expiry_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$lease_expiry_value}	</div>
	</div>


{END lease_expiry_fieldblock}
	
								</td>
			{END cellblock_section7_c}
			 
																

{BEGIN cellblock_section7_c4}
<td
	{$cell_section7_c4}
	class=" r-ori-vert"
	
			
			data-cellId="section7_c4" data-pageid="{$pageid}" data-page="transactions_lcsc_view"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN reminder_agent_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_reminder_agent}  r-vertical-field" 
	data-signal-error-for="reminder_agent{$id}" {$required_attr_reminder_agent}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-page="transactions_lcsc_view" data-field="reminder_agent" data-fieldname="reminder_agent" >

	<label class="r-edit-label control-label {$reminder_agent_label_class}" for="{$labelfor_reminder_agent}">
		{BEGIN reminder_agent_label}
			{$reminder_agent_forward_control}
			{$label transactions_lcsc reminder_agent }			{END reminder_agent_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$reminder_agent_value}	</div>
	</div>


{END reminder_agent_fieldblock}
											
{BEGIN reminder_tenant_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_reminder_tenant}  r-vertical-field" 
	data-signal-error-for="reminder_tenant{$id}" {$required_attr_reminder_tenant}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-page="transactions_lcsc_view" data-field="reminder_tenant" data-fieldname="reminder_tenant" >

	<label class="r-edit-label control-label {$reminder_tenant_label_class}" for="{$labelfor_reminder_tenant}">
		{BEGIN reminder_tenant_label}
			{$reminder_tenant_forward_control}
			{$label transactions_lcsc reminder_tenant }			{END reminder_tenant_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$reminder_tenant_value}	</div>
	</div>


{END reminder_tenant_fieldblock}
											
{BEGIN reminder_tenant_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_reminder_tenant_email}  r-vertical-field" 
	data-signal-error-for="reminder_tenant_email{$id}" {$required_attr_reminder_tenant_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-page="transactions_lcsc_view" data-field="reminder_tenant_email" data-fieldname="reminder_tenant_email" >

	<label class="r-edit-label control-label {$reminder_tenant_email_label_class}" for="{$labelfor_reminder_tenant_email}">
		{BEGIN reminder_tenant_email_label}
			{$reminder_tenant_email_forward_control}
			{$label transactions_lcsc reminder_tenant_email }			{END reminder_tenant_email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$reminder_tenant_email_value}	</div>
	</div>


{END reminder_tenant_email_fieldblock}
	
								</td>
			{END cellblock_section7_c4}
								</tr>
			</tbody></table>
{END section7_block}
		  </div>
		</div>
	</div>
	
				{END section_block}
		  </div>
		</div>
	</div>
	
				 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="prop_section" {$item_prop_section} data-pageid="{$pageid}" data-page="transactions_lcsc_view">
		<div class="panel-heading" role="tab" {$section_section4_headattrs} 
			data-toggle="collapse"  

				href="#section4{$pageid}" aria-expanded="true" aria-controls="section4"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Property Info			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section4_xtrclass}" role="tabpanel"  {$section_section4_attrs}

				id="section4{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN prop_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_type}  r-vertical-field" 
	data-signal-error-for="prop_type{$id}" {$required_attr_prop_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="prop_type" data-fieldname="prop_type" >

	<label class="r-edit-label control-label {$prop_type_label_class}" for="{$labelfor_prop_type}">
		{BEGIN prop_type_label}
			{$prop_type_forward_control}
			{$label transactions_lcsc prop_type }			{END prop_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$prop_type_value}	</div>
	</div>


{END prop_type_fieldblock}
											
{BEGIN Prop_kind_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Prop_kind}  r-vertical-field" 
	data-signal-error-for="Prop_kind{$id}" {$required_attr_Prop_kind}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="Prop_kind" data-fieldname="Prop_kind" >

	<label class="r-edit-label control-label {$Prop_kind_label_class}" for="{$labelfor_Prop_kind}">
		{BEGIN Prop_kind_label}
			{$Prop_kind_forward_control}
			{$label transactions_lcsc Prop_kind }			{END Prop_kind_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Prop_kind_value}	</div>
	</div>


{END Prop_kind_fieldblock}
											
{BEGIN prop_address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_address}  r-vertical-field" 
	data-signal-error-for="prop_address{$id}" {$required_attr_prop_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address" >

	<label class="r-edit-label control-label {$prop_address_label_class}" for="{$labelfor_prop_address}">
		{BEGIN prop_address_label}
			{$prop_address_forward_control}
			{$label transactions_lcsc prop_address }			{END prop_address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$prop_address_value}	</div>
	</div>


{END prop_address_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
			 
																

{BEGIN cellblock_section1_c}
<td
	{$cell_section1_c}
	class=" r-ori-vert"
	
			
			data-cellId="section1_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN no_bedrooms_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_no_bedrooms}  r-vertical-field" 
	data-signal-error-for="no_bedrooms{$id}" {$required_attr_no_bedrooms}
	data-itemtype="integrated_edit_field" data-itemid="no_bedrooms" {$item_no_bedrooms} data-pageid="{$pageid}" data-field="no_bedrooms" data-fieldname="no_bedrooms" >

	<label class="r-edit-label control-label {$no_bedrooms_label_class}" for="{$labelfor_no_bedrooms}">
		{BEGIN no_bedrooms_label}
			{$no_bedrooms_forward_control}
			{$label transactions_lcsc no_bedrooms }			{END no_bedrooms_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$no_bedrooms_value}	</div>
	</div>


{END no_bedrooms_fieldblock}
											
{BEGIN no_bathrooms_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_no_bathrooms}  r-vertical-field" 
	data-signal-error-for="no_bathrooms{$id}" {$required_attr_no_bathrooms}
	data-itemtype="integrated_edit_field" data-itemid="no_bathrooms" {$item_no_bathrooms} data-pageid="{$pageid}" data-field="no_bathrooms" data-fieldname="no_bathrooms" >

	<label class="r-edit-label control-label {$no_bathrooms_label_class}" for="{$labelfor_no_bathrooms}">
		{BEGIN no_bathrooms_label}
			{$no_bathrooms_forward_control}
			{$label transactions_lcsc no_bathrooms }			{END no_bathrooms_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$no_bathrooms_value}	</div>
	</div>


{END no_bathrooms_fieldblock}
											
{BEGIN condition_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_condition}  r-vertical-field" 
	data-signal-error-for="condition{$id}" {$required_attr_condition}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field44" {$item_integrated_edit_field44} data-pageid="{$pageid}" data-field="condition" data-fieldname="condition" >

	<label class="r-edit-label control-label {$condition_label_class}" for="{$labelfor_condition}">
		{BEGIN condition_label}
			{$condition_forward_control}
			{$label transactions_lcsc condition }			{END condition_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$condition_value}	</div>
	</div>


{END condition_fieldblock}
	
								</td>
			{END cellblock_section1_c}
			 
																

{BEGIN cellblock_section1_c2}
<td
	{$cell_section1_c2}
	class=" r-ori-vert"
	
			
			data-cellId="section1_c2" data-pageid="{$pageid}" data-page="transactions_lcsc_view"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN tenure_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tenure}  r-vertical-field" 
	data-signal-error-for="tenure{$id}" {$required_attr_tenure}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field45" {$item_integrated_edit_field45} data-pageid="{$pageid}" data-field="tenure" data-fieldname="tenure" >

	<label class="r-edit-label control-label {$tenure_label_class}" for="{$labelfor_tenure}">
		{BEGIN tenure_label}
			{$tenure_forward_control}
			{$label transactions_lcsc tenure }			{END tenure_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tenure_value}	</div>
	</div>


{END tenure_fieldblock}
											
{BEGIN builtup_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_builtup}  r-vertical-field" 
	data-signal-error-for="builtup{$id}" {$required_attr_builtup}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field73" {$item_integrated_edit_field73} data-pageid="{$pageid}" data-field="builtup" data-fieldname="builtup" >

	<label class="r-edit-label control-label {$builtup_label_class}" for="{$labelfor_builtup}">
		{BEGIN builtup_label}
			{$builtup_forward_control}
			{$label transactions_lcsc builtup }			{END builtup_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$builtup_value}	</div>
	</div>


{END builtup_fieldblock}
											
{BEGIN TOP_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TOP}  r-vertical-field" 
	data-signal-error-for="TOP{$id}" {$required_attr_TOP}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field46" {$item_integrated_edit_field46} data-pageid="{$pageid}" data-field="TOP" data-fieldname="TOP" >

	<label class="r-edit-label control-label {$TOP_label_class}" for="{$labelfor_TOP}">
		{BEGIN TOP_label}
			{$TOP_forward_control}
			{$label transactions_lcsc TOP }			{END TOP_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$TOP_value}	</div>
	</div>


{END TOP_fieldblock}
	
								</td>
			{END cellblock_section1_c2}
								</tr>
			</tbody></table>
{END section1_block}
		  </div>
		</div>
	</div>
	
				 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="party_involved_section" {$item_party_involved_section} data-pageid="{$pageid}" data-page="transactions_lcsc_view">
		<div class="panel-heading" role="tab" {$section_section5_headattrs} 
			data-toggle="collapse"  

				href="#section5{$pageid}" aria-expanded="true" aria-controls="section5"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Parties Involved			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section5_xtrclass}" role="tabpanel"  {$section_section5_attrs}

				id="section5{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section2_block}




 
	 
												
{BEGIN details_parties_involved_lcsc}
<div data-itemtype="details_preview" data-itemid="details_preview1" {$item_details_preview1} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_parties_involved_lcsc}			
							<span>
					{$detailslButtons_parties_involved_lcsc}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_parties_involved_lcsc}
		</div>
	</div>
</div>
{END details_parties_involved_lcsc}
	
				{END section2_block}
		  </div>
		</div>
	</div>
	
				 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="doc_upload_section" {$item_doc_upload_section} data-pageid="{$pageid}" data-page="transactions_lcsc_view">
		<div class="panel-heading" role="tab" {$section_section6_headattrs} 
			data-toggle="collapse"  

				href="#section6{$pageid}" aria-expanded="true" aria-controls="section6"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Documents			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section6_xtrclass}" role="tabpanel"  {$section_section6_attrs}

				id="section6{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section4_block}




 
	 
												
{BEGIN details_doc_upload_lcsc}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_doc_upload_lcsc}			
							<span>
					{$detailslButtons_doc_upload_lcsc}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_doc_upload_lcsc}
		</div>
	</div>
</div>
{END details_doc_upload_lcsc}
	
				{END section4_block}
		  </div>
		</div>
	</div>
	
				 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="comm_section" {$item_comm_section} data-pageid="{$pageid}" data-page="transactions_lcsc_view">
		<div class="panel-heading" role="tab" {$section_section7_headattrs} 
			data-toggle="collapse"  

				href="#section7{$pageid}" aria-expanded="true" aria-controls="section7"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Management Fee			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section7_xtrclass}" role="tabpanel"  {$section_section7_attrs}

				id="section7{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section6_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section6" id="form_section6_{$pageid}" data-makeup="small" {$form_section6} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_section6_0} >
										

{BEGIN cellblock_section6_c6}
<td
	{$cell_section6_c6}
	class=""
	
			
			data-cellId="section6_c6" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="mag_fee_label" {$item_mag_fee_label} data-pageid="{$pageid}" data-page="transactions_lcsc_view" > 
	Total Fee</span>
											{BEGIN management_fee_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field41" {$item_integrated_edit_field41} data-pageid="{$pageid}" data-field="management_fee" data-fieldname="management_fee" >
		{$management_fee_value}	</div>
{END management_fee_fieldblock}
	
								</td>
			{END cellblock_section6_c6}
			 
																

{BEGIN cellblock_section6_c7}
<td
	{$cell_section6_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section6_c7" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN remarks_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_remarks}  r-horizontal-field form-horizontal" 
	data-signal-error-for="remarks{$id}" {$required_attr_remarks}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field65" {$item_integrated_edit_field65} data-pageid="{$pageid}" data-field="remarks" data-fieldname="remarks" >

	<label class="r-edit-label control-label {$remarks_label_class}" for="{$labelfor_remarks}">
		{BEGIN remarks_label}
			{$remarks_forward_control}
			{$label transactions_lcsc remarks }			{END remarks_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$remarks_value}	</div>
	</div>


{END remarks_fieldblock}
	
								</td>
			{END cellblock_section6_c7}
								</tr>
			</tbody></table>
{END section6_block}
		  </div>
		</div>
	</div>
	
				 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="3"
	>
	<tbody>
										<tr {$row_grid_8} >
										

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet1" {$item_snippet1} data-pageid="{$pageid}" >
{$event 192420}
</span>	
								</td>
			{END cellblock_grid_c7}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="3"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-page="transactions_lcsc_view" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		<span data-itemtype="custom_button" data-itemid="custom_button" {$item_custom_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Back_to_list" data-event="192334" href="javascript:void(0)" typeid="ib" >
							Back			</a>
</span>
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	 
		<span data-itemtype="custom_button" data-itemid="tx_view_print" {$item_tx_view_print} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Print_page" data-event="192403" href="javascript:void(0)" typeid="ib" >
							Print			</a>
</span>
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
