<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel transaction_party_involved search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN category_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_category}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="category{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="category" data-fieldname="category" >


	<label class="r-search-label control-label" for="{$labelfor_category}">
		{$label transaction_party_involved category }	</label>
	<div class="r-search-option">
		{$searchtype_category}
	</div>
	<div class="r-search-field">
		{$category_editcontrol}	</div>
	<div class="r-search-field">
		{$category_editcontrol1}
	</div>
	
</div>

{END category_fieldblock}
											
{BEGIN prop_address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="prop_address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="prop_address" data-fieldname="prop_address" >


	<label class="r-search-label control-label" for="{$labelfor_prop_address}">
		{$label transaction_party_involved prop_address }	</label>
	<div class="r-search-option">
		{$searchtype_prop_address}
	</div>
	<div class="r-search-field">
		{$prop_address_editcontrol}	</div>
	<div class="r-search-field">
		{$prop_address_editcontrol1}
	</div>
	
</div>

{END prop_address_fieldblock}
											
{BEGIN prop_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_prop_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="prop_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="prop_type" data-fieldname="prop_type" >


	<label class="r-search-label control-label" for="{$labelfor_prop_type}">
		{$label transaction_party_involved prop_type }	</label>
	<div class="r-search-option">
		{$searchtype_prop_type}
	</div>
	<div class="r-search-field">
		{$prop_type_editcontrol}	</div>
	<div class="r-search-field">
		{$prop_type_editcontrol1}
	</div>
	
</div>

{END prop_type_fieldblock}
											
{BEGIN Prop_kind_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Prop_kind}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Prop_kind{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Prop_kind" data-fieldname="Prop_kind" >


	<label class="r-search-label control-label" for="{$labelfor_Prop_kind}">
		{$label transaction_party_involved Prop_kind }	</label>
	<div class="r-search-option">
		{$searchtype_Prop_kind}
	</div>
	<div class="r-search-field">
		{$Prop_kind_editcontrol}	</div>
	<div class="r-search-field">
		{$Prop_kind_editcontrol1}
	</div>
	
</div>

{END Prop_kind_fieldblock}
											
{BEGIN office_tel_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_office_tel}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="office_tel{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="office_tel" data-fieldname="office_tel" >


	<label class="r-search-label control-label" for="{$labelfor_office_tel}">
		{$label transaction_party_involved office_tel }	</label>
	<div class="r-search-option">
		{$searchtype_office_tel}
	</div>
	<div class="r-search-field">
		{$office_tel_editcontrol}	</div>
	<div class="r-search-field">
		{$office_tel_editcontrol1}
	</div>
	
</div>

{END office_tel_fieldblock}
											
{BEGIN cus_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cus_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cus_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="cus_type" data-fieldname="cus_type" >


	<label class="r-search-label control-label" for="{$labelfor_cus_type}">
		{$label transaction_party_involved cus_type }	</label>
	<div class="r-search-option">
		{$searchtype_cus_type}
	</div>
	<div class="r-search-field">
		{$cus_type_editcontrol}	</div>
	<div class="r-search-field">
		{$cus_type_editcontrol1}
	</div>
	
</div>

{END cus_type_fieldblock}
											
{BEGIN trade_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_trade}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="trade{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="trade" data-fieldname="trade" >


	<label class="r-search-label control-label" for="{$labelfor_trade}">
		{$label transaction_party_involved trade }	</label>
	<div class="r-search-option">
		{$searchtype_trade}
	</div>
	<div class="r-search-field">
		{$trade_editcontrol}	</div>
	<div class="r-search-field">
		{$trade_editcontrol1}
	</div>
	
</div>

{END trade_fieldblock}
											
{BEGIN contact_person_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_person{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="contact_person" data-fieldname="contact_person" >


	<label class="r-search-label control-label" for="{$labelfor_contact_person}">
		{$label transaction_party_involved contact_person }	</label>
	<div class="r-search-option">
		{$searchtype_contact_person}
	</div>
	<div class="r-search-field">
		{$contact_person_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_person_editcontrol1}
	</div>
	
</div>

{END contact_person_fieldblock}
											
{BEGIN destination_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_destination}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="destination{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="destination" data-fieldname="destination" >


	<label class="r-search-label control-label" for="{$labelfor_destination}">
		{$label transaction_party_involved destination }	</label>
	<div class="r-search-option">
		{$searchtype_destination}
	</div>
	<div class="r-search-field">
		{$destination_editcontrol}	</div>
	<div class="r-search-field">
		{$destination_editcontrol1}
	</div>
	
</div>

{END destination_fieldblock}
											
{BEGIN contact_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="contact_email" data-fieldname="contact_email" >


	<label class="r-search-label control-label" for="{$labelfor_contact_email}">
		{$label transaction_party_involved contact_email }	</label>
	<div class="r-search-option">
		{$searchtype_contact_email}
	</div>
	<div class="r-search-field">
		{$contact_email_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_email_editcontrol1}
	</div>
	
</div>

{END contact_email_fieldblock}
											
{BEGIN biz_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_biz_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="biz_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="biz_email" data-fieldname="biz_email" >


	<label class="r-search-label control-label" for="{$labelfor_biz_email}">
		{$label transaction_party_involved biz_email }	</label>
	<div class="r-search-option">
		{$searchtype_biz_email}
	</div>
	<div class="r-search-field">
		{$biz_email_editcontrol}	</div>
	<div class="r-search-field">
		{$biz_email_editcontrol1}
	</div>
	
</div>

{END biz_email_fieldblock}
											
{BEGIN contact_person_cell_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person_cell}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_person_cell{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="contact_person_cell" data-fieldname="contact_person_cell" >


	<label class="r-search-label control-label" for="{$labelfor_contact_person_cell}">
		{$label transaction_party_involved contact_person_cell }	</label>
	<div class="r-search-option">
		{$searchtype_contact_person_cell}
	</div>
	<div class="r-search-field">
		{$contact_person_cell_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_person_cell_editcontrol1}
	</div>
	
</div>

{END contact_person_cell_fieldblock}
											
{BEGIN contact_person_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_person_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_person_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="contact_person_id" data-fieldname="contact_person_id" >


	<label class="r-search-label control-label" for="{$labelfor_contact_person_id}">
		{$label transaction_party_involved contact_person_id }	</label>
	<div class="r-search-option">
		{$searchtype_contact_person_id}
	</div>
	<div class="r-search-field">
		{$contact_person_id_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_person_id_editcontrol1}
	</div>
	
</div>

{END contact_person_id_fieldblock}
											
{BEGIN country_incorporation_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country_incorporation}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="country_incorporation{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="country_incorporation" data-fieldname="country_incorporation" >


	<label class="r-search-label control-label" for="{$labelfor_country_incorporation}">
		{$label transaction_party_involved country_incorporation }	</label>
	<div class="r-search-option">
		{$searchtype_country_incorporation}
	</div>
	<div class="r-search-field">
		{$country_incorporation_editcontrol}	</div>
	<div class="r-search-field">
		{$country_incorporation_editcontrol1}
	</div>
	
</div>

{END country_incorporation_fieldblock}
											
{BEGIN role_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_role}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="role{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="role" data-fieldname="role" >


	<label class="r-search-label control-label" for="{$labelfor_role}">
		{$label transaction_party_involved role }	</label>
	<div class="r-search-option">
		{$searchtype_role}
	</div>
	<div class="r-search-field">
		{$role_editcontrol}	</div>
	<div class="r-search-field">
		{$role_editcontrol1}
	</div>
	
</div>

{END role_fieldblock}
											
{BEGIN reg_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_reg_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="reg_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="reg_date" data-fieldname="reg_date" >


	<label class="r-search-label control-label" for="{$labelfor_reg_date}">
		{$label transaction_party_involved reg_date }	</label>
	<div class="r-search-option">
		{$searchtype_reg_date}
	</div>
	<div class="r-search-field">
		{$reg_date_editcontrol}	</div>
	<div class="r-search-field">
		{$reg_date_editcontrol1}
	</div>
	
</div>

{END reg_date_fieldblock}
											
{BEGIN mobile_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mobile}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mobile{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="mobile" data-fieldname="mobile" >


	<label class="r-search-label control-label" for="{$labelfor_mobile}">
		{$label transaction_party_involved mobile }	</label>
	<div class="r-search-option">
		{$searchtype_mobile}
	</div>
	<div class="r-search-field">
		{$mobile_editcontrol}	</div>
	<div class="r-search-field">
		{$mobile_editcontrol1}
	</div>
	
</div>

{END mobile_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label transaction_party_involved name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="address" data-fieldname="address" >


	<label class="r-search-label control-label" for="{$labelfor_address}">
		{$label transaction_party_involved address }	</label>
	<div class="r-search-option">
		{$searchtype_address}
	</div>
	<div class="r-search-field">
		{$address_editcontrol}	</div>
	<div class="r-search-field">
		{$address_editcontrol1}
	</div>
	
</div>

{END address_fieldblock}
											
{BEGIN nric_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nric}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nric{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="nric" data-fieldname="nric" >


	<label class="r-search-label control-label" for="{$labelfor_nric}">
		{$label transaction_party_involved nric }	</label>
	<div class="r-search-option">
		{$searchtype_nric}
	</div>
	<div class="r-search-field">
		{$nric_editcontrol}	</div>
	<div class="r-search-field">
		{$nric_editcontrol1}
	</div>
	
</div>

{END nric_fieldblock}
											
{BEGIN custid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_custid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="custid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="custid" data-fieldname="custid" >


	<label class="r-search-label control-label" for="{$labelfor_custid}">
		{$label transaction_party_involved custid }	</label>
	<div class="r-search-option">
		{$searchtype_custid}
	</div>
	<div class="r-search-field">
		{$custid_editcontrol}	</div>
	<div class="r-search-field">
		{$custid_editcontrol1}
	</div>
	
</div>

{END custid_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
