<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel transactions_rm_rental search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN rm_rental_rm_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rm_rental_rm_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rm_rental_rm_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="rm_rental_rm_type" data-fieldname="rm_rental_rm_type" >


	<label class="r-search-label control-label" for="{$labelfor_rm_rental_rm_type}">
		{$label transactions_rm_rental rm_rental_rm_type }	</label>
	<div class="r-search-option">
		{$searchtype_rm_rental_rm_type}
	</div>
	<div class="r-search-field">
		{$rm_rental_rm_type_editcontrol}	</div>
	<div class="r-search-field">
		{$rm_rental_rm_type_editcontrol1}
	</div>
	
</div>

{END rm_rental_rm_type_fieldblock}
											
{BEGIN lease_duration_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lease_duration}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lease_duration{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="lease_duration" data-fieldname="lease_duration" >


	<label class="r-search-label control-label" for="{$labelfor_lease_duration}">
		{$label transactions_rm_rental lease_duration }	</label>
	<div class="r-search-option">
		{$searchtype_lease_duration}
	</div>
	<div class="r-search-field">
		{$lease_duration_editcontrol}	</div>
	<div class="r-search-field">
		{$lease_duration_editcontrol1}
	</div>
	
</div>

{END lease_duration_fieldblock}
											
{BEGIN rental_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rental}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rental{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="rental" data-fieldname="rental" >


	<label class="r-search-label control-label" for="{$labelfor_rental}">
		{$label transactions_rm_rental rental }	</label>
	<div class="r-search-option">
		{$searchtype_rental}
	</div>
	<div class="r-search-field">
		{$rental_editcontrol}	</div>
	<div class="r-search-field">
		{$rental_editcontrol1}
	</div>
	
</div>

{END rental_fieldblock}
											
{BEGIN built_up_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_built_up}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="built_up{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="built_up" data-fieldname="built_up" >


	<label class="r-search-label control-label" for="{$labelfor_built_up}">
		{$label transactions_rm_rental built_up }	</label>
	<div class="r-search-option">
		{$searchtype_built_up}
	</div>
	<div class="r-search-field">
		{$built_up_editcontrol}	</div>
	<div class="r-search-field">
		{$built_up_editcontrol1}
	</div>
	
</div>

{END built_up_fieldblock}
											
{BEGIN built_up_unit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_built_up_unit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="built_up_unit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="built_up_unit" data-fieldname="built_up_unit" >


	<label class="r-search-label control-label" for="{$labelfor_built_up_unit}">
		{$label transactions_rm_rental built_up_unit }	</label>
	<div class="r-search-option">
		{$searchtype_built_up_unit}
	</div>
	<div class="r-search-field">
		{$built_up_unit_editcontrol}	</div>
	<div class="r-search-field">
		{$built_up_unit_editcontrol1}
	</div>
	
</div>

{END built_up_unit_fieldblock}
											
{BEGIN land_unit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_land_unit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="land_unit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="land_unit" data-fieldname="land_unit" >


	<label class="r-search-label control-label" for="{$labelfor_land_unit}">
		{$label transactions_rm_rental land_unit }	</label>
	<div class="r-search-option">
		{$searchtype_land_unit}
	</div>
	<div class="r-search-field">
		{$land_unit_editcontrol}	</div>
	<div class="r-search-field">
		{$land_unit_editcontrol1}
	</div>
	
</div>

{END land_unit_fieldblock}
											
{BEGIN rm_builtup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rm_builtup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rm_builtup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="rm_builtup" data-fieldname="rm_builtup" >


	<label class="r-search-label control-label" for="{$labelfor_rm_builtup}">
		{$label transactions_rm_rental rm_builtup }	</label>
	<div class="r-search-option">
		{$searchtype_rm_builtup}
	</div>
	<div class="r-search-field">
		{$rm_builtup_editcontrol}	</div>
	<div class="r-search-field">
		{$rm_builtup_editcontrol1}
	</div>
	
</div>

{END rm_builtup_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
